{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block title %} {{parent()}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
    <script>
    $('.concursos').qtip({
      show:{
          solo: true
      },
      content: {
          text: $('.qtip_concursos').text()
      },
      style: {
          classes: 'ui-tooltip-precio',
          tip: {
              border: 0,
              width: 12,
              color: '#f0f',
              corner: true,
              offset: 0
          }
      },
      position: {
          my: 'bottom center',
          at: 'top center',
          adjust: {
              x: 0,
              y: -5
          }
      },
      hide: {
          fixed: true,
          delay: 200,
          event: 'mouseleave'
      }
  	});
    $('.descuentos').qtip({
      show:{
          solo: true
      },
      content: {
          text: $('.qtip_descuentos').text()
      },
      style: {
          classes: 'ui-tooltip-precio',
          tip: {
              border: 0,
              width: 12,
              color: '#f0f',
              corner: true,
              offset: 0
          }
      },
      position: {
          my: 'bottom center',
          at: 'top center',
          adjust: {
              x: 0,
              y: -5
          }
      },
      hide: {
          fixed: true,
          delay: 200,
          event: 'mouseleave'
      }
  	});
    </script>
{% endblock %}

{% block content %}
	<div class="listados_campanas">
		<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': lugar.slug}) }}">Inicio</a> » <span class="selected">Mis campañas</span></p>

		<h1 class="titulo_campanas">Mis campañas</h1>

		<ul>
		{% for campana in campanas %}
			<li class="{% if campana.fechaTermino|date('d-M-y') > "now"|date('d-M-y') %}activo{% else %}inactivo{% endif %}">
				<div class="borde_izq"></div>
				<div class="status"></div>
				<p class="titulo">Campaña Nº {{loop.index}} - {{campana.fechaInicio|date('d')-}}&nbsp;{{-meses[campana.fechaInicio|date('n') - 1]-}}&nbsp;{{-campana.fechaInicio|date('Y')-}}</p>
				<div class="concursos concursos_{% if campana.concursos|length > 0 %}activo{% else %}inactivo{% endif %}"></div>
				<div class="qtip_concursos qtip">Beneficio Exclusivo</div>
				<div class="descuentos descuentos_{% if campana.descuento %}activo{% else %}inactivo{% endif %}"></div>
				<div class="qtip_descuentos qtip">Descuento</div>
				<div class="ver_mas">
					<a class="ver_campana" href="{{ path('_reporte_concursos_listado', {'slug': lugar.slug, 'id': campana.id}) }}">Ver campaña</a>
				</div>
			</li>
		{% endfor %}
		</ul>

		<div class="caja_boton_nuevo_be">
			<a class="boton_nuevo_be" href="mailto:ventas@loogares.com"></a>
		</div>

	</div>

{% endblock %}