{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block content %}

<div class="listados_campanas">
	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': slug}) }}">Inicio</a> » <a href="{{ path('_reporte_campanas', {'slug': slug}) }}">Mis campañas</a> » <span class="selected">Beneficios Exclusivos</span></p>

	<ul class="botones_campana_be">
		<li class="boton_be">
			<div class="icono_be">Beneficios Exclusivos</div>
		</li>
		<li class="boton_dscto">
			<a href="{{ path('_reporte_descuentos_detalle', { 'slug':slug, 'id': id }) }}">
				<div class="icono_gc">Descuentos</div>
			</a>
		</li>
	</ul>

	<div class="participantes_totales">
		{% set participantes = 0 %}
		{% for concurso in concursos %} {% set participantes = participantes + concurso.participantes|length %} {% endfor %}
		<p>{{participantes}} Participantes totales en esta campaña</p>
	</div>

	{% for concurso in concursos %}
		<div class="campana_detalle{%if concurso.estadoConcurso.id == 3%}_inactivo{% endif %}">
			<div class="foto_fecha">
				<div class="fecha">
					{{-concurso.fechaInicio|date('d')-}}&nbsp;{{-meses[concurso.fechaInicio|date('n') - 1]-}}&nbsp;{{-concurso.fechaInicio|date('Y')-}}
				</div>
				<div class="foto">
					<img height="115" width="205" src="http://www.loogares.com/assets/media/cache/medium_concurso/assets/images/blog/{{concurso.post.imagenHome|default('default.gif')}}" />
				</div>
			</div>
			<div class="detalles_be">
				<p class="titulo">{{concurso.post.titulo}}</p>
				<p class="validez"><strong>Validas cada una por:</strong></p>
				<p class="validez_detalle">{{concurso.post.detalles|striptags|raw}}</p>
				<p class="participantes">{{concurso.participantesActivos|length}} Participantes</p>
				<a class="ver_mas" href="#">Ver reporte</a>
			</div>
			<div class="icono_identificador"></div>
		</div>
	{% endfor %}

	{% if concursos|length == 0 %}
		Si no hay nada, el botón debiese estar bloquedo y no debería poder apretarse nunca.
	{% endif %}

</div>
{% endblock %}