{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>
	<script>
		$('.comunas').chosen();

		var qtipHide = {
	    fixed: true,
	    delay: 200,
	    event: 'mouseleave'
		}

		var qtipShow = {
			solo: true
		};

		var qtipPosition = {
	    my: 'bottom center', 
	    at: 'top center',
	    adjust: {
	        x: -10,
	        y: -2
	    },
	  };

	  var qtipStyle = {
	    classes: 'ui-tooltip-precio',
	    tip: {
	      border: 0,
	      width: 12,
	      color: '#f0f',
	      corner: true,
	      offset: 0
	    }
	  };

		$('.numero_descuentos').qtip({
	    show: qtipShow,
	    content: {
	        text: $('.qtip_descuentos').text()
	    },
	    style: qtipStyle,
	    position: qtipPosition,
	    hide: qtipHide
		});

		$('.numero_be').qtip({
	    show: qtipShow,
	    content: {
	        text: $('.qtip_be').text()
	    },
	    style: qtipStyle,
	    position: qtipPosition,
	    hide: qtipHide
		});

		$('.numero_recomendaciones').qtip({
	    show: qtipShow,
	    content: {
	        text: $('.qtip_recomendaciones').text()
	    },
	    style: qtipStyle,
	    position: qtipPosition,
	    hide: qtipHide
		});
		$('.si').qtip({
	    show: qtipShow,
	    content: {
	        text: $('.qtip_recomendo').text()
	    },
	    style: qtipStyle,
	    position: qtipPosition,
	    hide: qtipHide
		});
		$('.no').qtip({
	    show: qtipShow,
	    content: {
	        text: $('.qtip_no_recomendo').text()
	    },
	    style: qtipStyle,
	    position: qtipPosition,
	    hide: qtipHide
		});

		$('.seguidores_checkbox').change(function(){
			var $this = $(this);
			var $seleccionados = $('.numero_seleccionados');
			var seleccionadosCount = parseInt($seleccionados.html());

			($this.is(':checked'))?seleccionadosCount++:seleccionadosCount--;
			$seleccionados.html(seleccionadosCount)
		});

		$(".otorgar_gift").fancybox({
	    type: 'inline',
			content: $('.lolbox'),
			padding: 0,
			fitToView: false
		});

		$('.siguiente_paso').live('click', function(){
				$active = $('.step_active');
				$active.find('.lolbox-error').remove();

				if($active.find('input[type=radio]').length > 0){
					if($active.find('input[type=radio]:checked').length == 0){
						$active.find('h3').before('<div class="lolbox-error">Debes escoger una de las opciones</div>');
						return;
					}
				}

				if($active.find('textarea').length == 1){
					if($active.find('textarea').val().length == 0){		
						$active.find('h3').before('<div class="lolbox-error">Debes escribir las condiciones del descuento</div>');
						return;
					}
				}

		    $active.next('div:not(.siguiente_paso)')
		                     .removeClass('step_hidden')
		                     .removeClass('step_done')            
		                     .addClass('step_active');

		    $active.toggleClass('step_active')
		           .toggleClass('step_done');

		    if($active.find('input[type=radio]').length){
		    	var chosenOption = $active.find('input[type=radio]:checked').next('label').text();
		    }else if($active.find('textarea').length){
		    	var chosenOption = $active.find('textarea').val().substr(0, 10) + '...';
		    }

		    $active.find('h3 > small').text(chosenOption)

		    if($('.step_active').next('div').hasClass('step_final')){
		    	$('.siguiente_paso')
		    		.removeClass('siguiente_paso')
		    		.addClass('enviar_dscto');
		    }
		});

		$('.enviar_dscto').live('click', function(){
			$active = $('.step_active');
			$active.find('.lolbox-error').remove();

    	if($('input[class=seguidores_checkbox]:checked').length == 0){
				$active.find('h4').after('<div class="lolbox-error">Error</div>');
				return;
			}

    	$(this).remove();
    	$('.step_static').append($('input[class=seguidores_checkbox]:checked'))
    	$('.step_final').show();
    	$('.step_done, .step_static, .step_last').hide();
    	setTimeout(function(){$('.nuevo_descuento').submit()}, 2000)
		});
		    
		$('.step_done').live('click', function(){  
				$active = $('.step_active');          
		    if($active.hasClass('step_last')){
		    	$active
		    			.addClass('step_hidden')
		    			.removeClass('step_active');
		    }

	    	$('.enviar_dscto')
		    		.removeClass('enviar_dscto')
		    		.addClass('siguiente_paso');

		    $active.not('.step_last')
		        .removeClass('step_active')
		        .addClass('step_done');

		    $(this)
		        .removeClass('step_done')
		        .addClass('step_active');
		});


		$('.seguidores_checkbox').click(function(){
			$this = $(this);
			if($this.is(':checked')){
				$this.next('.seguidor').addClass('seguidor_selected')
			}else{
				$this.next('.seguidor').removeClass('seguidor_selected')
			}
		});

		$('.seleccionar_todos_checkbox').click(function(){
			$this = $(this);
			if($this.is(':checked')){
				$('.seguidores_checkbox:not(:checked)').click();
			}else{
				$('.seguidores_checkbox:checked').click();
			}
		});
	</script>
{% endblock %}

{% block content %}

<div class="seguidores">

	<h1 class="titulo_principal">{{seguidores|length}} seguidores de {{lugar.nombre}}</h1>

	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': lugar.slug}) }}">Inicio</a> » <span class="selected">Mis seguidores</span></p>

	<div class="fitros_seguidores fitros_seguidores_seleccion">
		<ul class="ordenar_por">
			<li class="tipos_de_orden">Ordenar por:</li>
			<li class="tipos_de_orden">
				{% if orden == 'recomendaciones' %}
					<p class="selected">Nº Recomendaciones</p>
				{% else %} 
					<a href="?orden=recomendaciones">Nº Recomendaciones</a>
				{% endif %}| 
			</li>
			<li class="tipos_de_orden">
				{% if orden == 'premios' %}
					<p class="selected">Premios ganados</p>
				{% else %} 
					<a href="?orden=premios">Premios ganados</a>
				{% endif %}| 
			</li>
			<li class="tipos_de_orden">
				{% if orden == 'descuentos' %}
					<p class="selected">Descuentos regalados</p>
				{% else %} 
					<a href="?orden=descuentos">Descuentos regalados</a>
				{% endif %}| 
			</li>
		</ul>
		<form class="filtrar_por">
			{% if recomendo == null %}
				<a class="han_recomendado" href="?recomendo">Han recomendado {{lugar.nombre-}}</a>
			{% else %} 
				<a class="han_recomendado" href="{{ path('_reporte_descuentos_nuevo', {'id':id, 'slug': lugar.slug, 'comuna': comuna|default(null), 'orden': orden}) }}">Ver todos los seguidores</a>
			{% endif %}
			<select class="comunas" name="comuna" style="width: 220px">
				<option value="todas">Todas</option>
				{% for comuna in comunas %}
					<option {% if comuna.slug == filtrado %}selected="selected"{% endif %}value="{{comuna.slug}}">{{comuna.nombre}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="filtrar">
		</form>
	</div>

	<div class="seleccionar_todos_ninguno">
		<input class="seleccionar_todos_checkbox" type="checkbox" />
		<span class="seleccionar_todos">Seleccionar todos</span>
	</div>

	<div class="caja_seguidores seleccion">
		{% for seguidor in seguidores %}
		<input type="checkbox" value="{{seguidor.usuarioSlug}}" class="seguidores_checkbox" name="seguidores[]" />
		<div class="seguidor">
			<div class="seguidor_imagen">
				<img src="{{ ('assets/images/usuarios/'~seguidor.usuarioImagen) | apply_filter('tiny_usuario')}}" height="30" width="30" />
			</div>
			<div class="seguidor_datos">
				<a href="{{ path('showUsuario', {'param': seguidor.usuarioSlug}) }}">{% if seguidor.usuarioNombre != '' %} {{seguidor.usuarioNombre}} {{seguidor.usuarioApellido}} {% else %} {{seguidor.usuarioSlug}} {% endif %}</a>
				<p class="comuna">{% if seguidor.comunaNombre %} {{seguidor.comunaNombre}} {% endif %}</p>
			</div>
			<div class="seguidor_iconos">
				<div class="numero_recomendaciones">
					<p class="valor">{{seguidor.totalRecomendaciones}}</p>
				</div>
				<div class="numero_descuentos">
					<p class="valor">{{seguidor.totalDescuentos}}</p>
				</div>
				<div class="numero_be">
					<p class="valor">{{seguidor.totalBe}}</p>
				</div>
				<div class="recomendacion_lugar {% if seguidor.recomendo %}si{% else %}no{% endif %}">
					{% if seguidor.recomendo %}			
						<a class="link_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': seguidor.usuarioSlug }) }}" target="_blank"></a>
					{% else %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="qtip_recomendo qtip">Ha recomendado tu lugar</div>
		<div class="qtip_no_recomendo qtip">No ha recomendado tu lugar</div>
		<div class="qtip_recomendaciones qtip">Recomendaciones</div>
		<div class="qtip_descuentos qtip">Descuentos recibidos</div>
		<div class="qtip_be qtip">Premios ganados</div>
	</div>

	<div class="sidebar">
		<div class="seguidores_sidebar">
			<div class="participantes_concurso">
				<div class="cantidad_participantes_izq"></div>
				<div class="cantidad_participantes seleccionados">
					<span class="numero_participantes numero_seleccionados">0</span> <span class="seguidores_seleccionados">Loogareños seleccionados</span>
				</div>
				<div class="cantidad_participantes_der"></div>
			</div>
			<div class="otorgar_gift"></div>
		</div> 
		<div class="ayuda">
			<div class="fondo_interrogacion"></div>
			<p class="titulo">Necesitas ayuda?</p>
			<p>Contáctanos al <strong>+56 2 724 0993</strong><br/>
				ó escribenos a <a href="mailto:contacto@loogares.com">contacto@loogares.com</a></p>
		</div>
	</div>

<div style="display:none">
	<div class="lolbox">
		<form method="post" class="nuevo_descuento" action="{{ path('_reporte_descuentos_enviar', {'slug': lugar.slug, 'id': id}) }}">
			<div class="step_static">
				<div class="participantes_concurso">
					<div class="cantidad_participantes_izq"></div>
					<div class="cantidad_participantes seleccionados">
						<span class="numero_participantes numero_seleccionados">0</span> <span class="seguidores_seleccionados">Loogareños seleccionados</span>
					</div>
					<div class="cantidad_participantes_der"></div>
				</div>
			</div>
			<div class="step_active">
					<h3>1. ¿Que tipo de descuento quieres regalar? <small></small></h3>
					<div class="step_content">
						<ul class="rango_descuentos">
							{% for dco in [15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90] %}
							<li>
								<input type="radio" value="{{dco}}" name="dco" /> <label>{{dco}}%</label>
							</li>
							{% if loop.index % 6 == 0 %}</ul><ul class="rango_descuentos">{% endif %}
							{% endfor %}
						</ul>
					</div>
			</div>
			<div class="step_hidden">
			    <h3>2. ¿Cuanto tiempo quieres que dure el descuento? <small></small></h3>
			    <div class="step_content">
						<ul class="rango_tiempo">
							<li><input type="radio" value="7" name="tiempo" /> <label>1 Semana</label></li>
							<li><input type="radio" value="14" name="tiempo" /> <label>2 Semanas</label></li>
							<li><input type="radio" value="21" name="tiempo" /> <label>3 Semanas</label></li>
							<li><input type="radio" value="30" name="tiempo" /> <label>1 Mes</label></li>
						</ul>		
					</div>    
			</div>
			<div class="step_hidden">
			    <h3>3. ¿Cuáles son las condiciones de uso del descuento?<small></small></h3>
			    <div class="step_content">
			    	<textarea class="textarea" name="condiciones" placeholder="* Escribe acá todas las restricciones de uso de las Gift Cards por día, tipo de producto, horarios de uso, etc.                                                                                                                           Ej. Sólo canjeable de martes a jueves previa reserva al 2235764."></textarea>
			    	<p class="tip">* Si se deja este campo vacio se considerara su uso dentro del horario normal 
de atención del local.</p>
			    </div>
			</div>
			<div class="step_hidden step_last">
			    <h4>Prepárate...</h4>
			    <div class="step_content">
			    	<p class="tip center">Haz click en el botón y envía tus descuentos ahora:</p>
			    </div>
			</div>
			<div class="step_hidden step_final">
			    <div class="exito_envio_dscto">
			    	<img class="imagen_exito" src="{{ asset('assets/images/reporte/imagen_exito_envio.png') }}" height="121" width="120" />
			    	<p>¡Felicitaciones tus descuentos han sido enviados con exito!</p>
			   	</div>
			</div>
			<input type="button" class="siguiente_paso" value=""/>
		</form>
	</div>​
</div>
{% endblock %}
