{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block content %}

<div class="listados_campanas">
	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': lugar.slug}) }}">Inicio</a> » <a href="{{ path('_reporte_campanas', {'slug': lugar.slug}) }}">Mis campañas</a> » <span class="selected">Descuentos</span></p>

	<ul class="botones_campana_dscto">
		<li class="boton_be">
			{% if campana.concursos|length > 0 %}
				<a href="{{ path('_reporte_concursos_listado', { 'slug': lugar.slug, 'id': id }) }}">
						<div class="icono_be">Beneficios Exclusivos</div>
				</a>
			{% else %}
				<div class="icono_be">Beneficios Exclusivos</div>
			{% endif %}
		</li>
		<li class="boton_dscto">
			<div class="icono_gc">Descuentos</div>
		</li>
	</ul>

	<div class="descuento_info">
		<div class="descuento_image">
			<div class="valor_descuento">{{descuento.cantidad}}%</div>
		</div>
		<div class="fecha_y_condiciones">
			<p><strong>Fecha de inicio y término</strong></p>
			<p>{{descuento.fechaInicio|date('d-m-y')}} al {{descuento.fechaTermino|date('d-m-y')}}</p><br />
			<p><strong>Condiciones:</strong></p>
			<p>{{ descuento.condiciones }}</p>
		</div>
		<div class="icono_identificador"></div>
	</div>

	<div class="premiados">
		<p>{{descuento.descontados|length}} Premiados</p><br />
		<p>A continuación se detallan todos los Loogareños que estarán recibiendo tus Gift Cards.<br />
			Una vez que un Loogareño ha asistido, marcarlo con el checkbox y hacer click en Gift Card canjeada.</p>
		<ul class="lista_de_ganadores">
		{% for descontado in descuento.descontados %}
			<li class="ganador">
				<input type="checkbox" data-ganador="{{descontado.id}}" class="canjes_checkbox" class="checkbox" {% if descontado.canjeado == 1 %}disabled="disabled" checked="checked"{% endif %}></input>
				<div class="imagen_usuario">
					<img src="" height="30" width="30" />
				</div>
				<div class="usuario_info">
					<a href="#" target="_blank">
						{% if descontado.usuario.nombre != '' %}
							{{ descontado.usuario.nombre }} {{ descontado.usuario.apellido }}</a>
						{% else %}
							{{ descontado.usuario.slug }}
						{% endif %}
					<p class="codigo">Código: <strong>{{descontado.codigo}}</strong></p>
				</div>
			</li>
		{% endfor %}
		</ul>

		<a class="boton_canjeada"></a>
	</div>

</div>
{% endblock %}

{% block javascripts %}
<script>
	$(function(){
		$('.boton_canjeada').click(function(){
			if(confirm('¿Estás seguro de marcar los cupones como canjeados? Sólo se pueden asignar una sola vez')) {
				var canjesCheckbox = $('.canjes_checkbox').filter(':checked').filter(':not(:disabled)');
				if(canjesCheckbox.length > 0) {
					var canjes = new Array();
					canjesCheckbox.each(function(){
						canjes.push($(this).attr('data-ganador'));
					});

					$.ajax({
			            url: WEBROOT+'../ajax/cupones_canjeados',
			            type: 'post',
			            data: {'canjes' : canjes, 'descuentos': true},
			            dataType: 'json',
			            success: function(data){
			            	if(data.status == 'ok') {
			            		canjesCheckbox.attr('disabled', 'disabled');
			            	}
			            }
        			});
				}
				else{
					alert('No has seleccionado cupones para marcarlos como canjeados');
				}
			}
			else {
	    		return false;
	    	}	
		});
	});
</script>
{% endblock %}