{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block title %}{{'reporte_local.title'|trans}} {{concurso.post.lugar.nombre}} | {{parent()}}{% endblock %}

{% block content %}

	<div class="reporte_local">

	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': lugar.slug}) }}">Inicio</a> » <a href="{{ path('_reporte_campanas', {'slug': lugar.slug, 'id': id}) }}">Mis campañas</a> » <a href="{{ path('_reporte_concursos_listado', {'slug': lugar.slug, 'id':id}) }}">Beneficios Exclusivos</a> » <span class="selected">{{'reporte_local.titulo'|trans}} {{concurso.post.lugar.nombre}}</span></p>

		<div class="datos_reporte">
			<h1 class="titulo_reporte">{{'reporte_local.titulo'|trans}} {{concurso.post.lugar.nombre}}</h1> <span class="titulo_reporte">- <a href="{{path('post', {'ciudad' : concurso.post.ciudad.slug, 'slug' : concurso.post.slug})}}" target="_blank">{{'reporte_local.link_nota'|trans}}</a></span><br />

			<div class="datos">
				<p><strong>{{'reporte_local.titulo_fecha'|trans}}</strong></p>
				<p>{{concurso.fechaInicio | date('d/m/Y')}} - {{concurso.fechaTermino | date('d/m/Y')}}</p><br />

				<p><strong>{{'reporte_local.titulo_be'|trans}}</strong></p>
				<p>{{concurso.descripcion}}</p><br />

				<p><strong>{{'reporte_local.titulo_condiciones'|trans}}</strong></p>
				<p>{{concurso.post.condiciones | raw}}</p>

				<p><strong>Fecha Termino</strong></p>
				<p>Fecha Limite: {{ concurso.fechaTermino|date('y-m-d') }}</p>
			</div>
		</div>

		{% if concurso.ganadores | length > 0 %}
			<div class="ganadores_reporte">
				<p><strong>{{'reporte_local.ganadores'|trans}}</strong></p><br />
				<p>{{'reporte_local.ganadores_detalle'|trans}}<br />
				{{'reporte_local.ganadores_tip'|trans}} <strong>{{'reporte_local.ganadores_canjeada'|trans}}</strong>.</p><br />

				<ul>
					{% for ganador in concurso.ganadores %}
						<script>
								$(function(){
									$(".cupon_ganador_{{ganador.codigo}}").fancybox({
								    type: 'inline',
										content: $('.cupon_local_{{ganador.codigo}}'),
										padding: 0,
										fitToView: false
									});
								});
						</script>
						<li>
							<input type="checkbox" class="canjes_checkbox" data-ganador="{{ganador.id}}" {% if ganador.canjeado%}disabled="disabled" checked="checked"{% endif %}/>
							<a href="{{path('showUsuario', {'param' : ganador.participante.usuario.slug})}}" target="_blank">
								<img class="imagen_ganador" src="{{ ('assets/images/usuarios/'~ganador.participante.usuario.imagenFull) | apply_filter('tiny_usuario') }}" width="20" height="20" />
								<span>{{ganador.participante.usuario.nombre}} {{ganador.participante.usuario.apellido}}</span>
							</a>
							<span> - {{'usuario.gift_card.codigo'|trans}} <a href="#" class="cupon_ganador_{{ganador.codigo}}"><strong>{{ganador.codigo}}</strong></a></span>{% if ganador.recomendo %} - <a href="{{path('_recomendacion', {'slug' : concurso.post.lugar.slug, 'usuarioSlug' : ganador.participante.usuario.slug})}}" target="_blank">Recomendación</a>{% endif%}

							<div class="cupon_local cupon_local_{{ganador.codigo}}">
								<div class="cupon_local_activo">
									<div class="bloque_premio">
										<img class="imagen_cupon" src="{{('assets/images/lugares/'~lugar.imagenesActivasLugar[lugar.imagenesActivasLugar|length - 1].imagenFull) | apply_filter('medium_lugar')}}" height="100" width="100" />
										<div class="texto_cupon">
											<p class="cupon_titulo">{{concurso.titulo}}</p>
											<p class="usuario_cupon">{{ganador.participante.usuario.nombre}} {{ganador.participante.usuario.apellido}}</p>
											<p class="cupon_codigo"><strong>{{'usuario.gift_card.codigo'|trans}}</strong> {{ganador.codigo}}</p>
											<p class="cupon_fecha_termino"><strong>{{'usuario.gift_card.valido'|trans}}</strong> {{concurso.post.fechaTermino|date('d/m/y')}}</p>
										</div>
									</div>
									<div class="bloque_detalles">
										<strong>{{'blog.detalle'|trans}}</strong><br />
										<p>{{concurso.post.detalles | raw}}</p>
										<br />
										<strong>{{'blog.condiciones'|trans}}</strong><br />
										<p>{{concurso.post.condiciones | raw}}</p>
									</div>
									<div class="bloque_datos">
										<a class="titulo_datos_cupon" href="{{path('_lugar', {'slug' : concurso.post.lugar.slug})}}" target="_blank">{{concurso.post.lugar.nombre}}</a>
										<br />
										<p>{{concurso.post.lugar.calle}} {{concurso.post.lugar.numero}}, {{concurso.post.lugar.comuna.nombre}}, {{concurso.post.lugar.comuna.ciudad.nombre}}</p>
										{% if concurso.post.lugar.telefono2 == '' or concurso.post.lugar.telefono2 == null %}
											{% set telefonos = [concurso.post.lugar.telefono1] %}
										{% elseif concurso.post.lugar.telefono3 == '' or concurso.post.lugar.telefono3 == null %}
											{% set telefonos = [concurso.post.lugar.telefono1, concurso.post.lugar.telefono2] %}
										{% else %}
											{% set telefonos = [concurso.post.lugar.telefono1, concurso.post.lugar.telefono2, concurso.post.lugar.telefono3] %}
										{% endif %}
										{{telefonos|join(', ')}}
										{% if concurso.post.lugar.sitioWeb != ''%}
											<a class="sitio_web_lugar" href="http://{{concurso.post.lugar.sitioWeb}}" target="blank">{{concurso.post.lugar.sitioWeb}}</a>
										{% endif %}
										{% if concurso.post.lugar.facebook != ''%}
											<a class="facebook_lugar" href="http://{{concurso.post.lugar.facebook}}" target="blank"></a>
										{% endif %}
										{% if concurso.post.lugar.twitter != ''%}
											<a class="twitter_lugar" href="http://{{concurso.post.lugar.twitter}}" target="blank"></a>
										{% endif %}
									</div>
								</div>
							</div>


						</li>
					{% endfor %}
				</ul>
				
				<a class="boton_canjeada"></a>
			</div>
		{% endif %}

		<div class="participantes_reporte">
			{% if concurso.participantesActivos | length > 0 %}
				{% set doce = 0 %}
				{% for participante in concurso.participantesActivos %}
					{% if loop.index == 1 or (loop.index > 19 and (loop.index - 1) % 19 == 0)  %}
						{% set doce = 0 %}
						<ul class="listado_participantes">
					{% endif %}
					<li>
						<a href="{{path('showUsuario', {'param' : participante.usuario.slug})}}" target="_blank">
							<img src="{{ ('assets/images/usuarios/'~participante.usuario.imagenFull) | apply_filter('tiny_usuario') }}" width="20" height="20" />
						</a>
					</li>
					{% set doce = doce + 1 %}
					{% if doce == 19 %}
						</ul>				
					{% endif %}
				{% endfor %}
			{% endif %}				

			<div class="participantes">
				<div class="cantidad_participantes_izq">
				</div>							
				<div class="cantidad_participantes">
					<span class="numero_participantes">{{concurso.participantesActivos | length}}</span>
					{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantesActivos | length)}}
				</div>
				<div class="cantidad_participantes_der">
				</div>	
			</div>
		</div>

		<div class="metricas_reporte">
			<p><span class="azul">{{concurso.visitasHome + concurso.visitasBusquedas + concurso.visitasOtrosLocales}}</span> - {{'reporte_local.visitas_home'|trans}}</p>
			<p><span class="azul">{{concurso.visitasPost + 0}}</span> - {{'reporte_local.visitas_totales'|trans}} <a href="{{path('post', {'ciudad' : concurso.post.ciudad.slug, 'slug' : concurso.post.slug})}}" target="_blank">{{'reporte_local.nota'|trans}}</a></p>
			<p><span class="azul">{{concurso.visitasFicha + 0}}</span> - {{'reporte_local.visitas_totales'|trans}} <a href="{{path('_lugar', {'slug' : concurso.post.lugar.slug})}}" target="_blank">{{'reporte_local.ficha'|trans}}</a></p><br />
			<p><span class="azul">{{concurso.post.lugar.totalRecomendaciones}}</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/recomendaciones.png') }}" height="15px" width="17px" /> {{'reporte_local.recomendaciones'|trans}}</p>
			<p><span class="azul">{{concurso.facebookFinal - concurso.facebookInicio}}</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/facebook.png') }}" height="16px" width="16px" /> {{'reporte_local.facebook'|trans}}</p>
			<p><span class="azul">{{concurso.twitterFinal - concurso.twitterInicio}}</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/twitter.png') }}" height="16px" width="16px" /> {{'reporte_local.twitter'|trans}}</p>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(function(){
			$('.boton_canjeada').click(function(){
				if(confirm('¿Estás seguro de marcar los cupones como canjeados? Sólo se pueden asignar una sola vez')) {
					var canjesCheckbox = $('.canjes_checkbox').filter(':checked').filter(':not(:disabled)');
					if(canjesCheckbox.length > 0) {
						var canjes = new Array();
						canjesCheckbox.each(function(){
							canjes.push($(this).attr('data-ganador'));
						});

						$.ajax({
				            url: WEBROOT+'../ajax/cupones_canjeados',
				            type: 'post',
				            data: {'canjes' : canjes},
				            dataType: 'json',
				            success: function(data){
				            	if(data.status == 'ok') {
				            		canjesCheckbox.attr('disabled', 'disabled');
				            	}
				            }
	        			});
					}
					else{
						alert('No has seleccionado cupones para marcarlos como canjeados');
					}
				}
				else {
		    		return false;
		    	}	
			});
		});
	</script>	
{% endblock %}