{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
	    <script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
	    <script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	    <script>
	    	$('.comunas').chosen();

	    	var qtipHide = {
          fixed: true,
          delay: 200,
          event: 'mouseleave'
	    	}

	    	var qtipShow = {
	    		solo: true
	    	};

	    	var qtipPosition = {
          my: 'bottom center', 
          at: 'top center',
          adjust: {
              x: -10,
              y: -2
          },
        };

        var qtipStyle = {
          classes: 'ui-tooltip-precio',
          tip: {
	          border: 0,
	          width: 12,
	          color: '#f0f',
	          corner: true,
	          offset: 0
			    }
			  };

				$('.numero_descuentos').qtip({
		      show: qtipShow,
		      content: {
		          text: $('.qtip_descuentos').text()
		      },
          style: qtipStyle,
          position: qtipPosition,
		      hide: qtipHide
		  	});

				$('.numero_be').qtip({
		      show: qtipShow,
		      content: {
		          text: $('.qtip_be').text()
		      },
          style: qtipStyle,
          position: qtipPosition,
		      hide: qtipHide
		  	});

				$('.numero_recomendaciones').qtip({
		      show: qtipShow,
		      content: {
		          text: $('.qtip_recomendaciones').text()
		      },
          style: qtipStyle,
          position: qtipPosition,
		      hide: qtipHide
		  	});
				$('.recomendacion_lugar').qtip({
		      show: qtipShow,
		      content: {
		          text: $('.qtip_recomendo').text()
		      },
          style: qtipStyle,
          position: qtipPosition,
		      hide: qtipHide
		  	});
	    </script>
{% endblock %}

{% block content %}

<div class="seguidores">

	<h1 class="titulo_principal">{{-seguidores|length}} seguidores de {{lugar.nombre-}}</h1>

	<p class="breadcrumb"><a href="{{ path('_reportes', {'slug': lugar.slug}) }}">Inicio</a> » <span class="selected">Mis seguidores</span></p>

	<div class="fitros_seguidores">
		<ul class="ordenar_por">
			<li class="tipos_de_orden">Ordenar por:</li>
			<li class="tipos_de_orden">
				{% if orden == 'recomendaciones' %}
					<p class="selected">Nº Recomendaciones</p>
				{% else %} 
					<a href="?orden=recomendaciones">Nº Recomendaciones (#)</a>
				{% endif %}| 
			</li>
			<li class="tipos_de_orden">
				{% if orden == 'premios' %}
					<p class="selected">Premios ganados (#)</p>
				{% else %} 
					<a href="?orden=premios">Premios ganados (#)</a>
				{% endif %}| 
			</li>
			<li class="tipos_de_orden">
				{% if orden == 'descuentos' %}
					<p class="selected">Descuentos regalados (#)</p>
				{% else %} 
					<a href="?orden=descuentos">Descuentos regalados (#)</a>
				{% endif %}
			</li>
		</ul>
		<form class="filtrar_por">
			{% if recomendo == null %}
				<a href="?recomendo">Ya recomendaron tú Lugar</a>
			{% else %}
				<a href="{{ path('_reporte_seguidores', {'slug': lugar.slug, 'comuna': comuna|default(null), 'orden': orden}) }}">Todas las Recomendaciones</a>
			{% endif %}
			<select class="comunas" name="comuna">
				<option value="todas">Todas</option>
				{% for comuna in comunas %}
					<option {% if comuna.slug == filtrado %}selected="selected"{% endif %}value="{{comuna.slug}}">{{comuna.nombre}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="filtrar">
		</form>
	</div>

	<div class="caja_seguidores">
		{% for seguidor in seguidores %}
		<div class="seguidor">
			<div class="seguidor_imagen">
				<img src="" height="30" width="30" />
			</div>
			<div class="seguidor_datos">
				<a href="#">{% if seguidor.usuarioNombre != '' %} {{seguidor.usuarioNombre}} {{seguidor.usuarioApellido}} {% else %} {{seguidor.usuarioSlug}} {% endif %} </a>
				<p class="comuna">{% if seguidor.comunaNombre %} {{seguidor.comunaNombre}} {% endif %}</p>
			</div>
			<div class="seguidor_iconos">
				<div class="numero_recomendaciones">
					<p class="valor">{{seguidor.totalRecomendaciones}}</p>
				</div>
				<div class="numero_descuentos">
					<p class="valor">{{seguidor.totalDescuentos}}</p>
				</div>
				<div class="numero_be">
					<p class="valor">{{seguidor.totalBe}}</p>
				</div>
				<div class="recomendacion_lugar {% if seguidor.recomendo %}si{% else %}no{% endif %}">
					<a href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': seguidor.usuarioSlug }) }}" target="_blank"></a>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="qtip_recomendo qtip">La recomendacion de este flaco en tu lugar po perro</div>
		<div class="qtip_recomendaciones qtip">Cantidad de Recomendaciones po perro</div>
		<div class="qtip_descuentos qtip">Cantidad de Descuentos gandaos po perro</div>
		<div class="qtip_be qtip">Total de BE ganados en tu lugar po perro</div>
	</div>

</div>

{% endblock %}
