{% extends "LoogaresCampanaBundle:Layout:base_campanas.html.twig" %}

{% block content %}

<div class="seguidores">

	<h1 class="titulo_principal">{{-seguidores|length}} seguidores de {{lugar.nombre-}}</h1>

	<p class="breadcrumb"><a href="#">Inicio</a> » <span class="selected">Mis seguidores</span></p>

	<div class="fitros_seguidores">
		<ul class="ordenar_por">
			<li class="tipos_de_orden">Ordenar por:</li>
			<li class="tipos_de_orden"><p class="selected">Nº Recomendaciones</p> | </li>
			<li class="tipos_de_orden"><a href="#">Recomendación lugar (#)</a> | </li>
			<li class="tipos_de_orden"><a href="#">Premios ganados (#)</a> | </li>
			<li class="tipos_de_orden"><a href="#">Descuentos regalados (#)</a></li>
		</ul>
		<form class="filtrar_por">
			<select name="comuna">
				<option>Filtrar por Comuna</option>
				{% for comuna in comunas %}
					<option {% if comuna.usuario.comuna.slug == filtrado %}selected="selected"{% endif %}value="{{comuna.usuario.comuna.slug}}">{{comuna.usuario.comuna.nombre}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="filtrar">
		</form>
	</div>

	<div class="caja_seguidores">
		{% for seguidor in seguidores %}
		<div class="seguidor">
			<div class="seguidor_imagen">
				<img src="" height="30" width="30" />
			</div>
			<div class="seguidor_datos">
				<a href="#">{% if seguidor[0].usuario.nombre != '' %} {{seguidor[0].usuario.nombre}} {{seguidor[0].usuario.apellido}} {% else %} {{seguidor[0].usuario.slug}} {% endif %} </a>
				<p class="comuna">{% if seguidor[0].usuario.comuna %} {{seguidor[0].usuario.comuna.nombre}} {% endif %}</p>
			</div>
			<div class="seguidor_iconos">
				<div class="numero_recomendaciones">
					<p class="valor">{{seguidor[0].usuario.recomendaciones|length}}</p>
				</div>
				<div class="numero_descuentos">
					<p class="valor">{{seguidor[0].usuario.descuentosUsuarios|length}}</p>
				</div>
				<div class="numero_be">
					{% set total = 0 %}
					{% for participante in seguidor[0].usuario.participantes %}
						{% if participante.ganador %}
							{% set total = total + 1 %}
						{% endif %}
					{% endfor %}
					<p class="valor">{{total}}</p>
				</div>
				<div class="recomendacion_lugar {% if seguidor.recomendo %}si{% else %}no{% endif %}">
					<a href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': seguidor[0].usuario.slug }) }}" target="_blank"></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}
