{% extends "::base.html.twig" %}

{% block title %}
    Buscar loogares en {{app.session.get('ciudad').nombre}} | {{parent()}}
{% endblock %}

{% block meta %}
{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','search','concursos','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','search','concursos_medio','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','search','concursos_final','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        {% if categoria.slug is defined %}
            GA_googleAddSlot("{{adsense_service}}", "{{ad('categoria', categoria.id,'top','medium')}}_{{app.session.get('ciudad').slug}}");
        {% else %}
            GA_googleAddSlot("{{adsense_service}}", "{{ad('static', 'search','top','medium')}}_{{app.session.get('ciudad').slug}}");
        {% endif %}
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/jquery.bxSlider.min.js')}}"></script>
<script type="text/javascript">
$(function() {
    $('.concursos li').css('visibility', 'visible')

    var concursoSlider = $('.concursos').bxSlider({
        displaySlideQty: $('.concursos li').length,
        moveSlideQty: 1,
        controls: false,
        auto: true
    });

    $('.prev_concurso').click(function(){
        concursoSlider.goToPreviousSlide();
        return false;
    });

    $('.next_concurso').click(function(){
        concursoSlider.goToNextSlide();
        return false;
    });
});
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    <div class="buscador_box">
        <form action="{{ path('_buscar', { 'slug': app.session.get('ciudad').slug }) }}">
            <div class="buscar">
                    <input class="buscador" name="q" type="text" placeholder="{{'general.header.ejemplos_buscador'|trans}}" />
                <div class="caja_icono">
                    <input type="submit" class="icono_buscar" value="" />
                </div>
            </div>
        </form>
    </div>
    {% if concursos | length > 0 %}
        {% include "LoogaresExtraBundle:Default:concursos_activos.html.twig" %}
    {% endif %}

{% endblock %}