{% extends "::base.html.twig" %}

{% block title %}
    Buscar loogares en {{app.session.get('ciudad').nombre}} | {{parent()}}
{% endblock %}

{% block meta %}
{% endblock %}

{% block javascripts %}
<script src="{{asset('assets/js/jquery.bxSlider.min.js')}}"></script>
<script type="text/javascript">
$(function() {
    $('.concursos li').css('visibility', 'visible')

    var concursoSlider = $('.concursos').bxSlider({
        displaySlideQty: $('.concursos li').length,
        moveSlideQty: 1,
        controls: false,
        auto: true
    });

    $('.prev_concurso').click(function(){
        concursoSlider.goToPreviousSlide();
        return false;
    });

    $('.next_concurso').click(function(){
        concursoSlider.goToNextSlide();
        return false;
    });
});
</script>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

    <div class="pagina_buscador_box">
        <div class="que_buscar">
            {{'lugar.buscar.titulo_pagina_buscar'|trans}}
        </div>
        <form action="{{ path('_buscar', { 'slug': app.session.get('ciudad').slug }) }}">
            <div class="buscar">
                <input class="buscador" name="q" type="text" placeholder="{{'general.header.ejemplos_buscador'|trans}}" />
                <div class="caja_icono">
                    <input type="submit" class="icono_buscar" value="" />
                </div>
            </div>
        </form>
    </div>

    {% if concursos | length > 0 %}
        {% include "LoogaresExtraBundle:Default:concursos_activos.html.twig" %}
    {% endif %}

{% endblock %}