{% extends "::base.html.twig" %}

{% block title %}
    {{-'lugar.categoria.titulo_pagina'|trans}} {{app.session.get('ciudad').nombre}} | {{parent()-}}
{% endblock %}

{% block meta %}
    <meta name="description" content="Loogares.com es la guía de lugares de ocio y turismo en {{app.session.get('ciudad').nombre}}, basada en las recomendaciones de la gente. En esta página encontrarás la lista de posibles categorías que puedes ver en {{app.session.get('ciudad').nombre}}" />
    
    <meta name="keywords" content="Loogares, recomendaciones, categorías, {{app.session.get('ciudad').nombre}}, lugares, guía, ocio, turismo, restaurantes, museos, hoteles, cines, servicios, moteles, bares, arquitectura, ropa, accesorios, entretenimiento, donde dormir, donde comer, que visitar" />

    <!-- Metadata para FB -->
    <meta property="og:title" content="{{'lugar.categoria.titulo_pagina'|trans}} {{app.session.get('ciudad').nombre}} | Loogares.com" />

    <meta property="og:description" content="Loogares.com es la guía de lugares de ocio y turismo en {{app.session.get('ciudad').nombre}}, basada en las recomendaciones de la gente. En esta página encontrarás la lista de posibles categorías que puedes ver en {{app.session.get('ciudad').nombre}}" />
{% endblock %}

{% block content %}

    <div class="resultados_wrapper">

        <h1 class="titulo_busqueda icono_todos">{{'lugar.categoria.titulo_pagina'|trans}} {{app.session.get('ciudad').nombre}}</h1>

        {% for rama in arbol_categorias %}
        <div class="tipo_de_lugar">
            <div class="categorias categoria_{{ rama.tipo.slug }}">{{ rama.tipo.nombre }}</div>
            <ul>
            {% for categoria in rama.categorias %}
                <li><a href="{{path( '_categoria',{'slug': app.session.get('ciudad').slug, 'categoria':categoria.categoria_slug} )}}">{{categoria.categoria_nombre}} <span class="numero_de_lugares_categoria">({{categoria.total}})</span></a></li>
            {% endfor %}
            </ul>
        </div>
        {% endfor %}

    </div>

{% endblock %}