{% extends "::base.html.twig" %}

{% block title %}
	{% if noCategorias == true %}
		Categoria {{categoria.nombre}} | {{parent()}}
	{% else %}
		{{'lugar.buscar.titulo'|trans({'%buscar%' : term})}} | {{parent()}}
	{% endif %}
{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','search','top','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}


{% block javascripts %}
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/jquery.pjax.js')}}"></script>
	<script src="{{asset('assets/js/googleMapBuscar.js')}}"></script>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAPoxFphWUxvaTpvs1yb1jqBRX_WqUqrejFKb9vXi20jSGe-5jpRSMwbi_H9382JcFVerJmLKxcJLs0w" type="text/javascript"></script>
	<script src="{{asset('assets/js/buscar.js')}}"></script>

	<script>
    var $sidebar   = $(".sidebar_busqueda"),
	    $window    = $(window),
	    topPadding = 60,
		sideBarOffset     = $sidebar.offset(),
		compensation = ($('.mensaje_exito').length > 0)?69:0;
    	

    $window.scroll(function() {
    	margin = $(document).height() - 1541 - compensation;

    	if($window.scrollTop() >= sideBarOffset.top && margin + 400 >= $window.scrollTop()){
		    $sidebar.stop().animate({
	            top: $window.scrollTop() - sideBarOffset.top + topPadding
	        });
        }else if(margin - 200 <= $window.scrollTop()){
		    $sidebar.stop().animate({
	            top: margin
	        });
        }else{
		    $sidebar.stop().animate({
	            top: 0
	        });
        }
    });
	</script>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">

    <!-- Mensajes de éxito -->
    {% if app.session.hasFlash('buscar_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('buscar_flash') | raw }}</p>
            </div>
    {% endif %}

	<div class="resultados_wrapper">

		<div class="resultados">

			<h1 class="titulo_busqueda">
				{% if noCategorias == true %}
					Categoria {{categoria.nombre}}
				{% else %}
				{{'lugar.buscar.resultado_busqueda'|trans}} {{term}} 
				 {% if subcategoria != null %}
                 	{{'lugar.buscar.en'|trans}} {{subcategoria.nombre}}
                 {% elseif categoria != null %}
                 	{{'lugar.buscar.en'|trans}} {{categoria.nombre}}
                 {% endif %}
				{{'lugar.buscar.en'|trans}} {{ciudad.nombre}}
				{% endif %}	
			</h1>
			
			<p class="breadcrumb">
	             <a href="{{ path(ruta, query|merge({'slug': slug })) }}">{{ciudad.nombre}}</a>
	             {% if sector != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'sector': sector.slug, 'comuna': null, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{sector.nombre}}</a>
	             {% elseif comuna != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'comuna': comuna.slug, 'sector': null, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{comuna.nombre}}</a>
	             {% endif %}
	             {% if categoria != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{categoria.nombre}}</a>
	             {% endif %}
	             {% if subcategoria != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'subcategoria': subcategoria.slug, 'caracteristicas': null, 'pagina': null })) }}">{{subcategoria.nombre}}</a>
	             {% endif %}
			</p>
							
			{% if results.totalPorSectores[0] is defined or results.totalPorComunas[0] is defined %}
				<div class="qtip_zonas qtip_filtros" rel="filtros_zonas">
					<span class="close_qtip"></span>
					{% if results.totalPorSectores[0] is defined %}
						<p>{{'lugar.buscar.sectores'|trans}}</p>
						<ul>
							{% for sector in results.totalPorSectores %}
								<li><a href="{{ path(ruta_sector, query|merge({'slug': slug, 'comuna': null, 'sector': sector.slug })) }}">{{sector.nombre}} ({{ sector.total }})</a></li>							
							{% endfor %}
						</ul>
					{% endif %}

					{% if results.totalPorComunas[0] is defined %}
						<br/><br/>
						<p>{{'lugar.buscar.comunas'|trans}}</p>
						<ul>
							{% for comuna in results.totalPorComunas %}
								<li><a href="{{ path(ruta_comuna, query|merge({'slug': slug, 'sector': null, 'comuna': comuna.slug })) }}">{{comuna.nombre}} ({{ comuna.total }})</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endif %}

			{% if results.totalPorCategorias is not defined %}
		    {% if results.totalPorSubcategoria[0] is defined %}
				<div class="qtip_subcategorias qtip_filtros" rel="filtros_subcategorias">
					<span class="close_qtip"></span>
					<ul>
						{% for subcategoria in results.totalPorSubcategoria %}
							<li><a href="{{ path(ruta_subcategoria, query|merge({'slug': slug, 'subcategoria': subcategoria.slug })) }}">{{subcategoria.nombre}} ({{ subcategoria.total }})</a></li>					
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% if results.totalPorCaracteristica[0] is defined %}
				<div class="qtip_caracteristicas qtip_filtros" rel="filtros_caracteristicas">
					<span class="close_qtip"></span>
					<ul>
					{% for caracteristica in results.totalPorCaracteristica %}
						<li><input type="checkbox" value="{{caracteristica.slug}}" name="caracteristica[]"/><a href="{{ path(ruta, query|merge({'slug': slug, 'caracteristica': caracteristica.slug})) }}">{{caracteristica.nombre}} ({{ caracteristica.total }})</a></li>
					{% endfor %}
					</ul>
					<a class="link_filtrar_caracteristicas"  href="" data-ohref="{{ path(ruta, query|merge({'slug': slug, 'caracteristicas': null })) }}">Filtrar</a>
				</div>
			{% endif %}

			{% endif %}

			{% if results.totalPorCategoria[0] is defined %}
				<div class="qtip_categorias qtip_filtros" rel="filtros_categorias">
					<span class="close_qtip"></span>
					<ul>
					{% for categoria in results.totalPorCategoria %}
						<li><a href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug })) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="filtros_zonas filtros">
				<div class="filtros_header">
					<span class="filtros_titulo">{{'lugar.buscar.zonas'|trans}}</span>
					{% if (results.totalPorSectores[0] is defined or results.totalPorComunas[0] is defined) %}
						<div class="ver_mas">
							<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
							<span class="filtros_ver_mas_icono"></span>
						</div>
					{% endif %}					
				</div>
				<div class="resultados_filtros">
					{% if (results.totalPorSectores[0] is defined or results.totalPorComunas[0] is defined) %}
						<ul>
					
						{% for sector in results.totalPorSectores %}
							{% if loop.index <= 5 %}
							<li><a href="{{ path(ruta_sector, query|merge({'slug': slug, 'comuna': null, 'sector': sector.slug, })) }}">{{sector.nombre}} ({{ sector.total }})</a></li>	
							{% endif %}							
						{% endfor %}


						{% if results.totalPorSectores is defined and results.totalPorSectores|length < 5 %}
							{% for comuna in results.totalPorComunas %}
								{% if loop.index <= (5 - results.totalPorComunas|length) %}
								<li><a href="{{ path(ruta_comuna, query|merge({'slug': slug, 'sector': null, 'comuna': comuna.slug })) }}">{{comuna.nombre}} ({{ comuna.total }})</a></li>	
								{% endif %}							
							{% endfor %}							
						{% endif %}
					</ul>
					{% else %}
						
					{% endif %}
				</div>
			</div>

			{% if results.totalPorCategoria[0] is defined %}
				<div class="filtros_categorias filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.categorias'|trans}}</span>
						{% if results.totalPorCategoria[0] is defined %} 
							<div class="ver_mas">
								<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
								<span class="filtros_ver_mas_icono"></span>
							</div>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						<ul>
							{% for categoria in results.totalPorCategoria %}
								{% if loop.index <= 20 %}
								<li><a rel="categoria" href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug })) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

			{% if results.totalPorCategoria[0] is not defined %}
				<div class="filtros_subcategorias filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.subcategorias'|trans}}</span>
						{% if results.totalPorSubcategoria[0] is defined %}
							<div class="ver_mas">
								<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
								<span class="filtros_ver_mas_icono"></span>
							</div>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						{% if results.totalPorSubcategoria[0] is defined %}
						<ul>
							{% for subcategoria in results.totalPorSubcategoria %}
								{% if loop.index <= 10 %}
								<li><a href="{{ path(ruta_subcategoria, query|merge({'slug': slug, 'subcategoria': subcategoria.slug })) }}">{{subcategoria.nombre}} ({{ subcategoria.total }})</a></li>	
								{% endif %}							
							{% endfor %}
						</ul>
						{% else %}
							
						{% endif %}
					</div>
				</div>

				<div class="filtros_precios filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.precios'|trans}}</span>
						<span class="explicacion_precio tips_icon"></span>
					</div>
					<div class="resultados_filtros">
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 5 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 5})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 5})) }}">
								<div class="filtro_precios_raty" data-precio="5"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 4 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 4})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 4})) }}">
								<div class="filtro_precios_raty" data-precio="4"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 3 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 3})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 3})) }}">
								<div class="filtro_precios_raty" data-precio="3"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 2 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 2})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 2})) }}">
								<div class="filtro_precios_raty" data-precio="2"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 1 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 1})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 1})) }}">
								<div class="filtro_precios_raty" data-precio="1"></div>
							</a>
						</div>
						<div class="precio_container">
							<a class="reset_precio" href="{{ path(ruta, query|merge({'slug': slug, 'precio': null})) }}">
							</a>
						</div>
					</div>
				</div>

				{% if results.totalPorCaracteristica[0] is defined %}
					<div class="filtros_caracteristicas filtros">
						<div class="filtros_header">
							<span class="filtros_titulo">{{'lugar.buscar.caracteristicas'|trans}}</span>
							{% if results.totalPorCaracteristica[0] is defined %}
								<div class="ver_mas">
									<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
									<span class="filtros_ver_mas_icono"></span>
								</div>
							{% endif %}
						</div>
						<div class="resultados_filtros">
							<ul>
								{% for caracteristica in results.totalPorCaracteristica %}
									{% if loop.index <= 5 %}
									<li><a href="{{ path(ruta, query|merge({'slug': slug, 'caracteristicas': caracteristica.slug})) }}">{{caracteristica.nombre}}</a></li>	
									{% endif %}							
								{% endfor %}	
							</ul>					
						</div>
					</div>
				{% endif %}
			
			{% endif %}

			<div class="orden_container">
				<ul class="filtros_busqueda">
			        <li>
			            <strong>{{'general.terminos.ordenar_por'|trans}}: </strong>
			        </li>
			        {% if noCategorias == false %}
			        <li>
			            {% if query.orden is not defined or query.orden == 'relevantes' %}
			                <strong>{{'general.terminos.mas_relevantes'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'relevantes' })) }}">{{'general.terminos.mas_relevantes'|transchoice(2)}}</a>
			            {% endif %}	
			        </li>
			        <li>|</li>
			        {% endif %}
			        <li>
			            {% if query.orden is defined and query.orden == 'recomendaciones' %}
			                <strong>{{'general.terminos.mejor_evaluadas'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'recomendaciones' })) }}">{{'general.terminos.mejor_evaluadas'|transchoice(2)}}</a>
			            {% endif %}
			            <!-- Aclaración mejores evaluados <span class="explicacion_precio tips_icon"></span> -->
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'utiles' %}
			                <strong>{{'general.terminos.mas_recomendados'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'utiles' })) }}">{{'general.terminos.mas_recomendados'|transchoice(2)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'ultima-recomendacion' %}
			                <strong>{{'general.terminos.ultima_recomendacion'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'ultimas_recomendaciones' })) }}">{{'general.terminos.ultima_recomendacion'|transchoice(1)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'alfabetico' %}
			                <strong>{{'general.terminos.alfabetico'|trans}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'alfabetico' })) }}">{{'general.terminos.alfabetico'|trans}}</a>
			            {% endif %}
			        </li>
			    </ul>

			    <div class="resultados_por_pagina">
			        <select class="seleccionar_resultados_por_pagina">
			            <option value="30">30</option>
			            <option value="45">45</option>
			            <option value="60">60</option>
			        </select>
			        <p class="resultados_por_pagina_txt"><strong>{{ paginacion.mostrandoDe }}</strong> al <strong>{{ paginacion.mostrandoHasta }}</strong> de <strong>{{total}}</strong> - {{'general.terminos.resultados_pagina'|trans}}</p>
			    </div>
	        </div>

	        <div class="listado_resultados">
			{% for lugar in lugares %}
				<div class="resultado-busqueda">
					<div class="lugar_data{{loop.index - 1 }} lugar_data" data-categoria="6" data-slug="{{lugar.lugar_slug}}" data-url="{{ path('_lugar', {'slug': lugar.lugar_slug}) }}" data-coords="{{lugar.mapx}},{{lugar.mapy}}" data-cat="2">
						<ul>
							<li class="data_lugar">
								<img src="{{ ('assets/images/lugares/'~lugar.imagen_lugar) | apply_filter('small_lugar')}}" />
								<div class="nombre_lugar">
									<strong><a href="{{ path('_lugar', {'slug': lugar.lugar_slug}) }}">{{lugar.nombre_lugar }}</a></strong>
								</div>
							</li>
							<li>
								<div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div>
							</li>
							<li>
								{{lugar.total_recomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.total_recomendaciones)}}
							</li>
						
						{% if lugar.sector_nombre != '' %}
							<li class="data_sector">
								<span><strong>{{'general.terminos.sector'|trans}}</strong></span>
								<a href="{{lugar.sector_slug}}">{{lugar.sector_nombre}}</a>
							</li>
						{% endif %}
						{% if lugar.categorias_nombre != '' %}
							<li class="data_categoria">
								<span><strong>{{'general.terminos.categorias'|transchoice(lugar.categorias_nombre)}}:</strong></span>
								{% for categoria in lugar.categorias_nombre %}
									{{categoria|raw}}{% if loop.last == null %}, {% endif %}
								{% endfor %}
							</li>
						{% endif %}
					</div>
					<div class="datos-principales">
						<ul>
							<li class="info_lugar">
								<img src="{{ ('assets/images/lugares/'~lugar.imagen_lugar) | apply_filter('small_lugar')}}" />
								<div class="nombre_lugar">
									<span class="indice_resultado">{{loop.index}}</span>
									<strong><a href="{{ path('_lugar', {'slug': lugar.lugar_slug}) }}">{{lugar.nombre_lugar }}</a></strong>
								</div>
							</li>
						{% if lugar.categorias_nombre != '' %}
							<li class="info_categorias">
								<span><strong>{{'general.terminos.categorias'|transchoice(lugar.categorias_nombre)}}:</strong></span>
								{% for categoria in lugar.categorias_nombre %}
									{{categoria|raw}}{% if loop.last == null %}, {% endif %}
								{% endfor %}
							</li>
						{% endif %}
						{% if lugar.sector_nombre != '' %}
							<li class="info_sector">
								<span><strong>{{'general.terminos.sector'|trans}}:</strong></span>
								<a href="{{lugar.sector_slug}}">{{lugar.sector_nombre}}</a>
							</li>
						{% endif %}
						{% if lugar.ultima_recomendacion != '' %}
							<li class="info_recomendacion">
								<img src="{{ ('assets/images/usuarios/'~lugar.usuario_imagen) | apply_filter('tiny_usuario')}}" />
								<span>
									<strong>
										{{lugar.fecha_ultima_recomendacion|date('d/m/y') }} - 
										{% if lugar.usuario_nombre != '' %}
											<a href="{{ path('showUsuario', {'param': lugar.usuario_slug}) }}">{{lugar.usuario_nombre}} {{lugar.usuario_apellido}}</a>
										{% else %}
											<a href="{{ path('showUsuario', {'param': lugar.usuario_slug}) }}">{{lugar.usuario_slug}}</a>
										{% endif %}
									</strong>
									<p>{{lugar.ultima_recomendacion}}...</p>
								</span>
							</li>
						{% endif %}
						</ul>
					</div>
					<div class="datos-secundarios">
						<ul>
							<li>
								<div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div>
							</li>
							<li class="numero_de_recomendaciones">
								<em>{{lugar.total_recomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.total_recomendaciones)}}</em>
							</li>
							<li class="direccion_lugar">
								{{lugar.calle}} {{lugar.numero}}, <a href="{{lugar.comuna_slug}}">{{lugar.comuna_nombre}}</a>
							</li>
							{% if lugar.precio != null %}
								<li class="precio_lugar">
									<div data-precio="{{lugar.precio}}" class="resultado-busqueda-precio-raty"></div>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
			</div>

			<div class="sidebar_busqueda">
		        <div class="mapa_sidebar">
		            <div id="mapa_buscar" style="height: 300px; width: 300px;">
		            </div>
		        </div>
		        <div class="banner_300x250">
					<script type='text/javascript'>
		            	GA_googleFillSlot("{{ad('static','search','top','medium')}}_{{app.session.get('ciudad').slug}}");
		        	</script>
		        </div>
		    </div>

		</div>

        <div class="paginacion_listado_lugares">
            <p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{total}}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | {{'paginacion.ir_a'|trans}}
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>

		<div class="agrega_lugar" style="clear:both; background: #303">
			<a href="{{ path('_agregar') }}">Boton</a>
		</div>

	</div>

{% endblock %}