{% extends "::base.html.twig" %}

{% block title %}
	{% if categoria != null and noCategorias == true %}
		{{parent()}} | {{categoria.nombre}} {% if sector != null %}en {{sector.nombre}} {% elseif comuna != null %}en {{comuna.nombre}} {% endif %}en {{app.session.get('ciudad').nombre}}
	{% else %}
		{{parent()}} | Resultados de {{term}} en {{app.session.get('ciudad').nombre}}
	{% endif %}
{% endblock %}

{% block meta %}
	{% if categoria != null and noCategorias == true %}
		<meta name="description" content="{{total}} Lugares con recomendaciones de {{categoria.nombre}} {% if sector != null %}en {{sector.nombre}} {% elseif comuna != null %}en {{comuna.nombre}} {% endif %}en {{app.session.get('ciudad').nombre}}. En Loogares.com puedes ver recomendaciones acerca de {{categoria.nombre}} {% if sector != null %}en {{sector.nombre}} {% elseif comuna != null %}en {{comuna.nombre}} {% endif %}en {{app.session.get('ciudad').nombre}}." />
		<meta name="keywords" content="Loogares, recomendaciones, {{app.session.get('ciudad').nombre}}, lugares, {{categoria.nombre}}{% if sector != null %}, {{sector.nombre}} {% elseif comuna != null %}, {{comuna.nombre}} {% endif %}" />
	{% else %}
		<meta name="description" content="Loogares.com es la guía de lugares de ocio y turismo en {{app.session.get('ciudad').nombre}}, basada en las recomendaciones de la gente. Encontrarás recomendaciones acerca de restaurantes, hoteles, museos... incluso cines y servicios." />
		<meta name="keywords" content="Loogares, recomendaciones, {{app.session.get('ciudad').nombre}}, lugares, guía, ocio, turismo, restaurantes, museos, hoteles, cines, servicios, moteles, bares, Providencia, Bellavista, barrios, comunas, concursos, sorteos, premios, entradas, invitaciones, notas, eventos" />
	{% endif %}	
{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
    	{% if categoria.slug is defined %}
        	GA_googleAddSlot("{{adsense_service}}", "{{ad('categoria', categoria.id,'top','medium')}}_{{app.session.get('ciudad').slug}}");
        {% else %}
        	GA_googleAddSlot("{{adsense_service}}", "{{ad('static', 'search','top','medium')}}_{{app.session.get('ciudad').slug}}");
        {% endif %}
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyATOJuTIR8SfADJZrSGHtbEt-EPRrqZDjc" type="text/javascript"></script>      
    <script src='{{asset('assets/js/googleMapBuscar.js')}}'></script>
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/jquery.pjax.js')}}"></script>
	<script src="{{asset('assets/js/buscar.js')}}"></script>
{% endblock %}

{% block content %}
    <!-- Mensajes de éxito -->
    {% if app.session.hasFlash('buscar_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('buscar_flash') | raw }}</p>
            </div>
    {% endif %}

	<div class="resultados_wrapper">
{% if lugares[0] is defined %}		
		<div class="resultados" data-tipo="{{mostrarPrecio}}">
			<h1 class="titulo_busqueda">
				{% if categoria != null and noCategorias == true %}
					{{categoria.nombre}}
	                 {% if sector != null %}
	                 	{{'lugar.buscar.en'|trans}} {{sector.nombre}}
	                 {% elseif comuna != null %}
	                 	{{'lugar.buscar.en'|trans}} {{comuna.nombre}}
	                 {% endif %}
					{{'lugar.buscar.en'|trans}} {{ciudad.nombre}}
				{% else %}
				{{'lugar.buscar.resultado_busqueda'|trans}} {{term}} 
					 {% if subcategoria != null %}
	                 	{{'lugar.buscar.en'|trans}} {{subcategoria.nombre}}
	                 {% elseif categoria != null %}
	                 	{{'lugar.buscar.en'|trans}} {{categoria.nombre}}
	                 {% endif %}

	                 {% if sector != null %}
	                 	{{'lugar.buscar.en'|trans}} {{sector.nombre}}
	                 {% elseif comuna != null %}
	                 	{{'lugar.buscar.en'|trans}} {{comuna.nombre}}
	                 {% endif %}
				{{'lugar.buscar.en'|trans}} {{ciudad.nombre}}
				{% endif %}	
			</h1>
			
			<p class="breadcrumb">
	             <a href="{{ path(ruta, query|merge({'slug': slug })) }}">{{ciudad.nombre}}</a>
	             {% if sector != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'sector': sector.slug, 'comuna': null, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{sector.nombre}}</a>
	             {% elseif comuna != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'comuna': comuna.slug, 'sector': null, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{comuna.nombre}}</a>
	             {% endif %}
	             {% if categoria != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug, 'subcategoria': null, 'caracteristicas': null, 'pagina': null })) }}">{{categoria.nombre}}</a>
	             {% endif %}
	             {% if subcategoria != null %}
	             	» <a href="{{ path(ruta, query|merge({'slug': slug, 'subcategoria': subcategoria.slug, 'caracteristicas': null, 'pagina': null })) }}">{{subcategoria.nombre}}</a>
	             {% endif %}
			</p>
					
			{% if results.totalPorSectores[0] is defined or results.totalPorComunas[0] is defined %}
				<div class="qtip_zonas qtip_filtros" rel="filtros_zonas">
					<span class="close_qtip"></span>
					{% if results.totalPorSectores[0] is defined %}
						<p>{{'lugar.buscar.sectores'|trans}}</p>
						<ul>
							{% for sector in results.totalPorSectores %}
								<li><a href="{{ path(ruta_sector, query|merge({'slug': slug, 'comuna': null, 'sector': sector.slug })) }}">{{sector.nombre}}</a></li>							
							{% endfor %}
						</ul>
					{% endif %}

					{% if results.totalPorComunas[0] is defined %}
						<br/><br/>
						<p>{{'lugar.buscar.comunas'|trans}}</p>
						<ul>
							{% for comuna in results.totalPorComunas %}
								<li><a href="{{ path(ruta_comuna, query|merge({'slug': slug, 'sector': null, 'comuna': comuna.slug })) }}">{{comuna.nombre}}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endif %}

			{% if results.totalPorCategorias is not defined %}
		    {% if results.totalPorSubcategoria[0] is defined %}
				<div class="qtip_subcategorias qtip_filtros" rel="filtros_subcategorias">
					<span class="close_qtip"></span>
					<ul>
						{% for subcategoria in results.totalPorSubcategoria %}
							<li><a href="{{ path(ruta_subcategoria, query|merge({'slug': slug, 'subcategoria': subcategoria.slug })) }}">{{subcategoria.nombre}} <span class="totales">({{ subcategoria.total }})</span></a></li>					
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			{% if results.totalPorCaracteristica[0] is defined %}
				<div class="qtip_caracteristicas qtip_filtros" rel="filtros_caracteristicas">
					<span class="close_qtip"></span>
					<ul>
					{% for caracteristica in results.totalPorCaracteristica %}
						<li><input type="checkbox" value="{{caracteristica.slug}}" name="caracteristica[]"/><a href="{{ path(ruta, query|merge({'slug': slug, 'caracteristicas': caracteristica.slug})) }}">{{caracteristica.nombre}} <span class="totales">({{ caracteristica.total }})</span></a></li>
					{% endfor %}
					</ul>
					<a class="filtrar_caracteristicas"  href="" data-ohref="{{ path(ruta, query|merge({'slug': slug, 'caracteristicas': null })) }}"></a>
				</div>
			{% endif %}

			{% endif %}

			{% if results.totalPorCategoria[0] is defined %}
				<div class="qtip_categorias qtip_filtros" rel="filtros_categorias">
					<span class="close_qtip"></span>
					<ul>
					{% for categoria in results.totalPorCategoria %}
						<li><a href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug })) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="filtros_zonas filtros">
				<div class="filtros_header">
					<span class="filtros_titulo">{{'lugar.buscar.zonas'|trans}}</span>
					{% if (results.totalPorSectores[0] is defined or results.totalPorComunas[0] is defined) %}
						<div class="ver_mas">
							<span class="filtros_ver_mas_icono"></span>
							<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
						</div>
					{% endif %}					
				</div>
				<div class="resultados_filtros">
					{% if results.totalPorSectores is defined or results.totalPorComunas is defined %}
						<ul>
						{% for sector in results.totalPorSectores %}
							{% if loop.index <= 5 %}
							<li class="zonas"><a href="{{ path(ruta_sector, query|merge({'slug': slug, 'comuna': null, 'sector': sector.slug, })) }}">{{sector.nombre}} (Sector)</a></li>	
							{% endif %}							
						{% endfor %}

						{% if results.totalPorSectores is defined and results.totalPorSectores|length <= 5 %}
							{% for comuna in results.totalPorComunas %}
								{% if loop.index <= (5 - (results.totalPorSectores|default(0)) |length ) %}
								<li><a href="{{ path(ruta_comuna, query|merge({'slug': slug, 'sector': null, 'comuna': comuna.slug })) }}">{{comuna.nombre}} (Comuna)</a></li>	
								{% endif %}							
							{% endfor %}							
						{% endif %}
					</ul>
					{% else %}
						
					{% endif %}
				</div>
			</div>

			{% if results.totalPorCategoria[0] is defined %}
				<div class="filtros_categorias filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.categorias'|trans}}</span>
						{% if results.totalPorCategoria[0] is defined %} 
							<div class="ver_mas">
								<span class="filtros_ver_mas_icono"></span>
								<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
							</div>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						<ul>
							{% for categoria in results.totalPorCategoria %}
								{% if loop.index <= 15 %}
								<li class="categoria"><a rel="categoria" href="{{ path(ruta, query|merge({'slug': slug, 'categoria': categoria.slug })) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

			{% if results.totalPorCategoria[0] is not defined %}
				<div class="filtros_subcategorias filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.subcategorias'|trans}}</span>
						{% if results.totalPorSubcategoria[0] is defined %}
							<div class="ver_mas">
								<span class="filtros_ver_mas_icono"></span>
								<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
							</div>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						{% if results.totalPorSubcategoria[0] is defined %}
						<ul>
							{% for subcategoria in results.totalPorSubcategoria %}
								{% if loop.index <= 5 %}
								<li class="subcategoria"><a href="{{ path(ruta_subcategoria, query|merge({'slug': slug, 'subcategoria': subcategoria.slug })) }}">{{subcategoria.nombre}} ({{ subcategoria.total }})</a></li>	
								{% endif %}							
							{% endfor %}
						</ul>
						{% else %}
							
						{% endif %}
					</div>
				</div>

				{% if mostrarPrecio != false %}
				<div class="filtros_precios filtros">
					<div class="filtros_header">
						<span class="filtros_titulo">{{'lugar.buscar.precios'|trans}}</span>
						<span class="explicacion_precio tips_icon"></span>
					</div>
					<div class="resultados_filtros">
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 5 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 5})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 5})) }}">
								<div class="filtro_precios_raty" data-precio="5"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 4 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 4})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 4})) }}">
								<div class="filtro_precios_raty" data-precio="4"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 3 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 3})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 3})) }}">
								<div class="filtro_precios_raty" data-precio="3"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 2 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 2})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 2})) }}">
								<div class="filtro_precios_raty" data-precio="2"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 1 %} checked="checked" {% endif %} name="precio" value="{{ path(ruta, query|merge({'slug': slug, 'precio': 1})) }}" />
							<a href="{{ path(ruta, query|merge({'slug': slug, 'precio': 1})) }}">
								<div class="filtro_precios_raty" data-precio="1"></div>
							</a>
						</div>
						<div class="precio_container">
							<a class="reset_precio" href="{{ path(ruta, query|merge({'slug': slug, 'precio': null})) }}">
							</a>
						</div>
					</div>
				</div>
				{% endif %}
				{% if results.totalPorCaracteristica[0] is defined %}
					<div class="filtros_caracteristicas filtros">
						<div class="filtros_header">
							<span class="filtros_titulo">{{'lugar.buscar.caracteristicas'|trans}}</span>
							{% if results.totalPorCaracteristica[0] is defined %}
								<div class="ver_mas">
									<span class="filtros_ver_mas_icono"></span>
									<span class="filtros_expandir">{{'lugar.buscar.ver_todas'|trans}}</span>
								</div>
							{% endif %}
						</div>
						<div class="resultados_filtros">
							<ul>
								{% for caracteristica in results.totalPorCaracteristica %}
									{% if loop.index <= 5 %}
									<li class="caracteristicas"><a href="{{ path(ruta, query|merge({'slug': slug, 'caracteristicas': caracteristica.slug})) }}">{{caracteristica.nombre}}</a></li>	
									{% endif %}							
								{% endfor %}	
							</ul>					
						</div>
					</div>
				{% endif %}
			
			{% endif %}

			<div class="orden_container">
				<ul class="filtros_busqueda">
			        <li>
			            <strong>{{'general.terminos.ordenar_por'|trans}}: </strong>
			        </li>
			        {% if noCategorias == false %}
			        <li>
			            {% if query.orden is not defined or query.orden == 'relevantes' %}
			                <strong>{{'general.terminos.mas_relevantes'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'relevantes' })) }}">{{'general.terminos.mas_relevantes'|transchoice(2)}}</a>
			            {% endif %}	
			        </li>
			        <li>|</li>
			        {% endif %}
			        <li>
			            {% if query.orden is defined and query.orden == 'recomendaciones' %}
			                <strong>{{'general.terminos.mejor_evaluadas'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'recomendaciones' })) }}">{{'general.terminos.mejor_evaluadas'|transchoice(2)}}</a>
			            {% endif %}
			            <!-- Aclaración mejores evaluados <span class="explicacion_precio tips_icon"></span> -->
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'mas_recomendados' %}
			                <strong>{{'general.terminos.mas_recomendados'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'mas_recomendados' })) }}">{{'general.terminos.mas_recomendados'|transchoice(1)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'ultimas_recomendaciones' %}
			                <strong>{{'general.terminos.ultima_recomendacion'|transchoice(2)}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'ultimas_recomendaciones' })) }}">{{'general.terminos.ultima_recomendacion'|transchoice(1)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'alfabetico' %}
			                <strong>{{'general.terminos.alfabetico'|trans}}</strong>
			            {% else %}
			                <a href="{{ path(ruta, query|merge({'slug': slug, 'orden': 'alfabetico' })) }}">{{'general.terminos.alfabetico'|trans}}</a>
			            {% endif %}
			        </li>
			    </ul>

			    <div class="resultados_por_pagina">
			        <select class="seleccionar_resultados_por_pagina">
			            <option value="10">10</option>
			            <option value="20">20</option>
			            <option value="30">30</option>
			        </select>
			        <p class="resultados_por_pagina_txt"><strong>{{ paginacion.mostrandoDe }}</strong> al <strong>{{ paginacion.mostrandoHasta }}</strong> de <strong>{{total}}</strong> - {{'general.terminos.resultados_pagina'|trans}}</p>
			    </div>
	        </div>

	        <div class="listado_resultados">
			{% for lugar in lugares %}
				<div class="resultado-busqueda">
					<div class="lugar_data{{loop.index - 1 }} lugar_data" data-categoria="6" data-slug="{{lugar.slug}}" data-url="{{ path('_lugar', {'slug': lugar.slug}) }}" data-coords="{{lugar.mapx}},{{lugar.mapy}}" data-cat="2">
						<div class="imagen_gmaps">
							{% if lugar.imagenesActivasLugar[0] is not defined %}
								<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar')}}" />
							{% else %}
								<img src="{{ ('assets/images/lugares/'~lugar.imagenesActivasLugar[lugar.imagenesActivasLugar|length-1].imagenFull) | apply_filter('small_lugar')}}" />
							{% endif %}

						</div>			
						<ul>
							<li class="nombre_lugar_gmaps">
								<a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre }}</a>
							</li>
							<li class="estrellas_gmaps">
								<div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div>
							</li>
							<li class="recomendacion_gmaps">
								{{lugar.total_recomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.totalRecomendaciones)}}
							</li>
						{% if lugar.sector.nombre is defined %}
							<li class="data_sector">
								<span><strong>{{'general.terminos.sector'|trans}}:</strong></span>
								<a href="{{ path('_categoria_sector', {'sector': lugar.sector.slug, 'slug': slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{lugar.sector.nombre}}</a>
							</li>
						{% endif %}
						{% if lugar.categoriaLugar is defined %}
							<li class="data_categoria">
								<span><strong>{{'general.terminos.categorias'|transchoice(lugar.categoriaLugar|length)}}:</strong></span>
								{% for categoriaLugar in lugar.categoriaLugar %}
									<a href="{{ path('_categoria', {'slug': slug, 'categoria': categoriaLugar.categoria.slug}) }}">{{categoriaLugar.categoria.nombre|raw}}</a> {% if loop.last == null %}, {% endif %}
								{% endfor %}
							</li>
						{% endif %}
					</div>
					<div class="datos-principales">
						<ul>
							<li class="info_lugar">
								{% if lugar.ultimaImagen == null %}
									<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar')}}" />
								{% else %}
									<img src="{{ ('assets/images/lugares/'~lugar.ultimaImagen.imagenFull) | apply_filter('small_lugar')}}" />
								{% endif %}
								<div class="nombre_lugar">
									<span class="indice_resultado">{{loop.index}}</span>
									<strong><a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre }}</a></strong>
								</div>
							</li>
						{% if lugar.categoriaLugar is defined %}
							<li class="info_categorias">
								<span><strong>{{'general.terminos.categorias'|transchoice(lugar.categoriaLugar|length)}}:</strong></span>
								{% for categoriaLugar in lugar.categoriaLugar %}
									<a href="{{ path('_categoria', {'slug': slug, 'categoria': categoriaLugar.categoria.slug}) }}">{{categoriaLugar.categoria.nombre|raw}}</a> {% if loop.last == null %}, {% endif %}
								{% endfor %}
							</li>
						{% endif %}
						{% if lugar.sector.nombre is defined %}
							<li class="info_sector">
								<span><strong>{{'general.terminos.sector'|trans}}:</strong></span>
								<a href="{{ path('_categoria_sector', {'sector': lugar.sector.slug, 'slug': slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{lugar.sector.nombre}}</a>
							</li>
						{% endif %}
						{% if lugar.ultimaRecomendacion != null %}
							<li class="info_recomendacion">
								<img src="{{ ('assets/images/usuarios/'~lugar.ultimaRecomendacion.usuario.imagenFull) | apply_filter('tiny_usuario')}}" />
								<span>
									<strong>
										{{lugar.ultimaRecomendacion.fechaCreacion|date('d/m/y') }} - 
										{% if lugar.usuario.nombre != '' %}
											<a href="{{ path('showUsuario', {'param': lugar.ultimaRecomendacion.usuario.slug}) }}">{{lugar.ultimaRecomendacion.usuario.nombre}} {{lugar.ultimaRecomendacion.usuario.apellido}}</a>
										{% else %}
											<a href="{{ path('showUsuario', {'param': lugar.ultimaRecomendacion.usuario.slug}) }}">{{lugar.ultimaRecomendacion.usuario.apellido}}</a>
										{% endif %}
									</strong>
									<p>{{lugar.ultimaRecomendacion.texto|slice(0, 160)|raw}}...</p>
								</span>
							</li>
						{% endif %}
						</ul>
					</div>
					<div class="datos-secundarios">
						<ul>
							<li>
								<div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div>
							</li>
							<li class="numero_de_recomendaciones">
								<em>{{lugar.totalRecomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.totalRecomendaciones)}}</em>
							</li>
							<li class="direccion_lugar">
								{{lugar.calle}} {{lugar.numero}}, <a href="{{ path('_categoria_comuna', {'comuna': lugar.comuna.slug, 'slug': slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{lugar.comuna.nombre}}</a>
							</li>
							{% if lugar.mostrarPrecio != null %}
								<li class="precio_lugar">
									<div data-precio="{{lugar.precio}}" class="resultado-busqueda-precio-raty"></div>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
			</div>

			<div class="sidebar_busqueda">
		        <div class="mapa_sidebar">
		            <div id="mapa_buscar" style="height: 300px; width: 300px;">
		            </div>
		        </div>
		        <div class="banner_300x250">
					<script type='text/javascript'>
		        	    {% if categoria.slug is defined %}
		            		GA_googleFillSlot("{{ad('categoria',categoria.id,'top','medium')}}_{{app.session.get('ciudad').slug}}");
        				{% else %}
		            		GA_googleFillSlot("{{ad('static','search','top','medium')}}_{{app.session.get('ciudad').slug}}");
        				{% endif %}
		        	</script>
		        </div>
		    </div>

		</div>

        <div class="paginacion_slistado_lugares">
            <p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{total}}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | {{'paginacion.ir_a'|trans}}
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>
{% else %} <!--Fin de Lugares-->
<div class="no_resultado">
	<h1 class="titulo_busqueda">{{'lugar.buscar.mala_suerte'|trans}} {{term}} {{'lugar.buscar.en'|trans}} {{ciudad.nombre}}</h1>
	<br/>
	<p class="sub_titulo_busqueda">{{'lugar.buscar.prueba'|trans}}</p>

	<ul class="listado_no_resultados">
		<li>{{'lugar.buscar.buscar_zona'|trans}}</li>
		<li>{{'lugar.buscar.revisa'|trans}}</li>
		<li>{{'lugar.buscar.buscar_general'|trans}}</li>
	</ul>
</div>
{% endif %}

		<div class="agrega_lugar">
			<div class="textos">
				<p><strong>{{'lugar.buscar.no_encontraste'|trans}}</strong></p>
				<p>{{'lugar.buscar.agregalo'|trans}}</p>
			</div>
			<a class="boton_agregar_{{app.session.get('ciudad').slug}}" href="{{ path('_agregar') }}"></a>
		</div>

	</div>

{% endblock %}
