{% extends "::base.html.twig" %}

{% block title %}{{'lugar.buscar.titulo'|trans({'%buscar%' : term})}} | {{parent()}}{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/jquery.pjax.js')}}"></script>

	<script>
		$(document).ready(function(){
			var rebindEvents = function(){
				$('.resultado-busqueda-stars-raty').each(function(){
					var estrellas = $(this).attr('data-stars');
					$(this).raty({
						width: 140,
					    starOff:  WEBROOT+'../assets/images/extras/estrella_vacia_recomendacion.png',
					    starOn:   WEBROOT+'../assets/images/extras/estrella_llena_recomendacion.png',
					    starHalf:   WEBROOT+'../assets/images/extras/estrella_media_recomendacion.png',
					    half: true,
					    start: estrellas,
					    readOnly: true,
					    space: false
					});
				});

				$('.resultado-busqueda-precio-raty').each(function(){
					var precio = $(this).attr('data-precio');
					$(this).raty({
						width: 140,
				        starOff:  WEBROOT+'../assets/images/extras/precio_vacio.png',
				        starOn:   WEBROOT+'../assets/images/extras/precio_lleno.png',
					    half: true,
					    start: precio,
					    readOnly: true,
					    space: false
					});
				});
				 
				$('.filtro_precios_raty').each(function(){
					var precio = $(this).attr('data-precio');
					$(this).raty({
						width: 140,
				        starOff:  WEBROOT+'../assets/images/extras/precio_vacio.png',
				        starOn:   WEBROOT+'../assets/images/extras/precio_lleno.png',
					    half: true,
					    start: precio,
					    readOnly: true,
					    space: false
					});
					$(this).parent().prev('input').show().css('display', 'inline');
				});

				var precio = getTipo('dondeComer');
				var	qTipPrecio = '<div class="qtip_precio">';

				for(i=precio.length -1; i >= 0; i--){
					qTipPrecio += "<p><span class='signo_precio'>";

					for(j=precio.length;i<j;j--){qTipPrecio += "$"}

					qTipPrecio += "</span> = "+precio[i]+"</p>";	
				}
				qTipPrecio += "</div>";

				$('.explicacion_precio').qtip({
				   content: {
				      text: 'Corresponde al valor del consumo promedio aproximado por persona según las caracteristicas del lugar.<br/><br/>'+qTipPrecio
				   },
				   style: {
				      classes: 'ui-tooltip-precio',
				      tip: {
					   	border: 0,
					   	width: 12,
					   	color: '#f0f'
					   }
				   },
				   position: {
					my: 'top center', 
					at: 'bottom center'
				   }
				});

				$('.filtros_subcategorias .filtros_expandir').qtip({
					content: {
						text: $('.qtip_subcategorias')
					},
					style: {
						classes: 'ui-tooltip-filtros',
						tip: {
							border: 0,
							width: 12,
							color: '#f0f',
							corner: true,
							offset: 378
						},
					},
					position: {
						my: 'top center', 
						at: 'bottom left',
						adjust: {
							x: 50
						},
					},
					show: {
				      event: 'click',
				      solo: true
				    },
				    hide:{
				    	event: 'click'
				    }
				});

				$('.filtros_zonas .filtros_expandir').qtip({
					content: {
						text: $('.qtip_zonas')
					},
					style: {
						classes: 'ui-tooltip-filtros',
						tip: {
							border: 0,
							width: 12,
							color: '#f0f',
							corner: true,
							offset: 19
						},
					},
					position: {
						my: 'top center', 
						at: 'bottom left',
						adjust: {
							x: 50
						},
					},
					show: {
				      event: 'click',
				      solo: true
				    },
				    hide:{
				    	event: 'click'
				    }
				});

				$('.filtros_categorias .filtros_expandir').qtip({
					content: {
						text: $('.qtip_categorias')
					},
					style: {
						classes: 'ui-tooltip-filtros',
						tip: {
							border: 0,
							width: 12,
							color: '#f0f',
							corner: true,
							offset: 709
						},
					},
					position: {
						my: 'top center', 
						at: 'bottom left',
						adjust: {
							x: 50
						},
					},
					show: {
				      event: 'click',
				      solo: true
				    },
				    hide:{
				    	event: 'click'
				    }
				});

				$('.filtros_caracteristicas .filtros_expandir').qtip({
					content: {
						text: $('.qtip_caracteristicas')
					},
					style: {
						classes: 'ui-tooltip-filtros',
						tip: {
							border: 0,
							width: 12,
							color: '#f0f',
							corner: true,
							offset: 704
						},
					},
					position: {
						my: 'top center', 
						at: 'bottom left',
						adjust: {
							x: 50
						},
					},
					show: {
				      event: 'click',
				      solo: true
				    },
				    hide:{
				    	event: 'click'
				    }
				});
			}

			rebindEvents();

			$('[name=precio]').live('change', function(){
				$this = $(this);
				if($this.is(':checked')){
					$this.next('a').click();
				}else{
					$('.reset_precio').click();
				}
			});
			
			$('.resultados-wrapper a').click(function(e){e.preventDefault();}).pjax({
				url: $(this).attr('href'),
				container: '.resultados',
				fragment: '.resultados',
				timeout: 20000,
				beforeSend: function(){
					$('.filtros_expandir').qtip('toggle', false)
					$('.resultados-wrapper').hide().html('').append("<div id='overlay'/>").fadeIn(300);
			 		$('.resultados-wrapper').append("<img class='loader' src='"+WEBROOT+"../assets/images/extras/loader.gif'>");
				},
				success: function(data){
					$('#overlay, .loader').fadeOut(0, function(){
						$(this).remove(); 
					});
					$('.resultados-wrapper').hide().append(data).fadeIn(300, function(){
						rebindEvents();
					});
				}
			});

			$('.close_qtip').live('click',function(){
				var rel = $(this).parent().attr('rel');
				$('.'+rel+' .filtros_expandir').qtip('toggle', false);
			});


		});
	</script>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
<style>
	.filtros-busqueda li{
		display: inline;
	}

	.expandir_zonas{
		display: inline-block;
		font-size: 12px;
		background: #fafafa;
		border: 1px #eee solid;
		padding: 10px;
		position: relative;
		overflow: hidden;
		width: 145px;
		height: 7px;
	}

		.expandir_zonas span{
			display: inline-block;
			cursor: pointer;
		}

	.expandir_resultados{
		display: inline-block;
		font-size: 12px;
		background: #fafafa;
		border: 1px #eee solid;
		padding: 10px;
		position: relative;
		width: 940px;
		height: 100px;
		overflow: hidden;
	}
		.expandir_resultados span{
			display: inline-block;
			cursor: pointer;
		}

		.expandir_resultados .ver_categorias{
			float: right;
		}

		.expandir_resultados ul, .expandir_zonas ul{
			width: 940px;
		}

			.expandir_resultados ul li, .expandir_zonas ul li{
				display: inline-block;
				width: 232px;
				margin: 10px 0;
				font-size: 12px !important;
			}
</style>

    <!-- Mensajes de éxito -->
    {% if app.session.hasFlash('buscar_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('buscar_flash') | raw }}</p>
            </div>
    {% endif %}

	<div class="qtip_zonas" rel="filtros_zonas">
		<span class="close_qtip"></span>
		{% if results.totalPorSectores[0] is defined%}
			<p>Sectores</p>
			<ul>
				{% for sector in results.totalPorSectores %}
					<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria, 'sector': sector.slug, 'resultados': resultados}) }}">{{sector.nombre}} ({{ sector.total }})</a></li>							
				{% endfor %}
			</ul>
		{% endif %}

		{% if results.totalPorComunas[0] is defined%}
			<br/><br/>
			<p>Comunas</p>
			<ul>
				{% for comuna in results.totalPorComunas %}
					<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria, 'comuna': comuna.slug, 'resultados': resultados}) }}">{{comuna.nombre}} ({{ comuna.total }})</a></li>							
				{% endfor %}
			</ul>
		{% endif %}
	</div>

    {% if results.totalPorSubcategoria[0] is defined %}
	<div class="qtip_subcategorias" rel="filtros_subcategorias">
		<span class="close_qtip"></span>
		<ul>
			{% for subcategoria in results.totalPorSubcategoria %}
				<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria.slug, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{subcategoria.nombre}} ({{ subcategoria.total }})</a></li>							
			{% endfor %}
		</ul>
	</div>

	<div class="qtip_caracteristicas" rel="filtros_caracteristicas">
		<span class="close_qtip"></span>
		<ul>
		{% for caracteristica in results.totalPorCaracteristica %}
			<li><input type="checkbox" value="{{caracteristica.slug}}" name="caracteristica"/><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{caracteristica.nombre}} ({{ caracteristica.total }})</a></li>
		{% endfor %}
		</ul>
		<a class="link_filtrar_caracteristicas"  href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">Filtrar</a>
	</div>
	{% endif %}

	{% if results.totalPorCategoria[0] is defined %}
		<div class="qtip_categorias" rel="filtros_categorias">
			<span class="close_qtip"></span>
			<ul>
			{% for categoria in results.totalPorCategoria %}
				<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria.slug, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="resultados-wrapper">
		<div class="resultados">
				<h1 class="titulo">
				Resultados de Busqueda en {{slug}}			
				<small>
	                 {{slug}}
	                 {% if sector != null %}
	                 	> {{sector}}
	                 {% elseif comuna != null %}
	                 	> {{comuna}}
	                 {% endif %}
	                 {% if subcategoria != null and subcategoria != 'none' %}
	                 	> {{subcategoria}}
	                 {% endif %}
				</small>
			</h1>
				<div class="filtros_zonas">
					<div class="filtros_header">
						<span class="filtros_titulo">Zonas</span>
						{% if (results.totalPorSectores[0] is defined) %}
							<span class="filtros_expandir">Ver Todas</span>
						{% endif %}					</div>
					<div class="resultados_filtros">
						{% if (results.totalPorSectores is defined) %}
						<ul>
							{% for sector in results.totalPorSectores %}
								{% if loop.index <= 5 %}
								<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria, 'sector': sector.slug, 'resultados': resultados}) }}">{{sector.nombre}} ({{ sector.total }})</a></li>	
								{% endif %}							
							{% endfor %}
							{% if results.totalPorSectores is defined and results.totalPorSectores|length < 5%}
								{% for comuna in results.totalPorComunas %}
									{% if loop.index <= (5 - results.totalPorComunas|length) %}
									<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria, 'comuna': comuna.slug, 'resultados': resultados}) }}">{{comuna.nombre}} ({{ comuna.total }})</a></li>	
									{% endif %}							
								{% endfor %}							
							{% endif %}
						</ul>
						{% else %}
							No resultados
						{% endif %}
					</div>
				</div>

				{% if results.totalPorCategoria[0] is not defined %}
				<div class="filtros_subcategorias">
					<div class="filtros_header">
						<span class="filtros_titulo">Subcategorias</span>
						{% if results.totalPorSubcategoria[0] is defined %}
							<span class="filtros_expandir">Ver Todas</span>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						{% if results.totalPorSubcategoria[0] is defined %}
						<ul>
							{% for subcategoria in results.totalPorSubcategoria %}
								{% if loop.index <= 10 %}
								<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria.slug, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{subcategoria.nombre}} ({{ subcategoria.total }})</a></li>	
								{% endif %}							
							{% endfor %}
						</ul>
						{% else %}
							No resultados
						{% endif %}
					</div>
				</div>

				<div class="filtros_precios">
					<div class="filtros_header">
						<span class="filtros_titulo">Precios</span>
						<span class="explicacion_precio">?</span>
					</div>
					<div class="resultados_filtros">
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 5 %} checked="checked" {% endif %} name="precio" value="{{ path('_buscar', query|merge({'slug': slug, 'precio': 5})) }}" />
							<a href="{{ path('_buscar', query|merge({'slug': slug, 'precio': 5})) }}">
								<div class="filtro_precios_raty" data-precio="5"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 4 %} checked="checked" {% endif %} name="precio" value="{{ path('_buscar', query|merge({'slug': slug, 'precio': 4})) }}" />
							<a href="{{ path('_buscar', query|merge({'slug': slug, 'precio': 4})) }}">
								<div class="filtro_precios_raty" data-precio="4"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 3 %} checked="checked" {% endif %} name="precio" value="{{ path('_buscar', query|merge({'slug': slug, 'precio': 3})) }}" />
							<a href="{{ path('_buscar', query|merge({'slug': slug, 'precio': 3})) }}">
								<div class="filtro_precios_raty" data-precio="3"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 2 %} checked="checked" {% endif %} name="precio" value="{{ path('_buscar', query|merge({'slug': slug, 'precio': 2})) }}" />
							<a href="{{ path('_buscar', query|merge({'slug': slug, 'precio': 2})) }}">
								<div class="filtro_precios_raty" data-precio="2"></div>
							</a>
						</div>
						<div class="precio_container">
							<input type="checkbox" {% if query.precio is defined and query.precio == 1 %} checked="checked" {% endif %} name="precio" value="{{ path('_buscar', query|merge({'slug': slug, 'precio': 1})) }}" />
							<a href="{{ path('_buscar', query|merge({'slug': slug, 'precio': 1})) }}">
								<div class="filtro_precios_raty" data-precio="1"></div>
							</a>
						</div>
						<div class="precio_container">
							<a class="reset_precio" href="{{ path('_buscar', query|merge({'slug': slug, 'precio': null})) }}">
							</a>
						</div>
					</div>
				</div>

				<div class="filtros_caracteristicas">
					<div class="filtros_header">
						<span class="filtros_titulo">Caracteristicas</span>
						{% if results.totalPorCaracteristica[0] is defined %}
							<span class="filtros_expandir">Ver Todas</span>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						<ul>
							{% for caracteristica in results.totalPorCaracteristica %}
								{% if loop.index <= 5 %}
								<li><a class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria, 'subcategoria': subcategoria, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{caracteristica.nombre}} ({{ caracteristica.total }})</a></li>	
								{% endif %}							
							{% endfor %}	
						</ul>					
					</div>
				</div>
			{% endif %}

			{% if results.totalPorCategoria[0] is defined %}
				<div class="filtros_categorias">
					<div class="filtros_header">
						<span class="filtros_titulo">Categorias</span>
						{% if results.totalPorCategoria[0] is defined %} 
						<span class="filtros_expandir">Ver Todas</span>
						{% endif %}
					</div>
					<div class="resultados_filtros">
						<ul>
							{% for categoria in results.totalPorCategoria %}
								{% if loop.index <= 20 %}
								<li><a rel="categoria" class="link_azul" href="{{ path('_buscar', {'slug': slug, 'q': term, 'o': override, 'categoria': categoria.slug, 'sector': sector, 'comuna': comuna, 'resultados': resultados}) }}">{{categoria.nombre}} ({{ categoria.total }})</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% endif %}

	        <div class="paginacion_recomendacion">
	            <p><strong>{{ paginacion.mostrandoDe }}</strong> al <strong>{{ paginacion.mostrandoHasta }}</strong> de <strong>{{total}}</strong>
	            {% if paginacion.totalPaginas != 1 %}
	                 | Ir a la página
	                <ul>
	                    {{ paginacion.paginacion | raw }}
	                </ul>
	            {% endif %}
	        </div>


			{% if lugares|length == 0 %}
				No hay resultados, :()
			{% else %}
				<br/>
				Length:	{{total}}


			    <ul class="filtros-busqueda">
			        <li>
			            <strong>{{'general.terminos.ordenar_por'|trans}}: </strong>
			        </li>
			        <li>
			            {% if query.orden is not defined or query.orden == 'relevantes' %}
			                <strong>{{'general.terminos.mas_relevantes'|transchoice(2)}}</strong>
			            {% else %}
			                <a class="link_azul" href="{{ path("_buscar", {'slug': slug,'q': term, 'orden': 'relevantes' }) }}">{{'general.terminos.mas_relevantes'|transchoice(2)}}</a>
			            {% endif %}	
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'recomendaciones' %}
			                <strong>{{'general.terminos.mejor_recomendaciones'|transchoice(2)}}</strong>
			            {% else %}
			                <a class="link_azul" href="{{ path("_buscar", {'slug': slug,'q': term, 'o': override, 'orden': 'recomendaciones' }) }}">{{'general.terminos.mejor_recomendaciones'|transchoice(2)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'utiles' %}
			                <strong>{{'general.terminos.mas_utiles'|transchoice(2)}}</strong>
			            {% else %}
			                <a class="link_azul" href="{{ path("_buscar", {'slug': slug,'q': term, 'o': override, 'orden': 'utiles' }) }}">{{'general.terminos.mas_utiles'|transchoice(2)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'ultima-recomendacion' %}
			                <strong>{{'general.terminos.ultima_recomendacion'|trans}}</strong>
			            {% else %}
			                <a class="link_azul" href="{{ path("_buscar", {'slug': slug,'q': term, 'o': override, 'orden': 'ultima-recomendacion' }) }}">{{'general.terminos.ultima_recomendacion'|transchoice(1)}}</a>
			            {% endif %}
			        </li>
			        <li>|</li>
			        <li>
			            {% if query.orden is defined and query.orden == 'alfabetico' %}
			                <strong>{{'general.terminos.alfabetico'|trans}}</strong>
			            {% else %}
			                <a class="link_azul" href="{{ path("_buscar", {'slug': slug, 'q': term, 'o': override,  'orden': 'alfabetico' }) }}">{{'general.terminos.alfabetico'|trans}}</a>
			            {% endif %}
			        </li>
			    </ul>

			    <div class="resultados_por_pagina">
			        <select class="seleccionar_resultados_por_pagina">
			            <option value="30">30</option>
			            <option value="45">45</option>
			            <option value="60">60</option>
			        </select>
			        <p class="resultados_por_pagina_txt">{{'general.terminos.resultados'|trans}}</p>
			    </div>
		  <br/><br/><br/><br/><br/><br/>
		  {% endif %}
			{% for lugar in lugares %}
				<div class="resultado-busqueda">
					<div class="datos-principales">
						<ul>
							<li>
								<div class="indice-resultado">{{loop.index}}</div>
								<img src="{{ ('assets/images/lugares/'~lugar.imagen_lugar) | apply_filter('small_lugar')}}" />
								<a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre_lugar}}</a>
							</li>
							{% if lugar.categorias_nombre != '' %}
							<li>
								<span><strong>{{'general.terminos.categorias'|transchoice(lugar.categorias_nombre)}}</strong></span>
								{% for categoria in lugar.categorias_nombre %}
									{{categoria|raw}}{% if loop.last == null %}, {% endif %}
								{% endfor %}
							</li>
							{% endif %}
							{% if lugar.sector_nombre != '' %}
							<li>
								<span><strong>{{'general.terminos.sector'|trans}}</strong></span>
								<a href="{{lugar.sector_slug}}">{{lugar.sector_nombre}}</a>
							</li>
							{% endif %}
							{% if lugar.ultima_recomendacion != '' %}
							<li>
								<span><strong>
								    <img src="{{ ('assets/images/usuarios/'~lugar.usuario_imagen) | apply_filter('tiny_usuario')}}" />
									{{lugar.fecha_ultima_recomendacion|date('y/m/d') }}
									{% if lugar.usuario_nombre != '' %}
										<a href="{{ path('showUsuario', {'param': lugar.usuario_slug}) }}">{{lugar.usuario_nombre}} {{lugar.usuario_apellido}}</a>
									{% else %}
										<a href="{{ path('showUsuario', {'param': lugar.usuario_slug}) }}">{{lugar.usuario_slug}}</a>
									{% endif %}
								</strong></span>
								<p>{{lugar.ultima_recomendacion}}...</p>
							</li>
							{% endif %}
						</ul>
					</div>
					<div class="datos-secundarios">
						<ul>
							<li><div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div></li>
							<li>{{lugar.total_recomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.total_recomendaciones)}}</li>
							{% if lugar.precio != null %}
								<li><div data-precio="{{lugar.precio}}" class="resultado-busqueda-precio-raty"></div></li>
							{% endif %}
							<li>{{lugar.calle}} {{lugar.numero}} - <a href="{{lugar.comuna_slug}}">{{lugar.comuna_nombre}}</a></li>
							<li>Ranking: {{lugar.ranking}}</li>
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
		<div id="agrega-lugar"><p>¿No encontraste el Lugar que buscabas?
¡Entonces agrégalo y sé el primero en recomendarlo!</p><a href="{{ path('_agregar') }}">Boton</a></div>
	</div>
{% endblock %}