<script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
<script>$(document).ready(function(){$('[name=filtro]').chosen();});</script>
<div class="caja_actividad_usuario">
	<h2 class="titulo_accion_usuario_actividad">
		{{(usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto) ? 'usuario.actividad.titulo'|transchoice(1) : 'usuario.actividad.titulo'|transchoice(0)~" "~usuario.nombre~" "~usuario.apellido}}
	</h2>
	
	{% include 'LoogaresUsuarioBundle:Usuarios:actividad_usuario_full.html.twig' %}

	{% if actividad_total is defined and actividad_total == false %}
 		{% if usuario.recientemente[0] is defined %}
 			<h3 class="titulo_accion_usuario_actividad_lugares">Lugares visitados recientemente</h3>
 			<ul class="listado_lugares_guardados_home">
	 			{% for reciente in usuario.recientemente %}
					<li class="lugar_guardado_home">
						<div class="imagen_lugar_guardado_usuario">
							<a href="{{path('_lugar', {'slug' : reciente.lugar.slug})}}">
								{% if reciente.lugar.imagenesActivasLugar[0].imagenFull is not defined %}
									<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% else %}
									<img src="{{ ('assets/images/lugares/'~reciente.lugar.imagenesActivasLugar[reciente.lugar.imagenesActivasLugar|length-1].imagenFull) | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% endif %}
							</a>
						</div>
						<div class="textos_lugar_guardado_usuario">							
							<strong><a class="nombre_lugar_guardado_home" href="{{path('_lugar', {'slug' : reciente.lugar.slug})}}">{{reciente.lugar.nombre}}</a></strong>
							<p class="estrellas_lugar" data-stars="{{reciente.lugar.estrellas}}"></p>
							<span class="direccion_lugar_guardado_home">{{reciente.lugar.calle}} {{reciente.lugar.numero}}, {{reciente.lugar.comuna.nombre}}</span>
							<p class="categorias_lugar_guardado_home"><strong>{{'usuario.recomendaciones.recomendacion.categorias'|trans}}</strong>
								{% for categoriaLugar in reciente.lugar.categoriaLugar %}
									<a href="#">{{categoriaLugar.categoria.nombre}}</a>
									{{-((loop.index == reciente.lugar.categoriaLugar|length) ? '' : ', ')}}
								{% endfor %}
							</p>
						</div>
					</li>
	 			{% endfor %}
 			</ul>
 		{% endif %}
  		{% if usuario.porVisitar[0] is defined %}
 			<h4 class="titulo_accion_usuario_actividad_lugares">Lugares para visitar</h4>
 			<ul class="listado_lugares_guardados_home">
	 			{% for visitar in usuario.porVisitar %}
					<li class="lugar_guardado_home">							
						<div class="imagen_lugar_guardado_usuario">
							<a href="{{path('_lugar', {'slug' : visitar.lugar.slug})}}">
								{% if visitar.lugar.imagenesActivasLugar[0].imagenFull is not defined %}
									<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% else %}
									<img src="{{ ('assets/images/lugares/'~visitar.lugar.imagenesActivasLugar[visitar.lugar.imagenesActivasLugar|length-1].imagenFull) | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% endif %}
							</a>
						</div>
						<div class="textos_lugar_guardado_usuario">
							<strong><a class="nombre_lugar_guardado_home" href="{{path('_lugar', {'slug' : visitar.lugar.slug})}}">{{visitar.lugar.nombre}}</a></strong>
							<p class="estrellas_lugar" data-stars="{{visitar.lugar.estrellas}}"></p>
							<span class="direccion_lugar_guardado_home">{{visitar.lugar.calle}} {{visitar.lugar.numero}}, {{visitar.lugar.comuna.nombre}}</span>
							<p class="categorias_lugar_guardado_home"><strong>{{'usuario.recomendaciones.recomendacion.categorias'|trans}}</strong>
								{% for categoriaLugar in visitar.lugar.categoriaLugar %}
									<a href="#">{{categoriaLugar.categoria.nombre}}</a>
									{{-((loop.index == visitar.lugar.categoriaLugar|length) ? '' : ', ')}}
								{% endfor %}
							</p>
						</div>
					</li>
	 			{% endfor %}
 			</ul>
 		{% endif %}
  		{% if usuario.favoritos[0] is defined %}
 			<h5 class="titulo_accion_usuario_actividad_lugares">Lugares favoritos</h5>
 			<ul class="listado_lugares_guardados_home">
	 			{% for favorito in usuario.favoritos %}
					<li class="lugar_guardado_home">							
						<div class="imagen_lugar_guardado_usuario">
							<a href="{{path('_lugar', {'slug' : favorito.lugar.slug})}}">
								{% if favorito.lugar.imagenesActivasLugar[0].imagenFull is not defined %}
									<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% else %}
									<img src="{{ ('assets/images/lugares/'~favorito.lugar.imagenesActivasLugar[favorito.lugar.imagenesActivasLugar|length-1].imagenFull) | apply_filter('small_lugar') }}"  width="50" height="50" />
								{% endif %}
							</a>
						</div>
						<div class="textos_lugar_guardado_usuario">							
							<strong><a class="nombre_lugar_guardado_home" href="{{path('_lugar', {'slug' : favorito.lugar.slug})}}">{{favorito.lugar.nombre}}</a></strong>
							<p class="estrellas_lugar" data-stars="{{favorito.lugar.estrellas}}"></p>
							<span class="direccion_lugar_guardado_home">{{favorito.lugar.calle}} {{favorito.lugar.numero}}, {{favorito.lugar.comuna.nombre}}</span>
							<p class="categorias_lugar_guardado_home"><strong>{{'usuario.recomendaciones.recomendacion.categorias'|trans}}</strong>
								{% for categoriaLugar in favorito.lugar.categoriaLugar %}
									<a href="#">{{categoriaLugar.categoria.nombre}}</a>
									{{-((loop.index == favorito.lugar.categoriaLugar|length) ? '' : ', ')}}
								{% endfor %}
							</p>
						</div>
					</li>
	 			{% endfor %}
	 		</ul>
 		{% endif %}
	{% endif %}
</div>

<script>
	$(function(){
		$('.estrellas_lugar').each(function(i){
			var estrellas = $(this).attr('data-stars');
			estrellasLugares(estrellas, $(this));
		});
	});	
</script>