<style>
	.datos_obligatorios{
		height:300px;
		width:500px;
		padding:10px;
		overflow: hidden;
	}

	.datos_obligatorios_lista{
		width: 1100px;
		height: 200px;
		display: block;
		padding: 0;
		margin: 0;
	}

		.datos_obligatorios_lista > li{
			float: left;
			background: #303;
			display: block;
			height: 300px;
			width: 500px;
			margin-right: 40px;
		}

	.container_ciudad, .container_comuna{
		display: none;
	}

	small.error{

	}
</style>
<div class="datos_obligatorios">
	<h2>{{'validacion_usuario.titulo'|trans}}</h2>
	<p>{{'validacion_usuario.texto'|trans}}</p>

	<form name="forzar_datos_form" action="{{path('forzarDatosUsuario', {'id' : app.security.token.user.id})}}" method="post">
		<ul class="datos_obligatorios_lista">		
			{% if 
		    	is_granted('ROLE_USER') and 
		    	(app.security.token.user.nombre is empty or 
		    	 app.security.token.user.apellido is empty)
		   	%}
		   	<li>
				<ul>
					<li>
						<label for="nombre" style="width:100px;font-size:11px">{{'validacion_usuario.nombre'|trans}}</label>
						<input type="text" class="nombre" name="nombre" style="width: 200px" {% if errors.nombre is defined%}class="input-error"{% endif %} value="{{app.security.token.user.nombre}}"/>
					</li>
					<li>
						<label for="apellido" style="width: 100px;font-size:11px">{{'validacion_usuario.apellido'|trans}}</label>
						<input type="text" class="apellido" name="apellido" style="width: 200px" {% if errors.apellido is defined%}class="input-error"{% endif %} value="{{app.security.token.user.apellido}}"/>
					</li>
					<li>
						<label></label>
						{% if
							is_granted('ROLE_USER') and 
					    	app.security.token.user.pais is empty
						%}
							<button class="siguiente_paso">Siguiente</button>
						{% else %}
							<input type="submit" value="Enviar">
						{% endif %}
					</li>
				</ul>
			</li>
			{% endif %}
			
		    {% if 
		    	is_granted('ROLE_USER') and 
		    	app.security.token.user.pais is empty
		   	%}
		   	<li>
			   	<script>
			   		$(document).ready(function(){
			   		    var optGroupCiudades = [],
					        optGroupComunas = [],
					        selected = {};


						$('.siguiente_paso').click(function(e){
							e.preventDefault();
							$('.datos_obligatorios_lista').animate({
								marginLeft: -540
							});
						});

						$('.anterior_paso').click(function(e){
							e.preventDefault();
							$('.datos_obligatorios_lista').animate({
								marginLeft: 0
							});
						});

					    $('.ciudad optgroup').each(function(i){
					        optGroupCiudades[i] = $(this).outerHTML();
					        $(this).remove();
					    });

					    $('.comuna optgroup').each(function(i){
					        optGroupComunas[i] = $(this).outerHTML();
					        $(this).remove();
					    });

					    $('.ciudad').change(function(){
				        	actualizarComunas();
					    });

				        $('.pais').change(function(){
				        	actualizarCiudades();
				    	});

				    	$('.comuna, .ciudad, select.pais').chosen();

						$('[name="forzar_datos_form"]').on('submit', function(e){
							e.preventDefault();

							var errorNombre = 0, errorComuna = 0;

							$('.errors').remove();
							if($('.nombre').length > 0){
								if($('.nombre').val() == ''){
									$('.nombre').parent().append('<small class="errors">error</small>');
									errorNombre = 1;
								}

								if($('.apellido').val() == ''){
									$('.apellido').parent().append('<small class="errors">error</small>');
									errorNombre = 1;
								}
							}

							if($('select.pais').length > 0){
					    		if($('select.pais').val() == 'elige'){
					    			$('select.pais').parent().append('<small class="errors">error</small>');
					    			errorComuna = 1;
					    		}

					    		if($('.ciudad').val() == 'elige' && $('.container_ciudad').is(':visible')){
					    			$('.ciudad').parent().append('<small class="errors">error</small>');
					    			errorComuna = 1;
					    		}

					    		if($('.comuna').val() == 'elige'  && $('.container_comuna').is(':visible')){
					    			$('.comuna').parent().append('<small class="errors">error</small>');
					    			errorComuna = 1;
					    		}
				    		}

				    		if(errorNombre){
				    			$('.datos_obligatorios_lista').animate({
									marginLeft: 0
								});
				    		}else if(errorComuna){
				    			$('.datos_obligatorios_lista').animate({
									marginLeft: $('.datos_obligatorios_lista li').width()+40-540
								});
				    		}

				    		if(errorNombre == 0 && errorComuna == 0){
				    			console.log('s')
				    			$.ajax({
				    				type: 'POST',
				    				data: $('[name="forzar_datos_form"]').serialize(),
				    				url: WEBROOT+"usuario/forzar_datos",
				    				success: function(data){
				    					console.log(data)
				    				}
				    			});
				    		}
						});

				    	function actualizarComunas(){
					        var ciudadSeleccionada = $('.ciudad option:selected').text(),
					        	found = 0;

					        $.each(optGroupComunas, function(i){
					            if(optGroupComunas[i].match(ciudadSeleccionada)){
					                $('.comuna > optgroup').remove('optgroup');
					                $('.comuna').append(optGroupComunas[i]);
					                $(".comuna").trigger("liszt:updated");
					                $('.container_comuna').fadeIn();
					                found = 1;
					            }
					        });

					   		if(found == 0){
					        	$('.comuna optgroup').remove('optgroup');
					        	$(".comuna").trigger("liszt:updated");
					        	$('.container_comuna').fadeOut();
					        }
					    }

					    function actualizarCiudades(){
					        var paisSeleccionado = $('.pais option:selected').text(),
					        	found = 0;

					        $.each(optGroupCiudades, function(i){
					            if(optGroupCiudades[i].match(paisSeleccionado)){
					                $('.ciudad optgroup').remove('optgroup');
					                $('.ciudad').append(optGroupCiudades[i]);
					                $(".ciudad").trigger("liszt:updated");
					                $('.container_ciudad').fadeIn();
					                found = 1;
					            }
					        });

					        if(found == 0){
					        	$('.ciudad optgroup').remove('optgroup');
					        	$(".ciudad").trigger("liszt:updated");
					        	$('.container_ciudad').fadeOut();
					        }

					        actualizarComunas();
					    }
				    });


			   	</script>
			   	<ul>
			   		<li class="container_pais">
				   		<select class="pais" name="pais">
				   			<option value='elige'>{{'lugar.agregar.pais.title'|trans}}</option>
				            {% for pais in paises %}
				                <option value="{{pais.slug}}">{{pais.nombre}}</option>
				            {% endfor %}
				   		</select>
			   		</li>

			   		<li class="container_ciudad">
				   		<select class='ciudad' name='ciudad' id='ciudad'>
				   			<option value='elige'>{{'lugar.agregar.ciudad.title'|trans}}</option>
				            {% for pais in paises %}
				            	{% if pais.mostrarLugar == 3 %}
				                <optgroup label="{{pais.nombre}}">
				                    {% for ciudad in ciudades %}
				                        {% if ciudad.pais.id == pais.id %}
				                        <option value="{{ciudad.slug}}">{{ciudad.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>

		            <li class="container_comuna">
						<select class='comuna' name='comuna' id='comuna'>
				            <option value='elige'>{{'lugar.agregar.comuna.title'|trans}}</option>
				            {% for ciudad in ciudades %}
				            	{% if ciudad.mostrarLugar == 3  or ciudad.mostrarLugar == 1 %}
				                <optgroup label="{{ciudad.nombre}}">
				                    {% for comuna in comunas %}
				                        {% if ciudad.id == comuna.ciudad.id %}
				                        	<option value="{{comuna.slug}}">{{comuna.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>
			    </ul>
	            	{% if
				    	is_granted('ROLE_USER') and 
				    	(app.security.token.user.nombre is empty or 
				    	 app.security.token.user.apellido is empty)
					%}
						<button class="anterior_paso">Anterior</button>
					{% endif %}
				<input type="submit" value="Enviar">
			</li>
		   	{% endif %}
		</ul>
	</form>
	
</div>