<div id="data-usuario">
	<div id="imagen-usuario">
		<a href="{{ asset('assets/images/usuarios/'~usuario.getImagenFull()) }}"><img src="{{ asset('assets/images/usuarios/'~usuario.getImagenFull()) }}"></img></a>
	</div>
	<h3 id="titulo-usuario">{{usuario.nombre}} {{usuario.apellido}}</h3>

	<ul>
		<li>{{usuario.nombre}} {{usuario.apellido}}</li>
		{% if usuario.sexoResult != '' or usuario.edadResult != '0' %}
			<li>
				{% if usuario.sexoResult != '' %}
					{{usuario.sexoResult}}{% endif %}{% if usuario.edadResult != '0'%}, {{usuario.edadResult}} años
				{% endif %}
			</li>				
		{% endif %}
	</ul>

	<ul class="bold">
		<li>{{usuario.totalRecomendaciones}} recomendaciones</li>
		<li>{{usuario.totalPrimerasRecomendaciones}} primeras recomendaciones</li>
		<li>{{usuario.totalLugaresAgregados}} lugares agregados</li>
		<li>{{usuario.totalImagenesLugar}} fotos agregadas</li>
	</ul>

	<p class="bold">En Loogares.com desde: <br /> {{usuario.desdeResult}}</p>
	{% if usuario.links|length > 0 %}
		<ul class="bold">
		{% for link in usuario.links %}
			<li><a href="{{link}}" target="blank">{{link}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}


	{% if usuario.slug != '' %}
	{% 	set slug = usuario.slug %}
	{% else %}
	{% 	set slug = usuario.id %}
	{% endif %}
	{% if usuario.tipo is defined and usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto %}
		<a href="{{path('editarUsuario', { 'param': slug })}}" class="editar-link">Edita los datos de tu perfil</a>
	{% endif %}
</div>