<script src="{{asset('assets/js/datosObligatorios.js')}}"></script>

<div class="datos_obligatorios">
	
	<div class="mensaje_obligatorio">
		<h1>{{'validacion_usuario.titulo'|trans}}</h1>
		<p>{{'validacion_usuario.texto'|trans}}</p>
	</div>

	<form name="forzar_datos_form" action="{{ path('forzarDatosUsuario') }}" method="post">
		<ul class="datos_obligatorios_lista">		
			{% if 
		    	is_granted('ROLE_USER') and 
		    	(app.security.token.user.nombre is empty or 
		    	 app.security.token.user.apellido is empty)
		   	%}
		   	<li>
				<ul>
					<li>
						<label for="nombre">{{'validacion_usuario.nombre'|trans}}</label>
						<input type="text" class="nombre" name="nombre" {% if errors.nombre is defined%}class="input-error"{% endif %} value="{{app.security.token.user.nombre}}"/>
					</li>
					<li>
						<label for="apellido">{{'validacion_usuario.apellido'|trans}}</label>
						<input type="text" class="apellido" name="apellido" {% if errors.apellido is defined%}class="input-error"{% endif %} value="{{app.security.token.user.apellido}}"/>
					</li>
					<li>
						<label></label>
						{% if
							is_granted('ROLE_USER') and 
					    	app.security.token.user.pais is empty
						%}
							<button class="siguiente_paso"></button>
						{% else %}
							<input class="enviar_datos" type="submit" value="">
						{% endif %}
					</li>
				</ul>
			</li>
			{% endif %}
			
		    {% if 
		    	is_granted('ROLE_USER') and 
		    	app.security.token.user.pais is empty
		   	%}

		   	<li>
			   	<ul>
			   		<li class="container_pais">
						<label for="pais">{{'validacion_usuario.pais'|trans}}</label>
				   		<select class="pais" name="pais">
				   			<option value='elige'>{{'usuario.edicion.cuenta.pais_agregar'|trans}}</option>
				            {% for pais in paises %}
				                <option value="{{pais.slug}}">{{pais.nombre}}</option>
				            {% endfor %}
				   		</select>
			   		</li>

			   		<li class="container_ciudad">
						<label for="ciudad">{{'validacion_usuario.ciudad'|trans}}</label>
				   		<select class='ciudad' name='ciudad' id='ciudad'>
				   			<option value='elige'>{{'usuario.edicion.cuenta.ciudad_agregar'|trans}}</option>
				            {% for pais in paises %}
				            	{% if pais.mostrarLugar == 3 %}
				                <optgroup label="{{pais.nombre}}">
				                    {% for ciudad in ciudades %}
				                        {% if ciudad.pais.id == pais.id %}
				                        <option value="{{ciudad.slug}}">{{ciudad.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>

		            <li class="container_comuna">
						<label for="comuna">{{'validacion_usuario.comuna'|trans}}</label>
						<select class='comuna' name='comuna' id='comuna'>
				            <option value='elige'>{{'usuario.edicion.cuenta.comuna_agregar'|trans}}</option>
				            {% for ciudad in ciudades %}
				            	{% if ciudad.mostrarLugar == 3  or ciudad.mostrarLugar == 1 %}
				                <optgroup label="{{ciudad.nombre}}">
				                    {% for comuna in comunas %}
				                        {% if ciudad.id == comuna.ciudad.id %}
				                        	<option value="{{comuna.slug}}">{{comuna.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>
			    </ul>
	            	{% if
				    	is_granted('ROLE_USER') and 
				    	(app.security.token.user.nombre is empty or 
				    	 app.security.token.user.apellido is empty)
					%}
						<button class="anterior_paso"></button>
					{% endif %}
				<input class="enviar_datos" type="submit" value="">
			</li>
		   	{% endif %}
		</ul>
	</form>
	
</div>