<style>
	.datos_obligatorios{
		height:300px;
		width:500px;
		padding:10px;
		overflow: hidden;
	}

	.datos_obligatorios_lista{
		width: 1100px;
		height: 200px;
		display: block;
		padding: 0;
		margin: 0;
	}

		.datos_obligatorios_lista > li{
			float: left;
			background: #303;
			display: block;
			height: 300px;
			width: 500px;
			margin-right: 40px;
		}

	.container_ciudad, .container_comuna{
		display: none;
	}
</style>
<script src="{{asset('assets/js/datosObligatorios.js')}}"></script>
<div class="datos_obligatorios">
	<h2>{{'validacion_usuario.titulo'|trans}}</h2>
	<p>{{'validacion_usuario.texto'|trans}}</p>

	<form name="forzar_datos_form" action="{{ path('forzarDatosUsuario') }}" method="post">
		<ul class="datos_obligatorios_lista">		
			{% if 
		    	is_granted('ROLE_USER') and 
		    	(app.security.token.user.nombre is empty or 
		    	 app.security.token.user.apellido is empty)
		   	%}
		   	<li>
				<ul>
					<li>
						<label for="nombre" style="width:100px;font-size:11px">{{'validacion_usuario.nombre'|trans}}</label>
						<input type="text" class="nombre" name="nombre" style="width: 200px" {% if errors.nombre is defined%}class="input-error"{% endif %} value="{{app.security.token.user.nombre}}"/>
					</li>
					<li>
						<label for="apellido" style="width: 100px;font-size:11px">{{'validacion_usuario.apellido'|trans}}</label>
						<input type="text" class="apellido" name="apellido" style="width: 200px" {% if errors.apellido is defined%}class="input-error"{% endif %} value="{{app.security.token.user.apellido}}"/>
					</li>
					<li>
						<label></label>
						{% if
							is_granted('ROLE_USER') and 
					    	app.security.token.user.pais is empty
						%}
							<button class="siguiente_paso">Siguiente</button>
						{% else %}
							<input type="submit" value="Enviar">
						{% endif %}
					</li>
				</ul>
			</li>
			{% endif %}
			
		    {% if 
		    	is_granted('ROLE_USER') and 
		    	app.security.token.user.pais is empty
		   	%}
		   	<li>
			   	<ul>
			   		<li class="container_pais">
				   		<select class="pais" name="pais">
				   			<option value='elige'>{{'lugar.agregar.pais.title'|trans}}</option>
				            {% for pais in paises %}
				                <option value="{{pais.slug}}">{{pais.nombre}}</option>
				            {% endfor %}
				   		</select>
			   		</li>

			   		<li class="container_ciudad">
				   		<select class='ciudad' name='ciudad' id='ciudad'>
				   			<option value='elige'>{{'lugar.agregar.ciudad.title'|trans}}</option>
				            {% for pais in paises %}
				            	{% if pais.mostrarLugar == 3 %}
				                <optgroup label="{{pais.nombre}}">
				                    {% for ciudad in ciudades %}
				                        {% if ciudad.pais.id == pais.id %}
				                        <option value="{{ciudad.slug}}">{{ciudad.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>

		            <li class="container_comuna">
						<select class='comuna' name='comuna' id='comuna'>
				            <option value='elige'>{{'lugar.agregar.comuna.title'|trans}}</option>
				            {% for ciudad in ciudades %}
				            	{% if ciudad.mostrarLugar == 3  or ciudad.mostrarLugar == 1 %}
				                <optgroup label="{{ciudad.nombre}}">
				                    {% for comuna in comunas %}
				                        {% if ciudad.id == comuna.ciudad.id %}
				                        	<option value="{{comuna.slug}}">{{comuna.nombre}}</option>
				                        {% endif %}
				                    {% endfor %}
				                </optgroup>
				                {% endif %}
				            {% endfor %}
			            </select>
			        </li>
			    </ul>
	            	{% if
				    	is_granted('ROLE_USER') and 
				    	(app.security.token.user.nombre is empty or 
				    	 app.security.token.user.apellido is empty)
					%}
						<button class="anterior_paso">Anterior</button>
					{% endif %}
				<input type="submit" value="Enviar">
			</li>
		   	{% endif %}
		</ul>
	</form>
	
</div>