<div id="data-usuario">
	<div id="imagen-usuario">
		<a href="{{asset('assets/images/usuarios/'~usuario.imagenFull)}}">
			<img src="{{ ('assets/images/usuarios/'~usuario.imagenFull) | apply_filter('medium_usuario') }}" />
		</a>
	</div>
	<h3 id="titulo-usuario">{{usuario.nombre}} {{usuario.apellido}}</h3>

	<ul>
		<li>{{usuario.nombre}} {{usuario.apellido}}</li>
		<li>
			{{ usuario.edadSexo|join(', ') }}
			{% if usuario.textoEdad is not empty%}
				{% transchoice usuario.textoEdad%}usuario.datos.edad{% endtranschoice %}
			{% endif %}
	</ul>
	

	<ul class="bold">
		<li>{{usuario.totalRecomendaciones}} {% transchoice usuario.totalRecomendaciones%}usuario.datos.recomendaciones{% endtranschoice %}</li>
		<li>{{usuario.totalPrimerasRecomendaciones}} {% transchoice usuario.totalPrimerasRecomendaciones%}usuario.datos.primeras_recomendaciones{% endtranschoice %}</li>
		<li>{{usuario.totalLugaresAgregados}} {% transchoice usuario.totalLugaresAgregados%}usuario.datos.lugares_agregados{% endtranschoice %}</li>
		<li>{{usuario.totalImagenesLugar}} {% transchoice usuario.totalImagenesLugar%}usuario.datos.fotos_agregadas{% endtranschoice %}</li>
	</ul>

	<p class="bold">{% trans %}usuario.datos.desde{% endtrans %}<br /> {{usuario.fechaRegistro|date('d/m/Y')}}</p>
	{% if usuario.links|length > 0 %}
		<ul class="bold">
		{% for link in usuario.links %}
			<li><a href="http://{{link}}" target="blank">{{link}}</a></li>
		{% endfor %}
		</ul>
	{% endif %}


	{% 	set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}
	{% if usuario.tipo is defined and usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto %}
		<a href="{{path('editarUsuario', { 'param': slug })}}" class="editar-link">{% trans %}usuario.datos.editar{% endtrans %}</a>
	{% endif %}
</div>