{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-cuenta" class="edicion">
	{% if app.session.hasFlash('edicion-cuenta') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-cuenta') }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_error">
			{% for error in errors %}
			    <p>{{ error }}</p>
			{% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarCuentaUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">
			<ul class="editar-usuario">
				<li>
					{% set inputClass = (errors.nombre is defined) ? 'input-error' : ' '%}
					{{ form_label(form.nombre, 'Nombre *') }}
					{{ form_widget(form.nombre, { 'attr': {'class': inputClass}}) }}
					{% if errors.nombre is defined %}
						<small class="errors">{{errors.nombre}}</small>
					{% endif %}
				</li>
								
				<li>
					{% set inputClass = (errors.apellido is defined) ? 'input-error' : ' '%}
					{{ form_label(form.apellido, 'Apellido *') }}
					{{ form_widget(form.apellido, { 'attr': {'class': inputClass}}) }}
					{% if errors.apellido is defined %}
						<small class="errors">{{errors.apellido}}</small>
					{% endif %}
				</li>

				<li>
					{% set inputClass = (errors.mail is defined) ? 'input-error' : ' '%}
					{{ form_label(form.mail, 'E-mail *') }}
					{{ form_widget(form.mail, { 'attr': {'class': inputClass}}) }}
					{% if errors.mail is defined %}
						<small class="errors">{{errors.mail}}</small>
					{% endif %}
				</li>
				
				<li>
					{{ form_label(form.slug, 'Nombre de usuario') }}
					{{ form_widget(form.slug, { 'attr': {'data-placeholder': 'Ej. juanito@empresa.com'}}) }}
				</li> 
				
				<li>
					{{ form_label(form.fecha_nacimiento, 'Fecha de nacimiento', {'attr' :{'class' : 'label-up'}}) }}
					<div class="edicion-fecha-nacimiento">
					{{ form_widget(form.fecha_nacimiento.day, { 'attr': {'class': 'day'}}) }}
					{{ form_widget(form.fecha_nacimiento.month, { 'attr': {'class': 'month'}}) }}
					{{ form_widget(form.fecha_nacimiento.year, { 'attr': {'class': 'year'}}) }}					
					</div>
				</li>

				<li>					
					{{ form_label(form.mostrar_edad, null, {'attr' :{'class' : 'label-up'}})}}
					{{ form_widget(form.mostrar_edad)}}
				</li>
				
				<li>
					{{ form_label(form.sexo) }}
					{{ form_widget(form.sexo) }}
				</li> <br /> <br />
				
				<li>
					{{ form_label(form.web, 'Sitio web') }}
					{{ form_widget(form.web) }}
				</li>

				<li>
					{{ form_label(form.facebook) }}
					{{ form_widget(form.facebook) }}
				</li>

				<li>
					{{ form_label(form.twitter) }}
					{{ form_widget(form.twitter) }}
				</li>

				<li class="edicion-newsletter">
					{{ form_label(form.newsletter_activo, null, {'attr' :{'class' : 'label-up'}}) }}
					{{ form_widget(form.newsletter_activo) }}
				</li> 

			    {{ form_rest(form) }}

				<div class="submit">
					<label></label><input type="submit" value="Guardar" formnovalidate />
				</div>
			</ul>
	    </div>		    
	</form>
</div>

{% block javascripts %}
	<script type="text/javascript">
		// Esto es hasta que encuentre una forma de desplegar nombres en vez de números
		$('select.month option').each(function(){
			if($(this).val() == '1')
				$(this).html('Enero');
			else if($(this).val() == '2')
				$(this).html('Febrero');
			else if($(this).val() == '3')
				$(this).html('Marzo');
			else if($(this).val() == '4')
				$(this).html('Abril');
			else if($(this).val() == '5')
				$(this).html('Mayo');
			else if($(this).val() == '6')
				$(this).html('Junio');
			else if($(this).val() == '7')
				$(this).html('Julio');
			else if($(this).val() == '8')
				$(this).html('Agosto');
			else if($(this).val() == '9')
				$(this).html('Septiembre');
			else if($(this).val() == '10')
				$(this).html('Octubre');
			else if($(this).val() == '11')
				$(this).html('Noviembre');
			else if($(this).val() == '12')
				$(this).html('Diciembre');
		});
	</script>
{% endblock %}