{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-cuenta" class="edicion">
	{% if app.session.hasFlash('edicion-foto') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-foto') }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_error">
			{% for error in errors %}
		        <p>{{ error }}</p>
		    {% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarFotoUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">			
			<ul class="editar-usuario">
				<li>
					{{form_label(form.file, 'Subir foto')}}

					{% set inputClass = (errors.file is defined) ? 'input-error' : ' '%}
					{{form_widget(form.file, { 'attr': {'class': inputClass }})}}
					{% if errors.file is defined %}
						<small class="errors">{{errors.file}}</small>
					{% endif %}
				</li>

				{{form_rest(form)}}

				<li>
					<label></label><input type="submit" value="Guardar" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>
</div>