{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div class="caja_edicion_datos">
	{% if app.session.hasFlash('edicion-cuenta') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-cuenta') | trans }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_usuario_error">
			{% for error in errors %}
			    <p>{{ error |trans}}</p>
			{% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarCuentaUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">
			<ul class="editar-usuario">
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<label>{{'usuario.edicion.cuenta.tipo'|trans}}</label>
						<select class="tipo_usuario" name="tipo_usuario">
							{% for tipoUsuario in tipoUsuarios %}
								<option value="{{tipoUsuario.id}}">{{tipoUsuario.descripcion}}</option>
							{% endfor %}
						</select>
					</li>	
				{% endif %}
				<li>
					{% set inputClass = (errors.nombre is defined) ? 'input-error' : ' '%}
					{{ form_label(form.nombre, 'usuario.edicion.cuenta.nombre') }}
					{{ form_widget(form.nombre, { 'attr': {'class': inputClass}}) }}
					{% if errors.nombre is defined %}
						<small class="errors">{{errors.nombre | trans}}</small>
					{% endif %}
				</li>
				<li>
					{% set inputClass = (errors.apellido is defined) ? 'input-error' : ' '%}
					{{ form_label(form.apellido, 'usuario.edicion.cuenta.apellido') }}
					{{ form_widget(form.apellido, { 'attr': {'class': inputClass}}) }}
					{% if errors.apellido is defined %}
						<small class="errors">{{errors.apellido | trans}}</small>
					{% endif %}
				</li>

				<li>
					{% set inputClass = (errors.mail is defined) ? 'input-error' : ' '%}
					{{ form_label(form.mail, 'usuario.edicion.cuenta.mail') }}
					{{ form_widget(form.mail, { 'attr': {'class': inputClass}}) }}
					{% if errors.mail is defined %}
						<small class="errors">{{errors.mail | trans}}</small>
					{% endif %}
				</li>
				
				<li>
					{% set inputClass = (errors.slug is defined) ? 'input-error' : ' '%}
					{{ form_label(form.slug, 'usuario.edicion.cuenta.slug') }}
					<span class="txt_url_propia">{{ 'usuario.edicion.cuenta.url_propia' | trans }}</span> {{ form_widget(form.slug, { 'attr': {'class': inputClass~' url_propia'}})  }}
					{% if errors.slug is defined %}
						<small class="errors">{{errors.slug | trans}}</small>
					{% endif %}
				</li> 
				
				<li>
					{{ form_label(form.fecha_nacimiento, 'usuario.edicion.cuenta.nacimiento.label', {'attr' :{'class' : 'label-up'}}) }}
					<div class="edicion-fecha-nacimiento">
						{{ form_widget(form.fecha_nacimiento.day, { 'attr': {'class': 'day'}}) }}
						{{ form_widget(form.fecha_nacimiento.month, { 'attr': {'class': 'month'}}) }}
						{{ form_widget(form.fecha_nacimiento.year, { 'attr': {'class': 'year'}}) }}					
					</div>
				</li>

				<li>					
					{{ form_label(form.mostrar_edad, 'usuario.edicion.cuenta.mostrar_edad', {'attr' :{'class' : 'label-up'}})}}
					{{ form_widget(form.mostrar_edad)}}
				</li>
				
				<li>
					{{ form_label(form.sexo, 'usuario.edicion.cuenta.sexo.label') }}
					{{ form_widget(form.sexo) }}
				</li>
				
				<li>
					{{ form_label(form.web, 'usuario.edicion.cuenta.web') }}
					{{ form_widget(form.web) }}
				</li>

				<li>
					{{ form_label(form.facebook) }}
					{{ form_widget(form.facebook) }}
				</li>

				<li>
					{{ form_label(form.twitter) }}
					{{ form_widget(form.twitter) }}
				</li>

				<li id="edicion-newsletter">
					{{ form_label(form.newsletter_activo, null, {'attr' :{'class' : 'label-up'}}) }}
					{{ form_widget(form.newsletter_activo, { 'attr': {'class': 'newsletter_checkbox'}}) }}
				</li> 

			    {{ form_rest(form) }}

				<div class="submit">
					<input class="enviar_datos_prefil" type="submit" value="" formnovalidate />
				</div>
			</ul>
	    </div>		    
	</form>
</div>