{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-password" class="edicion">
	{% if app.session.hasFlash('edicion-password') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-password') | trans }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_error">
			{% for error in errors %}
		        <p>{{ error | trans }}</p>
		    {% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarPasswordUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">	
			<ul class="editar-usuario">
				<li>
					<label for="passwordActual">{{'usuario.edicion.password.actual'|trans}}</label>
					<input type="password" id="passwordActual" name="passwordActual" class="{{errors.actual is defined ? 'input-error' : ' '}}"/>
					{% if errors.actual is defined %}
						<small class="errors">{{errors.actual | trans }}</small>
					{% endif %}
				</li>		
				<li>
					{{form_label(form.password, 'usuario.edicion.password.nuevo')}}

					{% set inputClass = (errors.password is defined) ? 'input-error' : ' '%}
					{{form_widget(form.password, { 'attr': {'class': inputClass }})}}
					{% if errors.password is defined %}
						<small class="errors">{{errors.password | trans }}</small>
					{% endif %}
				</li>
				<li>
					<label for="confirmarPassword" >{{'usuario.edicion.password.confirmar'|trans}}</label>
					<input type="password" id="confirmarPassword" name="confirmarPassword" class="{{errors.confirmar is defined ? 'input-error' : ' '}}"/>
					{% if errors.confirmar is defined %}
						<small class="errors">{{errors.confirmar | trans }}</small>
					{% endif %}
				</li>

				{{form_rest(form)}}

				<li>
					<label></label><input type="submit" value="{{'usuario.edicion.password.submit' | trans }}" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>
</div>
