{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.edicion.titulo_pag'|trans}}, {{usuario.nombre}} {{usuario.apellido}} | {{parent()}}{% endblock %}
{% block content %}
	<div class="caja_usuario">
		
		{% include 'LoogaresUsuarioBundle:Usuarios:datos_usuario.html.twig' %}
	
		<div class="caja_contenidos_usuario">
			{% include 'LoogaresUsuarioBundle:Usuarios:menu_usuario.html.twig' %}

			<div class="contenidos_edicion_usuario">
				<h2 class="titulo_edicion_usuario">{{'usuario.edicion.titulo'|trans}}</h2>

				{% include 'LoogaresUsuarioBundle:Usuarios:editar_'~usuario.edicion~'_usuario.html.twig' %}
			</div>
		</div>
		
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/perfil.js')}}"></script>
{% endblock %}