{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.edicion.titulo_pag'|trans}}, {{usuario.nombre}} {{usuario.apellido}} | {{parent()}}{% endblock %}
{% block content %}
	<div class="caja_usuario">
		
		<!-- Mensajes de éxito -->
		{% if app.session.hasFlash('usuario_flash') %}
			    <div class="mensaje_exito">
			        <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('usuario_flash') | trans }}</p>
			    </div>
		{% endif %}

		<!-- Mensajes de error --> 
		{% if errors or (erroresLocalidad is defined and erroresLocalidad) %}
			<div class="mensaje_error">
				<div class="imagen_error"></div>
				<div class="txt_error">
					{% for error in erroresLocalidad %}
				        <p>{{ error | trans}}</p>
				    {% endfor %}
					{% for error in errors %}
				        <p>{{ error | trans}}</p>
				    {% endfor %}
			    </div>
			</div>
		{% endif %}	

		{% include 'LoogaresUsuarioBundle:Usuarios:datos_usuario.html.twig' %}
	
		<div class="caja_contenidos_usuario">
			{% include 'LoogaresUsuarioBundle:Usuarios:menu_usuario.html.twig' %}

			<div class="contenidos_edicion_usuario">
				<h2 class="titulo_edicion_usuario">{{'usuario.edicion.titulo'|trans}}</h2>

				{% include 'LoogaresUsuarioBundle:Usuarios:editar_'~usuario.edicion~'_usuario.html.twig' %}
			</div>
		</div>
		
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/perfil.js')}}"></script>
{% endblock %}