{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-cuenta" class="edicion">
	{% if app.session.hasFlash('edicion-foto') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-foto') }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_error">
			{% for error in errors %}
		        <p>{{ error }}</p>
		    {% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarFotoUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">			
			<ul class="editar-usuario">
				<li>
					{{form_label(form.file, 'Subir foto')}}

					{% set inputClass = (errors.file is defined or errors.valida is defined) ? 'input-error' : ' '%}
					{{form_widget(form.file, { 'attr': {'class': inputClass }})}}
					{% if errors.file is defined or errors.valida is defined %}
						<small class="errors">{{(errors.file is defined) ? errors.file : errors.valida}}</small>
					{% endif %}
				</li>

				<li>
					<label></label>
					<div class="tips">
					<span class="tip_form">- 5MB como máximo</span> <br />
					<span class="tip_form">- Sólo JPG, GIF y PNG</span>
					</div>
				</li>

				<br /><br />

				<li class="tip_link">
					<label></label>
					<a href="http://mypictr.com/?size=100x100" target="blank">Crea tu foto de perfil con Mypictr</a>
				</li>

				{{form_rest(form)}}

				<li class="submit">
					<label></label><input type="submit" value="Guardar" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>

	<form action="{{ path('editarFotoUsuario', { 'param': usuario.id }) }}" method="post">
		<div class="form-borrar-foto">
			<input type="hidden" name="borrarFoto" value="borrarFoto">
			<input type="submit" value="Borra tu foto" formnovalidate />
		</div>
	</form>
</div>

{% block javascripts %}
	<script type="text/javascript">
		$('.form-borrar-foto input[type=submit]').click(function(){
			if(confirm('¿Estás seguro de querer borrar tu foto?'))
				$('.form-borrar-foto').parent().submit();
			return false;
		});
	</script>
{% endblock %}