{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div class="caja_edicion_fotos">

	<form action="{{ path('editarFotoUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">			
			<ul class="editar-usuario">
				<li>
					{{form_label(form.file, 'usuario.edicion.foto.subir')}}

					{% set inputClass = (errors.file is defined or errors.valida is defined) ? '' : ' '%}
					{{form_widget(form.file, { 'attr': {'class': inputClass }})}}
					{% if errors.file is defined or errors.valida is defined %}
						<small class="errors">{{(errors.file is defined) ? errors.file | trans : errors.valida | trans }}</small>
					{% endif %}
				</li>

				<li>
					<div class="tips">
						<span>{{'usuario.edicion.foto.tip.maximo'|trans}}</span> <br />
						<span>{{'usuario.edicion.foto.tip.formato'|trans}}</span> <br />
						<span>{{'usuario.edicion.foto.tip.ajuste'|trans}}</span>
					</div>
				</li>

				<li>
					<a class="mypictr" href="http://mypictr.com/?size=100x100" target="blank">{{'usuario.edicion.foto.mypictr'|trans}}</a>
				</li>

				{{form_rest(form)}}

				<li class="submit">
					<input class="enviar_foto_prefil" type="submit" value="" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>

	<form action="{{ path('editarFotoUsuario', { 'param': usuario.id }) }}" method="post">
		<div class="form-borrar-foto">
			<input type="hidden" name="borrarFoto" value="borrarFoto">
			<input class="borrar_foto_prefil" type="submit" value="" formnovalidate />
		</div>
	</form>
</div>