{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-password" class="edicion">
	<form action="{{ path('editarPasswordUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">
			{% if form_errors(form) %}
				<div class="errores">
					{{form_errors(form)}}
				</div>
			{% endif %}
			{% if form_errors(form.password) %}
			<div class="errores">
				{{ form_errors(form.password) }}
			</div>
			{% endif %}
			<div>				
				{{ form_widget(form.password) }}
			</div>

		    {{ form_rest(form) }}

			<div class="submit">
				<label></label><input type="submit" value="Guardar" formnovalidate />
			</div>
	    </div>		    
	</form>
</div>
