{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-password" class="edicion">
	{% if app.session.hasFlash('edicion-password') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-password') }}
		    </div>
	{% endif %}

	<form action="{{ path('editarPasswordUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">
			{% if errors %}
				<div class="errores-container">
					{% for error in errors %}
			            <p>{{ error }}</p>
			        {% endfor %}
				</div>
			{% endif %}

			<ul class="editar-usuario">
				<li>
					<label for="passwordActual">Password actual *</label>
					<input type="password" id="passwordActual" name="passwordActual" class="{{errors.actual is defined ? 'input-error' : ' '}}"/>
					{% if errors.actual is defined %}
						<small class="errors">{{errors.actual}}</small>
					{% endif %}
				</li>		
				<li>
					{{form_label(form.password, 'Password nuevo *')}}

					{% if form_errors(form.password) %}
						{% set inputClass = 'input-error'%}
					{% else %}
						{% set inputClass = ' '%}
					{% endif %}
					{{form_widget(form.password, { 'attr': {'class': inputClass }})}}
					{% if errors.password is defined %}
						<small class="errors">{{errors.password}}</small>
					{% endif %}
				</li>
					<label for="confirmarPassword" >Confirmar password *</label>
					<input type="password" id="confirmarPassword" name="confirmarPassword" class="{{errors.confirmar is defined ? 'input-error' : ' '}}"/>
					{% if errors.confirmar is defined %}
						<small class="errors">{{errors.confirmar}}</small>
					{% endif %}
				</li>

				{{form_rest(form)}}

				<li>
					<label></label><input type="submit" value="Guardar" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>
</div>
