{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div class="caja_edicion_password">

	<form action="{{ path('editarPasswordUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">	
			<ul class="editar-usuario">
				<li>
					<label for="passwordActual">{{'usuario.edicion.password.actual'|trans}}</label>
					<input type="password" id="passwordActual" name="passwordActual" class="{{errors.actual is defined ? 'input-error' : ' '}}"/>
					{% if errors.actual is defined %}
						<small class="errors">{{errors.actual | trans }}</small>
					{% endif %}
				</li>		
				<li>
					{{form_label(form.password, 'usuario.edicion.password.nuevo')}}

					{% set inputClass = (errors.password is defined) ? 'input-error' : ' '%}
					{{form_widget(form.password, { 'attr': {'class': inputClass }})}}
					{% if errors.password is defined %}
						<small class="errors">{{errors.password | trans }}</small>
					{% endif %}
				</li>
				<li>
					<label for="confirmarPassword" >{{'usuario.edicion.password.confirmar'|trans}}</label>
					<input type="password" id="confirmarPassword" name="confirmarPassword" class="{{errors.confirmar is defined ? 'input-error' : ' '}}"/>
					{% if errors.confirmar is defined %}
						<small class="errors">{{errors.confirmar | trans }}</small>
					{% endif %}
				</li>

				{{form_rest(form)}}

				<li>
					<input class="enviar_password_prefil" type="submit" value="" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>
</div>
