{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

<div id="edicion-borrar" class="edicion">
	{% if app.session.hasFlash('edicion-borrar') %}
		    <div class="flash-notice">
		        {{ app.session.flash('edicion-borrar') | trans }}
		    </div>
	{% endif %}

	{% if errors %}
		<div class="edicion_error">
			{% for error in errors %}
		        <p>{{ error | trans}}</p>
		    {% endfor %}
		</div>
	{% endif %}

	<form action="{{ path('editarBorrarUsuario', { 'param': usuario.id }) }}" method="post">
		<div class="form-edicion">	
			<ul class="editar-usuario">
				<li>
					<label for="passwordActual">{{'usuario.edicion.borrar.password'|trans}}</label>
					<input type="password" id="password" name="password" class="{{errors.password is defined ? 'input-error' : ' '}}"/>
					{% if errors.password is defined %}
						<small class="errors">{{errors.password|trans}}</small>
					{% endif %}
				</li>		
				<li>
					<label for="motivo">{{'usuario.edicion.borrar.motivo'|trans}}</label>
					<textarea id="motivo" name="motivo" rows="4" class="{{errors.motivo is defined ? 'input-error' : ' '}}" ></textarea>
					{% if errors.motivo is defined %}
						<small class="errors">{{errors.motivo|trans}}</small>
					{% endif %}
					
				</li>

				<li class="submit-borrar">
					<label></label><input type="submit" value="{{'usuario.edicion.borrar.submit'|trans}}" formnovalidate />
				</li>
			</ul>
	    </div>		    
	</form>
</div>