{% include 'LoogaresUsuarioBundle:Usuarios:menu_edicion.html.twig' %}

{% block partial_stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block parial_javascripts %}
	<script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
	<script src="{{asset('assets/js/cuentaUsuario.js')}}"></script>
{% endblock %}
<style>
	.container_ciudad, .container_comuna{
		display: none;
	}
</style>

<div class="caja_edicion_datos">
	<form action="{{ path('editarCuentaUsuario', { 'param': usuario.id }) }}" method="post" {{ form_enctype(form) }}>
		<div class="form-edicion">
			<ul class="editar-usuario">
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<label>{{'usuario.edicion.cuenta.tipo'|trans}}</label>
						<select class="tipo_usuario" name="tipo_usuario">
							{% for tipoUsuario in tipoUsuarios %}
								<option value="{{tipoUsuario.id}}">{{tipoUsuario.descripcion}}</option>
							{% endfor %}
						</select>
					</li>	
				{% endif %}
				<li>
					{% set inputClass = (errors.nombre is defined) ? 'input-error' : ' '%}
					{{ form_label(form.nombre, 'usuario.edicion.cuenta.nombre') }}
					{{ form_widget(form.nombre, { 'attr': {'class': inputClass}}) }}
					{% if errors.nombre is defined %}
						<small class="errors">{{errors.nombre | trans}}</small>
					{% endif %}
				</li>
				<li>
					{% set inputClass = (errors.apellido is defined) ? 'input-error' : ' '%}
					{{ form_label(form.apellido, 'usuario.edicion.cuenta.apellido') }}
					{{ form_widget(form.apellido, { 'attr': {'class': inputClass}}) }}
					{% if errors.apellido is defined %}
						<small class="errors">{{errors.apellido | trans}}</small>
					{% endif %}
				</li>

				<li>
					{% set inputClass = (errors.mail is defined) ? 'input-error' : ' '%}
					{{ form_label(form.mail, 'usuario.edicion.cuenta.mail') }}
					{{ form_widget(form.mail, { 'attr': {'class': inputClass}}) }}
					{% if errors.mail is defined %}
						<small class="errors">{{errors.mail | trans}}</small>
					{% endif %}
				</li>
				
				<li>
					{% set inputClass = (errors.slug is defined) ? 'input-error' : ' '%}
					{{ form_label(form.slug, 'usuario.edicion.cuenta.slug') }}
					<span class="txt_url_propia">{{ 'usuario.edicion.cuenta.url_propia' | trans }}</span> {{ form_widget(form.slug, { 'attr': {'class': inputClass~' url_propia'}})  }}
					{% if errors.slug is defined %}
						<small class="errors">{{errors.slug | trans}}</small>
					{% endif %}
				</li> 
				<li class="container_pais">
			   		<select class="pais" name="pais">
			   			<option value='elige'>{{'lugar.agregar.pais.title'|trans}}</option>
			            {% for pais in paises %}
			                <option 
				                {% if usuario.pais is not empty and pais.slug == usuario.pais.slug or (paisSeleccionado != '' and paisSeleccionado == pais.slug)%}
				                	selected="selected" 
				                {% endif %}
				                value="{{pais.slug}}">{{pais.nombre}}</option>
			            {% endfor %}
			   		</select>
			   		{% if erroresLocalidad.pais is defined %}
						<small class="errors">{{erroresLocalidad.pais}}</small>
					{% endif %}
		   		</li>

		   		<li class="container_ciudad">
			   		<select class='ciudad' name='ciudad' id='ciudad'>
			   			<option value='elige'>{{'lugar.agregar.ciudad.title'|trans}}</option>
			            {% for pais in paises %}
			            	{% if pais.mostrarLugar == 3 %}
			                <optgroup label="{{pais.nombre}}">
			                    {% for ciudad in ciudades %}
			                        {% if ciudad.pais.id == pais.id %}
			                        <option 
			                        	{% if usuario.ciudad is not empty and ciudad.slug == usuario.ciudad.slug or (ciudadSeleccionada != '' and ciudadSeleccionada == ciudad.slug) %}
			                        		selected="selected" 
			                        	{% endif %}
			                        	value="{{ciudad.slug}}">{{ciudad.nombre}}</option>
			                        {% endif %}
			                    {% endfor %}
			                </optgroup>
			                {% endif %}
			            {% endfor %}
		            </select>
		            {% if erroresLocalidad.ciudad is defined %}
						<small class="errors">{{erroresLocalidad.ciudad}}</small>
					{% endif %}
		        </li>

	            <li class="container_comuna" {% if usuario.comuna is defined or ciudadSeleccionada != '' %}style="display:block;"{% endif %}>
					<select class='comuna' name='comuna' id='comuna'>
			            <option value='elige'>{{'lugar.agregar.comuna.title'|trans}}</option>
			            {% for ciudad in ciudades %}
			            	{% if ciudad.mostrarLugar == 3  or ciudad.mostrarLugar == 1 %}
			                <optgroup label="{{ciudad.nombre}}">
			                    {% for comuna in comunas %}
			                        {% if ciudad.id == comuna.ciudad.id %}
			                        	<option 
			                        		{% if usuario.comuna is not empty and comuna.slug == usuario.comuna.slug or (comunaSeleccionada != '' and comunaSeleccionada == comuna.slug) %}
			                        			selected="selected" 
			                        		{% endif %}
			                        		value="{{comuna.slug}}">{{comuna.nombre}}</option>
			                        {% endif %}
			                    {% endfor %}
			                </optgroup>
			                {% endif %}
			            {% endfor %}
		            </select>
		            {% if erroresLocalidad.comuna is defined %}
						<small class="errors">{{erroresLocalidad.comuna}}</small>
					{% endif %}
		        </li>
				<li>
					{{ form_label(form.fecha_nacimiento, 'usuario.edicion.cuenta.nacimiento.label', {'attr' :{'class' : 'label-up'}}) }}
					<div class="edicion-fecha-nacimiento">
						{{ form_widget(form.fecha_nacimiento.day, { 'attr': {'class': 'day'}}) }}
						{{ form_widget(form.fecha_nacimiento.month, { 'attr': {'class': 'month'}}) }}
						{{ form_widget(form.fecha_nacimiento.year, { 'attr': {'class': 'year'}}) }}					
					</div>
				</li>
				<li>					
					{{ form_label(form.mostrar_edad, 'usuario.edicion.cuenta.mostrar_edad', {'attr' :{'class' : 'label-up'}})}}
					{{ form_widget(form.mostrar_edad)}}
				</li>
				
				<li>
					{{ form_label(form.sexo, 'usuario.edicion.cuenta.sexo.label') }}
					{{ form_widget(form.sexo) }}
				</li>
				
				<li>
					{{ form_label(form.web, 'usuario.edicion.cuenta.web') }}
					{{ form_widget(form.web) }}
				</li>

				<li>
					{{ form_label(form.facebook) }}
					{{ form_widget(form.facebook) }}
				</li>

				<li>
					{{ form_label(form.twitter) }}
					{{ form_widget(form.twitter) }}
				</li>

				<li id="edicion-newsletter">
					{{ form_label(form.newsletter_activo, null, {'attr' :{'class' : 'label-up'}}) }}
					{{ form_widget(form.newsletter_activo, { 'attr': {'class': 'newsletter_checkbox'}}) }}
				</li> 

			    {{ form_rest(form) }}

				<div class="submit">
					<input class="enviar_datos_prefil" type="submit" value="" formnovalidate />
				</div>
			</ul>
	    </div>		    
	</form>
</div>