{% set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<div class="caja_fotos_usuario">
	<h2 class="titulo_accion_usuario">
		{{usuario.totalImagenesLugar}} {{'usuario.fotos.titulo'|transchoice(usuario.totalImagenesLugar)}}
	</h2>

	{% if app.session.hasFlash('edicion-foto-lugar') %}
	    <div class="saludo_exito">
	        {{ app.session.flash('edicion-foto-lugar') | trans }}
	    </div>
	{% endif %}

	{% if app.session.hasFlash('eliminar-foto-lugar') %}
	    <div class="saludo_exito">
	        {{ app.session.flash('eliminar-foto-lugar') | trans }}
	    </div>
	{% endif %}

	<ul>
		<li><strong>{{'usuario.fotos.orden.texto'|trans}}</strong></li>		
		<li>
			{% if usuario.orden == 'ultimas' %}
				{{'usuario.fotos.orden.ultimas'|trans}} | 
			{% else %}
				<a href="{{path('fotosLugaresUsuario', { 'param' : slug, 'orden' : 'ultimas', 'pagina' : usuario.pagina })}}">{{'usuario.fotos.orden.ultimas'|trans}}</a><span class="orden_separacion">|</span>
			{% endif %}
		</li>
		<li>
			{% if usuario.orden == 'nombre' %}
				{{'usuario.fotos.orden.alfabetico'|trans}}
			{% else %}
				<a href="{{path('fotosLugaresUsuario', { 'param' : slug, 'orden' : 'nombre', 'pagina' : usuario.pagina })}}">{{'usuario.fotos.orden.alfabetico'|trans}}</a>
			{% endif %}
		</li>
	</ul>

	<div class="caja_fotos_lugar_usuario">
		{% set tres = 0 %}
		{% set i = 0 %}
		{% for imagen in usuario.imagenesLugar%}					
			{% if loop.index == 1 or (loop.index > 3 and (loop.index - 1) % 3 == 0)  %}
				{% set tres = 0 %}
				<ul class="listado_foto_lugar_usuario">
			{% endif %}

					<li>
						<div class="imagen_lugar_perfil_usuario">
							<a href="{{path('_fotoGaleria', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}">
								<img src="{{ ('assets/images/lugares/'~imagen.imagenFull) | apply_filter('small_lugar') }}" />
							</a>
						</div>

						<div class="textos_imagen_lugar_perfil_usuario">
							<strong><a class="nombre_lugar_imagen_lugar_perfil_usuario" href="{{path('_lugar', {'slug' : imagen.lugar.slug})}}">{{imagen.lugar.nombre}}</a></strong>

							<span class="fecha_imagen_lugar_perfil_usuario">{{imagen.fechaCreacion|date('d/m/Y')}}</span>

							<div class="caja_opciones_lugar_imagen">
								{% if usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto %}
									<div class="opciones_lugar_imagen">
										<a class="editar_lugar_imagen" href="{{path('_editarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}">{{'usuario.fotos.lista.editar'|trans}}</a>
										<a class="borrar_lugar_imagen" href="{{path('_eliminarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}">{{'usuario.fotos.lista.borrar'|trans}}</a>
									</div>
								{% endif %}
							</div>
						</div>
					</li>

			{% set tres = tres + 1 %}
			{% if tres == 3 %}
				</ul>				
			{% endif %}
				
			{% set i = i + 1 %}
			
		{% endfor %}
	</div>

	{% if usuario.totalPaginas > 1 %}
		<div class="paginacion_perfil">
        	<p><strong>{{ paginacion.mostrandoDe }}</strong> al <strong>{{ paginacion.mostrandoHasta }}</strong> de <strong>{{usuario.totalImagenesLugar}}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | Ir a la página
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>
	{% endif %}

</div>