{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{% trans %}usuario.login.titulo{% endtrans %} | {{parent()}}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'metadata.login.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />
    
    <meta name="keywords" content="{{ 'metadata.login.keywords' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

    <!-- Metadata para FB -->
    <meta property="og:title" content="{% trans %}usuario.login.titulo{% endtrans %} | Loogares.com" />

    <meta property="og:description" content="{{ 'metadata.login.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

    <meta property="og:image" content="http://www.loogares.com/assets/images/extras/logo.png" />

{% endblock %}

{% block content %}

    <div class="separacion_del_header">
    </div>

    {% if errors is defined and errors | length > 0 %}   
        <div class="mensaje_error">
            <div class="imagen_error"></div>
            <div class="txt_error">
                {% for error in errors %}           
                    <p>{{error | trans}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="cajas_registro">

        <div class="columna_izquierda_registro">
            {% if app.session.hasFlash('edicion-borrar') %}
                <div class="saludo_exito">
                    {{ app.session.flash('edicion-borrar') | trans }}
                </div>
            {% endif %}
            <h1 class="titulo">{% trans %}usuario.login.titulo{% endtrans %}</h1>

            {% include 'LoogaresUsuarioBundle:Usuarios:login_form.html.twig' %}
        </div>

        <div class="columna_derecha_registro">
            <h2 class="titulo">{% trans %}usuario.login.registro.titulo{% endtrans %}</h2>
            <a href="#">
                <div class="boton_registro boton_registro_{{app.session.get('ciudad').slug}}"></div>
            </a>
            <p class="registro_mail">{% trans %}usuario.login.registro.o{% endtrans %} <a href="{{path('registroUsuario')}}">{% trans %}usuario.login.registro.mail{% endtrans %}</a></p>
            <p class="texto_registro">{% trans %}usuario.login.registro.texto{% endtrans %}</p>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(function(){
            $('.boton_registro').parent().click(function(e){
                e.preventDefault();
                $('.fb_hidden_button').find('.fb_button').click();
            });
            $('.entrar_con_facebook').click(function(e){
                e.preventDefault();
                $('.fb_hidden_button').find('.fb_button').click();
            });
        });
    </script>
{% endblock %}