<div class="login">

    <form action="{{ path('login_check') }}" method="post" class="login_form">
        <div>
            <label for="mail">{% trans %}usuario.login.form.mail{% endtrans %}</label>
            <input type="text" id="mail" name="_mail" value="{{ last_mail }}" class="{{(errors.completo is defined) ? 'input-error' : ' '}}"/>
        </div>

        <div>
            <label for="password">{% trans %}usuario.login.form.password{% endtrans %}</label>
            <input type="password" id="password" name="_password" class="{{(errors is defined and errors|length > 0) ? 'input-error' : ' '}} password_width"/>
            <input class="boton_entrar" type="submit" name="login" value=""/>
        </div>

        <div>
            <label></label>
            <input class="recordar_checkbox" type="checkbox" id="remember_me" name="_remember_me" />
            <span class="checkbox_tip">{% trans %}usuario.login.form.recordar_sesion{% endtrans %} |</span><span class="tip"><a href="{{ path('olvidarPassword') }}"> {% trans %}usuario.login.form.olvidar_password{% endtrans %}</a></span>
        </div>

        <div>
            <a class="entrar_con_facebook">
                {{ facebook_login_button({'autologoutlink': false}) }}
            </a>
        </div>

    </form>
</div>