<div class="login">
    {% if errors is defined and errors | length > 0 %}   
        <div class="login_error">         
            {% for error in errors %}           
                {{error | trans}}
            {% endfor %}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" class="login_form">
        <div>
            <label for="mail">E-mail:</label>
            <input type="text" id="mail" name="_mail" value="{{ last_mail }}" class="{{(errors.completo is defined) ? 'input-error' : ' '}}"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="{{(errors is defined and errors|length > 0) ? 'input-error' : ' '}}"/>
        </div>

        <div>
            <label></label>
            <span class="tip"><a href="">¿Olvidaste tu password?</a></span>
        </div>

        <div>
            <label></label>
            <input class="checkbox" type="checkbox" id="remember_me" name="_remember_me" />
            <span class="checkbox_tip">Recordar sesión</span>
        </div>

        <div class="submit">
            <label></label>
            <input class="boton_entrar" type="submit" name="login" value="Entrar"/>
        </div>
    </form>
</div>