{% set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<div class="caja_lugares_usuario">
	
	<h2 class="titulo_accion_usuario">
		{% if usuario.accion == 1 %}
			{{'usuario.lugares.titulo.1'|trans}}
		{% elseif usuario.accion == 2 %}
			{{'usuario.lugares.titulo.2'|trans}}
		{% elseif usuario.accion == 3 %}
			{{'usuario.lugares.titulo.3'|trans}}
		{% elseif usuario.accion == 4 %}
			{{'usuario.lugares.titulo.4'|trans}}
		{% else %}
			{{'usuario.lugares.titulo.5'|trans}}
		{% endif %}
	</h2>

	<ul>
		<li><strong>{{'usuario.lugares.orden.texto'|trans}}</strong></li>		
		<li>
			{% if usuario.accion == 3 %}
				{{usuario.totalAcciones[2]}} {{'usuario.lugares.orden.visitados'|trans}}<span class="orden_separacion">|</span>
				<a class="reload_link" href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '3', 'pagina' : usuario.pagina })}}" style="display:none"></a>
			{% else %}
				<a href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '3', 'pagina' : usuario.pagina })}}" class="lugares_usuario_link">{{usuario.totalAcciones[2]}} {{'usuario.lugares.orden.visitados'|trans}}</a><span class="orden_separacion">|</span>
			{% endif %}
		</li>
		<li>
			{% if usuario.accion == 4 %}
				{{usuario.totalAcciones[3]}} {{'usuario.lugares.orden.favoritos'|trans}}<span class="orden_separacion">|</span>
				<a class="reload_link" href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '4', 'pagina' : usuario.pagina })}}" style="display:none"></a>
			{% else %}
				<a href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '4', 'pagina' : usuario.pagina })}}" class="lugares_usuario_link">{{usuario.totalAcciones[3]}} {{'usuario.lugares.orden.favoritos'|trans}}</a><span class="orden_separacion">|</span>
			{% endif %}
		</li>
		<li>
			{% if usuario.accion == 1 %}
				{{usuario.totalAcciones[0]}} {{'usuario.lugares.orden.por_visitar'|trans}}<span class="orden_separacion">|</span>
				<a class="reload_link" href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '1', 'pagina' : usuario.pagina })}}" style="display:none"></a>
			{% else %}
				<a href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '1', 'pagina' : usuario.pagina })}}" class="lugares_usuario_link">{{usuario.totalAcciones[0]}} {{'usuario.lugares.orden.por_visitar'|trans}}</a><span class="orden_separacion">|</span>
			{% endif %}
		</li>
		<li>
			{% if usuario.accion == 2 %}
				{{usuario.totalAcciones[1]}} {{'usuario.lugares.orden.por_volver'|trans}}<span class="orden_separacion">|</span>
				<a class="reload_link" href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '2', 'pagina' : usuario.pagina })}}" style="display:none"></a>
			{% else %}
				<a href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '2', 'pagina' : usuario.pagina })}}" class="lugares_usuario_link">{{usuario.totalAcciones[1]}} {{'usuario.lugares.orden.por_volver'|trans}}</a><span class="orden_separacion">|</span>
			{% endif %}
		</li>
		<li>
			{% if usuario.accion == 5 %}
				{{usuario.totalAcciones[4]}} {{'usuario.lugares.orden.por_recomendar'|trans}}
				<a class="reload_link" href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '5', 'pagina' : usuario.pagina })}}" style="display:none"></a>
			{% else %}
				<a href="{{path('lugaresUsuario', { 'param' : slug, 'accion' : '5', 'pagina' : usuario.pagina })}}" class="lugares_usuario_link">{{usuario.totalAcciones[4]}} {{'usuario.lugares.orden.por_recomendar'|trans}}</a>
			{% endif %}
		</li>
	</ul>

	<div class="caja_lugares_guardados_usuario">
		{% set tres = 0 %}
		{% set i = 0 %}
		{% for accion in usuario.acciones%}					
			{% if loop.index == 1 or (loop.index > 3 and (loop.index - 1) % 3 == 0)  %}
				{% set tres = 0 %}
				<ul class="listado_lugares_guardados_usuario">
			{% endif %}
					<li data-id="{{accion.lugar.id}}" data-accion="{{usuario.accion}}">
						<div class="imagen_lugar_guardado_usuario">
							<a href="{{path('_lugar', {'slug' : accion.lugar.slug})}}">
								{% for img in accion.lugar.imagenesLugar %}		
									{% if loop.last %}						
										<img src="{{ ('assets/images/lugares/'~img.imagenFull) | apply_filter('small_lugar') }}" />
									{% endif %}
								{% endfor %}
							</a>							
						</div>

						<div class="textos_lugar_guardado_usuario">							
							<strong><a class="nombre_lugar_guardado_usuario" href="{{path('_lugar', {'slug' : accion.lugar.slug})}}">{{accion.lugar.nombre}}</a></strong>
							<p class="estrellas_lugar" data-stars="{{accion.lugar.estrellas}}"></p>
							<span class="direccion_lugar_guardado_usuario">{{accion.lugar.calle}} {{accion.lugar.numero}}, {{accion.lugar.comuna.nombre}}</span>
							<p class="categorias_lugar_guardado_usuario"><strong>{{'usuario.recomendaciones.recomendacion.categorias'|trans}}</strong>
								{% for categoriaLugar in accion.lugar.categoriaLugar %}
									<a href="#">{{categoriaLugar.categoria.nombre}}</a>
									{{-((loop.index == accion.lugar.categoriaLugar|length) ? '' : ', ')}}
								{% endfor %}
							</p>
						</div>

						<div class="caja_opciones_lugar_guardado">
							{% if usuario.accion != 3 %}
								<div class="opciones_lugar_guardado">
									<a class="accion_borrar_usuario" href="">{{'usuario.lugares.lista.borrar'|trans}}</a>
								</div>
							{% endif %}
						</div>
					</li>

			{% set tres = tres + 1 %}
			{% if tres == 3 %}
				</ul>				
			{% endif %}
				
			{% set i = i + 1 %}
			
		{% endfor %}
	</div>

	{% if usuario.totalPaginas > 1 %}
		<div class="paginacion_perfil">
        	<p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{usuario.totalAcciones[usuario.accion - 1]}}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | {{'paginacion.ir_a'|trans}}
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>
	{% endif %}
</div>

<script>
	$(function(){
		$('.estrellas_lugar').each(function(i){
			var estrellas = $(this).attr('data-stars');
			estrellasLugares(estrellas, $(this));
		});
	});	
</script>