{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.olvidar.mensaje.titulo_pag'|trans}} | {{parent()}}{% endblock %}

{% block content %}
<div class="mensaje_olvidar_password">
    <h1 class="titulo">{{'usuario.olvidar.mensaje.titulo'|trans}}</h1>
    <p>{{'usuario.olvidar.mensaje.subtitulo'|trans}}</p>
    <p>{{'usuario.olvidar.mensaje.texto'|trans}}</p>

    <img src="{{asset('assets/images/extras/olvidar_password.jpg')}}" />

    <p>{% trans with {'%open_tag%': "<a href="~path('root')~" class='link_azul'>", '%close_tag%' : '</a>'}%}usuario.olvidar.mensaje.inicio{% endtrans %}</p>

</div>
{% endblock %}