{% 	set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<div class="menu_edicion_usuario">
	<ul>
		<a href="{{path('editarCuentaUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'cuenta') ? 'selected' : ''}}">
			{{'usuario.edicion.menu.cuenta'|trans}}
		</li></a>
		<a href="{{path('editarFotoUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'foto') ? 'selected' : ''}}">
			{{'usuario.edicion.menu.foto'|trans}}
		</li></a>
		<a href="{{path('editarPasswordUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'password') ? 'selected' : ''}}">
			{{'usuario.edicion.menu.password'|trans}}
		</li></a>
		<a href="{{path('editarConexionesUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'conexiones') ? 'selected' : ''}}">
			<span class="txt_conectar">{{'usuario.edicion.menu.connect'|trans}}</span><span class="icono_facebook"></span>
		</li></a>
		<a href="{{path('editarNotificacionesUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'notificaciones') ? 'selected' : ''}}">
			{{'usuario.edicion.menu.notificaciones'|trans}}
		</li></a>
		<a href="{{path('editarBorrarUsuario', { 'param': slug })}}"><li class="{{(usuario.edicion == 'borrar') ? 'selected' : ''}}">
			{{'usuario.edicion.menu.borrar'|trans}}
		</li></a>
	</ul>
</div>