{% set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<div class="menu_actividad_usuario">
	<ul>
		<a href="{{path('actividadUsuario_total', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'actividad' and actividad_total == true) ? 'selected' : ''}}">
			{{'usuario.menu.actividad'|trans}}
		</li></a>
		{% if usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto %}
			<a href="{{path('recomendacionesUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'recomendaciones') ? 'selected' : ''}}">
				{{'usuario.menu.recomendaciones'|trans}}
			</li></a>
			<a href="{{path('fotosLugaresUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'fotos') ? 'selected' : ''}} no-right-border">
				{{'usuario.menu.fotos'|trans}}
			</li></a>
			<a href="{{path('lugaresUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'lugares') ? 'selected' : ''}} no-right-border">
				{{'usuario.menu.lugares'|trans}}
			</li></a>
			<a href="{{path('cuponesUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'cupones') ? 'selected' : ''}} no-right-border">
				<img class="icono_menu_usuario" src="{{asset('assets/images/extras/gift_card_menu.png')}}" height="17" width="14" /><span class="texto_con_icono">{{'usuario.menu.cupones'|trans}}</span>
			</li></a>
		{% endif %}			
	</ul>
</div>