{% set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<div class="menu_actividad_usuario">
	<ul>
		<a href="{{path('actividadUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'actividad') ? 'selected' : ''}}">
			{{'usuario.menu.actividad'|trans}}
		</li></a>
		{% if usuario.loggeadoCorrecto is defined and usuario.loggeadoCorrecto %}
			<a href="{{path('recomendacionesUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'recomendaciones') ? 'selected' : ''}}">
				{{'usuario.menu.recomendaciones'|trans}}
			</li></a>
			<a href="{{path('fotosLugaresUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'fotos') ? 'selected' : ''}} no-right-border">
				{{'usuario.menu.fotos'|trans}}
			</li></a>
			<a href="{{path('fotosLugaresUsuario', { 'param': slug })}}"><li class="{{(usuario.tipo is defined and usuario.tipo == 'fotos') ? 'selected' : ''}} no-right-border">
				{{'usuario.menu.lugares'|trans}}
			</li></a>
		{% endif %}		
	</ul>
</div>