{% 	set slug = (usuario.slug != '') ? usuario.slug : usuario.id %}

<h1 class="edicion-titulo">{{'usuario.edicion.titulo'|trans}}</h1>

<div id="menu-edicion">
	<ul>
		<li class="{{(usuario.edicion == 'cuenta') ? 'selected' : ''}}">
			<a href="{{path('editarCuentaUsuario', { 'param': slug })}}">{{'usuario.edicion.menu.cuenta'|trans}}</a>
		</li>
		<li class="{{(usuario.edicion == 'foto') ? 'selected' : ''}}">
			<a href="{{path('editarFotoUsuario', { 'param': slug })}}">{{'usuario.edicion.menu.foto'|trans}}</a>
		</li>
		<li class="{{(usuario.edicion == 'password') ? 'selected' : ''}}">
			<a href="{{path('editarPasswordUsuario', { 'param': slug })}}">{{'usuario.edicion.menu.password'|trans}}</a>
		</li>
		<li class="{{(usuario.edicion == 'borrar') ? 'selected' : ''}}">
			<a href="{{path('editarBorrarUsuario', { 'param': slug })}}">{{'usuario.edicion.menu.borrar'|trans}}</a>
		</li>
	</ul>
</div>