{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{(tipo == 'olvidar') ? 'usuario.olvidar.titulo_pag'|trans : 'usuario.regenerar.titulo_pag'|trans }} | {{parent()}}{% endblock %}

{% block meta %}
    <meta name="description" content="{{ 'metadata.olvidaste.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />
    
    <meta name="keywords" content="{{ 'metadata.olvidaste.keywords' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

    <!-- Metadata para FB -->
    <meta property="og:title" content="{{(tipo == 'olvidar') ? 'usuario.olvidar.titulo_pag'|trans : 'usuario.regenerar.titulo_pag'|trans }} | Loogares.com" />

    <meta property="og:description" content="{{ 'metadata.olvidaste.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

    <meta property="og:image" content="http://www.loogares.com/assets/images/extras/logo.png" />

{% endblock %}

{% block content %}
	{# Primer formulario del proceso para resetear password #}
	{% if tipo == 'olvidar' %}

		{% if app.session.hasFlash('usuario-no-existe') %}
		    <div class="saludo_exito">
		        {{ app.session.flash('usuario-no-existe') | trans }}
		    </div>
		{% endif %}

		{% if errors %}
			<div class="mensaje_error">
				<div class="imagen_error"></div>
				<div class="txt_error">
					{% for error in errors %}
				        <p>{{ error | trans }}</p>
				    {% endfor %}
				</div>
			</div>
		{% endif %}

	    <div class="separacion_del_header">
	    </div>

		<div class="cajas_registro">
			<div class="columna_izquierda_password">	
				<h1 class="titulo">{{'usuario.olvidar.titulo'|trans}}</h1>
				<p>{{'usuario.olvidar.subtitulo'|trans}}</p>
				<form action="{{ path('olvidarPassword') }}" method="post">
					<ul>
						<li>
							<label for="mail">{{'usuario.olvidar.form.e_mail'|trans}}</label>
							<input type="text" id="mail" name="mail" class="{{errors.mail is defined ? 'input-error' : ' '}}"/>
							{% if errors.mail is defined %}
								<small class="errors">{{errors.mail | trans }}</small>
							{% endif %}
						</li>

						<li>
							<input class="boton_enviar" type="submit" value="" formnovalidate />
						</li>
					</ul>
				</form>
			</div>
		</div>

	{# Segundo formulario del proceso para resetear password #}
	{% else %}
		
		{% if errors %}
			<div class="mensaje_error">
				<div class="imagen_error"></div>
				<div class="txt_error">
					{% for error in errors %}
				        <p>{{ error | trans }}</p>
				    {% endfor %}
				</div>
			</div>
		{% endif %}

		<div class="cajas_registro">
			<div class="columna_izquierda_password">
				<h1 class="titulo">{{'usuario.regenerar.titulo'|trans}}</h1>

				<form action="{{ path('regenerarPassword', {'hash' : usuario.hashConfirmacion}) }}" method="post">
					<ul>
						<li>
							<label class="label_reset_password">{{'usuario.regenerar.form.usuario'|trans}}</label>
							<p class="usuario_reset_password">{{(usuario.nombre is empty and usuario.apellido is empty) ? usuario.slug : usuario.nombre~' '~usuario.apellido}}</p>
						</li>

						<li>
							<label class="label_reset_password" for="nuevo">{{'usuario.regenerar.form.password_nuevo'|trans}}</label>
							<input type="password" id="nuevo" name="nuevo" class="input_reset_password {{errors.nuevo is defined ? 'input-error' : ' '}}"/>
							{% if errors.nuevo is defined %}
								<small class="errors errors_reset_password">{{errors.nuevo | trans }}</small>
							{% endif %}
						</li>

						<li>
							<label class="label_reset_password" for="confirmar">{{'usuario.registro.form.confirmar_password'|trans}}</label>
							<input type="password" id="confirmar" name="confirmar" class="input_reset_password {{errors.confirmar is defined ? 'input-error' : ' '}}"/>
							{% if errors.confirmar is defined %}
								<small class="errors errors_reset_password">{{errors.confirmar | trans }}</small>
							{% endif %}
						</li>

						<li>
							<input class="boton_enviar_reset_password" type="submit" value="" formnovalidate />
						</li>
					</ul>
				</form>
			</div>
		</div>

	{% endif %}

{% endblock %}
