{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'olvidar.titulo_pag'|trans}}{% endblock %}

{% block content %}
	<div id="olvidar_password">	
		<h1>{{'olvidar.titulo'|trans}}</h1>

		{% if app.session.hasFlash('usuario-no-existe') %}
		    <div class="flash-notice">
		        {{ app.session.flash('usuario-no-existe') | trans }}
		    </div>
		{% endif %}

		{% if errors %}
			<div class="olvidar_error">
				{% for error in errors %}
			        <p>{{ error | trans }}</p>
			    {% endfor %}
			</div>
		{% endif %}

		<p>{{'olvidar.subtitulo'|trans}}</p>

		<form action="{{ (tipo == 'olvidar') ? path('olvidarPassword') : path('regenerarPassword', {'hash' : usuario.hash}) }}" method="post">
			<ul>
				<li>
					<label for="mail">E-mail</label>
					<input type="text" id="mail" name="mail" class="{{errors.mail is defined ? 'input-error' : ' '}}"/>
					{% if errors.mail is defined %}
						<small class="errors">{{errors.mail | trans }}</small>
					{% endif %}
				</li>

				<li>
					<label></label><input type="submit" value="{{'usuario.edicion.password.submit' | trans }}" formnovalidate />
				</li>
			</ul>
		</form>
	</div>
{% endblock %}
