{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{(tipo == 'olvidar') ? 'usuario.olvidar.titulo_pag'|trans : 'usuario.regenerar.titulo_pag'|trans }} | {{parent()}}{% endblock %}

{% block content %}
	{# Primer formulario del proceso para resetear password #}
	{% if tipo == 'olvidar' %}
		<div id="olvidar_password">	
			<h1>{{'usuario.olvidar.titulo'|trans}}</h1>

			{% if app.session.hasFlash('usuario-no-existe') %}
			    <div class="flash-notice">
			        {{ app.session.flash('usuario-no-existe') | trans }}
			    </div>
			{% endif %}

			{% if errors %}
				<div class="olvidar_error">
					{% for error in errors %}
				        <p>{{ error | trans }}</p>
				    {% endfor %}
				</div>
			{% endif %}

			<p>{{'usuario.olvidar.subtitulo'|trans}}</p>

			<form action="{{ path('olvidarPassword') }}" method="post">
				<ul>
					<li>
						<label for="mail">E-mail</label>
						<input type="text" id="mail" name="mail" class="{{errors.mail is defined ? 'input-error' : ' '}}"/>
						{% if errors.mail is defined %}
							<small class="errors">{{errors.mail | trans }}</small>
						{% endif %}
					</li>

					<li>
						<label></label><input type="submit" value="{{'usuario.edicion.password.submit' | trans }}" formnovalidate />
					</li>
				</ul>
			</form>
		</div>

	{# Segundo formulario del proceso para resetear password #}
	{% else %}
		<div id="regenerar_password">	
			<h1>{{'usuario.regenerar.titulo'|trans}}</h1>

			{% if errors %}
				<div class="regenerar_error">
					{% for error in errors %}
				        <p>{{ error | trans }}</p>
				    {% endfor %}
				</div>
			{% endif %}

			<form action="{{ path('regenerarPassword', {'hash' : usuario.hashConfirmacion}) }}" method="post">
				<ul>
					<li>
						<label>{{'usuario.regenerar.form.usuario'|trans}}</label>
						<span>{{(usuario.nombre is empty and usuario.apellido is empty) ? usuario.slug : usuario.nombre~' '~usuario.apellido}}</span>
					</li>

					<li>
						<label for="nuevo">{{'usuario.regenerar.form.password_nuevo'|trans}}</label>
						<input type="password" id="nuevo" name="nuevo" class="{{errors.nuevo is defined ? 'input-error' : ' '}}"/>
						{% if errors.nuevo is defined %}
							<small class="errors">{{errors.nuevo | trans }}</small>
						{% endif %}
					</li>

					<li>
						<label for="confirmar">{{'usuario.registro.form.confirmar_password'|trans}}</label>
						<input type="password" id="confirmar" name="confirmar" class="{{errors.confirmar is defined ? 'input-error' : ' '}}"/>
						{% if errors.confirmar is defined %}
							<small class="errors">{{errors.confirmar | trans }}</small>
						{% endif %}
					</li>

					<li>
						<label></label><input type="submit" value="{{'usuario.edicion.cuenta.submit'|trans}}" formnovalidate />
					</li>
				</ul>
			</form>
		</div>
	{% endif %}
{% endblock %}
