{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}¡Regístrate en Loogares.com! | {{parent()}}{% endblock %}

{% block content %}
	<div class="columna_izquierda">
		<h1 class="titulo">¡Regístrate en Loogares.com!</h3>
		<div class="registro">
			<form class="registro_form" action="{{ path('registroUsuario') }}" method="post" {{ form_enctype(form) }}>
				
				{% if form_errors(form) %}
					<div class="registro_error">
						{{form_errors(form)}}
				{% endif %}
				{% if form_errors(form.mail) or form_errors(form.password) or form_errors(form.nombre) or form_errors(form.apellido) %}
				
						{{ form_errors(form.nombre) }}
						{{ form_errors(form.apellido) }}
						{{ form_errors(form.mail) }}
						{{ form_errors(form.password) }}
					</div>
				{% endif %}
				
				<div>
					{{ form_label(form.nombre) }}
					{{ form_widget(form.nombre, { 'attr': {'placeholder': 'Ej. Juan'}}) }}
				</div>

				<div>
					{{ form_label(form.apellido) }}
					{{ form_widget(form.apellido, { 'attr': {'placeholder': 'Ej. Valdéz'}}) }}
				</div>

				<div>
					{{ form_label(form.mail, 'E-mail') }}
					{{ form_widget(form.mail, { 'attr': {'placeholder': 'Ej. juanito@empresa.com'}}) }}
				</div>

				<div>
					{{ form_widget(form.password) }}
				</div>
				<div>
			    	<label></label>
			    	<span class="tip_registro">El password debe tener un mínimo de 6 caracteres.</span>
			    </div>					    

			    {{ form_rest(form) }}

			    <div>
			    	<label></label>
			    	<span class="tip_registro">Al hacer click en Registrar confirmo ser mayor de 14 años y acepto los <a href="#">Términos de uso</a> de Loogares.com</span>
				</div>

				<div class="submit">
					<label></label><input class="boton_registrar" type="submit" value="Registrar" formnovalidate />
				</div>
			</form>
		</div>
	</div>

	<div class="columna_derecha_borde">
		<h2 class="titulo">¡O regístrate rápidamente con tu Facebook!</h3>
		
		<div class="caja_registro_facebook">
			<div class="registro_facebook_img"><img src="{{asset('assets/images/extras/caja_registro_facebook.png')}}" height="" width="135" /></div>
			<div class="registro_facebook_txt">Haz click en el botón de abajo y regístrate en un solo paso con tu cuenta de Facebook.</div>
			<div class="registro_facebook_btn">
				{% set tituloFacebook = 'Regístrate con Facebook' %}
				<div class="facebook-boton">{{ facebook_login_button({'autologoutlink': true, 'label' : tituloFacebook }) }}</div>
			</div>
		</div>
		
		<h3 class="titulo">¿Ya eres parte de Loogares.com? ¡Entra ahora!</h3>
		{% include 'LoogaresUsuarioBundle:Usuarios:login_form.html.twig' %}
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		$.each($('#registro-corriente .form-registro div input[type=text]'), function(){
			$(this).placeholder();
		});

		$('.submit input').click(function(){
			$.each($('#registro-corriente .form-registro div input[type=text]'), function(){
				if($(this).attr('data-placeholder') == $(this).val()){
					$(this).val('');
				};
			});
		});

		function goLogIn(){
      		window.location = "{{ path('_security_check') }}";
  		}

  		function onFbInit() {
     		if (typeof(FB) != 'undefined' && FB != null ) {
	          	FB.Event.subscribe('auth.login', function(response) {
	            	   setTimeout(goLogIn,500);
	          	});
	          	FB.Event.subscribe('auth.logout', function(response) {
	            	   window.location = "{{ path('_security_logout') }}";
	          	});
          	}
     	}
	</script>
{% endblock %}