{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{% trans %}usuario.registro.title{% endtrans %} | {{parent()}}{% endblock %}

{% block content %}

	{% if formErrors %}
		<div class="mensaje_error">
			<div class="imagen_error"></div>
			<div class="txt_error">
				{% for error in formErrors %}
	   				<p>{{ error | trans}}</p>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<div class="mensaje_registro">
		{% trans %}usuario.registro.mensaje{% endtrans %}
	</div>

	<div class="cajas_registro">

		<div class="columna_izquierda_registro">
			<h1 class="titulo">{% trans %}usuario.registro.facebook.titulo{% endtrans %}</h1>
			<div class="registro_facebook_img"></div>
			<div class="registro_facebook_btn"></div>
			
			<h3 class="titulo">{% trans %}usuario.registro.login.titulo{% endtrans %}</h3>
			{% include 'LoogaresUsuarioBundle:Usuarios:login_form.html.twig' %}
		</div>

		<div class="columna_derecha_registro">
			<h2 class="titulo">{% trans %}usuario.registro.titulo{% endtrans %}</h2>
			<div class="registro">
				<form class="registro_form" action="{{ path('registroUsuario') }}" method="post" {{ form_enctype(form) }}>
					
					<ul>
						<li>
							{{ form_label(form.nombre, 'usuario.registro.form.nombre') }}
							{% set inputClass = (formErrors.nombre is defined) ? 'input-error' : ' '%}
							{{ form_widget(form.nombre, { 'attr': {'placeholder': 'usuario.registro.form.placeholders.nombre'|trans, 'class': inputClass}}) }}
							{% if formErrors.nombre is defined %}
								<small class="errors">{{formErrors.nombre | trans}}</small>
							{% endif %}
						</li>

						<li>
							{% set inputClass = (formErrors.apellido is defined) ? 'input-error' : ' '%}
							{{ form_label(form.apellido, 'usuario.registro.form.apellido') }}
							{{ form_widget(form.apellido, { 'attr': {'placeholder': 'usuario.registro.form.placeholders.apellido'|trans, 'class': inputClass}}) }}
							{% if formErrors.apellido is defined %}
								<small class="errors">{{formErrors.apellido | trans}}</small>
							{% endif %}
						</li>

						<li>
							{% set inputClass = (formErrors.mail is defined) ? 'input-error' : ' '%}
							{{ form_label(form.mail, 'usuario.registro.form.mail') }}
							{{ form_widget(form.mail, { 'attr': {'placeholder':  'usuario.registro.form.placeholders.mail'|trans, 'class': inputClass}}) }}
							{% if formErrors.mail is defined %}
								<small class="errors">{{formErrors.mail | trans}}</small>
							{% endif %}
						</li>

						<li>
							{% set inputClass = (formErrors.password is defined) ? 'input-error' : ' '%}
							{{ form_label(form.password, 'usuario.registro.form.password') }}
							{{ form_widget(form.password, { 'attr': {'class': inputClass}}) }}
							{% if formErrors.password is defined %}
								<small class="errors">{{formErrors.password | trans}}</small>
							{% endif %}
						</li>

						<li>
							<label for="confirmarPassword" >{% trans %}usuario.registro.form.confirmar_password{% endtrans %}</label>
							<input type="password" id="confirmarPassword" name="confirmarPassword" class="{{formErrors.confirmar is defined ? 'input-error' : ' '}}"/>
							{% if formErrors.confirmar is defined %}
								<small class="errors">{{formErrors.confirmar | trans}}</small>
							{% endif %}
						</li>

						<li>
					    	<span class="tip_password">{% trans %}usuario.registro.form.tip.password{% endtrans %}</span>
					    </li>					    

					    {{ form_rest(form) }}

					    <li>
					    	{% set terminos = path('login')%}
					    	<span class="tip_registro">{% trans with {'%open_a%': '<a href='~terminos~'>', '%close_a%' : '</a>'}%}usuario.registro.form.tip.terminos{% endtrans %}</span>
						</li>

						<li>
							<input class="boton_registrar" type="submit" value="" formnovalidate />
						</li>
					</ul>
				</form>
			</div>
		</div>
	
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">	
		$(function(){
			$.each($('#registro-corriente .form-registro div input[type=text]'), function(){
				$(this).placeholder();
			});

			$('.submit input').click(function(){
				$.each($('#registro-corriente .form-registro div input[type=text]'), function(){
					if($(this).attr('data-placeholder') == $(this).val()){
						$(this).val('');
					};
				});
			});

            $('.registro_facebook_btn').click(function(e){
                e.preventDefault();
                $('.fb_hidden_button').find('.fb_button').click();
            });
            
            $('.entrar_con_facebook').click(function(e){
                e.preventDefault();
                $('.fb_hidden_button').find('.fb_button').click();
            });
        });
	</script>
{% endblock %}