{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.perfil.titulo_pag'|trans}} {{usuario.nombre}} {{usuario.apellido}} | {{parent()}}{% endblock %}
{% block content %}
	{% include 'LoogaresUsuarioBundle:Usuarios:menu_usuario.html.twig' %}
	<div id="main-usuario">
		{% if app.session.hasFlash('confirmacion-registro') %}
		    <div class="flash-notice">
		        {{ app.session.flash('confirmacion-registro') | trans }}
		    </div>
		{% endif %}
		
		{% include 'LoogaresUsuarioBundle:Usuarios:datos_usuario.html.twig' %}

		<div id="content-usuario">
			{% include 'LoogaresUsuarioBundle:Usuarios:'~usuario.tipo~'_usuario.html.twig' %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/perfil.js')}}"></script>
{% endblock %}