{% extends 'LoogaresUsuarioBundle::layout.html.twig' %}

{% block title %}{{'usuario.perfil.titulo_pag'|trans}} {{usuario.nombre}} {{usuario.apellido}} | {{parent()}}{% endblock %}
{% block content %}
	<div class="caja_usuario">
		
		<!-- Mensajes de éxito -->
		{% if app.session.hasFlash('usuario_flash') %}
			    <div class="mensaje_exito">
			        <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('usuario_flash') | trans }}</p>
			    </div>
		{% endif %}
		
		{% include 'LoogaresUsuarioBundle:Usuarios:datos_usuario.html.twig' %}

		<div class="caja_contenidos_usuario">
			{% include 'LoogaresUsuarioBundle:Usuarios:menu_usuario.html.twig' %}
			{% include 'LoogaresUsuarioBundle:Usuarios:'~usuario.tipo~'_usuario.html.twig' %}
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/perfil.js')}}"></script>
{% endblock %}