<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ assets.logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>{{'lugar.notificaciones.nueva_recomendacion.mail.titulo'|trans}}</strong>
                    <br />
                    <br />
                    {% trans with {'%lugar%' : "<a style='color: #0066CC; text-decoration: none;' href="~url('_lugar', {'slug' : mail.recomendacion.lugar.slug})~">"~mail.recomendacion.lugar.nombre~"</a>", '%loogares%' : "<a style='color: #0066CC; text-decoration: none;' href='http://www.loogares.com'>Loogares.com</a>"}%}lugar.notificaciones.nueva_recomendacion.mail.subtitulo{% endtrans %}
                    <br />
                    <br />
                    <br />
                    <br />
                    <div style="margin: 0 0 40px 0; float: left;">
                        <div style="float: left;">
                            <img src="{{ assets.usuario }}" height="60" width="60" />
                        </div>
                        <div style="float: left; margin: 0 0 0 10px; width: 530px;">
                            <strong style="display: block; font-size: 14px; margin: 0px; padding: 0px; color: #444;">{{mail.usuario.nombre}} {{mail.usuario.apellido}}</strong>
                            <span style="font-size: 11px; display: block; color: #999;">{{mail.recomendacion.fechaCreacion | date('m/d/Y')}}</span>
                            <span style="display: block; ">
                                {% if mail.estrellas.llenas > 0 %}
                                    {% for llena in 1..mail.estrellas.llenas %}
                                        <img src="{{assets.estrella_llena}}" />
                                    {% endfor %}
                                {% endif %}
                                {% if mail.estrellas.medias > 0 %}
                                    {% for media in 1..mail.estrellas.medias %}
                                        <img src="{{assets.estrella_media}}" />
                                    {% endfor %}
                                {% endif %}
                                {% if mail.estrellas.vacias > 0 %}
                                    {% for vacia in 1..mail.estrellas.vacias %}
                                        <img src="{{assets.estrella_vacia}}" />
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <p style="font-size: 14px; color: #444;">
                                {{mail.preview}}
                                <a style="color: #0066CC; text-decoration: none;" href="{{url('_recomendacion', {'slug' : mail.recomendacion.lugar.slug, 'usuarioSlug' : (mail.usuario.slug is not empty) ? mail.usuario.slug : mail.usuario.id})}}">{{'lugar.notificaciones.nueva_recomendacion.mail.leer_mas'|trans}}</a>
                            </p>
                        </div>
                    </div>
                    <strong>{{'lugar.notificaciones.nueva_recomendacion.mail.subsubtitulo'|trans({'%lugar%' : mail.recomendacion.lugar.nombre})}}</strong>
                    <br />
                    <br />
                    <p>{{'lugar.notificaciones.nueva_recomendacion.mail.primero'|trans}}</p>
                    <br />
                    <p>{{'lugar.notificaciones.nueva_recomendacion.mail.segundo'|trans({'%lugar%' : mail.recomendacion.lugar.nombre})}}</p>
                    <br />
                    <a href="{{(mail.mailParam is empty) ? url('_reclamarLugar',{'slug' : mail.recomendacion.lugar.slug}) : url('_reclamarLugar',{'slug' : mail.recomendacion.lugar.slug, 'mail' : mail.mailParam})}}"><img style="margin: 0 156px;" src="{{ assets.boton }}" height="45" width="295" /></a>
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}<br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>                  