<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>{{mail.asunto}}</strong>
                    <br />
                    <br />
                    {% if mail.tipo != 'owner' %}
                    <strong>{{'reportes.mail.usuario'|trans}}</strong>
                    <br />
                    {{mail.reporte.usuario.nombre}} {{mail.reporte.usuario.apellido}}
                    <br />
                    <br />
                    <strong>{{'reportes.mail.observacion'|trans}}</strong>
                    <br />
                    {{mail.reporte.reporte}}
                    <br />
                    <br />
                    {{'reportes.mail.lugar.titulo'|trans}}
                        {% if mail.tipo == 'lugar' %}
                            <strong>{{mail.reporte.lugar.nombre}}</strong>
                            <br />
                            <a href="{{url('_lugar',{'slug' : mail.reporte.lugar.slug}) }}">{{url('_lugar',{'slug' : mail.reporte.lugar.slug}) }}</a>
                        {% elseif mail.tipo == 'imagen' %}
                            <strong>{{mail.reporte.imagenLugar.lugar.nombre}}</strong>
                            <br />
                            <strong>{{'reportes.mail.imagen.titulo'|trans}}</strong>
                            <br />
                            <a href="{{url('_fotoGaleria',{'slug' : mail.reporte.imagenLugar.lugar.slug, 'id' : mail.reporte.imagenLugar.id}) }}">{{url('_fotoGaleria',{'slug' : mail.reporte.imagenLugar.lugar.slug, 'id' : mail.reporte.imagenLugar.id}) }}</a>
                        {% elseif mail.tipo == 'recomendacion' %}
                            <strong>{{mail.reporte.recomendacion.lugar.nombre}}</strong>
                            <br />
                            <br />
                            <strong>{{'reportes.mail.recomendacion.titulo'|trans}}</strong>
                            <br />
                            <a href="{{url('_recomendacion',{'slug' : mail.reporte.recomendacion.lugar.slug, 'usuarioSlug' : mail.reporte.recomendacion.usuario.slug}) }}">{{url('_recomendacion',{'slug' : mail.reporte.recomendacion.lugar.slug, 'usuarioSlug' : mail.reporte.recomendacion.usuario.slug}) }}</a>
                        {% endif %}
                    {% else %}
                        <strong>{{'reportes.mail.nombre'|trans}}</strong>
                        <br/>
                        {{mail.owner.nombre}} {{mail.owner.apellido}}
                        <br/>
                        <br/>
                        <strong>{{'reportes.mail.e_mail'|trans}}</strong>
                        <br/>
                        {{mail.owner.mail}}
                        <br/>
                        <br/>
                        <strong>{{'reportes.mail.telefono'|trans}}</strong>
                        <br/>
                        {{mail.owner.telefono}}
                        <br/>
                        <br/>
                        <strong>{{'reportes.mail.comprobar_dueno'|trans}}</strong>
                        <br/>
                        {{mail.owner.texto}}
                        <br/>
                        <br/>
                        <strong>{{'reportes.mail.nombre_lugar'|trans}}</strong>
                        <br/>
                        {{mail.owner.lugar.nombre}} (ID: {{mail.owner.lugar.id}})
                        <br />
                        <a href="{{url('_lugar', {'slug' : mail.owner.lugar.slug})}}">{{url('_lugar', {'slug' : mail.owner.lugar.slug})}}</a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}
                    <br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>