<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>{{'compartir.lugar.mail.saludo'|trans({'%destinatario%' : mail.destinatario })}}</strong>
                    <br />
                    <br />
                    {{mail.usuario.nombre}} 
                    {% if mail.tipo == 'lugar' %}
                        {{'compartir.lugar.mail.subtitulo'|trans}}
                    {% elseif  mail.tipo == 'recomendacion' %}
                        {{'compartir.recomendacion.mail.subtitulo'|trans}}
                    {% endif %} 
                    <br />
                    <br />
                    <center>
                        {% if mail.tipo == 'recomendacion' %}
                            {% trans with {'%open_tag%' : "<a href='"~url('_recomendacion', {'slug' : mail.lugar.slug, 'usuarioSlug' : (mail.recomendacion.usuario.slug is not empty) ? mail.recomendacion.usuario.slug : mail.recomendacion.usuario.id})~"' style='color: #0066CC; text-decoration: none; font-size:16px; font-weight:bold'>", '%close_tag%' : "</a>"}%}compartir.recomendacion.mail.bajada{% endtrans %}<br />
                        {% endif %}
                            <a href="{{url('_lugar', {'slug' : mail.lugar.slug})}}" style="color: #0066CC; text-decoration: none; font-size:16px; font-weight:bold">{{mail.lugar.nombre}}</a><br />
                            <span style="font-size:14px"><strong>{{mail.lugar.calle}} {{mail.lugar.numero}}, {{mail.lugar.comuna.nombre}}
                            <br />
                            {{mail.lugar.comuna.ciudad.nombre}}</strong></span>
                    </center>
                    <br />
                    <br />
                    {{'compartir.lugar.mail.texto'|trans}}</b><br />&nbsp;<br />
                    {{mail.texto}}
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {{mail.usuario.nombre}} {% trans with {'%open_tag%': "<b><a href='mailto:"~mail.usuario.mail~"' style='color: #0066CC; text-decoration: none'>", '%close_tag%' : '</a></b>', '%mail%' : mail.usuario.mail}%}usuario.mail.usuario{% endtrans %}
                    <br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>