{% extends "::base.html.twig" %}

{% block title %}{{'extra.estaticas.contacto.titulo'|trans}} | {{parent()}}{% endblock %}

{% block meta %}
	<meta name="description" content="" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.estaticas.contacto.titulo'|trans}} | Loogares.com" />

	<meta property="og:description" content="" />
{% endblock %}

{% block content %}
    {% if app.session.hasFlash('contacto_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('contacto_flash') | trans }}</p>
            </div>
    {% endif %}
	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.contacto.titulo'|trans}}</h1>

			<p>¿Tienes alguna duda sobre Loogares.com? </p><br />

			<p>¿Nos quieres preguntar o contar algo? Estaremos felices de ayudarte. </p><br />

			<p>Envíanos el formulario con la información o mándanos un mail a <a href="mailto:contacto@loogares.com">contacto@loogares.com</a>, y en menos de 48 horas tendrás una respuesta.</p><br />

			<div class="formulario_estaticas">
				<form action="{{ path('_contacto_mail') }}" method="post">
					<ul>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.nombre'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="nombre"
								{%- if errors is not null %} 
									{% if errors.nombre.error is defined %}class="input-error"{% endif %}
									{% if errors.nombre.ok is defined %}value="{{errors.nombre.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.e_mail'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="mail"
								{%- if errors is not null %} 
									{% if errors.mail.error is defined %}class="input-error"{% endif %}
									{% if errors.mail.ok is defined %}value="{{errors.mail.ok}}"{% endif %}
									{% if errors.mail.mail is defined %}value="{{errors.mail.mail}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.asunto'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="asunto"
								{%- if errors is not null %} 
									{% if errors.asunto.error is defined %}class="input-error"{% endif %}
									{% if errors.asunto.ok is defined %}value="{{errors.asunto.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.info'|trans}}</label>
						<textarea name="mensaje"{% if errors is defined and errors.mensaje.error is defined %}class="input-error"{% endif %}>{% if errors is defined and errors.mensaje.ok is defined %}{{errors.mensaje.ok}}{% endif %}</textarea><span class="tip">{{'extra.estaticas.obligatorio'|trans}}</span>
						</li>
						<li>
							<label></label>
							<input type="submit" class="enviar_datos" value=""/>
						</li>
					</ul>
				</form>
			</div>

		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}