{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'extra.estaticas.contacto.titulo'|trans}}{% endblock %}

{% block content %}

	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.contacto.titulo'|trans}}</h1>

			<p>¿Tienes alguna duda sobre Loogares.com? </p><br />

			<p>¿Nos quieres preguntar o contar algo? Estaremos felices de ayudarte. </p><br />

			<p>Envíanos el formulario con la información o mándanos un mail a <a href="mailto:contacto@loogares.com">contacto@loogares.com</a>, y en menos de 48 horas tendrás una respuesta.</p><br />

			<div class="formulario_estaticas">
				<form>
					<ul>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.nombre'|trans}} <span class="obligatorio">*</span></label>
							<input></input>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.e_mail'|trans}} <span class="obligatorio">*</span></label>
							<input></input>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.asunto'|trans}} <span class="obligatorio">*</span></label>
							<input></input>
						</li>
						<li>
							<label>{{'extra.estaticas.contacto.formulario.info'|trans}}</label>
							<textarea></textarea>
							<span class="tip">{{'extra.estaticas.obligatorio'|trans}}</span>
						</li>
						<li>
							<label></label>
							<input class="enviar_datos"></input>
						</li>
					</ul>
				</form>
			</div>

		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}