{% block content %}

	<div class="menu_estaticas">
		<ul>
			<a href="{{ path('static', {'static': 'que_es_loogares'}) }}"><li>{{'extra.estaticas.que_es_loogarescom.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'eres_el_dueno_de_un_lugar'}) }}"><li>{{'extra.estaticas.eres_el_dueno_de_un_lugar.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'publicidad'}) }}"><li>{{'extra.estaticas.publicidad.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'contacto'}) }}"><li>{{'extra.estaticas.contacto.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'prensa'}) }}"><li>{{'extra.estaticas.prensa.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'trabaja_con_nosotros'}) }}"><li>{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'terminos_de_uso'}) }}"><li>{{'extra.estaticas.terminos_de_uso.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'politicas_de_privacidad'}) }}"><li>{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'copyright'}) }}"><li>{{'extra.estaticas.copyright.titulo'|trans}}</li></a>
			<a href="{{ path('static', {'static': 'codigos_de_conducta'}) }}"><li>{{'extra.estaticas.codigos_de_conducta.titulo'|trans}}</li></a>
		</ul>
	</div>

{% endblock %}