{% block content %}

	<div class="menu_estaticas">
		<ul>
			<a href="{{ path('static', {'static': 'que_es_loogares'}) }}"><li>Qué es Loogares.com</li></a>
			<a href="{{ path('static', {'static': 'eres_el_dueno_de_un_lugar'}) }}"><li>¿Eres el dueño de un lugar?</li></a>
			<a href="{{ path('static', {'static': 'publicidad'}) }}"><li>Publicidad</li></a>
			<a href="{{ path('static', {'static': 'contacto'}) }}"><li>Contacto</li></a>
			<a href="{{ path('static', {'static': 'prensa'}) }}"><li>Prensa</li></a>
			<a href="{{ path('static', {'static': 'trabaja_con_nosotros'}) }}"><li>Trabaja con nosotros</li></a>
			<a href="{{ path('static', {'static': 'terminos_de_uso'}) }}"><li>Términos de uso</li></a>
			<a href="{{ path('static', {'static': 'politicas_de_privacidad'}) }}"><li>Políticas de privacidad</li></a>
			<a href="{{ path('static', {'static': 'copyright'}) }}"><li>Copyright</li></a>
			<a href="{{ path('static', {'static': 'codigos_de_conducta'}) }}"><li>Códigos de conducta</li></a>
		</ul>
	</div>

{% endblock %}