{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'extra.estaticas.publicidad.titulo'|trans}}{% endblock %}

{% block content %}
    {% if app.session.hasFlash('publicidad_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('publicidad_flash') | trans }}</p>
            </div>
    {% endif %}
	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.publicidad.titulo'|trans}}</h1>

			<p></p><br />

			<p>En Loogares.com puedes lograr que tu marca, producto o servicio sea visto por miles de personas que buscan exactamente lo que tú ofreces. La publicidad en Internet es efectiva, eficiente e innovadora.</p><br />

			<p>Si quieres saber sobre el perfil del público al que llegamos y los tamaños y formatos de los espacios que ofrecemos, descarga nuestro PDF. Para conocer los precios, descuentos y otras alternativas de publicidad, envíanos el formulario con tu información o mándanos un mail a <a href="mailto:publicidad@loogares.com">publicidad@loogares.com</a>, y en menos de 48 horas tendrás una respuesta.</p><br />

			<p><a href="">Descargar PDF</a></p><br />

			<div class="formulario_estaticas">
				<form action="{{ path('_publicidad_mail') }}" method="post">
					<ul>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.nombre'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="nombre"/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.e_mail'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="mail"/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.empresa'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="empresa"/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.sitio_web'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="www"/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.telefono'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="tel"/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.info'|trans}}</label>
							<textarea name="mensaje"></textarea>
							<span class="tip">{{'extra.estaticas.obligatorio'|trans}}</span>
						</li>
						<li>
							<label></label>
							<input type="submit" class="enviar_datos" value="" />
						</li>
					</ul>
				</form>
			</div>
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}