{% extends "::base.html.twig" %}

{% block title %}{{'extra.estaticas.publicidad.titulo'|trans}} | {{parent()}}{% endblock %}

{% block meta %}
	<meta name="description" content="" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.estaticas.publicidad.titulo'|trans}} | Loogares.com" />

	<meta property="og:description" content="" />
{% endblock %}

{% block content %}
    {% if app.session.hasFlash('publicidad_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('publicidad_flash') | trans }}</p>
            </div>
    {% endif %}
    {% if app.session.hasFlash('error') %}
            <div class="mensaje_error">
                <div class="imagen_error"></div><p class="txt_error">{{ app.session.flash('error') | trans }}</p>
            </div>
    {% endif %}
	<div class="estaticas">

		<div class="contenido">
			<h1 class="titulo">{{'extra.estaticas.publicidad.titulo'|trans}}</h1>

			<p></p><br />

			<p>En Loogares.com puedes lograr que tu marca, producto o servicio sea visto por miles de personas que buscan exactamente lo que tú ofreces. La publicidad en Internet es efectiva, eficiente e innovadora.</p><br />

			<p>Si quieres saber sobre el perfil del público al que llegamos y los tamaños y formatos de los espacios que ofrecemos, descarga nuestro PDF. Para conocer los precios, descuentos y otras alternativas de publicidad, envíanos el formulario con tu información o mándanos un mail a <a href="mailto:publicidad@loogares.com">publicidad@loogares.com</a>, y en menos de 48 horas tendrás una respuesta.</p><br />

			<p><a href="">Descargar PDF</a></p><br />

			<div class="formulario_estaticas">
				<form action="{{ path('_publicidad_mail') }}" method="post">
					<ul>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.nombre'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="nombre" 
								{%- if errors is not null %} 
									{% if errors.nombre.error is defined %}class="input-error"{% endif %}
									{% if errors.nombre.ok is defined %}value="{{errors.nombre.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.e_mail'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="mail"
								{%- if errors is not null %} 
									{% if errors.mail.error is defined %}class="input-error"{% endif %}
									{% if errors.mail.ok is defined %}value="{{errors.mail.ok}}"{% endif %}
									{% if errors.mail.mail is defined %}value="{{errors.mail.mail}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.empresa'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="empresa"
								{%- if errors is not null %} 
									{% if errors.empresa.error is defined %}class="input-error"{% endif %}
									{% if errors.empresa.ok is defined %}value="{{errors.empresa.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.sitio_web'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="www"
								{%- if errors is not null %} 
									{% if errors.www.error is defined %}class="input-error"{% endif %}
									{% if errors.www.ok is defined %}value="{{errors.www.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.telefono'|trans}} <span class="obligatorio">*</span></label>
							<input type="text" name="tel"
								{%- if errors is not null %} 
									{% if errors.tel.error is defined %}class="input-error"{% endif %}
									{% if errors.tel.ok is defined %}value="{{errors.tel.ok}}"{% endif %}
								{% endif -%}
							/>
						</li>
						<li>
							<label>{{'extra.estaticas.publicidad.formulario.info'|trans}}</label>
							<textarea name="mensaje"{% if errors is defined and errors.mensaje.error is defined %}class="input-error"{% endif %}>{% if errors is defined and errors.mensaje.ok is defined %}{{errors.mensaje.ok}}{% endif %}</textarea>
							<span class="tip">{{'extra.estaticas.obligatorio'|trans}}</span>
						</li>
						<li>
							<label></label>
							<input type="submit" class="enviar_datos" value="" />
						</li>
					</ul>
				</form>
			</div>
		</div>

		{% include 'LoogaresExtraBundle:Static:menu.html.twig' %}

	</div>

{% endblock %}