<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Loogares.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets output='assets/css/compressed.css' filter='?yui_css,sass'
            'assets/css/*.sass'
        %}
        {% endstylesheets %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <link rel="stylesheet" href="{{ asset('assets/css/compressed.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.css') }}" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script>var WEBROOT = "{{app.request.basePath}}/app{% if app.getEnvironment == 'dev'%}_dev{% endif %}.php/"</script>
        <script>
          function goLogIn(){
                alert('sda')
              window.location = "{{ path('login_check_facebook') }}";
          }

          function onFbInit() {

              if (typeof(FB) != 'undefined' && FB != null ) {

                  FB.Event.subscribe('auth.statusChange', function(response) {
                      if (response.session || response.authResponse) {
                          setTimeout(goLogIn, 500);
                      } else {
                          window.location.href = "{{ path('logout') }}";
                      }
                  });
              }
          }
        </script>
        {% block ads %}{% endblock %}
    </head>

    <body>
        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}

        {# Ciudad por default si entramos por primera vez a una página que no sea el home #}
        {% render "LoogaresExtraBundle:Default:locale" with {'slug' : 'santiago-de-chile', 'start': true} %}
        
		{% include '::header.html.twig' %}

        <div class="contenedor">
            {# Por si el usuario no tiene datos básicos #}
            {% if is_granted('ROLE_USER') and (app.security.token.user.nombre is empty or app.security.token.user.apellido is empty or app.security.token.user.comuna is empty)%}
                <a href="{{path('forzarDatosUsuario', {'id' : app.security.token.user.id})}}" class="datos_usuario_fancybox"></a>
            {% endif %}
			
			<div class="contenido">               
				{% block content %}{% endblock %}
			</div>
		</div>

		{% include '::footer.html.twig' %}
        
        <script src="{{asset('assets/js/lib.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
        <script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>
        {% if is_granted('ROLE_USER') and (app.security.token.user.nombre is empty or app.security.token.user.apellido is empty or app.security.token.user.comuna is empty)%}
        <script>
            $(function(){               
                $('.datos_usuario_fancybox').fancybox({
                    hideOnContentClick : false,
                    padding: 0,
                    type: 'ajax',
                    showCloseButton: true
                });
                $('.datos_usuario_fancybox').click();                
            });
        </script>

        
        {% endif %}
        {% block javascripts %}{% endblock %}
    </body>

</html>
