<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Loogares.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets output='assets/css/compressed.css' filter='?yui_css,sass' 
            'assets/css/*.sass' 
        %}
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/compressed.css') }}" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
        <script>var WEBROOT = "{{app.request.basePath}}/app{% if app.getEnvironment == 'dev'%}_dev{% endif %}.php/"</script>
		<script>
		$(function () {
            $('.logo_ciudad_menu').css('position', 'absolute').css('display', 'none')
            $('.menu_categorias').css('padding-left', '131px')
		  var msie6 = $.browser == 'msie' && $.browser.version < 7;

		  if (!msie6) {
            var weAreDown = false;
		    var top = $('.menu').offset().top - parseFloat($('.menu').css('marginTop').replace(/auto/, 0));
		    $(window).scroll(function (event) {
		      // what the y position of the scroll is
		      var y = $(this).scrollTop();

              if(y >= top && weAreDown == false){
                $('.menu').addClass('fixed');
                weAreDown = true;
                $('.logo_ciudad').animate({'margin-top': '-80px'}, 300, function(){
                    $('.logo_ciudad_menu').fadeIn()
                });
              }else if(weAreDown == true && top >= y){
                $('.menu').removeClass('fixed');
                weAreDown = false;
                $('.logo_ciudad').animate({'margin-top': '0px'}, 500, function(){
                      $('.logo_ciudad_menu').fadeOut()
                });
              }

		    });
		  }
          
		});
		</script>
	    
    </head>
    <body>
        {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}#}

		{% include '::header.html.twig' %}

        <div class="contenedor">
			
			<div class="contenido">
            	
				{% block content %}{% endblock %}
            
			</div>
        
		</div>

		{% include '::footer.html.twig' %}

        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <script src="{{asset('assets/js/lib.js')}}"></script>
        <script src="{{asset('assets/js/jquery.validate.min.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
