<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Loogares.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets output='assets/css/compressed.css' filter='?yui_css,sass'
            'assets/css/*.sass'
        %}
        {% endstylesheets %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <link rel="stylesheet" href="{{ asset('assets/css/compressed.css') }}" type="text/css" media="screen" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <script>var WEBROOT = "{{app.request.basePath}}/app{% if app.getEnvironment == 'dev'%}_dev{% endif %}.php/"</script>
        {% block ads %}{% endblock %}
	    
    </head>
    <body>
        {#{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}#}
        {% render "LoogaresExtraBundle:Default:locale" with {'slug' : 'santiago-de-chile', 'start': true} %}
		{% include '::header.html.twig' %}

        <div class="contenedor">
			
			<div class="contenido">
            	
				{% block content %}{% endblock %}
            
			</div>
        
		</div>

		{% include '::footer.html.twig' %}

        
        <script src="{{asset('assets/js/lib.js')}}"></script>
        <script src="{{asset('assets/js/main.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
