<div class="footer">
	<div class="contenido_footer">
		<div class="participa_alianzas">
			<div class="participa">
				<p class="footer_title">{{'general.footer.participa.titulo'|trans}}</p>
				<ul class="participa_listado">
					{% if is_granted('ROLE_USER') == false %}
						<li><a href="{{path('registroUsuario')}}">{{'general.footer.participa.registro'|trans}}</a></li>
					{% endif %}
					<li><a href="{{path('_agregar')}}">{{'general.footer.participa.agregar'|trans}}</a></li>
				</ul>
			</div>
			<div class="alianzas">
				{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
				<p class="footer_title">{{'general.footer.alianzas.titulo'|trans}}</p>
				<a class="alianzas_img" href="http://www.municipal.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_municipal.png')}}" height="50" width="80"/></a>
				<a class="alianzas_img" href="http://www.gam.cl/" target="blank"><img src="{{asset('assets/images/extras/gam.png')}}" height="50" width="70"/></a>
				<a class="alianzas_img" href="http://www.teuc.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_uc.png')}}" height="50" width="110"/></a>
				<a class="alianzas_img" href="http://www.amanda.cl/" target="blank"><img src="{{asset('assets/images/extras/amanda.png')}}" height="50" width="60"/></a>
				<a class="alianzas_img_last" href="http://www.bfdistribution.cl/" target="blank"><img src="{{asset('assets/images/extras/bf_distribution.png')}}" height="50" width="50"/></a>

				{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar'%}
				<p class="footer_title">{{'general.footer.alianzas.titulo'|trans}}</p>
				<a class="alianzas_img" href="http://www.elmartutino.cl/" target="blank"><img src="{{asset('assets/images/extras/el_martutino.png')}}" height="50" width="80"/></a>

				{% elseif app.session.get('ciudad').slug == 'buenos-aires'%}

				{% endif %}
			</div>
		</div>
		<div class="loogares">
			<p class="footer_title">{{'general.footer.loogares.titulo'|trans}}</p>
			<ul class="loogares_listado">
				<li><a href="{{ path('static', {'static': 'que_es_loogares'}) }}">{{'extra.estaticas.que_es_loogarescom.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'contacto'}) }}">{{'extra.estaticas.contacto.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'prensa'}) }}">{{'extra.estaticas.prensa.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'terminos_de_uso'}) }}">{{'extra.estaticas.terminos_de_uso.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'copyright'}) }}">{{'extra.estaticas.copyright.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'eres_el_dueno_de_un_lugar'}) }}">{{'extra.estaticas.eres_el_dueno_de_un_lugar.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'trabaja_con_nosotros'}) }}">{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'publicidad'}) }}">{{'extra.estaticas.publicidad.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'politicas_de_privacidad'}) }}">{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'codigos_de_conducta'}) }}">{{'extra.estaticas.codigos_de_conducta.titulo'|trans}}</a></li>
			</ul>

		</div>
		<div class="pais">
			<p class="footer_title_pais">{{'general.footer.paises.titulo'|trans}}</p>
			<ul class="pais_listado">
				<li><a class="cl" href='{{path("locale", {"slug": "santiago-de-chile"})}}'>{{'general.footer.paises.chile'|trans}}</a></li>
				<li><a class="ar" href="{{path('locale', {'slug': 'buenos-aires'})}}">{{'general.footer.paises.argentina'|trans}}</a></li>
			</ul>
		</div>
		<div class="redes">
			<ul class="redes_listado">
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.loogares.com" data-text="{{'general.footer.redes.twittear'|trans}}" data-lang="es" data-hashtags="Loogarescom">{{'general.footer.redes.tweet'|trans}}</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</li>
				<li>
					<!---<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=251885084895009";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>-->
					<div class="fb-like" data-href="http://www.loogares.com" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
				</li>
				<li>
					<!-- Coloca esta etiqueta donde quieras que se muestre el botón +1. -->
					<g:plusone size="medium" callback="Loogares.com" href="http://www.loogares.com"></g:plusone>

					<!-- Coloca esta petición de presentación donde creas oportuno. -->
					<script type="text/javascript">
					  window.___gcfg = {lang: 'es'};

					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</li>
			</ul>
		</div>
		<div class="ano_loogares">
			{{'general.footer.firma'|trans}}
		</div>
	</div>

</div>