<div class="footer">
	<div class="contenido_footer">
		<div class="participa_alianzas">
			<div class="participa">
				<p class="footer_title">{{'general.footer.participa.titulo'|trans}}</p>
				<ul class="participa_listado">
					{% if is_granted('ROLE_USER') == false %}
						<li><a href="{{path('registroUsuario')}}">{{'general.footer.participa.registro'|trans}}</a></li>
					{% endif %}
					<li><a href="{{path('_agregar')}}">{{'general.footer.participa.agregar'|trans}}</a></li>
				</ul>
			</div>
			<div class="alianzas">
				<p class="footer_title">{{'general.footer.alianzas.titulo'|trans}}</p>
				{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
				<a class="alianzas_img" href="http://www.municipal.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_municipal.png')}}" height="50" width="80"/></a>
				<a class="alianzas_img" href="http://www.gam.cl/" target="blank"><img src="{{asset('assets/images/extras/gam.png')}}" height="50" width="70"/></a>
				<a class="alianzas_img" href="http://www.teuc.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_uc.png')}}" height="50" width="110"/></a>
				<a class="alianzas_img" href="http://www.amanda.cl/" target="blank"><img src="{{asset('assets/images/extras/amanda.png')}}" height="50" width="60"/></a>
				<a class="alianzas_img_last" href="http://www.bfdistribution.cl/" target="blank"><img src="{{asset('assets/images/extras/bf_distribution.png')}}" height="50" width="50"/></a>
				{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar'%}
				<a class="alianzas_img" href="http://www.elmartutino.cl/" target="blank"><img src="{{asset('assets/images/extras/el_martutino.png')}}" height="50" width="80"/></a>
				<a class="alianzas_img" href="http://www.cinearte.cl/" target="blank"><img src="{{asset('assets/images/extras/cine_arte.png')}}" height="50" width="100"/></a>
				<a class="alianzas_img_last" href="http://www.bfdistribution.cl/" target="blank"><img src="{{asset('assets/images/extras/bf_distribution.png')}}" height="50" width="50"/></a>
				{% elseif app.session.get('ciudad').slug == 'buenos-aires'%}
				<a class="alianzas_img" href="http://www.distribution-company.com/" target="blank"><img src="{{asset('assets/images/extras/dc.png')}}" height="86" width="51"/></a>
				<a class="alianzas_img" href="http://www.mundobiffi.com.ar/" target="blank"><img src="{{asset('assets/images/extras/mundo_biffi.png')}}" height="30" width="100"/></a>
				{% endif %}
			</div>
		</div>
		<div class="loogares">
			<p class="footer_title">{{'general.footer.loogares.titulo'|trans}}</p>
			<ul class="loogares_listado">
				<li><a href="{{ path('static', {'static': 'que_es_loogares'}) }}">{{'extra.estaticas.que_es_loogarescom.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'contacto'}) }}">{{'extra.estaticas.contacto.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'prensa'}) }}">{{'extra.estaticas.prensa.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'terminos_de_uso'}) }}">{{'extra.estaticas.terminos_de_uso.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'copyright'}) }}">{{'extra.estaticas.copyright.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'eres_el_dueno_de_un_lugar'}) }}">{{'extra.estaticas.eres_el_dueno_de_un_lugar.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'trabaja_con_nosotros'}) }}">{{'extra.estaticas.trabaja_con_nosotros.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'publicidad'}) }}">{{'extra.estaticas.publicidad.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'politicas_de_privacidad'}) }}">{{'extra.estaticas.politicas_de_privacidad.titulo'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'codigos_de_conducta'}) }}">{{'extra.estaticas.codigos_de_conducta.titulo'|trans}}</a></li>
			</ul>

		</div>
		<div class="pais">
			<p class="footer_title_pais">{{'general.footer.paises.titulo'|trans}}</p>
			<ul class="pais_listado">
				<li><a class="cl" href='{{path("locale", {"slug": "santiago-de-chile"})}}'>{{'general.footer.paises.chile'|trans}}</a></li>
				<li><a class="ar" href="{{path('locale', {'slug': 'buenos-aires'})}}">{{'general.footer.paises.argentina'|trans}}</a></li>
			</ul>
		</div>
		<div class="idioma">
		</div>
		<div class="redes">
			<ul class="redes_listado">
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.loogares.com" data-text="{{'general.footer.redes.twittear'|trans}}" data-lang="es" data-hashtags="Loogarescom">{{'general.footer.redes.tweet'|trans}}</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</li>
				<li>
					<div class="fb-like" data-href="http://www.loogares.com" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
				</li>
			</ul>
		</div>
		<div class="copyright">
			{{'general.footer.firma'|trans}}
			<div class="softlayer"><a target="_blank" href="http://www.softlayer.com"></a></div>
		</div>
	</div>

</div>