<div class="footer">

	<div class="contenido_footer">
		<div class="participa_alianzas">
			<div class="participa">
				<p class="footer_title">{{'general.footer.participa.titulo'|trans}}</p>
				<ul class="participa_listado">
					{% if is_granted('ROLE_USER') == false %}
						<li><a href="{{path('registroUsuario')}}">{{'general.footer.participa.registro'|trans}}</a></li>
					{% endif %}
					<li><a href="{{path('_agregar')}}">{{'general.footer.participa.agregar'|trans}}</a></li>
				</ul>
			</div>
			<div class="alianzas">
				<p class="footer_title">{{'general.footer.alianzas.titulo'|trans}}</p>
				<a class="alianzas_img" href="http://www.municipal.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_municipal.png')}}" height="50" width="80"/></a>
				<a class="alianzas_img" href="http://www.gam.cl/" target="blank"><img src="{{asset('assets/images/extras/gam.png')}}" height="50" width="70"/></a>
				<a class="alianzas_img" href="http://www.teuc.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_uc.png')}}" height="50" width="110"/></a>
				<a class="alianzas_img" href="http://www.amanda.cl/" target="blank"><img src="{{asset('assets/images/extras/amanda.png')}}" height="50" width="60"/></a>
				<a class="alianzas_img_last" href="http://www.bfdistribution.cl/" target="blank"><img src="{{asset('assets/images/extras/bf_distribution.png')}}" height="50" width="50"/></a>
			</div>
		</div>
		<div class="loogares">
			<p class="footer_title">{{'general.footer.loogares.titulo'|trans}}</p>
			<ul class="loogares_listado">
				<li><a href="{{ path('static', {'static': 'que_es_loogares'}) }}">{{'general.footer.loogares.que'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'contacto'}) }}">{{'general.footer.loogares.contacto'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'prensa'}) }}">{{'general.footer.loogares.prensa'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'terminos_de_uso'}) }}">{{'general.footer.loogares.terminos'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'copyright'}) }}">{{'general.footer.loogares.copyright'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'eres_el_dueno_de_un_lugar'}) }}">{{'general.footer.loogares.owner'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'trabaja_con_nosotros'}) }}">{{'general.footer.loogares.jobs'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'publicidad'}) }}">{{'general.footer.loogares.publicidad'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'politicas_de_privacidad'}) }}">{{'general.footer.loogares.privacidad'|trans}}</a></li>
				<li><a href="{{ path('static', {'static': 'codigos_de_conducta'}) }}">{{'general.footer.loogares.conducta'|trans}}</a></li>
			</ul>

		</div>
		<div class="pais">
			<p class="footer_title_pais">{{'general.footer.paises.titulo'|trans}}</p>
			<ul class="pais_listado">
				<li><a class="cl" href="#">Chile</a></li>
				<li><a class="ar" href="#">Argentina</a></li>
			</ul>
		</div>
		<div class="ano_loogares">
			{{'general.footer.firma'|trans}}
		</div>
	</div>

</div>