<div class="footer">

	<div class="contenido_footer">
		<div class="participa_alianzas">
			<div class="participa">
				<p class="footer_title">Participa</p>
				<ul class="participa_listado">
					{% if is_granted('ROLE_USER') == false %}
						<li><a href="{{path('registroUsuario')}}">Regístrate</a></li>
					{% endif %}
					<li><a href="{{path('_agregar')}}">Agrega y recomienda un lugar</a></li>
				</ul>
			</div>
			<div class="alianzas">
				<p class="footer_title">Alianzas</p>
				<a class="alianzas_img" href="http://www.municipal.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_municipal.png')}}" height="50" width="80"/></a>
				<a class="alianzas_img" href="http://www.gam.cl/" target="blank"><img src="{{asset('assets/images/extras/gam.png')}}" height="50" width="70"/></a>
				<a class="alianzas_img" href="http://www.teuc.cl/" target="blank"><img src="{{asset('assets/images/extras/teatro_uc.png')}}" height="50" width="110"/></a>
				<a class="alianzas_img" href="http://www.amanda.cl/" target="blank"><img src="{{asset('assets/images/extras/amanda.png')}}" height="50" width="60"/></a>
				<a class="alianzas_img_last" href="http://www.bfdistribution.cl/" target="blank"><img src="{{asset('assets/images/extras/bf_distribution.png')}}" height="50" width="50"/></a>
			</div>
		</div>
		<div class="loogares">
			<p class="footer_title">Loogares.com</p>
			<ul class="loogares_listado">
				<li><a href="#">¿Qué es Loogares.com?</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="#">Prensa</a></li>
				<li><a href="#">Términos de uso</a></li>
				<li><a href="#">Copyright</a></li>
				<li><a href="#">¿Eres el dueño de un lugar?</a></li>
				<li><a href="#">Trabaja con nosotros</a></li>
				<li><a href="#">Publicidad</a></li>
				<li><a href="#">Políticas de privacidad</a></li>
				<li><a href="#">Códigos de conducta</a></li>
			</ul>

		</div>
		<div class="pais">
			<p class="footer_title_pais">Cambiar de país:</p>
			<ul class="pais_listado">
				<li><a class="cl" href="#">Chile</a></li>
				<li><a class="ar" href="#">Argentina</a></li>
			</ul>
		</div>
		<div class="ano_loogares">
			© 2010~2012 Loogares.com
		</div>
	</div>

</div>