<div class="header_reporte">
	<p class="volver_loogares"><a href="{{path('locale', {'slug': app.session.get('ciudad').slug})}}">{{'general.header_locales.volver'|trans}}</a></p>
	<p class="usuario_reporte"><a href="">{{'general.header_locales.que_es'|trans}}</a> | <a href="">{{'general.header_locales.clientes'|trans}}</a> | <a href="">{{'general.header_locales.promocionar'|trans}}</a></p>
</div>
<div class="contenido_reporte">