<div class="header_reporte">
	<p class="volver_loogares"><a href="{{path('locale', {'slug': app.session.get('ciudad').slug})}}">{{'general.header_locales.volver'|trans}}</a></p>
	<p class="usuario_reporte"><a href="#promociona_tu_negocio">{{'general.header_locales.que_es'|trans}}</a> | <a href="#lo_que_dicen">{{'general.header_locales.clientes'|trans}}</a> | <a href="#somos_los_buena_onda">{{'general.header_locales.promocionar'|trans}}</a></p>
</div>
<div class="contenido_reporte">