<div class="barra_ciudad">
	<div class="centrado_ciudad">
		<a href="{{path('root')}}">
			<div class="logo_ciudad">			
				<img src="{{ asset('assets/images/extras/logo.png') }}" width="100" height="65" />			
			</div>
		</a>
		{% render "LoogaresExtraBundle:Default:ciudad" %}
		<div class="login">
			{% if is_granted('ROLE_USER') %}
				{% set slug = (app.security.token.user.slug != '') ? app.security.token.user.slug : app.security.token.user.id %}					
				<ul>
					<li>
						<div class="usuario_login">
							<img class="imagen_usuario_header" src="{{ ("assets/images/usuarios/"~app.security.token.user.imagenFull) | apply_filter('small_usuario') }}" width="25" height="25" />
							<a class="nombre_usuario_header" href="{{path('showUsuario', { 'param': slug })}}">{{app.security.token.user.nombre}} {{app.security.token.user.apellido}}</a>
							<div class="flecha_ciudad"></div>
							<ul>
								<a href="{{path('editarCuentaUsuario', { 'param': slug })}}"><li><div class="header_editar_datos_usuario"></div><span class="con_icono">{{'general.header.usuario.editar'|trans}}</span></li></a>
								<a href="{{path('actividadUsuario', { 'param': slug })}}"><li><span>{{'general.header.usuario.actividad'|trans}}</span></li></a>
								<a href="{{path('recomendacionesUsuario', { 'param': slug })}}"><li><span>{{'general.header.usuario.recomendaciones'|trans}}</span></li></a>
								<a href="{{path('fotosLugaresUsuario', { 'param': slug })}}"><li><span>{{'general.header.usuario.fotos'|trans}}</span></li></a>
								<a href="#"><li><span>{{'general.header.usuario.lugares'|trans}}</span></li></a>
								<a href="#"><li><span class="subconjunto">{{'general.header.usuario.por_recomendar'|trans}}</span><span class="numero_notificacion">{% render "LoogaresUsuarioBundle:Usuario:totalRecomendacionesPendientes" %}</span></li></a>
								<a href="#"><li><span class="subconjunto">{{'general.header.usuario.para_visitar'|trans}}</span><span class="numero_notificacion">{% render "LoogaresUsuarioBundle:Usuario:totalRecomendacionesPendientes" %}</span></li></a>
								<a href="{{path('logout')}}"><li><span>{{'general.header.usuario.logout'|trans}}</span></li></a>
							</ul>
						</div>
					</li>
				</ul>		
			
			{% else %}
				<a class="usuario_login_entra" href="{{path('login')}}">{{'general.header.usuario.login'|trans}}</a>
				<a class="usuario_login_registro" href="{{path('registroUsuario')}}">{{'general.header.usuario.registro'|trans}}</a>
				<a class="facebook_login" href="#"></a>
			{% endif %}
		</div>
		<div class="redes_sociales">
			<a class="facebook_btn" href="http://www.facebook.com/Loogarescom" target="blank"></a>
			<a class="twitter_btn" href="http://www.twitter.com/Loogarescom" target="blank"></a>
			<a class="blog" href="#">Blog</a>
		</div>
	</div>
</div>

<div class="menu">
	<div class="centrado_menu">
		<a href="{{path('root')}}">
			<div class="logo_ciudad_menu">
				<img src="{{ asset('assets/images/extras/logo_header.png') }}" width="50" height="34" />
			</div>
		</a>
		{% render "LoogaresExtraBundle:Default:menu" %}
		<div class="buscador_box">
			<form action="{{ path('_buscar', { 'slug': 'santiago-de-chile' }) }}">
				<div class="buscar">
						<input class="buscador" name="q" type="text" placeholder="Completos, Lastarria, bares, La Moneda" />
					<div class="caja_icono">
						<a class="icono_buscar" href="#"></a>
					</div>
				</div>
			</form>	
		</div>
	</div>
</div>