<div class="menu_categorias">
	<ul>
		{% for menu in menu %}
			<li><a href="">{{menu.tipo.nombre}}</a>
				{% if menu.categorias|length <= 15 %}
					<ul>
					{% for categoria in menu.categorias %}
						<li><a href="{{path( '_categoria',{'slug': 'santiago-de-chile', 'categoria':categoria.categoria_slug} )}}">{{categoria.categoria_nombre}} ({{categoria.total}})({{menu.categorias|length}})</a></li>
					{% endfor %}
					</ul>
				{% elseif menu.categorias|length >= 16 and menu.categorias|length <= 19 %}			
					<ul>
					{% for categoria in menu.categorias %}
						<li><a href="{{path( '_categoria',{'slug': 'santiago-de-chile', 'categoria':categoria.categoria_slug} )}}">{{categoria.categoria_nombre}} ({{categoria.total}})({{menu.categorias|length}})</a></li>
						{% if loop.index == 0 or loop.index % 10 == 0 %}
							</ul><ul>
						{% endif %}
					{% endfor %}
					</ul>
				{% elseif menu.categorias|length > 15 %}
					<ul>
					{% for categoria in menu.categorias %}
						<li><a href="{{path( '_categoria',{'slug': 'santiago-de-chile', 'categoria':categoria.categoria_slug} )}}">{{categoria.categoria_nombre}} ({{categoria.total}})({{menu.categorias|length}})</a></li>
						{% if loop.index == 0 or loop.index % 15 == 0 %}
							</ul><ul>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>


