<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>{{'admin.notificaciones.saludo'|trans({'%nombre%' : mail.usuario.nombre, '%apellido%' : mail.usuario.apellido})}}</strong>
                    <br />
                    <br />
                    {% if mail.tipo == 'aprobar' %}
                        {{'admin.notificaciones.imagen.aprobar.primero'|trans({'%lugar%' : mail.imagen.lugar.nombre})}}
                    {% elseif mail.tipo == 'mover' %}       
                        {% trans with {'%open_tag%' : "<a style='color: #0066CC; text-decoration: none;' href="~url('_fotoGaleria',{'slug' : mail.imagen.lugar.slug,'id' : mail.imagen.id})~">",'%close_tag%' : "</a>", '%old_lugar%' : mail.old_lugar.nombre,'%new_lugar%' : mail.imagen.lugar.nombre} %}admin.notificaciones.imagen.mover.primero{% endtrans %}
                        {{'admin.notificaciones.imagen.mover.segundo'|trans}}
                    {% elseif mail.tipo == 'borrar' %}
                        {{'admin.notificaciones.imagen.borrar.primero'|trans({'%lugar%' : mail.imagen.lugar.nombre})}}
                        {% trans with {'%lugar%' : mail.imagen.lugar.nombre, '%open_tag%' : "<a href="~url('static', {'static' : 'terminos_de_uso'})~">", '%close_tag%' : "</a>"}%}admin.notificaciones.imagen.borrar.segundo{% endtrans %}
                    {% endif %} 
                    <br />
                    <br />
                    {{'admin.notificaciones.imagen.despedida'|trans}}
                </td>
            </tr>
            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}<br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>