<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ asset('assets/images/mails/logo_mails.png') }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 0; width: 650px;">
                    <div style="padding: 0 20px">
	                    <strong>{{'admin.notificaciones.ganadores.felicitaciones'|trans}} {{'admin.notificaciones.saludo'|trans({'%nombre%' : 'mail.usuario.nombre', '%apellido%' : 'mail.usuario.apellido'})}}!</strong>
	                    <br />
	                    <br />
	                    {{'admin.notificaciones.ganadores.gracias_a'|trans}} <strong><a href="" style="color: #0066CC; text-decoration: none;">NOMBRE LUGAR</a></strong>. {{'admin.notificaciones.ganadores.premio_unico'|trans}}
	                    <br />
	                    <br />
	                    <strong>{{'admin.notificaciones.ganadores.cupon'|trans}}</strong>
	                    <br />
	                    <br />
	               	</div>
	               	<div style="background: #FAFAFC; float: left; border-top: 1px solid #CCC;">
	                    <img src="" height="100px" width="177px" style="float: left; padding: 20px 20px 20px 0; margin: 0 0 0 20px; border-bottom: 1px solid #E5E5E5;"/>
	                    <div style="float: left; border-bottom: 1px solid #E5E5E5; height: 100px; padding: 20px 0px; font-size: 17px; font-weight: bold; line-height: 33px; width: 411px; margin: 0 20px 0 0;">
	                    	GANADOR CONCURSO
	                    	<br />
	                    	NOMBRE GANADOR
	                    	<br />
	                    	{{'admin.notificaciones.ganadores.codigo'|trans}} CÓDIGO
	                    </div>
	               	</div>
	               	<div style="background: #FAFAFC; float: left; padding: 20px; width: 608px; font-size: 12px; line-height: 20px;">
	               		<div style="float: left; padding: 0 0 20px 0; width: 610px; border-bottom: 1px solid #E5E5E5;">
		               		<strong>{{'admin.notificaciones.ganadores.detalle'|trans}}</strong>
		               		<br />
		               		Texto detalle
		               		<br />
		               		<br />
		               		<strong>{{'admin.notificaciones.ganadores.condiciones'|trans}}</strong>
		               		<br />
		               		Texto condiciones
		               	</div>
	               	</div>
	               	<div style="background: #FAFAFC; float: left; padding: 0px 20px 20px; width: 608px; font-size: 12px; line-height: 25px;">
	               		<div style="float: left; padding: 0 0 20px 0; width: 610px; border-bottom: 1px solid #E5E5E5;">
		               		<strong>{{'admin.notificaciones.ganadores.sobre'|trans}} NOMBRE LOCAL</strong>
		               		<br />
		               		<br />
		               		Calle Número, Comuna, Ciudad
		               		<br />
		               		Teléfono 1, Teléfono 2, Teléfono 3
		               		<br />
		               		<a href="" style="color: #0066CC; text-decoration: none;">Sitio web</a>
		               		<br />
		               		<a href="" style="color: #0066CC; text-decoration: none; margin: 0 10px 0 0;"><img src="http://www.loogares.com/assets/images/mails/facebook.png" height="16" width="16" /></a> <a href="" style="color: #0066CC; text-decoration: none;"><img src="http://www.loogares.com/assets/images/mails/twitter.png" height="16" width="16" /></a>
		               		<br />
		               		{{'admin.notificaciones.ganadores.visita'|trans}} <a href="" style="color: #0066CC; text-decoration: none;">{{'admin.notificaciones.ganadores.visita_link'|trans}}</a>
		               	</div>
	               	</div>
	               	<div style="background: #FAFAFC; float: left; width: 648px; font-size: 12px; line-height: 25px;">
	               		<div style="float: left; padding: 0 20px 20px; width: 610px; border-bottom: 1px solid #CCC;">
		               		<strong>{{'admin.notificaciones.ganadores.perfil'|trans}} <a href="" style="color: #0066CC; text-decoration: none;">{{'admin.notificaciones.ganadores.perfil_link'|trans}}</a> {{'admin.notificaciones.ganadores.perfil_verlo'|trans}}</strong>
		               	</div>
	               	</div>
	               	<div style="padding: 0 20px; float: left;">
	                    <br />
	                    {{'admin.notificaciones.ganadores.sugerencia_recomendacion'|trans | raw}} <strong>NOMBRE LUGAR</strong> {{'admin.notificaciones.ganadores.sugerencia_feedback'|trans}}
	                    <br />
	                    <br />
	                    {{'admin.notificaciones.ganadores.disfruta'|trans}}
	                    <br />
	                    <br />
	                    {{'admin.notificaciones.ganadores.saludos'|trans}}
	                </div>
                </td>
            </tr>

            <tr>
                <td style="color: #CCC; font-size: 11px; padding: 20px">
                    <br />
                    {% trans with {'%open_tag%': '<b><a href="http://www.loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_tag%' : '</a></b>'}%}usuario.mail.equipo{% endtrans %}<br />
                    <br />
                    {% trans with {'%open_a%': '<a href="mailto:contacto@loogares.com" style="color: #0066CC; text-decoration: none;">', '%close_a%' : '</a>'}%}usuario.mail.contacto{% endtrans %}
                    <br />
                    <br />
                    <span style="display: block; text-align: center;">&copy; {{'usuario.mail.firma'|trans}}</span>
                </td>
            </tr>
        </table>
    </div>
</body>