{% extends 'LoogaresAdminBundle:Admin:base.html.twig' %}
{% block content %}
<style>
	ul{
		list-style: circle;

	}
	li{
		margin: 10px;
	}
</style>
<ul>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad}) }}">Lugares:</a> {{totalLugares}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoRevision', {'ciudad': ciudad}) }}">Lugares con Revisiones:</a> {{totalLugaresConRevision}} 
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad, 'pestado': 'Reportado'}) }}">Lugares Reportados:</a> {{totalLugaresReportados}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad, 'pestado': 'Por Revisar'}) }}">Lugares Por Revisar:</a> {{totalLugaresPorRevisar}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': 'todos'}) }}">Fotos:</a> {{totalFotos}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': 'todos', 'pestado': 'Reportado', 'fecha_creacion': 'desc'}) }}">Fotos Reportadas</a> {{totalFotosReportadas}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': 'todos', 'pestado': 'Por Revisar', 'fecha_creacion': 'desc'}) }}">Fotos Por Revisar</a> {{totalFotosPorRevisar}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad }) }}">Recomendaciones</a> {{totalRecomendaciones}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad, 'pestado': 'Reportado', 'fecha_creacion': 'asc' }) }}">Recomendaciones Reportadas</a> {{totalRecomendacionesReportadas}}
	</li>
	<li>
		<a href="{{ path('LoogaresAdminBundle_pedidosLugar', {'ciudad': ciudad, 'slug': 'todos' }) }}">Pedidos</a> {{totalPedidos}}
	</li>
</ul>
<br />

{% endblock %}