{% extends 'LoogaresAdminBundle:Admin:base.html.twig' %}
{% block content %}

<div class="menu_admin">

	<h1 class="titulo_admin">Lugares</h1>


	<ul class="submenu_admin">
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug}) }}">Total</a> <span class="totales_azul">{{totalLugares}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug, 'pestado': 'Por Revisar'}) }}">Agregados (por revisar)</a> <span class="totales">{{totalLugaresPorRevisar}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoRevision', {'ciudad': ciudad.slug}) }}">Editados (por revisar)</a> <span class="totales">{{totalLugaresConRevision}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug, 'pestado': 'Reportado'}) }}">Reportados</a> <span class="totales">{{totalLugaresReportados}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug, 'pestado': 'Cerrado'}) }}">Cerrados</a> <span class="totales_rojo">{{totalLugaresCerrados}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug, 'pestado': 'Eliminado'}) }}">Eliminados</a> <span class="totales_rojo">{{totalLugaresEliminados}}</span>
		</li>
	</ul>

	<h2 class="titulo_admin">Pedidos Online</h2>

	<ul class="submenu_admin">
		<li>
			<a href="{{ path('LoogaresAdminBundle_pedidosLugar', {'ciudad': ciudad.slug, 'slug': 'todos' }) }}">Pedidos Online</a> <span class="totales_azul">{{totalPedidos}}</span>
		</li>
	</ul>

	<h3 class="titulo_admin">Recomendaciones</h3>

	<ul class="submenu_admin">	
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad.slug }) }}">Total</a> <span class="totales_azul">{{totalRecomendaciones}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad.slug }) }}">Aprobadas</a> <span class="totales">{{totalRecomendacionesAprobadas}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad.slug, 'pestado': 'Reportado', 'fecha_creacion': 'asc' }) }}">Reportadas</a> <span class="totales">{{totalRecomendacionesReportadas}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoRecomendaciones', {'ciudad': ciudad.slug, 'pestado': 'Eliminado', 'fecha_creacion': 'asc' }) }}">Eliminadas</a> <span class="totales_rojo">{{totalRecomendacionesEliminadas}}</span>
		</li>
	</ul>

	<h4 class="titulo_admin">Fotos</h4>

	<ul class="submenu_admin">
		<li>
			<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad.slug, 'slug': 'todos'}) }}">Total</a> <span class="totales_azul">{{totalFotos}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad.slug, 'slug': 'todos', 'pestado': 'Por Revisar', 'fecha_creacion': 'desc'}) }}">Agregadas (por revisar)</a> <span class="totales">{{totalFotosPorRevisar}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad.slug, 'slug': 'todos', 'pestado': 'Reportado', 'fecha_creacion': 'desc'}) }}">Reportadas</a> <span class="totales">{{totalFotosReportadas}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad.slug, 'slug': 'todos', 'pestado': 'Eliminado', 'fecha_creacion': 'desc'}) }}">Eliminadas</a> <span class="totales_rojo">{{totalFotosEliminadas}}</span>
		</li>
	</ul>

	<h5 class="titulo_admin">Blog</h4>

	<ul class="submenu_admin">
		<li>
			<a href="{{ path('LoogaresAdminBundle_listadoBlogPosts', {'ciudad': ciudad.slug }) }}">Todos</a> <span class="totales_azul">{{totalPosts}}</span>
		</li>
		<li>
			<a href="#">Publicados</a> <span class="totales">{{totalPostsPublicados}}</span>
		</li>
		<li>
			<a href="#">Borradores</a> <span class="totales">{{totalPostsBorradores}}</span>
		</li>
		<li>
			<a href="#">Agendados</a> <span class="totales_rojo">{{totalPostsAgendados}}</span>
		</li>
		<li>
			<a href="{{ path('LoogaresAdminBundle_agregarBlogPosts', {'ciudad': ciudad.slug }) }}">Agregar nuevo post</a>
		</li>
	</ul>

</div>

{% endblock %}