<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Administrador Loogares.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets output='assets/css/compressed.css' filter='?yui_css,sass' 
            'assets/css/*.sass' 
        %}
        {% endstylesheets %}
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <script src="{{asset('assets/js/jquery.fixheadertable.min.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('assets/css/compressed.css') }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="screen" />
        <script>var WEBROOT = "{{app.request.basePath}}/app{% if app.getEnvironment == 'dev'%}_dev{% endif %}.php/"</script>
        <script>
            $(function(){
                $('table').tableScroll({height:500});
            });
        </script>
        <style>

                .id{
                    width: 50px;
                }

        </style>
    </head>
<body style="background: none;">

    <div class="contenedor_admin">

        <div class="header_admin">
            <span><a href=""><img src="{{ asset('assets/images/administrador/logo.png') }}" height="65" width="100" /></a></span>
        </div>

        <div class="contenido">
            {% block content %}{% endblock %}
        </div>

        <div class="footer_admin">
            © 2010~2012 Loogares.com
        </div>

    </div>

    <script src="{{asset('assets/js/jquery-ui-1.8.16.custom.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.ui.datepicker-es.js')}}" type="text/javascript"></script>
    <script src="{{asset('assets/js/admin.js')}}" type="text/javascript"></script>
    
    {% block javascript %}
        
    {% endblock %}

</body>
</html>
