{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Editar Recomendacion | {{parent()}}{% endblock %}
{% block javascript %}
<script>
	    $( "#mover" ).autocomplete({
            source: WEBROOT+"../admin/ajax/sugerirLugar",
            minLength: 1,
            select: function(event, ui){
            	console.log(ui.item.value.match(/(\d+)/));
            	$('#id').val(ui.item.value.match(/(\d+)/)[0])
            }
        });
</script>
<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
<script src="{{asset('assets/js/editarRecomendacion.js')}}"></script>
{% endblock %}
{% block content %}
<br/><br/><br/><br/><br/>
<p><a href="{{ path('_recomendacion', {'slug': recomendacion.lugarSlug, 'usuarioSlug': recomendacion.usuarioSlug}) }}">Ver Recomendacion en el Sitio</a></p>
<form action="{{ path('LoogaresAdminBundle_editarRecomendacion', {'id': recomendacion.id, 'ciudad': ciudad.slug}) }}" method="post">
	<ul>
		<li>
			<label>Usuario</label>
			<span class="perfil_usuario">
                <a target="_blank" class="usuario{% if recomendacion.usuarioSexo == "m"%}_hombre{% else %}_mujer{%endif%}" href="{{ path('editarCuentaUsuario', {'param': recomendacion.usuarioSlug }) }}"></a>
            </span>
			{{recomendacion.usuarioNombre}} {{recomendacion.usuarioApellido}} {{recomendacion.usuarioSlug}}
		</li>
		<li>
			<label>Lugar</label>
			{{recomendacion.lugarNombre}}
		</li>
		<li>
			<label>Fecha de Creacion</label>
			{{recomendacion.fecha_creacion|date('d/m/Y')}}
		</li>
		<li>
			<label>Mover a: </label>
			<input id="mover" type="text">
			<input type="hidden" name="lugar_id" id="id" />
		</li>
		<li>
			<label>Texto</label>
			<textarea name="texto">{{recomendacion.texto}}</textarea>
		</li>
		<li>
			<label>Estrellas</label>
			<div data-stars="{{recomendacion.estrellas}}" class="star-raty"></div>
		</li>
		{% if mostrarPrecio != false %}
		<li>
			<label>Precio</label>
			<div data-stars="{{recomendacion.precio}}" class="precio-raty"></div>
		</li>
		{% endif %}
		<li>
			<label>Acciones</label>
            {% if recomendacion.estado == 'Eliminado' %}
                <a href="{{ path('LoogaresAdminBundle_habilitarRecomendacion', {'ciudad': ciudad.slug, 'id':recomendacion.id}) }}"><img src="{{asset('assets/images/administrador/tick.png')}}"/></a>
            {% else %}
                <a href="{{ path('LoogaresAdminBundle_borrarRecomendacion', {'ciudad': ciudad.slug, 'id':recomendacion.id}) }}"><img src="{{asset('assets/images/administrador/cross.png')}}"/></a>
            {% endif %}
		</li>
	</ul>
	<input type="submit" value="Guardar"/>
</form>
{% endblock %}

