{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Editar Recomendacion | {{parent()}}{% endblock %}
{% block javascript %}
<script>
	    $( "#mover" ).autocomplete({
            source: WEBROOT+"../admin/ajax/sugerirLugar",
            minLength: 1,
            select: function(event, ui){
            	console.log(ui.item.value.match(/\(\d+\)/));
            	$('#id').val(ui.item.value.match(/\(\d+\)/)[0])
            }
        });
</script>

<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
<script src="{{asset('assets/js/editarRecomendacion.js')}}"></script>

{% endblock %}
{% block content %}

	<h1 class="titulo_admin">Editar Recomendación | <a href="{{ path('_recomendacion', {'slug': recomendacion.lugarSlug, 'usuarioSlug': recomendacion.usuarioSlug}) }}">Ver en el sitio</a></h1>

	<form action="{{ path('LoogaresAdminBundle_editarRecomendacion', {'id': recomendacion.id, 'ciudad': ciudad.slug}) }}" method="post">
		<ul class="agregar_blog_posts">
			<li>
				<label>Usuario</label>
				<span class="nombre_apellido">
	                {{recomendacion.usuarioNombre}} {{recomendacion.usuarioApellido}} |
	            </span> 
	            <span class="nombre_usuario">
	            	{{recomendacion.usuarioSlug}}
	            </span>
			</li>
			<li>
				<label>Lugar</label>
				<span>
					{{recomendacion.lugarNombre}}
				</span>
			</li>
			<li>
				<label>Fecha de creacion</label>
				<span>
					{{recomendacion.fecha_creacion|date('d/m/Y')}}
				</span>
			</li>
			<li>
				<label>Mover a</label>
				<input id="mover" type="text">
				<input type="hidden" name="lugar_id" id="id" />
			</li>
			<li>
				<label>Recomendación</label>
				<textarea name="texto" rows="20">{{recomendacion.texto}}</textarea>
			</li>
			<li>
				<label>Estrellas</label>
				<span data-stars="{{recomendacion.estrellas}}" class="star-raty"></span>
			</li>
			{% if mostrarPrecio != false %}
			<li>
				<label>Precio</label>
				<span data-stars="{{recomendacion.precio}}" class="precio-raty"></span>
			</li>
			{% endif %}
			<li>
				<label>Acciones</label>
				<span>
	            {% if recomendacion.estado == 'Eliminado' %}
	                <a href="{{ path('LoogaresAdminBundle_habilitarRecomendacion', {'ciudad': ciudad.slug, 'id':recomendacion.id}) }}"><img src="{{asset('assets/images/administrador/tick.png')}}"/></a>
	            {% else %}
	                <a href="{{ path('LoogaresAdminBundle_borrarRecomendacion', {'ciudad': ciudad.slug, 'id':recomendacion.id}) }}"><img src="{{asset('assets/images/administrador/cross.png')}}"/></a>
	            {% endif %}
	            </span>
			</li>
		</ul>
		<input class="guardar_posts" type="submit" value=""/>
	</form>

{% endblock %}

