{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Fotos | {{parent()}}{% endblock %}
{% block javascript %}
<script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>
    <script>
        $(document).ready(function(){

            $(".fancybox").fancybox({
                  helpers: {
                      title : {
                          type : 'float'
                      }
                  }
              });
        
            $.datepicker.setDefaults( $.datepicker.regional[ "es" ] );
            var dates = $( "#fecha-desde-ph, #fecha-hasta-ph" ).datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                yearRange: '2009:c',
                numberOfMonths: 1,
                onSelect: function( selectedDate ) {
                    var option = this.id == "fecha-desde-ph" ? "minDate" : "maxDate",
                        instance = $( this ).data( "datepicker" ),
                        date = $.datepicker.parseDate(
                            instance.settings.dateFormat ||
                            $.datepicker._defaults.dateFormat,
                            selectedDate, instance.settings );
                    dates.not( this ).datepicker( "option", option, date );
                },
                dateFormat: 'DD, d MM, yy',
            });

            $( "#fecha-desde-ph" ).datepicker( "option", "altFormat", "dd-mm-yy" );
            $( "#fecha-desde-ph" ).datepicker( "option", "altField", '#fecha-desde' );

            $( "#fecha-hasta-ph" ).datepicker( "option", "altFormat", "dd-mm-yy" );
            $( "#fecha-hasta-ph" ).datepicker( "option", "altField", '#fecha-hasta' );

            {% if query['fecha-desde'] is defined %}
                $('#fecha-desde-ph').datepicker('setDate', "01-01-12");
            {% endif %}
        
            $('form').submit(function(){
                $(this).find('input, select').each(function(){
                    $this = $(this);
                    if($this.val() == ''){
                        $this.attr('disabled', 'disabled');
                    }
                });
            });

            $('.seleccionar-todo').click(function(e){
                e.preventDefault();
                $('input[name="id[]"]').click().attr('checked', 'checked');
            });
            
            $('.deseleccionar-todo').click(function(e){
                e.preventDefault();
                $('input[name="id[]"]').click().removeAttr('checked', 'checked');
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.css') }}" type="text/css" media="screen" />
{% endblock %}
{% block content %}
{% if app.session.hasFlash('accionFoto') %}
        {{ app.session.flash('accionFoto')|raw }}
{% endif %}
<h1 class="titulo_admin">Fotos | {{ lugar }}</h1>

<div class="filtro_admin">
    <div class="periodo">
        Período entre el <input type="text" class="periodo_fecha" id="fecha-desde-ph" value="">
        y el <input type="text" class="periodo_fecha" id="fecha-hasta-ph" value="">
    </div>

    <form class="filtrar-por-fecha" action="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': slug })}}" method="get">
        <input type="hidden" name="fecha-desde" id="fecha-desde" value="">
        <input type="hidden" name="fecha-hasta" id="fecha-hasta" value="">
        <div class="buscar">
            Buscar <input type="text" name="buscar" class="buscar_lugar" placeholder="Lugares por Nombre o Id" {% if query.buscar is defined %}value="{{query.buscar}}{% endif %}"/>
        </div>

        <div class="seleccionar_estado">
            Seleccionar 
            <select name="pestado">
                <option value=''>Todos</option>
                <option {% if query.pestado is defined and query.pestado == 'Aprobado'%} selected="selected" {% endif %}value="Aprobado">Aprobados</option>
                <option {% if query.pestado is defined and query.pestado == 'Por Revisar'%} selected="selected" {% endif %}value="Por Revisar">Por Revisar</option>
                <option {% if query.pestado is defined and query.pestado == 'Cerrado'%} selected="selected" {% endif %}value="Cerrado">Cerrados</option>
                <option {% if query.pestado is defined and query.pestado == 'Reportado'%} selected="selected" {% endif %}value="Reportado">Reportados</option>
                <option {% if query.pestado is defined and query.pestado == 'Eliminado'%} selected="selected" {% endif %}value="Eliminado">Eliminados</option>
            </select>
            <input type="submit" value="Filtrar"/>
            <a href="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': slug})}}">Quitar filtros</a>
        </div>
    </form>
</div>

<form action="{{ path('LoogaresAdminBundle_accionFotos', {'ciudad': ciudad, 'slug': slug}) }}" method="post">
    <div class="listado_admin">
        <div class="table-data">
            <table class="listado_fotos">
                <thead>
                    <th class="lugar_checkbox"></th>
                    <th class="foto_preview">
                        <span>
                            <p class="titulos_tabla">Preview</p>
                        </span>
                    </th>
                    {% if slug == 'todos' %}
                    <th class="lugar_nombre">
                        <span>
                        <p class="titulos_tabla">Lugar</p>
                        <p class="list-actions">
                            <a class="{% if query.lugar is defined and query.lugar == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"lugar": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                            <a class="{% if query.lugar is defined and query.lugar == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"lugar": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({'lugar': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    {% endif %}
                    <th class="lugar_usuario">
                        <span>
                        <p class="titulos_tabla">Usuario</p>
                        <p class="list-actions">
                            <a class="{% if query.usuario is defined and query.usuario == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"usuario": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                            <a class="{% if query.usuario is defined and query.usuario == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"usuario": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({'usuario': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="foto_link">
                        <span>
                            <p class="titulos_tabla">Titulo / Link</p>
                        </span>
                    </th>
                    <th class="foto_fecha">
                        <span>
                        <p class="titulos_tabla">Fecha</p>
                        <p class="list-actions">
                            <a class="{% if query.fecha_creacion is defined and query.fecha_creacion == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"fecha_creacion": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                            <a class="{% if query.fecha_creacion is defined and query.fecha_creacion == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"fecha_creacion": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({'fecha_creacion': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_estado">
                        <span>
                        <p class="titulos_tabla">Estado</p>
                        <p class="list-actions">
                            <a class="{% if query.estado is defined and query.estado == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"estado": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                            <a class="{% if query.estado is defined and query.estado == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({"estado": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_fotosLugar', query|merge({'estado': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_acciones">Accion</th>
                </thead>
                <tbody>
                    {% for foto in fotos %}
                        <tr>
                            <td class="lugar_checkbox">
                                <input type="checkbox" name="id[]" value="{{foto.id}}"/>
                            </td>
                            <td class="foto_preview">
                                <a class="fancybox" href="{{ ('assets/images/lugares/'~foto.imagen_full) | apply_filter('large_lugar')}}">
                                    <img src="{{ ('assets/images/lugares/'~foto.imagen_full) | apply_filter('tiny_lugar')}}"/>
                                </a>
                            </td>
                            {% if slug == 'todos' %}
                                <td><a href="{{ path('LoogaresAdminBundle_fotosLugar', {'plugar': foto.lugar, 'ciudad': ciudad, 'slug': slug}) }}">{{foto.lugar}}</a></td>
                            {% endif %}
                            <td class="lugar_usuario">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_fotosLugar', {'pusuario': foto.usuario, 'ciudad': ciudad, 'slug': slug}) }}">{{foto.usuario}}</a>
                                </span>
                            </td>
                            <td class="foto_link">
                                {{foto.titulo_enlace}}
                            </td>
                            <td class="foto_fecha">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_fotosLugar', {'pfecha_creacion': foto.fecha_creacion, 'ciudad': ciudad, 'slug': slug}) }}">{{foto.fecha_creacion|date('d-m-Y')}}</a>
                                </span>
                            </td>
                            <td class="lugar_estado">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_fotosLugar', {'pestado': foto.estado, 'ciudad': ciudad, 'slug': slug}) }}">{{foto.estado}}</a>
                                </span>
                            </td>
                            <td class="lugar_acciones">
                                <a target="_blank" href="{{ path('LoogaresAdminBundle_editarFoto', {'slug': slug, 'ciudad': ciudad, 'id' : foto.id}) }}"><img src="{{asset('assets/images/administrador/edit.png')}}"/></a>

                                {% if foto.estado == 'Aprobado' or foto.estado == 'Por revisar' or foto.estado == 'Reportado' %}
                                    <a href="{{ path('LoogaresAdminBundle_borrarFoto', query|merge({'slug': slug, 'ciudad': ciudad, 'id': foto.id})) }}"><img src="{{asset('assets/images/administrador/cross.png')}}"/></a>
                                {% endif %}

                                {% if foto.estado == 'Eliminado' or foto.estado == 'Por revisar' or foto.estado == 'Reportado'%}
                                    <a href="{{ path('LoogaresAdminBundle_aprobarFoto', query|merge({'slug': slug, 'ciudad': ciudad, 'id': foto.id })) }}"><img src="{{asset('assets/images/administrador/tick.png')}}"/></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="seleccion_masiva">
        <a href="#" class="seleccionar-todo">Seleccionar todo</a> | <a href="#" class="deseleccionar-todo">Deseleccionar todo</a> | 
        <select name="accion">
            <option>Acciones para la selección</option>
            <option value="aprobar">Aprobar Fotos</option>
            <option value="borrar">Borrar Fotos</option>
        </select>
        <input type="submit" value="Enviar datos"/>
    </div>
</form>
<div class="total_paginacion">
    <form action="{{ path('LoogaresAdminBundle_fotosLugar', {'ciudad': ciudad, 'slug': slug })}}" method="get">
        <strong>
            {{paginacion.mostrandoDe}}</strong> al <strong>{{paginacion.mostrandoHasta}}</strong> de <strong>{{paginacion.total}}</strong> | Ir a la página <input type="text" name="pagina"/>
            <input type="submit" value="Ir"/>
    </form>
</div>

<ul class="paginacion">
    {{paginacion.paginacion | raw}}
</ul>

<div class="footer_admin">
    © 2010~2012 Loogares.com
</div>

{% endblock %}