{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Lugares con Ediciones | {{parent()}}{% endblock %}

{% block content %}

<h1 class="titulo_admin">Lugares Editados (por revisar) | {{ ciudad.nombre }}</h1>

<div class="listado_admin">
    <div class="table-data">
        <table class="listado_lugares_ediciones">
            <thead>
                <th class="lugar_nombre">
                    <span>
                        <p class="titulos_tabla">Nombre</p>
                    </span>
                </th>
                <th class="lugar_direccion">
                    <span>
                        <p class="titulos_tabla">Direccion</p>
                    </span>
                </th>
                <th class="lugar_comuna">
                    <span>
                        <p class="titulos_tabla">Comuna</p>
                    </span>
                </th>
                <th class="lugar_comuna">
                    <span>
                        <p class="titulos_tabla">Revisiones pendientes</p>
                    </span>
                </th>
                <th class="lugar_nombre">
                    <span>
                        <p class="titulos_tabla">Revisar</p>
                    </span>
                </th>
            </thead>
            <tbody>
                {% for lugar in lugares %}
                    <tr>
                        <td class="lugar_nombre">
                            <span><a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></span>
                        </td>
                        <td class="lugar_direccion">
                            <span>{{lugar.calle}} {{lugar.numero}}</span>
                        </td>
                        <td class="lugar_comuna">
                            <span>{{lugar.comuna}}</span>
                        </td>
                        <td class="lugar_comuna">
                            <span>{{lugar.revisiones}}</span>
                        </td>
                        <td class="lugar_nombre">
                            <span><a href="{{ path('LoogaresAdminBundle_revisionLugar', {'ciudad': ciudad.slug, 'slug': lugar.slug}) }}">Revisar</a></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}