{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Pedidos | {{parent()}}{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(function(){       
            $('form').submit(function(){
                $(this).find('input, select').each(function(){
                    $this = $(this);
                    if($this.val() == ''){
                        $this.attr('disabled', 'disabled');
                    }
                });
            });

            $('.seleccionar-todo').click(function(e){
                e.preventDefault();
                $('input[name="id[]"]').click().attr('checked', 'checked');
            });
            
            $('.deseleccionar-todo').click(function(e){
                e.preventDefault();
                $('input[name="id[]"]').click().removeAttr('checked', 'checked');
            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if app.session.hasFlash('accionPedido') %}
            {{ app.session.flash('accionPedido')|raw }}
    {% endif %}
    <h1 class="titulo_admin">Pedidos | {{ lugar }}</h1>

    <div class="filtro_admin">
        <form class="filtrar-or-fecha" action="{{ path('LoogaresAdminBundle_pedidosLugar', {'ciudad': ciudad, 'slug': slug })}}" method="get">
            {% if slug != 'todos' %}
                <a href="{{ path('LoogaresAdminBundle_pedidosLugar', {'ciudad': ciudad, 'slug': 'todos' })}}">Ver todos</a>
            {% endif %}
            <div class="buscar">
                Buscar <input type="text" name="buscar" class="buscar_lugar" placeholder="Lugares por Nombre o Id" {% if query.buscar is defined %}value="{{query.buscar}}"{% endif %}/>
            </div>

            <div class="seleccionar_estado" style="width:600px">
                Seleccionar servicio
                <select name="pservicio">
                    <option value=''>Todos</option>
                    {% for servicio in servicios %}
                        <option {% if query.pservicio is defined and query.pservicio == servicio.nombre%} selected="selected" {% endif %}value="{{servicio.nombre}}">{{servicio.nombre}}</option>
                    {% endfor %}
                </select>
                Seleccionar tipo
                <select name="ptipo">
                    <option value=''>Todos</option>
                    <option {% if query.ptipo is defined and query.ptipo == 'Reserva'%} selected="selected" {% endif %}value="Reserva">Reserva</option>
                    <option {% if query.ptipo is defined and query.ptipo == 'Delivery'%} selected="selected" {% endif %}value="Delivery">Delivery</option>
                </select>
                <input type="submit" value="Filtrar"/>
                <a href="{{ path('LoogaresAdminBundle_pedidosLugar', {'ciudad': ciudad, 'slug': slug})}}">Quitar filtros</a>
            </div>

            <a class="agregar_pedido" href="{{ path('LoogaresAdminBundle_agregarPedido', {'ciudad': ciudad, 'slug': slug }) }}">Agregar Pedido</a>

        </form>
    </div>

    <form action="{{ path('LoogaresAdminBundle_accionPedidos', {'ciudad': ciudad, 'slug': slug}) }}" method="post">
        <div class="listado_admin">
            <div class="table-data">
                <table class="listado_pedidos">
                    <thead>
                        <th class="lugar_checkbox"></th>
                        <th class="lugar_id">
                            <span>
                            <p class="titulos_tabla">Id</p>
                            <p class="list-actions">
                                <a class="{% if query.idLugar is defined and query.idLugar == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"idLugar": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                <a class="{% if query.idLugar is defined and query.idLugar == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"idLugar": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'idLugar': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                            </p>
                            </span>
                        </th>
                        {% if slug == 'todos' %}                            
                            <th class="lugar_nombre">
                                <span>
                                <p class="titulos_tabla">Lugar</p>
                                <p class="list-actions">
                                    <a class="{% if query.lugar is defined and query.lugar == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"lugar": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                    <a class="{% if query.lugar is defined and query.lugar == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"lugar": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                    <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'lugar': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                                </p>
                                </span>
                            </th>
                        {% endif %}
                        
                        <th class="lugar_nombre">
                            <span>
                            <p class="titulos_tabla">Tipo Pedido</p>
                            <p class="list-actions">
                                <a class="{% if query.tipo is defined and query.tipo == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"tipo": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                <a class="{% if query.tipo is defined and query.tipo == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"tipo": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'tipo': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                            </p>
                            </span>
                        </th>

                        <th class="lugar_nombre">
                            <span>
                            <p class="titulos_tabla">Servicio</p>
                            <p class="list-actions">
                                <a class="{% if query.servicio is defined and query.servicio == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"servicio": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                <a class="{% if query.servicio is defined and query.servicio == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"servicio": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'servicio': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                            </p>
                            </span>
                        </th>

                        <th class="lugar_estrellas">
                            <span>
                            <p class="titulos_tabla">Prioridad</p>
                            <p class="list-actions">
                                <a class="{% if query.prioridad is defined and query.prioridad == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"prioridad": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                <a class="{% if query.prioridad is defined and query.prioridad == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"prioridad": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'prioridad': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                            </p>
                            </span>
                        </th>

                        <th class="lugar_estrellas">
                            <span>
                                <p class="titulos_tabla">Link</p>
                            </span>
                        </th>

                        <th class="lugar_estrellas">
                            <span>
                            <p class="titulos_tabla">Promoción</p>
                            <p class="list-actions">
                                <a class="{% if query.promocion is defined and query.promocion == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"promocion": 'asc', 'ciudad': ciudad, 'slug': slug }))}}">⬆</a>

                                <a class="{% if query.promocion is defined and query.promocion == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({"promocion": 'desc', 'ciudad': ciudad, 'slug': slug }))}}">⬇</a>

                                <a class="remove" href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'promocion': null, 'ciudad': ciudad, 'slug': slug }))}}">✖</a>
                            </p>
                            </span>
                        </th>
                        
                        <th class="lugar_acciones">Accion</th>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                            <tr>
                                <td class="lugar_checkbox">
                                    <input type="checkbox" name="id[]" value="{{pedido.id}}"/>
                                </td>
                               
                                <td class="lugar_id">
                                    <span>
                                        {{pedido.idLugar}}
                                    </span>
                                </td>
                                {% if slug == 'todos' %}                                    
                                    <td class="lugar_nombre">
                                        <span>
                                            <a href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'plugar': pedido.lugar, 'ciudad': ciudad, 'slug': slug})) }}">{{pedido.lugar}}</a>
                                        </span>
                                    </td>
                                {% endif %}
                                 <td class="lugar_nombre">
                                    <span>
                                        <a href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'ptipo': pedido.tipo, 'ciudad': ciudad, 'slug': slug})) }}">{{pedido.tipo}}</a>
                                    </span>
                                </td>
                                <td class="lugar_nombre">
                                    <span>
                                        <a href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'pservicio': pedido.servicio, 'ciudad': ciudad, 'slug': slug})) }}">{{pedido.servicio}}</a>
                                    </span>
                                </td>
                                <td class="lugar_estrellas">
                                    <span>
                                        <a href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'pprioridad': pedido.prioridad, 'ciudad': ciudad, 'slug': slug})) }}">{{pedido.prioridad}}</a>
                                    </span>
                                </td>
                                <td class="lugar_estrellas">
                                    <span>
                                        <a href="{{ pedido.link }}{{ pedido.referral }}" target="blank">Ir</a>
                                    </span>
                                </td>
                                <td class="lugar_estrellas">
                                    <span>
                                        <a href="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'ppromocion': pedido.tiene_promocion, 'ciudad': ciudad, 'slug': slug})) }}">{{(pedido.tiene_promocion == 1) ? 'Sí' : 'No'}}</a>
                                    </span>
                                </td>
                                <td class="lugar_acciones">
                                    <span>
                                        <a target="_blank" href="{{ path('LoogaresAdminBundle_editarPedido', {'slug': slug, 'ciudad': ciudad, 'id' : pedido.id}) }}"><img src="{{asset('assets/images/administrador/edit.png')}}" title="Editar el pedido"/></a>
                                        <a href="{{ path('LoogaresAdminBundle_borrarPedido', query|merge({'slug': slug, 'ciudad': ciudad, 'id': pedido.id})) }}"><img src="{{asset('assets/images/administrador/cross.png')}}" title="Eliminar el pedido"/></a>
                                    </span>
                                </td>                   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    <div class="seleccion_masiva">
        <a href="#" class="seleccionar-todo">Seleccionar todo</a> | <a href="#" class="deseleccionar-todo">Deseleccionar todo</a> | 
        <select name="accion">
            <option>Acciones para la selección</option>
            <option value="borrar">Borrar pedidos</option>
        </select>
        <input type="submit" value="Enviar datos"/>
    </div>

</form>

<div class="total_paginacion">
    <form action="{{ path('LoogaresAdminBundle_pedidosLugar', query|merge({'ciudad': ciudad, 'slug' : slug })) }}" method="get">
        <strong>
            {{paginacion.mostrandoDe}}</strong> al <strong>{{paginacion.mostrandoHasta}}</strong> de <strong>{{paginacion.total}}</strong> | Ir a la página <input type="text" name="pagina"/>

            {# Parámetros GET como hidden #}
            {% for key, q in query %}
                <input type="hidden" name="{{key}}" value="{{q}}" />
            {% endfor %}
            <input class="ir_a_la_pagina" type="submit" value="Ir"/> o navegar...
    </form>
</div>

<ul class="paginacion">
    {{paginacion.paginacion | raw}}
</ul>

{% endblock %}