{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Blog Posts | {{parent()}}{% endblock %}
{% block content %}

<h1 class="titulo_admin">Blog Posts | {{ ciudad.nombre }}</h1>

<div class="filtro_admin">
    <div class="periodo">
        Período entre el <input type="text" class="periodo_fecha" id="fecha-desde-ph" value="">
        y el <input type="text" class="periodo_fecha" id="fecha-hasta-ph" value="">
    </div>

    <form class="filtrar-por-fecha" action="" method="get">
        <input type="hidden" name="fecha-desde" id="fecha-desde" value="">
        <input type="hidden" name="fecha-hasta" id="fecha-hasta" value="">
        <div class="buscar">
            Buscar <input type="text" name="buscar" class="buscar_lugar" placeholder="Posts por Nombre o Id" {% if query.buscar is defined %}value="{{query.buscar}}{% endif %}"/>
        </div>

        <div class="seleccionar_estado" style="width:330px">
            Seleccionar 
            <select name="pestado">
                <option value=''>Estado</option>
                <option {% if query.pestado is defined and query.pestado == 'Post Publicado'%} selected="selected" {% endif %}value="Post Publicado">Publicados</option>
                <option {% if query.pestado is defined and query.pestado == 'Post Borrador'%} selected="selected" {% endif %}value="Post Borrador">Borradores</option>
                <option {% if query.pestado is defined and query.pestado == 'Post Eliminado'%} selected="selected" {% endif %}value="Post Borrador">Eliminados</option>
                <option {% if query.pestado is defined and query.pestado == 'Post Agendado'%} selected="selected" {% endif %}value="Post Agendado">Agendados</option>
            </select>
            <input type="submit" value="Filtrar"/>
            <a href="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug})}}">Quitar filtros</a>
        </div>

        <a class="agregar_pedido" href="{{ path('LoogaresAdminBundle_agregarBlogPosts', {'ciudad': ciudad.slug }) }}">Agregar Post</a>
    </form>
</div>

<form action="{{ path('LoogaresAdminBundle_accionLugar', {'ciudad': ciudad.slug}) }}" method="post">
    <div class="listado_admin">
        <div class="table-data">
            <table class="listado_blog_posts">
                <thead>
                    <th class="lugar_checkbox">
                    </th>
                    <th class="lugar_id">
                        <span>
                        <p class="titulos_tabla">Id</p>
                        <p class="list-actions">
                            <a class="{% if query.id is defined and query.id == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"id": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.id is defined and query.id == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"id": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'id': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="blog_posts_titulo">
                        <span>
                        <p class="titulos_tabla">Titulo</p>
                        <p class="list-actions">
                            <a class="{% if query.titulo is defined and query.titulo == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"titulo": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.titulo is defined and query.titulo == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"titulo": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'titulo': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_usuario">
                        <span>
                        <p class="titulos_tabla">Usuario</p>
                        <p class="list-actions">
                            <a class="{% if query.usuario is defined and query.usuario == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"usuario": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.usuario is defined and query.usuario == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"usuario": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'usuario': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_categoria">
                        <span>
                        <p class="titulos_tabla">Categorías</p>
                        <p class="list-actions">
                            <a class="{% if query.categoria is defined and query.categoria == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"categoria": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.categoria is defined and query.categoria == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"categoria": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'categoria': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="blog_posts_premios">
                        <span>
                        <p class="titulos_tabla">Nº premios</p>
                        <p class="list-actions">
                            <a class="{% if query.premios is defined and query.premios == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"premios": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.categoria is defined and query.premios == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"premios": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'premios': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="blog_posts_fecha">
                        <span>
                        <p class="titulos_tabla">Fecha publicación</p>
                        <p class="list-actions">
                            <a class="{% if query.fecha_publicacion is defined and query.fecha_publicacion == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"fecha_publicacion": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.categoria is defined and query.fecha_publicacion == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"fecha_publicacion": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'fecha_publicacion': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_estado">
                        <span>
                        <p class="titulos_tabla">Estado</p>
                        <p class="list-actions">
                            <a class="{% if query.estado is defined and query.estado == 'asc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"estado": 'asc', 'ciudad': ciudad.slug }))}}">⬆</a>

                            <a class="{% if query.estado is defined and query.estado == 'desc' %}active-sort {% endif %}" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({"estado": 'desc', 'ciudad': ciudad.slug }))}}">⬇</a>

                            <a class="remove" href="{{ path('LoogaresAdminBundle_listadoBlogPosts', query|merge({'estado': null, 'ciudad': ciudad.slug }))}}">✖</a>
                        </p>
                        </span>
                    </th>
                    <th class="lugar_acciones">
                        <span>
                        <p class="titulos_tabla">Acción</p>
                        </span>
                    </th>
                </thead>

                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td class="lugar_checkbox">
                                <input type="checkbox" name="id[]" value="{{post.id}}"/>
                            </td>
                            <td class="lugar_id">
                                <span>
                                    {{post.id}}
                                </span>
                            </td>
                            <td class="blog_posts_titulo">
                                <span>
                                    <strong><a target="_blank" href="{{ path('post', {'ciudad': ciudad.slug, 'slug': post.slug}) }}">{{post.titulo}}</a></strong>
                                </span>
                            </td>
                            <td class="lugar_usuario">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_listadoBlogPosts', {'pusuario': post.usuarioSlug, 'ciudad': ciudad.slug}) }}">{{post.usuarioNombre}} {{post.usuarioApellido}}</a>
                                </span>
                            </td>
                            <td class="lugar_categoria">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_listadoBlogPosts', {'pcategoria': post.categoriaSlug, 'ciudad': ciudad.slug}) }}">{{post.categoriaNombre}}</a>
                                </span>
                            </td>
                            <td class="blog_posts_premios">
                                <span>
                                    {{post.numero_premios}}
                                </span>
                            </td>
                            <td class="blog_posts_fecha">
                                <span>
                                    {{post.fecha|date('d-m-y')}}
                                </span>
                            </td>
                            <td class="lugar_estado">
                                <span>
                                    <a href="{{ path('LoogaresAdminBundle_listadoBlogPosts', {'pestado': post.blogEstadoNombre, 'ciudad': ciudad.slug}) }}">{{post.blogEstadoNombre}}</a>
                                </span>
                            </td>
                            <td class="lugar_acciones">
                                <span>
                                    <a target="_blank" href="{{ path('LoogaresAdminBundle_editarBlogPosts', {'ciudad': ciudad.slug, 'post': post.slug}) }}"><img src="{{asset('assets/images/administrador/edit.png')}}"/></a>
                                    {% if post.blogEstadoNombre != 'Post Publicado' %}
                                    <a href="{{ path('LoogaresAdminBundle_publicarPost', {'id': post.id, 'ciudad': ciudad.slug}) }}"><img src="{{asset('assets/images/administrador/tick.png')}}"/></a>
                                    {% endif %}

                                    {% if post.blogEstadoNombre != 'Post Eliminado' %}
                                    <a href="{{ path('LoogaresAdminBundle_borrarPost', {'id': post.id, 'ciudad': ciudad.slug}) }}"><img src="{{asset('assets/images/administrador/cross.png')}}"/></a>
                                    {% endif %}

                                    {% if post.blogEstadoNombre != 'Post Borrador' %}
                                    <a href="{{ path('LoogaresAdminBundle_borradorPost', {'id': post.id, 'ciudad': ciudad.slug}) }}"><img src="{{asset('assets/images/administrador/borrador.png')}}"/></a>
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="seleccion_masiva">
        <a href="#" class="seleccionar-todo">Seleccionar todo</a> | <a href="#" class="deseleccionar-todo">Deseleccionar todo</a> | 
        <select name="accion">
            <option>Acciones para la selección</option>
            <option value="publicar">Publicar inmediatamente</option>
            <option value="borrador">Marcar como borrador</option>
            <option value="eliminar">Eliminar posts</option>
        </select>
        <input type="submit" value="Enviar datos"/>
    </div>
</form>

<div class="total_paginacion">
    <form action="{{ path('LoogaresAdminBundle_listadoLugares', {'ciudad': ciudad.slug })}}" method="get">
        <strong>
            {{paginacion.mostrandoDe}}</strong> al <strong>{{paginacion.mostrandoHasta}}</strong> de <strong>{{paginacion.total}}</strong> | Ir a la página <input type="text" name="pagina"/>
            <input class="ir_a_la_pagina" type="submit" value="Ir"/> o navegar...
    </form>
</div>

<ul class="paginacion">
    {{paginacion.paginacion | raw}}
</ul>

{% endblock %}