{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Lugares con Ediciones | {{parent()}}{% endblock %}

{% block content %}

<div class="table-data">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Revisiones Pendientes</th>
            <th>Revisar</th>
        </thead>
        <tbody>
            {% for lugar in lugares %}
                <tr>
                    <td><a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></td>
                    <td>{{lugar.calle}} - {{lugar.numero}}</td>
                    <td>{{lugar.ciudad}}</td>
                    <td>{{lugar.comuna}}</td>
                    <td>{{lugar.sector}}</td>
                    <td>{{lugar.revisiones}}</td>
                    <td><a href="{{ path('LoogaresAdminBundle_revisionLugar', {'ciudad': ciudad.slug, 'slug': lugar.slug}) }}">Revisar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}