{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Lugares | {{parent()}}{% endblock %}

{% block content %}
{%for i in query%}
    
{% endfor %}
<ul class="paginacion">
{% for i in range(mostrarDesde, mostrarHasta) %}
    {% if loop.first %}
        <li><a href="{{ path("LoogaresAdminBundle_lugares", query|merge({'pagina': 1 })) }}">&#8676;</a></li>
        <li>
            {% if paginaActual != 1 %}
                <a href="{{ path("LoogaresAdminBundle_lugares", query|merge({'pagina': paginaActual - 1 })) }}">&larr;</a>
            {% else %}
                &larr;
            {% endif %}
        </li>
    {% endif %}    

    {% if i == paginaActual %}
        <li class="pagina-actual">{{i}}</li>
    {% elseif i <= 0 or i > totalPaginas %}
         <li>--</li>
    {% else %}
        <li><a href="{{ path("LoogaresAdminBundle_lugares", query|merge({'pagina': i })) }}">{{i}}</a></li>
    {% endif %}

    {% if loop.last %}
        <li>
            {% if paginaActual != totalPaginas %}
                <a href="{{ path("LoogaresAdminBundle_lugares", query|merge({'pagina': paginaActual + 1 })) }}">&rarr;</a>
            {% else %}
                &rarr;
            {% endif %}
        </li>
        <li><a href="{{ path("LoogaresAdminBundle_lugares", query|merge({'pagina': totalPaginas })) }}">&#8677;</a></li>
    {% endif %}
{% endfor %}
</ul>

<div class="table-data">
    <table>
        <thead>
            <th></th>
            <th>
              <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'id': filters.id | default('asc') })) }}">id</a>
              <p class="list-actions">
                <a class="asc {% if query and query.id == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'id': 'asc' })) }}">⬆</a>
                <a class="desc {% if query and query.id == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'id': 'desc' })) }}">⬇</a>
                <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'id': '' })) }}">✖</a>
              </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'nombre': filters.nombre | default('asc') })) }}">nombre</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.nombre == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'nombre': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.nombre == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'nombre': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'nombre': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'usuario': filters.usuario | default('asc') })) }}">usuario</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.usuario == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'usuario': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.usuario == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'usuario': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'usuario': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'categoria': filters.categoria | default('asc') })) }}">categoria</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.categoria == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'categoria': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.categoria == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'categoria': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'categoria': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'subcaterogia': filters.subcaterogia | default('asc') })) }}">subcaterogia</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.subcaterogia == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'subcaterogia': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.subcaterogia == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'subcaterogia': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'subcaterogia': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'direccion': filters.direccion | default('asc') })) }}">direccion</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.direccion == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'direccion': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.direccion == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'direccion': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'direccion': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'detalle': filters.detalle | default('asc') })) }}">detalle</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.detalle == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'detalle': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.detalle == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'detalle': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'detalle': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a ef="{{ path('LoogaresAdminBundle_lugares', query|merge({'pais': filters.pais | default('asc') })) }}">pais</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.pais == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'pais': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.pais == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'pais': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'pais': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ciudad': filters.ciudad | default('asc') })) }}">ciudad</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.ciudad == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ciudad': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.ciudad == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ciudad': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ciudad': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'comuna': filters.comuna | default('asc') })) }}">comuna</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.comuna == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'comuna': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.comuna == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'comuna': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'comuna': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'sector': filters.sector | default('asc') })) }}">sector</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.sector == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'sector': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.sector == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'sector': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'sector': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'estrellas': filters.estrellas | default('asc') })) }}">estrellas</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.estrellas == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'estrellas': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.estrellas == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'estrellas': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'estrellas': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'utiles': filters.utiles | default('asc') })) }}">utiles</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.utiles == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'utiles': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.utiles == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'utiles': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'utiles': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'precio': filters.precio | default('asc') })) }}">precio</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.precio == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'precio': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.precio == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'precio': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'precio': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ranking': filters.ranking | default('asc') })) }}">ranking</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.ranking == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ranking': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.ranking == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ranking': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'ranking': '' })) }}">✖</a>
                </p>
            </th>
            <th>
              <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'caracteristica': filters.caracteristica | default('asc') })) }}">caracteristica</a>
              <p class="list-actions">
                <a class="asc {% if query and query.caracteristica == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'caracteristica': 'asc' })) }}">⬆</a>
                <a class="desc {% if query and query.caracteristica == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'caracteristica': 'desc' })) }}">⬇</a>
                <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'caracteristica': '' })) }}">✖</a>
              </p>
            </th>
            <th>
              <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'www': filters.www | default('asc') })) }}">www</a>
              <p class="list-actions">
                <a class="asc {% if query and query.www == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'www': 'asc' })) }}">⬆</a>
                <a class="desc {% if query and query.www == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'www': 'desc' })) }}">⬇</a>
                <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'www': '' })) }}">✖</a>
              </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'facebook': filters.facebook | default('asc') })) }}">facebook</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.facebook == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'facebook': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.facebook == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'facebook': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'facebook': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'twitter': filters.twitter | default('asc') })) }}">twitter</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.twitter == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'twitter': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.twitter == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'twitter': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'twitter': '' })) }}">✖</a>
                </p>
            </th>
            <th>
                <a href="{{ path('LoogaresAdminBundle_lugares', query|merge({'mail': filters.mail | default('asc') })) }}">mail</a>
                <p class="list-actions">
                    <a class="asc {% if query and query.mail == 'asc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'mail': 'asc' })) }}">⬆</a>
                    <a class="desc {% if query and query.mail == 'desc' %} active-sort{% endif %}" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'mail': 'desc' })) }}">⬇</a>
                    <a class="remove" href="{{ path('LoogaresAdminBundle_lugares', query|merge({'mail': '' })) }}">✖</a>
                </p>
            </th>
            <th>Dueño</th>
            <th>Estado</th>
            <th>Tipo</th>
        </thead>
        <tbody>
            {% for lugar in lugares %}
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>{{lugar.id}}</td>
                    <td><a href="{{ path('_lugar', {'slug': lugar.slug }) }}">{{lugar.nombre}}</a></td>
                    <td>{{lugar.usuarioMail}}</td>
                    <td>
                        {% for categoria in lugar.categorias %}
                            {{categoria}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for subcategoria in lugar.subcategorias %}
                            {{subcategoria}}{% if loop.last == false %}, {% endif %}
                        {% endfor %} 
                    </td>
                    <td>{{lugar.calle}} - {{lugar.numero}}</td>
                    <td>{{lugar.detalle}}</td>
                    <td>{{lugar.paisNombre}}</td>
                    <td>{{lugar.ciudadNombre}}</td>
                    <td>{{lugar.comunaNombre}}</td>
                    <td>{{lugar.sectorNombre}}</td>
                    <td>{{lugar.estrellas | default(0)}}</td>
                    <td>{{lugar.utiles}}</td>
                    <td>{{lugar.precio}}</td>
                    <td>nope</td>
                    <td>
                        {% for caracteristica in lugar.caracteristicas %}
                            {{caracteristica}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{lugar.sitio_web}}</td>
                    <td>{{lugar.facebook}}</td>
                    <td>{{lugar.twitter}}</td>
                    <td>{{lugar.mail}}</td>
                    <td>nope</td>
                    <td>nope</td>
                    <td>tiponope</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}