{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Lugares con Ediciones | {{parent()}}{% endblock %}

{% block content %}

    <h1 class="titulo_admin">Ediciones | <a href="{{ path('_editar', {'slug': lugares[0].lugar.slug}) }}">Revisar ahora</a></h1>

<div class="listado_admin">
    <div class="table-data">
        <table class="listado_lugares_ediciones">
            <thead>
                <th class="lugar_nombre">
                    <span>
                        <p class="titulos_tabla">Nombre</p>
                    </span>
                </th>
                <th class="lugar_direccion">
                    <span>
                        <p class="titulos_tabla">Direccion</p>
                    </span>
                </th>
                <th class="lugar_usuario">
                    <span>
                        <p class="titulos_tabla">Usuario</p>
                    </span>
                </th>
            </thead>
            <tbody>
                {% for lugar in lugares %}
                    <tr>
                        <td class="lugar_nombre">
                            <span><a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></span>
                        </td>
                        <td class="lugar_direccion">
                            <span>{{lugar.calle}} {{lugar.numero}}</span>
                        </td>
                        <td class="lugar_usuario">
                            <span>
                                <a href="">
                                {% if lugar.usuario.nombre is defined %}
                                    {{lugar.usuario.nombre}} {{lugar.usuario.apellido}}
                                {% else %}
                                    {{lugar.usuario.slug}}
                                {% endif %}
                                </a>
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}