{% extends "LoogaresAdminBundle:Admin:base.html.twig" %}

{% block title %}Lugares con Ediciones | {{parent()}}{% endblock %}

{% block content %}

<a href="{{ path('_editar', {'slug': lugares[0].lugar.slug}) }}">Revisar</a>
<div class="table-data">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Comuna</th>
            <th>Sector</th>
        </thead>
        <tbody>
            {% for lugar in lugares %}
                <tr>
                    <td><a href="{{ path('_editar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></td>
                    <td>
                        <a href="">
                            {% if lugar.usuario.nombre is defined %}
                                {{lugar.usuario.nombre}} {{lugar.usuario.apellido}}
                            {% else %}
                                {{lugar.usuario.slug}}
                            {% endif %}
                        </a>
                    </td>
                    <td>{{lugar.calle}} - {{lugar.numero}}</td>
                    <td>{{lugar.sector.ciudad.nombre}}</td>
                    <td>{{lugar.comuna.nombre}}</td>
                    <td>{{lugar.sector.nombre}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}