{% extends "::base.html.twig" %}

{% block title %}{{'extra.home.actividad_reciente.titulo'|trans}} {{app.session.get('ciudad').nombre}} | {{parent()}}{% endblock %}

{% block meta %}

	<meta name="description" content="Loogares.com es la guía de lugares de ocio y turismo en {{app.session.get('ciudad').nombre}}, basada en las recomendaciones de la gente. Encontrarás recomendaciones acerca de restaurantes, hoteles, museos... incluso cines y servicios." />
	
	<meta name="keywords" content="Loogares, recomendaciones, {{app.session.get('ciudad').nombre}}, lugares, guía, ocio, turismo, restaurantes, museos, hoteles, cines, servicios, moteles, bares, Providencia, Bellavista, barrios, comunas, concursos, sorteos, premios, entradas, invitaciones, notas, eventos" />

	<!-- Metadata Geo Tags -->
	{# Santiago de Chile #}
	{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
		<meta name="geo.region" content="CL" />
		<meta name="geo.position" content="-33.46912;-70.641997" />
		<meta name="ICBM" content="-33.46912, -70.641997" />
	{# Valparaíso / Viña del Mar #}
	{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
		<meta name="geo.region" content="CL-VS" />
		<meta name="geo.placename" content="Valparaíso" />
		<meta name="geo.position" content="-33.045646;-71.620361" />
		<meta name="ICBM" content="-33.045646, -71.620361" />
	{# Buenos Aires #}	
	{% elseif app.session.get('ciudad').slug == 'buenos-aires' %}
		<meta name="geo.region" content="AR" />
		<meta name="geo.placename" content="Buenos Aires" />
		<meta name="geo.position" content="-34.603723;-58.381593" />
		<meta name="ICBM" content="-34.603723, -58.381593" />
	{% endif %}
	
	<!-- Metadata para FB -->
	<meta property="og:title" content="{{'extra.home.actividad_reciente.titulo'|trans}} {{app.session.get('ciudad').nombre}} | Loogares.com" />

	<meta property="og:description" content="Loogares.com es la guía de lugares de ocio y turismo en {{app.session.get('ciudad').nombre}}, basada en las recomendaciones de la gente. Encontrarás recomendaciones acerca de restaurantes, hoteles, museos... incluso cines y servicios." />

	<meta property="og:image" content="http://www.loogares.com/assets/images/extras/logo.png" />

{% endblock %}

{% block content %}
	<div class="actividad_extendida">
		<div class="encabezado_actividad">
			<span class="actividad_icono"></span>
			<h1 class="titulo_home titulo_actividad">{{'extra.home.actividad_reciente.titulo'|trans}} {{app.session.get('ciudad').nombre}}</h1>

			<div class="filtrar_actividad">
				<form action="{{path('actividad')}}" method="get">
					<select name="filtro">
						<option value="todo" {% if actividad.filtro == 'todo'%}selected="selected"{% endif %}>{{'extra.home.actividad_reciente.filtro.todo'|trans}}</option>
						<option value="recomendaciones" {% if actividad.filtro == 'recomendaciones'%}selected="selected"{% endif %}>{{'extra.home.actividad_reciente.filtro.recomendaciones'|trans}}</option>
						<option value="lugares" {% if actividad.filtro == 'lugares'%}selected="selected"{% endif %}>{{'extra.home.actividad_reciente.filtro.lugares'|trans}}</option>
						<option value="fotos" {% if actividad.filtro == 'fotos'%}selected="selected"{% endif %}>{{'extra.home.actividad_reciente.filtro.fotos'|trans}}</option>
						<option value="utiles" {% if actividad.filtro == 'utiles'%}selected="selected"{% endif %}>{{'extra.home.actividad_reciente.filtro.utiles'|trans}}</option>
					</select>
				</form>
			</div>
		</div>

		{% include 'LoogaresExtraBundle:Default:actividad_reciente.html.twig'%}
	</div>

	{% if actividad.totalPaginas > 1 %}
		<div class="paginacion_actividad">
	    	<p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{actividad.totalActividad}}</strong>
	        {% if paginacion.totalPaginas != 1 %}
	             | {{'paginacion.ir_a'|trans}}
	            <ul>
	                {{ paginacion.paginacion | raw }}
	            </ul>
	        {% endif %}
	    </div>
	{% endif %}

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/home.js')}}"></script>
{% endblock %}