<div class="campanas_concursos_home">
	<div class="concursos_titulo">
		<div class="titulo">
			<h2 class="icono_concursos titulo_home">{{(post is defined) ? 'extra.modulo_concursos.titulo_post'|trans : 'extra.modulo_concursos.titulo'|trans}}</h2>
		</div>

		<a href="{{path('concursos', {'ciudad' : app.session.get('ciudad').slug})}}"></a>
	</div>
	
	<div class="concursos_slide">

		{% if concursos|length > 4 %}
			<div class="concursos_selector_prev">
				<a class="prev_concurso"></a>
			</div>
		{% else %}
			<div class="concursos_selector_prev">
			</div>
		{% endif %}

		<ul class="concursos">
			{% for concurso in concursos %}
				<li>
					<div class="contenedor_idiota">
						<a href="{{ path('post', {'ciudad': concurso.post.ciudad.slug, 'slug': concurso.post.slug}) }}">
							<div class="roll_over_concurso">
								<p class="lugar_concurso">{{concurso.titulo}}</p>
								<p class="sorteo_concurso">{{concurso.descripcion}}</p>
							</div>	
						</a>
						<div class="contenido_concurso">	
							<div class="caja_contenidos_concurso">								
								<img src="{{asset('assets/images/blog/'~concurso.post.imagen)}}" width="204" height="115" / >
								<div class="lugar_concurso"></div>
								<div class="participantes_concurso">
									<div class="cantidad_participantes_izq">
									</div>							
									<div class="cantidad_participantes">
										<span class="numero_participantes">{{concurso.participantes|length}}</span>
										{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantes|length)}}
									</div>
									<div class="cantidad_participantes_der">
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>

		{% if concursos|length > 4 %}
			<div class="concursos_selector_next">
				<a class="next_concurso"></a>
			</div>
		{% else %}
			<div class="concursos_selector_next">
			</div>
		{% endif %}
	</div>
</div>		