<div class="campanas_concursos_home">
	<div class="concursos_titulo">
		<div class="titulo">
			<img src="" height="20" width="20" />
			<h3 class="titulo_home">{{(post is defined) ? 'extra.modulo_concursos.titulo_post'|trans : 'extra.modulo_concursos.titulo'|trans}}</h3>
		</div>

		<a href="{{path('concursos', {'ciudad' : app.session.get('ciudad').slug})}}"></a>
	</div>
	
	<div class="concursos_slide">

		<div class="concursos_selector">
			<a class="prev_concurso"></a>
		</div>
		<ul class="concursos">
			{% for concurso in concursos %}
				<li>
					<a href="{{ path('post', {'ciudad': concurso.post.ciudad.slug, 'slug': concurso.post.slug}) }}">
						<div class="roll_over_concurso">
							<h2 class="lugar_concurso">{{concurso.titulo}}</h2>
							<p class="sorteo_concurso">{{concurso.descripcion}}</p>
						</div>	
					</a>
					<div class="contenido_concurso">					
						<img src="{{asset('assets/images/blog/'~concurso.post.imagen)}}" width="204" height="115" / >
						<div class="lugar_concurso"></div>
						<div class="cantidad_participantes_izq">
						</div>							
						<div class="cantidad_participantes">
							<span class="numero_participantes">{{concurso.participantes|length}}</span>
							{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantes|length)}}
						</div>
						<div class="cantidad_participantes_der">
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>

		<div class="concursos_selector">
			<a class="next_concurso"></a>
		</div>
	</div>
</div>		