{% extends '::base.html.twig' %}

{% block title %}Concursos en {{app.session.get('ciudad').nombre}} | {{parent()}}{% endblock %}

{% block content %}

<div class="caja_concursos_vigentes">

	<div class="concursos_titulo">
		<div class="titulo">
			<h1 class="icono_concursos titulo_home">{{(post is defined) ? 'extra.modulo_concursos.titulo_post'|trans : 'extra.modulo_concursos.titulo'|trans}}</h1>
		</div>
	</div>

	<div class="concursos_vigentes">
		{% set cuatro = 0 %}
		{% for concurso in vigentes %}
			{% if loop.index == 1 or (loop.index > 4 and (loop.index - 1) % 4 == 0)  %}
				{% set cuatro = 0 %}
				<ul>
			{% endif %}
			<li>
				{% if concurso.fechaInicio|date('d-M-y') == "now"|date('d-M-y') %} 
					<div class="nuevo"></div>
				{% endif %}
				<a href="{{ path('post', {'ciudad': concurso.post.ciudad.slug, 'slug': concurso.post.slug}) }}">
					<div class="roll_over_concurso">
						<h3 class="lugar_concurso">{{concurso.titulo}}</h3>
						<p class="sorteo_concurso">{{concurso.descripcion}}</p>
					</div>	
				</a>
				<div class="contenido_concurso">
					<div class="caja_contenidos_concurso">				
						<img src="{{asset('assets/images/blog/'~concurso.post.imagen)}}" width="204" height="115" / >
						<div class="lugar_concurso"></div>
						<div class="participantes_concurso">
							<div class="cantidad_participantes_izq">
							</div>							
							<div class="cantidad_participantes">
								<span class="numero_participantes">{{concurso.participantesActivos|length}}</span>
								{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantesActivos|length)}}
							</div>
							<div class="cantidad_participantes_der">
							</div>
						</div>
					</div>
				</div>
			</li>
			{% set cuatro = cuatro + 1 %}
			{% if cuatro == 4 %}
				</ul>				
			{% endif %}
		{% endfor %}
	</div>

</div>

<div class="caja_concursos_cerrados">

	<div class="concursos_titulo">
		<div class="titulo">
			<h2 class="icono_concursos_cerrados titulo_home">{{'extra.modulo_concursos.titulo_pasados'|trans}}</h2>
		</div>
	</div>

	<div class="concursos_cerrados">
		{% set cuatro = 0 %}
		{% for concurso in cerrados %}
			{% if loop.index == 1 or (loop.index > 4 and (loop.index - 1) % 4 == 0)  %}
				{% set cuatro = 0 %}
				<ul>
			{% endif %}
			<li>
				<a href="{{ path('post', {'ciudad': concurso.post.ciudad.slug, 'slug': concurso.post.slug}) }}">
					<div class="roll_over_concurso">
						<h4 class="lugar_concurso">{{concurso.titulo | slice(0,25)}}</h4>
						<p class="sorteo_concurso">{{concurso.descripcion | slice(0,50)}}</p>
					</div>	
				</a>
				<div class="contenido_concurso">
					<div class="caja_contenidos_concurso">
						<img class="imagen_cerrado" src="{{asset('assets/images/blog/'~concurso.post.imagen)}}" width="204" height="115" / >
						<div class="lugar_concurso"></div>
						<div class="participantes_concurso">
							<div class="cantidad_participantes_izq">
							</div>							
							<div class="cantidad_participantes">
								<span class="numero_participantes">{{concurso.participantesActivos|length}}</span>
								{{'extra.modulo_concursos.participantes'|transchoice(concurso.participantesActivos|length)}}
							</div>
							<div class="cantidad_participantes_der">
							</div>
						</div>
					</div>
				</div>
			</li>
			{% set cuatro = cuatro + 1 %}
			{% if cuatro == 4 %}
				</ul>				
			{% endif %}
		{% endfor %}
	</div>

	{% if paginacion.totalPaginas > 1 %}
	<div class="paginacion_concurso">
    	<p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{totalCerrados}}</strong>
        {% if paginacion.totalPaginas != 1 %}
             | {{'paginacion.ir_a'|trans}}
            <ul class="numeros_paginacion">
                {{ paginacion.paginacion | raw }}
            </ul>
        {% endif %}
    </div>
	{% endif %}

</div>
{% endblock %}