{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'general.home.title'|trans}}{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();

        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','home','top','medium')}}");

        GA_googleFetchAds();
    </script>

	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
    <script>
    	$(document).ready(function(){
			$('.tips_icon').qtip({
			   content: {
			      text: $('.qtip_recomendacion_del_dia')
			   },
				style: {
					classes: 'ui-tooltip-precio',
					tip: {
						border: 0,
						width: 12,
						color: '#f0f',
						corner: true,
						offset: 85
					},
				},
				position: {
					my: 'top center', 
					at: 'bottom left',
					adjust: {
						x: 6,
						y: 6
					},
				},
			});
    	});
    </script>
{% endblock %}

{% block content %}
	
	<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">

	<!-- Si el usuario está conectado, debe mostrar un cambio en la caja -->
	<div class="saludos_premios">

		<!-- Está caja se alarga si el usuario está en sesión -->
		<div class="{% if app.security.token.user.id is defined %}mensaje_logeado{% else %}mensaje{% endif %}">
			<h1><strong>{{'general.home.saludo_bienvenida'|trans}}</strong></h1>

			<p>{{'general.home.actividad_loogares.actualmente'|trans}} <span class="texto_destacado">{{home.totalRecomendaciones_format}} {{'general.home.actividad_loogares.recomendaciones'|transchoice(home.totalRecomendaciones)}}</span> {{'general.home.actividad_loogares.y'|trans}} <span class="texto_destacado">{{home.totalPremios_format}} {{'general.home.actividad_loogares.premios'|transchoice(home.totalPremios)}}</span> {{'general.home.actividad_loogares.participa'|trans}}</p>
		</div>

		{% if app.security.token.user.id is defined %} 

		{% else %}
			<!-- Las cajas de clase "flecha" y "registro" se van cuando el usuario está en sesión -->
			<div class="flecha">
			</div>

			<div class="registro">
	            <a href="#">
	                <div class="boton_fb"></div>
	            </a>
	            <p class="registro_mail">{% trans %}usuario.login.registro.o{% endtrans %} <a href="{{path('registroUsuario')}}">{% trans %}usuario.login.registro.mail{% endtrans %}</a></p>
			</div>
		{% endif %}

	</div>

	<!-- Contenido central -->
	<div class="contenido_home">

		<!-- Concursos del sitio -->
		<div class="campanas_concursos">
			<ul>
				<a href="">
					<li>
						<h2 class="titulo_concurso concursos">Concurso: Sólo por hoy</h2>
						<img src="http://www.animalesyanimales.com/wp-content/uploads/2011/05/animales1.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Centro Cultural Amanda</p>
						<p class="sorteo_concurso">Sorteamos 5 entradas dobles para La Mano Ajena</p>
					</li>
				</a>
				<a href="">
					<li class="central">
						<h2 class="titulo_concurso especiales">Concurso: Sólo por hoy</h2>
						<img src="http://www.animalesyanimales.com/wp-content/uploads/2011/05/animales1.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Centro Cultural Amanda</p>
						<p class="sorteo_concurso">Sorteamos 5 entradas dobles para La Mano Ajena</p>
					</li>
				</a>
				<a href="">
					<li>
						<h2 class="titulo_concurso ganadores">Concurso: Sólo por hoy</h2>
						<img src="http://www.animalesyanimales.com/wp-content/uploads/2011/05/animales1.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Centro Cultural Amanda</p>
						<p class="sorteo_concurso">Sorteamos 5 entradas dobles para La Mano Ajena</p>
					</li>
				</a>
			</ul>
		</div>

		<!-- Últimos Lugares recomendados -->
		<div class="lugares_recomendados">
			<h3 class="titulo_home titulo_recomendados">Últimos Lugares recomendados en las categorías:</h3>
			<ul>
				<li>
					<p class="titulo_categoria">Restaurantes »</p>
					<img src="" height="60" width="60" />
					<div class="listado_lugares_recomendados">
						<ul>
							<li>1. <a href="">Restaurantes</a></li>
							<li>2. <a href="">Restaurantes</a></li>
							<li>3. <a href="">Restaurantes</a></li>
							<li>4. <a href="">Restaurantes</a></li>
							<li>5. <a href="">Restaurantes</a></li>
						</ul>
					</div>
				</li>
				<li>
					<p class="titulo_categoria">Cafés »</p>
					<img src="" height="60" width="60" />
					<div class="listado_lugares_recomendados">
						<ul>
							<li>1. <a href="">Cafés</a></li>
							<li>2. <a href="">Cafés</a></li>
							<li>3. <a href="">Cafés</a></li>
							<li>4. <a href="">Cafés</a></li>
							<li>5. <a href="">Cafés</a></li>
						</ul>
					</div>
				</li>
				<li class="ultima_categoria">
					<p class="titulo_categoria">Bares / Pubs »</p>
					<img src="" height="60" width="60" />
					<div class="listado_lugares_recomendados">
						<ul>
							<li>1. <a href="">Bares / Pubs</a></li>
							<li>2. <a href="">Bares / Pubs</a></li>
							<li>3. <a href="">Bares / Pubs</a></li>
							<li>4. <a href="">Bares / Pubs</a></li>
							<li>5. <a href="">Bares / Pubs</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

		{% render 'LoogaresLugarBundle:Lugar:moduloDescuentos' with {'ciudad' : app.session.get('ciudad').id, 'pagina' : 'home'}%}

	</div>

	<!-- Sidebar -->
	<div class="sidebar_home">

		<!-- Banner Home 1 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','top','medium')}}");
        	</script>
		</div>

		<!-- Colaboradores -->
		<div class="colaboradores">
			<h5 class="titulo_home encabezado">Notas y colaboraciones</h5>
			<img src="" height="160" width="148" />
			<div class="detalles_nota">
				<p class="nombre_colaborador">Sabor Platónico</p>
				<p class="titulo_nota">Rico y liviano en Aioli</p>
				<p class="texto_nota">Cuando las madres dicen su última palabra no hay nada que hacer y doy fe de que cuando eso, porque... <a href="">Ver más »</a></p>
			</div>
			<div class="diapositivas">
			</div>
		</div>

		<!-- Loogareño Estrella -->
		<div class="recomendacion_estrella">
			<h6 class="titulo_estrella">Loogareño Estrella de la semana</h6>
			<div class="informacion">
				<div class="imagen_recomendacion">
					<a class="imagen" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="link_usuario">
						<img src="{{('assets/images/usuarios/'~home.recDia.usuario.imagenFull) | apply_filter('small_usuario')}}" height="72" width="72"/>
					</a>
					<div class="textos_usuario">
						<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}">
							{% if home.recDia.usuario.nombre != '' %}
								{{home.recDia.usuario.nombre}} {{home.recDia.usuario.apellido}}
							{% else %}
								{{home.recDia.usuario.slug}}
							{% endif %}
						</a>
						<span class="invitada_lugar">Loogareña invitada a <a href="">LUGAR</a> por el equipo de Loogares.com.</span>
					</div>
				</div>
			</div>
			<div class="recomendacion_preview">					
				<span><a href="">LUGAR:</a> Con mi pololo, llegamos derechito de nuestras vacaciones a este loogar, con ganas de celebrar el día de San Valentín. El local nos encantó, posee un ambiente...</span>
				<a href="" class="ver_mas">Ver más &raquo;</a>
				<br />
				<span class="tips">¿Quieres ser invitado la próxima semana? <a href="">Entra acá</a></span>
			</div>
		</div>

		<!-- Recomendación del Día -->
		<div class="recomendacion_dia">
			<h6 class="titulo_home encabezado">{{'general.home.recomendacion_dia.titulo'|trans}}</h6>
			<div class="informacion">
				<div class="imagen_estrellas_recomendacion">
					<a class="imagen" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="link_usuario">
						<img src="{{('assets/images/usuarios/'~home.recDia.usuario.imagenFull) | apply_filter('small_usuario')}}" height="72" width="72"/>
					</a>
					<div class="textos_usuario">
						<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}">
							{% if home.recDia.usuario.nombre != '' %}
								{{home.recDia.usuario.nombre}} {{home.recDia.usuario.apellido}}
							{% else %}
								{{home.recDia.usuario.slug}}
							{% endif %}
						</a>
						<span class="fecha">{{home.recDia.fechaCreacion | date('d/m/Y')}}</span>
						<p class="estrellas_recDia" data-stars="{{home.recDia.estrellas}}"></p>
					</div>
				</div>
			</div>
			<div class="recomendacion_preview">					
				<span><a href="{{path('_lugar', {'slug' : home.recDia.lugar.slug})}}">{{home.recDia.lugar.nombre}}: </a>{{home.previewRecDia}}</span>
				<a href="{{path('_recomendacion', {'slug' : home.recDia.lugar.slug, 'usuarioSlug' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="ver_mas">{{'general.home.recomendacion_dia.ver_mas'|trans}} &raquo;</a>
				<br />
				<span class="tips">Elegida por la comunidad de Loogareños</span> <span class="tips_icon"></span>

				<!-- Qtip Recomendación del Día -->
				<div class="qtip_recomendacion_del_dia">
					Corresponde a las recomendaciones más útiles según la evaluación de los Loogareños. A la vez, consideramos otros factores, como su contenido, la originalidad y que esté bien escrita.
					<br /><br />
					Estas recomendaciones fijan la pauta para las demás en el sitio.
				</div>

			</div>
		</div>

		<!-- Banner Home 2 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','top','medium')}}");
        	</script>
		</div>

	</div>

	<!-- Últimos Loogareños conectados -->
	<div class="loogarenos_conectados">
		<h6 class="titulo_home encabezado">{{'general.home.ultimos_conectados.titulo'|trans}}</h6>
		{% if home.ultimosConectados|length > 0%}
			<ul class="loogarenos_conectado_ahora">
			{% for conectado in home.ultimosConectados %}
				<li>
					<a class="imagen_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_img">
						<img src="{{('assets/images/usuarios/'~conectado.imagenFull) | apply_filter('tiny_usuario')}}" width="20" height="20" />
					</a>
					<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_nombre">
						{{conectado.nombre}} {{conectado.apellido}}
					</a>
					<!-- Comentado el número de recomendaciones del usuario...
					<span class="conectado_recomendaciones">
						{{conectado.recomendaciones|length}} {{'general.terminos.recomendacion' | transchoice(conectado.recomendaciones|length) | lower }}
					</span>
					-->
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/home.js')}}"></script>
{% endblock %}