{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'extra.home.title'|trans}} | {{app.session.get('ciudad').nombre}}{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','home','top','medium')}}_{{app.session.get('ciudad').slug}}");
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','home','bottom','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block meta %}
	<meta name="description" content="{{ 'metadata.home.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />
	
	<meta name="keywords" content="{{ 'metadata.home.keywords' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="Loogares.com | {{'extra.home.title'|trans}} | {{app.session.get('ciudad').nombre}}" />

	<meta property="og:description" content="{{ 'metadata.home.descripcion' | trans({'%ciudad%' : app.session.get('ciudad').nombre}) }}" />

	<meta property="og:image" content="http://www.loogares.com/assets/images/extras/logo.png" />

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block content %}
	<!-- Si el usuario está logeado, no aparece el saludo, de otro modo, aparece. -->
	{% if app.security.token.user.id is defined %} 

	{% else %}
		<div class="saludos_premios">
			<div class="mensaje">
				<h1><strong>{{'extra.home.saludo_bienvenida'|trans}}</strong></h1>

				<!-- Premios y recomendaciones, comentado por ahora -->
				<!-- <p>{{'extra.home.actividad_loogares.actualmente'|trans}} <span class="texto_destacado">{{home.totalRecomendaciones_format}} {{'extra.home.actividad_loogares.recomendaciones'|transchoice(home.totalRecomendaciones)}}</span> {{'extra.home.actividad_loogares.y'|trans}} <span class="texto_destacado">{{home.totalPremios_format}} {{'extra.home.actividad_loogares.premios'|transchoice(home.totalPremios)}}</span> {{'extra.home.actividad_loogares.participa'|trans}}</p> -->
			</div>

			<div class="flecha">
			</div>

			<div class="registro">
	            <a href="#">
	                <div class="boton_fb"></div>
	            </a>
	            <p class="registro_mail">{% trans %}usuario.login.registro.o{% endtrans %} <a href="{{path('registroUsuario')}}">{% trans %}usuario.login.registro.mail{% endtrans %}</a></p>
			</div>
		</div>
	{% endif %}

	<!-- Contenido central -->
	<div class="contenido_home">

		<!-- Concursos del sitio -->
		<div class="campanas_concursos">
			<ul>
				{% for campana in campanas %}
					<a href="{{ path('post', {'ciudad': campana.ciudad.slug, 'slug': campana.slug}) }}">
						<li {% if loop.index == 2 %}class="central"{% endif %}>
							<p class="titulo_concurso {{campana.blogEstadoConcurso.clase}}">{{campana.blogEstadoConcurso.nombre}}</p>
							<img src="http://www.loogares.com/assets/images/blog/{{campana.imagenHome}}" width="204" height="115" / >
							<h2 class="lugar_concurso">{{campana.tituloHome}}</h2>
							<p class="sorteo_concurso">{{campana.descripcionHome}}</p>
						</li>
					</a>
				{% endfor %}
			</ul>
		</div>		

		<!-- Últimos Lugares recomendados -->
		<div class="lugares_recomendados">
			<h3 class="titulo_home titulo_recomendados">{{'extra.home.modulo_ultimas_recomendaciones.titulo'|trans}}</h3>
			<ul>
				{% for categoria in home.categorias %}
				<li {% if loop.index == 3 %}class="ultima_categoria"{% endif %}>
					<a class="titulo_categoria" href="{{ path('_categoria', {'slug': app.session.get('ciudad').slug, 'categoria': categoria.slug}) }}">{{categoria.nombre}} »</a>
					{% if categoria.top_five.0.lugar.imagenesActivasLugar[0].imagenFull is not defined %}
						<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('medium_lugar') }}"  width="60" height="60" />
					{% else %}
						<img src="{{ ('assets/images/lugares/'~categoria.top_five.0.lugar.imagenesActivasLugar[categoria.top_five.0.lugar.imagenesActivasLugar|length-1].imagenFull) | apply_filter('medium_lugar') }}"  width="60" height="60" />
					{% endif %}
					<div class="listado_lugares_recomendados">
						<ul>
							{% for cl in categoria.top_five %}
								<li>
									<span class="numeracion">{{loop.index}}.</span>
									<a class="ultimo_lugar_recomendado" href="{{path('_lugar', {'slug' : cl.lugar.slug})}}">{{cl.lugar.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% render 'LoogaresLugarBundle:Lugar:moduloDescuentos' with {'ciudad' : app.session.get('ciudad').id, 'pagina' : 'home'}%}

		<div class="actividad_reciente">
			<div class="encabezado_actividad">
				<span class="actividad_icono"></span>
				<h4 class="titulo_home">{{'extra.home.actividad_reciente.titulo'|trans}} {{app.session.get('ciudad').nombre}}</h4>
				<a class="ver_mas_actividad" href="{{path('actividad')}}">{{'extra.home.actividad_reciente.ver_mas'|trans}} »</a>
			</div>

			{% include 'LoogaresExtraBundle:Default:actividad_reciente.html.twig'%}

			<a class="ver_mas_actividad_inferior" href="{{path('actividad')}}">{{'extra.home.actividad_reciente.ver_mas'|trans}} »</a>
		</div>

	</div>

	<!-- Sidebar -->
	<div class="sidebar_home">

		<!-- Banner Home 1 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','top','medium')}}_{{app.session.get('ciudad').slug}}");
        	</script>
		</div>

		<!-- Colaboradores -->
		{% if sliderCampanas|length != 0 %}
		<div class="colaboradores">
			<h5 class="titulo_home encabezado">{{'extra.home.modulo_notas_colaboraciones.titulo'|trans}}</h5>
			<ul class="slider">	
				{% for campana in sliderCampanas %}
				<li>
					<a href="{{ path('post', {'ciudad': campana.ciudad.slug, 'slug': campana.slug}) }}">
						<img src="http://www.loogares.com/assets/images/blog/{{campana.imagenHome}}" height="158" width="148" />
					</a>
					<div class="detalles_nota">
						<p class="nombre_colaborador">{{campana.blogCategoria.nombre}}</p>
						<a href="{{ path('post', {'ciudad': campana.ciudad.slug, 'slug': campana.slug}) }}" class="titulo_nota">{{campana.tituloHome}}</a>
						<p class="texto_nota">{{campana.descripcionHome}}<a href="{{ path('post', {'ciudad': campana.ciudad.slug, 'slug': campana.slug}) }}">Ver más »</a></p>
					</div>
				</li>
				{% endfor %}
			</ul>
			<div class="pages">
				<ul>
					<li><a class="slide-change active" data-slide="0"></a></li>
					<li><a class="slide-change" data-slide="1"></a></li>
					<li><a class="slide-change" data-slide="2"></a></li>
				</ul>
			</div>
		</div>
		{% endif %}

		<!-- Loogareño Estrella -->
		{# Santiago de Chile #}
		{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
			<div class="recomendacion_estrella">
				<h6 class="titulo_estrella">{{'extra.home.modulo_loogareno_estrella.titulo'|trans}}</h6>
				<div class="informacion">
					<div class="imagen_recomendacion">
						<a class="imagen" href="{{ path('showUsuario', {'param': home.estrella.usuario.slug}) }}" class="link_usuario">
							<img src="{{ ('assets/images/usuarios/'~home.estrella.usuario.imagenFull) | apply_filter('medium_usuario') }}" height="64" width="64"/>
						</a>
						<div class="textos_usuario">
							<a class="nombre_usuario" href="{{ path('showUsuario', {'param': home.estrella.usuario.slug}) }}">
								{{home.estrella.usuario.nombre}} {{home.estrella.usuario.apellido}} 
							</a>
							<span class="invitada_lugar">{{'extra.home.modulo_loogareno_estrella.invitacion'|trans}} <a href="{{ path('_lugar', {'slug': home.estrella.lugar.slug}) }}">{{ home.estrella.lugar.nombre}}</a> {{'extra.home.modulo_loogareno_estrella.por'|trans}}</span>
						</div>
					</div>
				</div>
				<div class="recomendacion_preview">					
					<span><a href="{{ path('_lugar', {'slug': home.estrella.lugar.slug}) }}">{{ home.estrella.lugar.nombre}}:</a> {{ home.estrella.texto | slice(0, 175) }}...</span>
					<a href="{{ path('_lugar', {'slug': home.estrella.lugar.slug}) }}/recomendacion/{{home.estrella.usuario.slug}}" class="ver_mas">{{'extra.home.modulo_loogareno_estrella.ver_mas'|trans}}</a>
					<br />
					<span class="tips">{{'extra.home.modulo_loogareno_estrella.quieres_ser_invitado'|trans}} <a href="{{ path('static', {'static': 'loogareno_estrella'}) }}">{{'extra.home.modulo_loogareno_estrella.entra_aca'|trans}}</a></span>
				</div>
			</div>

		{# Valparaíso / Viña del Mar #}
		{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}

		{# Buenos Aires #}
		{% elseif app.session.get('ciudad').slug == 'buenos-aires' %}

		{% endif %}

		<!-- Recomendación del Día -->
		{% if home.recDia != null %}
			<div class="recomendacion_dia">
				<h6 class="titulo_home encabezado">{{'extra.home.modulo_recomendacion_del_dia.titulo'|trans}}</h6>
				<div class="informacion">
					<div class="imagen_estrellas_recomendacion">
						<a class="imagen" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="link_usuario">
							<img src="{{('assets/images/usuarios/'~home.recDia.usuario.imagenFull) | apply_filter('small_usuario')}}" height="72" width="72"/>
						</a>
						<div class="textos_usuario">
							<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}">
								{% if home.recDia.usuario.nombre != '' %}
									{{home.recDia.usuario.nombre}} {{home.recDia.usuario.apellido}}
								{% else %}
									{{home.recDia.usuario.slug}}
								{% endif %}
							</a>
							<span class="fecha">{{home.recDia.fechaCreacion | date('d/m/Y')}}</span>
							<p class="estrellas_recDia" data-stars="{{home.recDia.estrellas}}"></p>
						</div>
					</div>
				</div>
				<div class="recomendacion_preview">			
					<span><a href="{{path('_lugar', {'slug' : home.recDia.lugar.slug})}}">{{home.recDia.lugar.nombre}}: </a>{{home.previewRecDia | raw}}</span>
					<a href="{{path('_recomendacion', {'slug' : home.recDia.lugar.slug, 'usuarioSlug' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="ver_mas">{{'extra.home.modulo_recomendacion_del_dia.ver_mas'|trans}}</a>
					<br />
					<span class="tips">{{'extra.home.modulo_recomendacion_del_dia.elegida_por'|trans}}</span> <span class="tips_icon"></span>

					<!-- Qtip Recomendación del Día -->
					<div class="qtip_recomendacion_del_dia">
						{{'extra.home.modulo_recomendacion_del_dia.tip'|trans|raw}}
					</div>

				</div>
			</div>
		{% endif %}

		<!-- Banner Home 2 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','bottom','medium')}}_{{app.session.get('ciudad').slug}}");
        	</script>
		</div>

	</div>

	<!-- Últimos Loogareños conectados -->
	<div class="loogarenos_conectados">
		<h6 class="titulo_home encabezado">{{'extra.home.modulo_ultimos_conectados.titulo'|trans}}</h6>
		{% if home.ultimosConectados|length > 0%}
			<ul class="loogarenos_conectado_ahora">
			{% for conectado in home.ultimosConectados %}
				<li>
					<a class="imagen_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_img">
						<img src="{{('assets/images/usuarios/'~conectado.imagenFull) | apply_filter('tiny_usuario')}}" width="20" height="20" />
					</a>
					<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_nombre">
						{% if conectado.nombre == '' %}
							{{conectado.slug}}
						{% else %}
							{{conectado.nombre}} {{conectado.apellido}}
						{% endif %}
					</a>
					<!-- Comentado el número de recomendaciones del usuario...
					<span class="conectado_recomendaciones">
						{{conectado.recomendaciones|length}} {{'general.terminos.recomendacion' | transchoice(conectado.recomendaciones|length) | lower }}
					</span>
					-->
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.bxSlider.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/home.js')}}"></script>
{% endblock %}
