{% extends "::base.html.twig" %}

{% block title %}{{parent()}} | {{'extra.home.title'|trans}}{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','home','top','medium')}}_{{app.session.get('ciudad').slug}}");
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','home','bottom','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block content %}
	<!-- Si el usuario está logeado, no aparece el saludo, de otro modo, aparece. -->
	{% if app.security.token.user.id is defined %} 

	{% else %}
		<div class="saludos_premios">
			<div class="mensaje">
				<h1><strong>{{'extra.home.saludo_bienvenida'|trans}}</strong></h1>

				<!-- Premios y recomendaciones, comentado por ahora -->
				<!-- <p>{{'extra.home.actividad_loogares.actualmente'|trans}} <span class="texto_destacado">{{home.totalRecomendaciones_format}} {{'extra.home.actividad_loogares.recomendaciones'|transchoice(home.totalRecomendaciones)}}</span> {{'extra.home.actividad_loogares.y'|trans}} <span class="texto_destacado">{{home.totalPremios_format}} {{'extra.home.actividad_loogares.premios'|transchoice(home.totalPremios)}}</span> {{'extra.home.actividad_loogares.participa'|trans}}</p> -->
			</div>

			<div class="flecha">
			</div>

			<div class="registro">
	            <a href="#">
	                <div class="boton_fb"></div>
	            </a>
	            <p class="registro_mail">{% trans %}usuario.login.registro.o{% endtrans %} <a href="{{path('registroUsuario')}}">{% trans %}usuario.login.registro.mail{% endtrans %}</a></p>
			</div>
		</div>
	{% endif %}

	<!-- Contenido central -->
	<div class="contenido_home">

		{# Santiago de Chile #}
		{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}

		<!-- Concursos del sitio -->
		<div class="campanas_concursos">
			<ul>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-entradas-dobles-para-zonora-point-matanza-en-amanda'}) }}">
					<li>
						<h2 class="titulo_concurso concursos">Sólo por hoy</h2>
						<img src="http://www.loogares.com/assets/images/blog/centro-cultural-amanda/matanza_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Centro Cultural Amanda</p>
						<p class="sorteo_concurso">Gana entradas para Zonora Point + Matanza + Nakeye</p>
					</li>
				</a>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-tres-gift-cards-en-donde-el-guaton-nunoa'}) }}">
					<li class="central">
						<h2 class="titulo_concurso concursos">Esta semana</h2>
						<img src="http://www.loogares.com/assets/images/blog/beneficio-exclusivo/donde_el_guaton_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Donde el Guatón</p>
						<p class="sorteo_concurso">Gana Gift Cards válidas por 1 Guatón + Bebida</p>
					</li>
				</a>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-entradas-entradas-espejito-espejito'}) }}">
					<li>
						<h2 class="titulo_concurso ganadores">Ganadores</h2>
						<img src="http://www.loogares.com/assets/images/blog/lunes-de-pelicula/espejito_espejito_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">BF Distribution</p>
						<p class="sorteo_concurso">Sorteamos entradas para Espejito Espejito</p>
					</li>
				</a>
			</ul>
		</div>		
				
		{# Valparaíso / Viña del Mar #}
		{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
	
		<!-- Concursos del sitio -->
		<div class="campanas_concursos">
			<ul>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-dos-pizza-roll-en-dal-cuore'}) }}">
					<li>
						<h2 class="titulo_concurso ganadores">Ganadores</h2>
						<img src="http://www.loogares.com/assets/images/blog/beneficio-exclusivo/dal_cuore_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Dal Cuore</p>
						<p class="sorteo_concurso">Sorteamos Gift Cards por 2 Pizzas + 2 Cervezas</p>
					</li>
				</a>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-entradas-secretos-de-estado-vina'}) }}">
					<li class="central">
						<h2 class="titulo_concurso ganadores">Ganadores</h2>
						<img src="http://www.loogares.com/assets/images/blog/lunes-de-pelicula/secretos_de_estado_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">BF Distribution</p>
						<p class="sorteo_concurso">¡Ya están los ganadores de este concurso!</p>
					</li>
				</a>
			</ul>
		</div>
			
		{# Buenos Aires #}	
		{% elseif app.session.get('ciudad').slug == 'buenos-aires' %}
		<div class="campanas_concursos">
			<ul>
				<a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sorteamos-cuatro-cenas-en-meridiano-ciencuetayocho'}) }}">
					<li>
						<h2 class="titulo_concurso concursos">Esta semana</h2>
						<img src="http://www.loogares.com/assets/images/blog/beneficio-exclusivo/meridiano_58_home.jpg" width="204" height="115" / >
						<p class="lugar_concurso">Meridiano 58º</p>
						<p class="sorteo_concurso">Sorteamos 4 cenas para 2 personas</p>
					</li>
				</a>
			</ul>
		</div>
		{% endif %}

		<!-- Últimos Lugares recomendados -->
		<div class="lugares_recomendados">
			<h3 class="titulo_home titulo_recomendados">{{'extra.home.modulo_ultimas_recomendaciones.titulo'|trans}}</h3>
			<ul>
				{% for categoria in home.categorias %}
				<li {% if loop.index == 3 %}class="ultima_categoria"{% endif %}>
					<a class="titulo_categoria" href="{{ path('_categoria', {'slug': app.session.get('ciudad').slug, 'categoria': categoria.slug}) }}">{{categoria.nombre}} »</a>
					{% if categoria.top_five.0.lugar.imagenesLugar[0].imagenFull is not defined %}
						<img src="{{ ('assets/images/lugares/default.gif') | apply_filter('medium_lugar') }}"  width="60" height="60" />
					{% endif %}
					{% for img in categoria.top_five.0.lugar.imagenesLugar %}		
						{% if loop.last %}						
							<img src="{{ ('assets/images/lugares/'~img.imagenFull) | apply_filter('medium_lugar') }}"  width="60" height="60" />
						{% endif %}
					{% endfor %}
					<div class="listado_lugares_recomendados">
						<ul>
							{% for cl in categoria.top_five %}
								<li>
									<span class="numeracion">{{loop.index}}.</span>
									<a class="ultimo_lugar_recomendado" href="{{path('_lugar', {'slug' : cl.lugar.slug})}}">{{cl.lugar.nombre}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% render 'LoogaresLugarBundle:Lugar:moduloDescuentos' with {'ciudad' : app.session.get('ciudad').id, 'pagina' : 'home'}%}

		<div class="actividad_reciente">
			<div class="encabezado_actividad">
				<span class="actividad_icono"></span>
				<h3 class="titulo_home">{{'extra.home.actividad_reciente.titulo'|trans}} {{app.session.get('ciudad').nombre}}</h3>
				<a class="ver_mas_actividad" href="{{path('actividad')}}">{{'extra.home.actividad_reciente.ver_mas'|trans}} »</a>
			</div>

			{% include 'LoogaresExtraBundle:Default:actividad_reciente.html.twig'%}

			<a class="ver_mas_actividad_inferior" href="{{path('actividad')}}">{{'extra.home.actividad_reciente.ver_mas'|trans}} »</a>
		</div>

	</div>

	<!-- Sidebar -->
	<div class="sidebar_home">

		<!-- Banner Home 1 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','top','medium')}}_{{app.session.get('ciudad').slug}}");
        	</script>
		</div>

		<!-- Colaboradores -->
		{# Santiago de Chile #}
		{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
			<div class="colaboradores">
				<h5 class="titulo_home encabezado">{{'extra.home.modulo_notas_colaboraciones.titulo'|trans}}</h5>
				<ul class="slider">	
					<li>
						<img src="http://www.loogares.com/assets/images/blog/sanduich/mr_jack_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">Sánduich</p>
							<p class="titulo_nota">¡Sólo para valientes! Doble Wagyu de Mr. Jack</p>
							<p class="texto_nota">El otro día después de la pega... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'recomendado-por-sanduich-doble-wagyu'}) }}">Ver más »</a></p>
						</div>
					</li>
					<li>
						<img src="http://www.loogares.com/assets/images/blog/el-dinamo/tenedores_libres_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">El Dínamo</p>
							<p class="titulo_nota">Imperdibles tenedores libres del gran Santiago</p>
							<p class="texto_nota">La comida, uno de los placeres más ricos... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'imperdibles-tenedores-de-santiago'}) }}">Ver más »</a></p>
						</div>
					</li>				
					<li>
						<img src="http://www.loogares.com/assets/images/blog/sabor-platonico/japon_ya_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">Sabor Platónico</p>
							<p class="titulo_nota">Expertos en sushi en Japón Ya</p>
							<p class="texto_nota">Hace un tiempo hablamos de los miles de... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'sabor-platonico-recomienda-japon-ya'}) }}">Ver más »</a></p>
						</div>
					</li>
				</ul>
				<div class="pages">
					<ul>
						<li><a class="slide-change active" data-slide="0"></a></li>
						<li><a class="slide-change" data-slide="1"></a></li>
						<li><a class="slide-change" data-slide="2"></a></li>
					</ul>
				</div>
			</div>
			
		{# Valparaíso / Viña del Mar #}
		{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
			<div class="colaboradores">
				<h5 class="titulo_home encabezado">{{'extra.home.modulo_notas_colaboraciones.titulo'|trans}}</h5>
				<ul class="slider">
					<li>
						<img src="http://www.loogares.com/assets/images/blog/oscar-aspillaga/tutto_bene_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">Óscar Aspillaga</p>
							<p class="titulo_nota">Tutto Bene, las apariencias engañan</p>
							<p class="texto_nota">En Valparaíso hay varios locales donde... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'tutto-bene-las-apariencias-enganan'}) }}">Ver más »</a></p>
						</div>
					</li>
					<li>
						<img src="http://www.loogares.com/assets/images/blog/restomagazine/kokoro_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">Restomagazine</p>
							<p class="titulo_nota">Kokoro, un secreto a voces</p>
							<p class="texto_nota">Sushi, una lejana tradición culinaria nipona, que... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'kokoro-un-secreto-a-voces'}) }}">Ver más »</a></p>
						</div>
					</li>
					<li>
						<img src="http://www.loogares.com/assets/images/blog/el-martutino/lugares_encantadores_home.jpg" height="158" width="148" />
						<div class="detalles_nota">
							<p class="nombre_colaborador">El Martutino</p>
							<p class="titulo_nota">Lugares encantadores de Valparaíso</p>
							<p class="texto_nota">Valparaíso, ciudad que encanta por su multiplicidad de colores... <a href="{{ path('post', {'ciudad': app.session.get('ciudad').slug, 'slug': 'lugares-encantadores-de-valparaiso'}) }}">Ver más »</a></p>
						</div>
					</li>
				</ul>
				<div class="pages">
					<ul>
						<li><a class="slide-change active" data-slide="0"></a></li>
						<li><a class="slide-change" data-slide="1"></a></li>
						<li><a class="slide-change" data-slide="2"></a></li>
					</ul>
				</div>
			</div>
			
		{# Buenos Aires #}
		{% elseif app.session.get('ciudad').slug == 'buenos-aires' %}

		{% endif %}

		<!-- Loogareño Estrella -->
		{# Santiago de Chile #}
		{% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
			<div class="recomendacion_estrella">
				<h6 class="titulo_estrella">{{'extra.home.modulo_loogareno_estrella.titulo'|trans}}</h6>
				<div class="informacion">
					<div class="imagen_recomendacion">
						<a class="imagen" href="{{ path('showUsuario', {'param': home.estrella.obj.usuario.slug}) }}" class="link_usuario">
							<img src="{{ ('assets/images/usuarios/'~home.estrella.obj.usuario.imagenFull) | apply_filter('medium_usuario') }}" height="72" width="72"/>
						</a>
						<div class="textos_usuario">
							<a class="nombre_usuario" href="{{ path('showUsuario', {'param': home.estrella.obj.usuario.slug}) }}">
								{{home.estrella.obj.usuario.nombre}} {{home.estrella.obj.usuario.apellido}} 
							</a>
							<span class="invitada_lugar">{{'extra.home.modulo_loogareno_estrella.invitacion'|trans}} <a href="{{ path('_lugar', {'slug': home.estrella.obj.lugar.slug}) }}">{{ home.estrella.obj.lugar.nombre}}</a> {{'extra.home.modulo_loogareno_estrella.por'|trans}}</span>
						</div>
					</div>
				</div>
				<div class="recomendacion_preview">					
					<span><a href="{{ path('_lugar', {'slug': home.estrella.obj.lugar.slug}) }}">{{ home.estrella.obj.lugar.nombre}}:</a> {{ home.estrella.truncated }}...</span>
					<a href="{{ path('_lugar', {'slug': home.estrella.obj.lugar.slug}) }}/recomendacion/{{home.estrella.obj.usuario.slug}}" class="ver_mas">{{'extra.home.modulo_loogareno_estrella.ver_mas'|trans}}</a>
					<br />
					<span class="tips">{{'extra.home.modulo_loogareno_estrella.quieres_ser_invitado'|trans}} <a href="{{ path('static', {'static': 'loogareno_estrella'}) }}">{{'extra.home.modulo_loogareno_estrella.entra_aca'|trans}}</a></span>
				</div>
			</div>

		{# Valparaíso / Viña del Mar #}
		{% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}

		{# Buenos Aires #}
		{% elseif app.session.get('ciudad').slug == 'buenos-aires' %}

		{% endif %}

		<!-- Recomendación del Día -->
		{% if home.recDia != null %}
			<div class="recomendacion_dia">
				<h6 class="titulo_home encabezado">{{'extra.home.modulo_recomendacion_del_dia.titulo'|trans}}</h6>
				<div class="informacion">
					<div class="imagen_estrellas_recomendacion">
						<a class="imagen" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="link_usuario">
							<img src="{{('assets/images/usuarios/'~home.recDia.usuario.imagenFull) | apply_filter('small_usuario')}}" height="72" width="72"/>
						</a>
						<div class="textos_usuario">
							<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}">
								{% if home.recDia.usuario.nombre != '' %}
									{{home.recDia.usuario.nombre}} {{home.recDia.usuario.apellido}}
								{% else %}
									{{home.recDia.usuario.slug}}
								{% endif %}
							</a>
							<span class="fecha">{{home.recDia.fechaCreacion | date('d/m/Y')}}</span>
							<p class="estrellas_recDia" data-stars="{{home.recDia.estrellas}}"></p>
						</div>
					</div>
				</div>
				<div class="recomendacion_preview">			
					<span><a href="{{path('_lugar', {'slug' : home.recDia.lugar.slug})}}">{{home.recDia.lugar.nombre}}: </a>{{home.previewRecDia | raw}}</span>
					<a href="{{path('_recomendacion', {'slug' : home.recDia.lugar.slug, 'usuarioSlug' : (home.recDia.usuario.slug is not empty) ? home.recDia.usuario.slug : home.recDia.usuario.id})}}" class="ver_mas">{{'extra.home.modulo_recomendacion_del_dia.ver_mas'|trans}}</a>
					<br />
					<span class="tips">{{'extra.home.modulo_recomendacion_del_dia.elegida_por'|trans}}</span> <span class="tips_icon"></span>

					<!-- Qtip Recomendación del Día -->
					<div class="qtip_recomendacion_del_dia">
						{{'extra.home.modulo_recomendacion_del_dia.tip'|trans|raw}}
					</div>

				</div>
			</div>
		{% endif %}

		<!-- Banner Home 2 -->
		<div class="banner_300x250">
			<script type='text/javascript'>
            	GA_googleFillSlot("{{ad('static','home','bottom','medium')}}_{{app.session.get('ciudad').slug}}");
        	</script>
		</div>

	</div>

	<!-- Últimos Loogareños conectados -->
	<div class="loogarenos_conectados">
		<h6 class="titulo_home encabezado">{{'extra.home.modulo_ultimos_conectados.titulo'|trans}}</h6>
		{% if home.ultimosConectados|length > 0%}
			<ul class="loogarenos_conectado_ahora">
			{% for conectado in home.ultimosConectados %}
				<li>
					<a class="imagen_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_img">
						<img src="{{('assets/images/usuarios/'~conectado.imagenFull) | apply_filter('tiny_usuario')}}" width="20" height="20" />
					</a>
					<a class="nombre_usuario" href="{{path('showUsuario', {'param' : (conectado.slug is not empty) ? conectado.slug : conectado.id})}}" class="conectado_nombre">
						{% if conectado.nombre == '' %}
							{{conectado.slug}}
						{% else %}
							{{conectado.nombre}} {{conectado.apellido}}
						{% endif %}
					</a>
					<!-- Comentado el número de recomendaciones del usuario...
					<span class="conectado_recomendaciones">
						{{conectado.recomendaciones|length}} {{'general.terminos.recomendacion' | transchoice(conectado.recomendaciones|length) | lower }}
					</span>
					-->
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.bxSlider.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script src="{{asset('assets/js/home.js')}}"></script>
{% endblock %}
