<body>
    <div style="font-family: Arial; font-size: 14px;">
        <table align="center" cellpadding="0" cellspacing="0" width="650" style="width:650px">
            <tr>
                <td width="650"><center><img style="margin: 0 0 10px;" src="{{ assets.logo }}" width="180" height="128" /></center></td>
            </tr>
            <tr>
                <td style="background: #FFF; border-top: 5px solid #66CCFF; border-bottom: 1px solid #FAFAFC; border-left: 1px solid #FAFAFC; border-right: 1px solid #FAFAFC; box-shadow: 0px 5px 25px #F7F7F7; color: #666; font-size: 14px; line-height: 22px; padding: 30px 20px; width: 610px;">
                    <strong>{{mail.asunto}}</strong>
                    <br />
                    <br />
                    <strong>{{mail.datos.lugar}}</strong>
                    <br />
                    <br />
                    <strong>{{mail.datos.nombre}} {{mail.datos.apellido}}</strong> - {{mail.datos.mail}}
                    <br />
                    <strong>Telefono</strong>: {{mail.datos.telefono}}
                    <br />
                    {% for parrafo in mail.datos.comprobar %}
                        <p>{{parrafo}}</p>
                    {% endfor %}
            </tr>
        </table>
    </div>
</body>