{% extends "::base.html.twig" %}


{% block title %}:D{% endblock %}

{% block content %}
<!-- Ficha, top part -->
<div id="lugar-ficha">
    
    <div id="lugar-info">
        <div id="lugar-foto">foto</div>
        <div id="lugar-mapa">mapa</div>
            <h2>{{ lugar.nombre }}</h2>
            <div class="estrellas">{{ lugar.estrellas }} Estrellas | {{ lugar.totalRecomendaciones}} Recomendaciones</div>
            <div id="lugar-direccion">{{ lugar.calle }} {{ lugar.numero }} - Ciudad</div>
            <div id="lugar-telefono">123719827</div>
            <div id="lugar-categorias">Categorias: {{ smt.categoria.nombre }}</div>
            <div id="lugar-algo">asdads</div>
            <div id="lugar-algo">asdads</div>
            <div id="lugar-algo">asdads</div>
            <div id="primero-recomendar"></div>
        <div id="share-stuff"></div>
        <div id="social-stuff"></div>
    </div>
</div>
<p> estrellas</p>
<p>{{ lugar.totalRecomendaciones}} recomendaciones</p>
<p>{{ lugar.sitioWeb }}</p>
<p>{{ lugar.facebook }}</p>
<p>{{ lugar.twitter }}</p>
<p>{{ lugar.mail }}</p>
<p>categorias</p>
<p>sector</p>

<h1>
{{ smt.categoria.nombre }}
</h1>
{% endblock %}