<style>
    h1{ font-size: 24px; }
</style>

<!--
header
    Nombre
    Foto
    Estrellas
    Recomendaciones
    Rcomeinda boton
    Direccion, ciudad
    url
    facebook
    categorias
    sector
-->

<h1>Lugar: {{ lugar.nombre }}</h1>
<p>{{ lugar.estrellas }} estrellas</p>
<p>{{ lugar.totalRecomendaciones}} recomendaciones</p>
<h2>{{ lugar.calle }} {{ lugar.numero }} - Ciudad</h2>
<p>{{ lugar.sitioWeb }}</p>
<p>{{ lugar.facebook }}</p>
<p>{{ lugar.twitter }}</p>
<p>{{ lugar.mail }}</p>
<p>categorias</p>
<p>sector</p>