{% extends "::base.html.twig" %}

{% block title %}{%if lugar.slug %}Editar{% else %}Agregar Lugar{% endif %} | {{parent()}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/jquery-ui-1.8.16.custom.css') }}" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ asset('assets/css/chosen.css') }}" type="text/css" media="screen" />
    <style>

        .subcategorias{display: none;}
        .subcategorias ul li{display: none;}
        .precio{
            margin-top: 5px;
        }

        .comparacion{
            padding: 5px;
            background: green;
            width: 292px;
            display: block;
            float:left;
            margin-top: 5px;
            margin-left: 110px;
        }

        .comparacion-color0{
            background: beige;
        }

        .comparacion-color1{
            background: cyan;
        }

        .comparacion-color2{
            background: aliceblue;
        }

        .comparacion-color3{
            background: papayawhip;
        }

        .comparacion-color4{
            background: bisque;
        }

        .comparacion-color5{
            background: lavender;
        }

        .comparacion-color6{
            background: lightblue;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/masterObject.js')}}"></script>
    <script src="{{asset('assets/js/googleMapAgregar.js')}}"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAPoxFphWUxvaTpvs1yb1jqBRX_WqUqrejFKb9vXi20jSGe-5jpRSMwbi_H9382JcFVerJmLKxcJLs0w" type="text/javascript"></script>
    <script src="{{asset('assets/js/agregarLugar.js')}}"></script>
    <script src="{{asset('assets/js/jquery-ui-1.8.16.custom.min.js')}}"></script>
    <script src="{{asset('assets/js/chosen.jquery.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>

    <script>
        $(document).ready(function(){
        {% if lugar.slug %}
            $('.comuna').find('option[value="{{lugar.comuna.slug}}"]').attr('selected', 'selected');
            $('.ciudad').find('option[value="{{lugar.comuna.ciudad.slug}}"]').attr('selected', 'selected');
            {% if lugar.sector %}$('.sector').find('option[value="{{lugar.sector.slug}}"]').attr('selected', 'selected');{% endif %}
            onCargarMapaAgregar();

            {% if lugar.telefono2 %}
                $('a.display-more-info[rel=telefono]').click();
            {% endif %}

            {% if lugar.telefono3 %}
                $('a.display-more-info[rel=telefono]').click();
            {% endif %}

            {% for categoriaLugar in lugar.categoriaLugar %}
                $currentSelect = $('.categoria').eq({{loop.index}}-1);
                $currentSelect.find('option[value="{{categoriaLugar.categoria.slug}}"]').attr('selected', 'selected').change();
                
                {% if loop.last == false %}
                    $('a.display-more-info[rel=categoria]').click();
                {% endif %}

                {% for subcategoriaLugar in lugar.subcategoriaLugar %}
                    {% if subcategoriaLugar.subcategoria.categoria.id == categoriaLugar.categoria.id %}
                        $currentSelect.parent().find('.subcategorias input[value="{{subcategoriaLugar.subcategoria.nombre}}"]').click();
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% for caracteristicaLugar in lugar.caracteristicaLugar %}
                $('.caracteristicas').find('input[value="{{caracteristicaLugar.caracteristica.nombre}}"]').click();
            {% endfor %}

            {% if lugar.horario[0] is defined and is_granted('ROLE_USER') %}
                var dias = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'];
                {% for horario in lugar.horario %}
                $('.habilitar-horario').click().parent().next('li').fadeIn();
                    $dia = $('[name="horario-'+dias[{{horario.dia}}]+'[]"]');
                    $dia.eq(0).find('option[value="{{horario.aperturaAM}}"]').attr('selected', 'selected') 
                    $dia.eq(1).find('option[value="{{horario.cierreAM}}"]').attr('selected', 'selected')
                    {% if horario.aperturaPM %}
                        $dia.eq(2).find('option[value="{{horario.aperturaPM}}"]').attr('selected', 'selected') 
                        $dia.eq(3).find('option[value="{{horario.cierrePM}}"]').attr('selected', 'selected') 
                        $dia.eq(3).parent().parent().find('.jornada-doble').click();
                        $dia.eq(3).parent().parent().find('.horario-pm').fadeIn();
                        $('th.horario-pm').fadeIn();
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    var dias = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'];
                    $('.habilitar-horario').click().parent().next('li').fadeIn();
                        {% if lugaresRevisados is defined %}

                            {% for lugarRevisado in lugaresRevisados %}
                                {% if lugarRevisado.horario[0] is defined %}
                                    {% for horario in lugarRevisado.horario %}
                                        $('.comparacion-horas')
                                            .append('{{lugarRevisado.usuario.slug}} sugirio: <ul class="comparacion comparacion-color{{loop.index}}">')
                                            .append(dias[{{horario.dia}}] + ' | ' + "{{horario.aperturaAM}} - {{horario.cierreAM}}")
                                            .append('</ul>');
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %} 
                {% endif %}
            {% endif %}
            
        {% else %}
            onCargarMapaAgregar('default');
        {% endif %}

        $.ui.autocomplete.prototype._renderItem = function( ul, item) {
            var re = new RegExp(this.term, "i"),
                t = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + this.term + "</span>");
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + t + "</a>" )
                .appendTo( ul );
        };
          
        $( "#form_calle" ).autocomplete({
            source: "http://localhost"+WEBROOT+"ajax/recomendarCalle",
            minLength: 2
        });

        $('.categoria, .sector, .comuna, select.pais, .ciudad').chosen();

            var $sidebar   = $(".gmaps"),
                $window    = $(window),
                offset     = $sidebar.offset(),
                topPadding = 50;

            $window.scroll(function() {
                if ($window.scrollTop() > offset.top && $window.scrollTop() <= $('.calle').offset().top) {
                    $sidebar.stop().animate({
                        marginTop: $window.scrollTop() - offset.top + topPadding
                    });
                } else if($window.scrollTop() >= $('.calle').offset().top - topPadding){
                    var margin = ($('.calle').offset().top - topPadding - 15 )+'px';
                    $sidebar.stop().animate({
                        marginTop: margin
                    });
                }else {
                    $sidebar.stop().animate({
                        marginTop: 0
                    });
                }
            });
            $('.precio-raty').raty({
                width: 140,
                starOff:  WEBROOT+'../assets/images/extras/precio_vacio.png',
                starOn:   WEBROOT+'../assets/images/extras/precio_lleno.png',
                scoreName: 'form[precio]'
        
            });
    });      

    </script>
{% endblock %}

{% block content %}
<form action="{% if lugar.slug %}{{ path('_editar', {'slug': lugar.slug}) }}{% else %}{{ path('_agregar') }}{% endif %}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}

{% if errors %}
    <div class="errores">
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<h1 class="titulo">{%if lugar.slug %}Editando datos de: <a class="link_azul" href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a>{% else %}Agregar Lugar{% endif %}</h1>

<div class="errores-container"></div>

<ul class="agregar-lugar">
    <li>
        <label>Nombre *</label>
        <input type="text" value="{{lugar.nombre}}" title="Ingresa el nombre del lugar" class="required" minlength="2" name="form[nombre]" id="form_nombre" placeholder="Ej. Bar El Tufo"/>
        <input type="hidden" value="{{lugar.slug}}" minlength="2" name="form[slug]" id="form_slug"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.nombre != lugarRevisado.nombre %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.nombre}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="categoria-container">
        <label>Categorías *</label>
        <select class='categoria required' title='Recuerda asignarle una categoría al lugar' name='categoria[]'>
            <option value="elige">Elige una Categoria Principal</option>
            {% for tipoCategoria in data.tipoCategoria %}
                <optgroup label="{{tipoCategoria.nombre}}">
                {% for categoria in data.categorias %}
                    {% if categoria.tipoCategoria.id == tipoCategoria.id %}
                        <option value="{{categoria.slug}}">{{categoria.nombre}}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
             {% if lugarRevisado.categoriaLugar[0] is defined %}
                <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                    {{lugarRevisado.categoriaLugar[0].categoria.nombre}}
                </div>
            {% endif %}
        {% endif %}
        <div class='subcategorias'>
            <span class="subcategoria_titulo">Subcategorías * (Máx. 3)</span>
            <ul class="alinear_subcategorias">
                {% for subCategoria in data.subCategorias %}
                    <li class="lista_subcategorias">
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria_input" value="{{subCategoria.nombre}}" />
                            <span class="subcategoria_span">{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugarRevisado.subcategoriaLugar[0] is defined %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                        {% for subCategoriaLugar in lugarRevisado.subcategoriaLugar %}
                            {% if subCategoriaLugar.subcategoria.categoria.id == lugarRevisado.categoriaLugar[0].categoria.id %}
                                {{ subCategoriaLugar.subcategoria.nombre}}{% if loop.index < 3 %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default categoria-container">
        <label>Categorías</label>
        <select class='categoria secundaria' title='' name='categoria[]'>
            <option value="elige">Elige una Categoria Secundaria</option>
            {% for tipoCategoria in data.tipoCategoria %}
                <optgroup label="{{tipoCategoria.nombre}}">
                {% for categoria in data.categorias %}
                    {% if categoria.tipoCategoria.id == tipoCategoria.id %}
                        <option value="{{categoria.slug}}">{{categoria.nombre}}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
             {% if lugarRevisado.categoriaLugar[1] is defined %}
                <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                    {{lugarRevisado.categoriaLugar[1].categoria.nombre}}
                </div>
            {% endif %}
        {% endif %}
        <span class="quitar_info"><a class="quitar" rel="categoria" href="">Quitar</a></span>
        <div class='subcategorias'>
            <span class="subcategoria_titulo">Subcategorías * (Máx. 3)</span>
            <ul class="alinear_subcategorias">
                {% for subCategoria in data.subCategorias %}
                    <li class="lista_subcategorias">
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria_input" value="{{subCategoria.nombre}}" />
                            <span class="subcategoria_span">{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugarRevisado.subcategoriaLugar[0] is defined %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                        {% for subCategoriaLugar in lugarRevisado.subcategoriaLugar %}
                            {% if subCategoriaLugar.subcategoria.categoria.id == lugarRevisado.categoriaLugar[1].categoria.id %}
                                {{ subCategoriaLugar.subcategoria.nombre}}{% if loop.index < 3 %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default categoria-container">
        <label>Categorías</label>
        <select class='categoria secundaria' title='' name='categoria[]'>
            <option value="elige">Elige una Categoria Secundaria</option>
            {% for tipoCategoria in data.tipoCategoria %}
                <optgroup label="{{tipoCategoria.nombre}}">
                {% for categoria in data.categorias %}
                    {% if categoria.tipoCategoria.id == tipoCategoria.id %}
                        <option value="{{categoria.slug}}">{{categoria.nombre}}</option>
                    {% endif %}
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
             {% if lugarRevisado.categoriaLugar[2] is defined %}
                <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                    {{lugarRevisado.categoriaLugar[2].categoria.nombre}}
                </div>
            {% endif %}
        {% endif %}
        <span class="quitar_info"><a class="quitar" rel="categoria" href="">Quitar</a></span>
        <div class='subcategorias'>
            <span class="subcategoria_titulo">Subcategorías * (Máx. 3)</span>
            <ul class="alinear_subcategorias">
                {% for subCategoria in data.subCategorias %}
                    <li class="lista_subcategorias">
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria_input" value="{{subCategoria.nombre}}" />
                            <span class="subcategoria_span">{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugarRevisado.subcategoriaLugar[0] is defined %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                        {% for subCategoriaLugar in lugarRevisado.subcategoriaLugar %}
                            {% if subCategoriaLugar.subcategoria.categoria.id == lugarRevisado.categoriaLugar[0].categoria.id %}
                                {{ subCategoriaLugar.subcategoria.nombre}}{% if loop.index < 3 %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>        
        <span class="agregar_info"><a class="display-more-info" rel="categoria" href="">» Agrega una categoría secundaria (Máx. 
        <span>2</span>)</a></span>
    </li>
    <li>
        <label>Pais *</label>
        <select class='pais required' title='' name='pais' id='pais'>
        {% for pais in data.pais %}
            <option {% if data.ciudadActual.pais.id == pais.id %} selected="selected" {% endif %} value="{{pais.slug}}">{{pais.nombre}}</option>
        {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.sector.ciudad.pais.id != lugarRevisado.sector.ciudad.pais.id %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.sector.ciudad.pais.nombre}} </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Ciudad *</label>
        <select class='ciudad required' title='' name='ciudad' id='ciudad'>
        {% for pais in data.pais %}
            <optgroup label="{{pais.nombre}}">
                {% for ciudad in data.ciudad %}
                    <option {% if data.ciudadActual.id == ciudad.id %} selected="selected" {% endif %} value="{{ciudad.slug}}">{{ciudad.nombre}}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.sector.ciudad.id != lugarRevisado.sector.ciudad.id %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.sector.ciudad.nombre}} </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Comuna *</label>
        <select class='comuna required' title='Localiza la comuna del lugar' name='comuna' id='comuna'>
        <option value='elige'>Elige una comuna</option>
        {% for ciudad in data.ciudad %}
            <optgroup label="{{ciudad.nombre}}">
                {% for comuna in data.comuna %}
                    {% if ciudad.id == comuna.ciudad.id %}
                    <option value="{{comuna.slug}}">{{comuna.nombre}}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.comuna.id != lugarRevisado.comuna.id %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.comuna.nombre}} </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Calle *</label>
        <input type="text" value="{{lugar.calle}}" name="form[calle]" title="Ingresa la calle del lugar" class="calle required" id="form_calle" placeholder="Ej. Tarapallá"/>
        <label class="label_numero">Nº *</label>
        <input type="text" value="{{lugar.numero}}" name="form[numero]" class="numero required" title="Ingresa el número del lugar" id="form_numero" placeholder="Ej. 1949 o s/n"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.calle != lugarRevisado.calle or lugar.numero != lugarRevisado.numero %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.calle}} - {{lugarRevisado.numero}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>     
        <span class="agregar_info"><a class="display-next-li" href="">» ¿Es parte de una galería o centro comercial?</a></span>
        <div class="lugar-existe"></div>
    </li>
    <li class="no-default">
        <label>Detalle</label>
        <input type="text" value="{{lugar.detalle}}" name="form[detalle]" id="form_detalle" placeholder="Ej. A, Local 45, Piso 9, Centro Comercial Matta"/>
        <span class="quitar_info"><a class="quitar" href="">Quitar</a></span>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.detalle != lugarRevisado.detalle %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.detalle}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <span class="agregar_info"><a class="cargar_mapa" href="">Cargar mapa</a></span>
        <span class="mapa_info"></span>
    </li>
    <li>
        <label>Sector</label>
        <select class='sector' name='sector' id='sector'>
        <option value='elige'>¿Está en un sector popular? Elígelo aquí</option>
        {% for ciudad in data.ciudad %}
            <optgroup label="{{ciudad.nombre}}">
                {% for sector in data.sector %}
                    {% if ciudad.id == sector.ciudad.id %}
                    <option value="{{sector.slug}}">{{sector.nombre}}</option>
                    {% endif %}
                {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.sector.id != lugarRevisado.sector.id %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.sector.nombre}} </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Teléfono</label>
        <span class="codigo_area">{{data.ciudadActual.pais.codigoArea}}</span>
        <input type="text" value="{{lugar.tel1}}" name="form[telefono1]" id="form_telefono1" class="telefono" placeholder="Ej. 2 2130894"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.tel1 != lugarRevisado.telefono1 %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.telefono1}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default">
        <label>Teléfono</label>
        <span class="codigo_area">{{data.ciudadActual.pais.codigoArea}}</span>
        <input type="text" value="{{lugar.tel2}}" name="form[telefono2]" id="form_telefono2" class="telefono" placeholder="Ej. 2 2130894"/>
        <span class="quitar_info"><a class="quitar" rel="telefono" href="">Quitar</a></span>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.tel2 != lugarRevisado.telefono2 %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.telefono2}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default">
        <label>Teléfono</label>
        <span class="codigo_area">{{data.ciudadActual.pais.codigoArea}}</span>
        <input type="text" value="{{lugar.tel3}}" name="form[telefono3]" id="form_telefono3" class="telefono" placeholder="Ej. 2 2130894"/>
        <span class="quitar_info"><a class="quitar" rel="telefono" href="">Quitar</a></span>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.tel3 != lugarRevisado.telefono3 %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.telefono3}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <span class="agregar_info"><a class="display-more-info" rel="telefono" href="">» ¿Más teléfonos? (Máx.
        <span>2</span>)</a></span>
    </li>
    {% if is_granted('ROLE_ADMIN')%}
    <li>
        <label>Precio</label>
        <div class="precio telefono">
            <div class="precio-raty"></div>
        </div>
    </li>
    {% endif %}
    <li>
        <label>Sitio Web</label>
        <input type="text" value="{{lugar.sitioWeb}}" name="form[sitio_web]" id="form_sitio_web" placeholder="Ej. http://www.bareltufo.cl"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.sitioWeb != lugarRevisado.sitioWeb %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.sitioWeb}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Facebook</label>
        <input type="text" value="{{lugar.facebook}}" name="form[facebook]" id="form_facebook" placeholder="Ej. http://www.facebook.com/pages/bareltufo"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.facebook != lugarRevisado.facebook %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.facebook}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>Twitter</label>
        <input type="text" value="{{lugar.twitter}}" name="form[twitter]" id="form_twitter" placeholder="Ej. http://www.twitter.com/barelfuto"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.twitter != lugarRevisado.twitter %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.twitter}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <label>E-mail</label>
        <input type="text" value="{{lugar.mail}}" name="form[mail]" id="form_mail" placeholder="Ej. usuario@loogares.com"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.mail != lugarRevisado.mail %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.mail}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}    
    </li>
    <li>
        <label>Horario</label>
        <input type="checkbox" name="habilitar-horario" class="horario habilitar-horario" />
        <span class="horario_tip">¿Sabes los horarios de atención? Agrégalos</span>
    </li>
   <li class="no-default">
        <table class="agregar-horarios">
            <thead>
                <th></th>
                <th class="th-doble">Jornada 1</th>
                <th class="th-doble">Jornada 2</th>
                <th></th>
            </thead>
            <tbody>
                <tr class="separacion_horario">
                    <td></td>
                    <td>Abre</td>
                    <td>Cierra</td>
                    <td>Abre</td>
                    <td>Cierra</td>
                    <td></td>
                </tr>
                <tr class="separacion_horario">
                    <td>Lunes</td>
                    <td>
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Martes</td>
                    <td>
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Miércoles</td>
                    <td>
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Jueves</td>
                    <td>
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Viernes</td>
                    <td>
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Sábado</td>
                    <td>
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td> 
                </tr>
                <tr class="separacion_horario">
                    <td>Domingo</td>
                    <td>
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="jornada-doble">
                        <input type="checkbox" class="jornada-doble-checkbox">
                        <span class="jornada-doble-tip">¿Tiene jornada doble?</span>
                    </td>                     
                    <!-- <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td> -->
                </tr>
                <tr>
                    <td class="agregar-horarios-tip">
                        Si no se indica ningún horario para un determinado día, se entenderá que ese día está cerrado.<br/>
                        Si un día se indican los datos de Jornada 1, pero no los de Jornada 2, se entenderá que ese día opera en jornada única.
                    </td>
                </tr>
            </tbody>
        </table>
        {% if lugaresRevisados is defined %}
            <div class='comparacion-horas'></div>
        {% endif %}
    </li>
    <li class="no-default">
        <label>Profesional</label>
        <input type="text" value="{{lugar.profesional}}" name="form[profesional]" id="form_profesional" placeholder="Ej. Nombre del Arquitecto, Paisajista, etc"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.profesional != lugarRevisado.profesional %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.profesional}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default">
        <label>Año de Construcción</label>
        <input type="text" value="{{lugar.agnoConstruccion}}" name="form[agno_construccion]" id="form_agno_construccion" placeholder="Ej. 1985, Siglo XX"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.agnoConstruccion != lugarRevisado.agnoConstruccion %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.agnoConstruccion}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default">
        <label>Descripción</label>
        <textarea name="form[descripcion]" id="form_descripcion" placeholder="Ej. Breve descripción del lugar"> {{lugar.descripcion}}</textarea>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.descripcion != lugarRevisado.descripcion %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.descripcion}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li class="no-default">
        <label>Materiales</label>
        <input type="text" value="{{lugar.materiales}}" name="form[materiales]" id="form_materiales" placeholder="Ej. Cobre, Granito, etc"/>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugar.materiales != lugarRevisado.materiales %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio {{lugarRevisado.materiales}}</div>
                {% endif %}
            {% endfor %}
        {% endif %}    
    </li>
    <li class="no-default">
        <div class="caracteristicas">
            <span class="caracteristica_titulo">Características</span>
            <ul class="alinear_caracteristicas">
                {% for caracteristica in data.caracteristicas %}
                    <li class="lista_caracteristicas">
                        <label class="checkbox-label caracteristica">
                            <input type="checkbox" name="caracteristica[]" class="caracteristica_input" value="{{caracteristica.nombre}}" />
                            <span class="caracteristica_span">{{caracteristica.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if lugaresRevisados is defined %}
            {% for lugarRevisado in lugaresRevisados %}
                {% if lugarRevisado.caracteristicaLugar[0] is defined %}
                    <div class="comparacion comparacion-color{{loop.index}}"><strong>{{lugarRevisado.usuario.slug}}</strong> sugirio
                        {% for caracteristicaLugar in lugarRevisado.caracteristicaLugar %}
                                {{ caracteristicaLugar.caracteristica.nombre}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <input type="hidden" class="mapx" value="{{lugar.mapx}}" name="form[mapx]" id="form_mapx"/>
        <input type="hidden" class="mapy" value="{{lugar.mapy}}" name="form[mapy]" id="form_mapy"/>
    </li>
    <li class="no-default"><input type="hidden" name="id" class="id" value="{{lugar.id}}"/>
    <li class="obligatorio_tip">
        <span>Los campos con (*) son obligatorios</span>
    </li>
    <li><input class="guardar-datos" type="submit" value="Guardar los datos" formnovalidate/></li>
</ul>

<div class="mapa">
    <div id="mapa" class="gmaps">

    </div>
    <div class="mapa_ubicacion">
        <span>Ubicación en el mapa</span>
        Una vez cargado el mapa, puedes arrastrar el ícono para corregir su posición.
    </div>
</div>
{{ form_widget(form._token) }}



</form>
{% endblock %}