{% extends "::base.html.twig" %}

{% block title %}{{'fotos.agregar.title'|trans}} {{lugar.nombre}} | {{parent()}}{% endblock %}

{% block content %}

	<!-- Mensajes de error --> 
	{% if errors %}
		<div class="mensaje_error">
			<div class="imagen_error"></div>
			<div class="txt_error">
				{% for error in errors %}
			        <p>{{ error | trans}}</p>
			    {% endfor %}
		    </div>
		</div>
	{% endif %}	

	<div class="agregar_foto_lugar">

		<h1 class="titulo">{{'fotos.agregar.titulo'|trans}} <a href="{{path('_lugar', {'slug' : lugar.slug })}}">{{lugar.nombre}}</a></h1>

		<p class="tips">{% trans with {'%lugar%': "<strong>"~lugar.nombre~"</strong>"}%}fotos.agregar.subtitulo{% endtrans %}</p>

		<p class="tips"><span class="pasos">{{'fotos.agregar.primer_paso'|trans}}</span> <span>{{'fotos.agregar.primer_paso_tips'|trans}}</span></p>

		<form action="{{ path('_agregarFotoLugar', { 'slug' : lugar.slug }) }}" method="post" {{ form_enctype(form) }}>
			<ul>
				<li>
					<span class="pasos">{{form_label(form.firstImg, 'fotos.agregar.computador')}}</span>
					{{form_widget(form.firstImg, {'attr': {'class': 'input_sin_borde'}} )}}
				</li>
					
				<li class="opcional" data-placeholder="secondFile">
					<label></label>
					{{form_widget(form.secondImg, {'attr': {'class': 'input_sin_borde'}} )}}
					<a href="" class="quitar">{{'fotos.agregar.quitar'|trans}}</a>
				</li>

				<li class="opcional" data-placeholder="thirdFile">
					<label></label>
					{{form_widget(form.thirdImg, {'attr': {'class': 'input_sin_borde'}} )}}
					<a href="" class="quitar">{{'fotos.agregar.quitar'|trans}}</a>
				</li>
				<li id="agregar-file">
					<label></label>
					<a href="">{{'fotos.agregar.agregar_foto'|trans}} <span></span>)</a>
				</li>				
					
				<li class="li_separacion">
					<span class="pasos">{{'fotos.agregar.url'|trans}}</span>
				</li>

				<li>
					<span class="pasos"><label>{{'fotos.agregar.url_label'|trans}}</label></span>
					<input type="text" name="urls[]" />
				</li>

				<li id="secondURL" class="opcional">
					<label></label>
					<input type="text" name="urls[]" />
					<a href="" class="quitar">{{'fotos.agregar.quitar'|trans}}</a>
				</li>

				<li id="thirdURL" class="opcional">
					<label></label>
					<input type="text" name="urls[]" />
					<a href="" class="quitar">{{'fotos.agregar.quitar'|trans}}</a>
				</li>

				<li id="agregar-url">
					<label></label>
					<a href="">{{'fotos.agregar.agregar_url'|trans}} <span></span>)</a>
				</li>

				{{form_rest(form)}}

				<li>
					<label></label>
					<input class="enviar_foto" type="submit" value="" />
				</li>
			</ul>
		</form>

	</div>
	
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript">
		$(function(){
			actualizarAgregarMasFotos(1);
			actualizarAgregarMasURLs(1);

			$('#agregar-file a').click(function(e){
				e.preventDefault();
				if($('#form_secondImg').parent().css('display') == 'none') {
					$('#form_secondImg').parent().fadeIn();
					$('#form_secondImg').parent().css('display','list-item');
					actualizarAgregarMasFotos(1);
				}
				else if($('#form_thirdImg').parent().css('display') == 'none') {
					$('#form_thirdImg').parent().fadeIn();
					$('#form_thirdImg').parent().css('display','list-item');
					actualizarAgregarMasFotos(1);
				}
			});

			$('#agregar-url a').click(function(e){
				e.preventDefault();
				if($('#secondURL').css('display') == 'none') {
					$('#secondURL').fadeIn();
					$('#secondURL').css('display','list-item');
					actualizarAgregarMasURLs(1);
				}
				else if($('#thirdURL').css('display') == 'none') {
					$('#thirdURL').fadeIn();
					$('#thirdURL').css('display','list-item');
					actualizarAgregarMasURLs(1);
				}
			});

			$('.quitar').click(function(e){
				e.preventDefault();
				if($(this).parent().attr('data-placeholder') == 'secondFile') {					
					$(this).parent().fadeOut('fast',function(){
						$(this).css('display','none');
						actualizarAgregarMasFotos(0);
					});
				}
				else if($(this).parent().attr('data-placeholder') == 'thirdFile') {
					$(this).parent().fadeOut('fast',function(){
						$(this).css('display','none');
						actualizarAgregarMasFotos(0);
					});
				}
				else if($(this).parent().attr('id') == 'secondURL') {
					$(this).parent().fadeOut('fast',function(){
						$(this).css('display','none');
						actualizarAgregarMasURLs(0);
					});
				}
				else if($(this).parent().attr('id') == 'thirdURL') {
					$(this).parent().fadeOut('fast',function(){
						$(this).css('display','none');
						actualizarAgregarMasURLs(0);
					});
				}
			});

			function actualizarAgregarMasFotos(mas) {
				i = 0;
				$('ul li input[type=file]').each(function(){
					if($(this).parent().css('display') == 'none')
						i++;
				});

				if(mas) {
					if(i >= 1)
						$('#agregar-file a span').html(i);
					else
						$('#agregar-file a').fadeOut('fast');
				}
				else {
					$('#agregar-file a span').html(i);
					$('#agregar-file a').fadeIn('fast');
				}
			}

			function actualizarAgregarMasURLs(mas) {
				i = 0;
				$('ul li input[type=text]').each(function(){
					if($(this).parent().css('display') == 'none')
						i++;
				});

				if(mas) {
					if(i >= 1)
						$('#agregar-url a span').html(i);
					else
						$('#agregar-url a').fadeOut('fast');
				}
				else {
					$('#agregar-url a span').html(i);
					$('#agregar-url a').fadeIn('fast');
				}
			}
		});

	</script>
{% endblock %}