{% extends "::base.html.twig" %}

{% block title %}Agregar Lugar | {{parent()}}{% endblock %}

{% block stylesheets %}
    <style>

        .subcategorias{display: none;}

        .placeholder{
            color: #ccc;
        }

        input:focus, textarea{
            outline: none;
        }

        .input-active{
            border: 1px solid #3f0;
        }

        li.no-default{
            display: none;
        }   

        table td, table th{
            width: 60px !important;
            padding: 4px 2px;
        }
        table select{
            width: 80px !important;
        }

        .agregar-lugar .caracteristicas ul li,.agregar-lugar .subcategorias ul li{
            display: none;
        }


    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/masterObject.js')}}"></script>
    <script src="{{asset('assets/js/googleMapAgregar.js')}}"></script>
    <script type="text/javascript" src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzlORVreqGpkqQqQvjPC0pBTqGAcz-UBEJ7apA_tMhekG0smvBRSy_IPIzC_OjDTx3IC5QK-ZXxFlmg&amp;sensor=false&amp;hl=es'></script>
    <script src="{{asset('assets/js/agregarLugar.js')}}"></script>
    <script>
        {% if lugar.slug %}
            $('.comuna').find('option[value="{{lugar.comuna.slug}}"]').attr('selected', 'selected');
            $('.ciudad').find('option[value="{{lugar.comuna.ciudad.slug}}"]').attr('selected', 'selected');
            {% if lugar.sector %}$('.sector').find('option[value="{{lugar.sector.slug}}"]').attr('selected', 'selected');{% endif %}
            onCargarMapaAgregar();

            {% for categoriaLugar in lugar.categoriaLugar %}
                $currentSelect = $('.categoria').eq({{loop.index}}-1);
                $currentSelect.find('option[value="{{categoriaLugar.categoria.slug}}"]').attr('selected', 'selected').change();
                {% if loop.last == false %}$('a.display-more-info[rel=categoria]').click();{% endif %}

                {% for subcategoriaLugar in lugar.subcategoriaLugar %}
                    {% if subcategoriaLugar.subcategoria.categoria.id == categoriaLugar.categoria.id %}
                        $currentSelect.parent().find('.subcategorias input[value="{{subcategoriaLugar.subcategoria.nombre}}"]').click();
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% for caracteristicaLugar in lugar.caracteristicaLugar %}
                $('.caracteristicas').find('input[value="{{caracteristicaLugar.caracteristica.nombre}}"]').click();
            {% endfor %}

            {% if lugar.horario %}
                var dias = ['lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo'];
                $('.habilitar-horario').click().parent().next('li').fadeIn();
                {% for horario in lugar.horario %}
                    $dia = $('[name="horario-'+dias[{{horario.dia}}]+'[]"]');
                    $dia.eq(0).find('option[value="{{horario.aperturaAM}}"]').attr('selected', 'selected') 
                    $dia.eq(1).find('option[value="{{horario.cierreAM}}"]').attr('selected', 'selected') 
                    $dia.eq(2).find('option[value="{{horario.aperturaPM}}"]').attr('selected', 'selected') 
                    $dia.eq(3).find('option[value="{{horario.cierrePM}}"]').attr('selected', 'selected') 
                {% endfor %}
            {% endif %}
            
        {% else %}
            onCargarMapaAgregar('default');
        {% endif %}
    </script>
{% endblock %}

{% block content %}
<form action="{% if lugar.slug %}{{ path('_editar', {'slug': lugar.slug}) }}{% else %}{{ path('_agregar') }}{% endif %}" method="post" {{ form_enctype(form) }}>
{{ form_errors(form) }}

{% if errors %}
    <div class="errores">
        {% for error in errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="errores-container"></div>
<ul class="agregar-lugar">
    <li>
        <label>Nombre</label>
        <input type="text" value="{{lugar.nombre}}" title="Ingresa el Nombre del Lugar" class="required" minlength="2" name="form[nombre]" id="form_nombre" placeholder="Ej. Bar El Tufo"/>
        <input type="hidden" value="{{lugar.slug}}" minlength="2" name="form[slug]" id="form_slug"/>
    </li>
    <li>
        <label>Categorias</label>
        {{ data.categoriaSelect | raw}}
        <div class='subcategorias'>
            <ul>
                {% for subCategoria in subCategorias %}
                    <li>
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria" value="{{subCategoria.nombre}}" />
                            <span>{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li class="no-default">
        <label>Categorias</label>
        {{ data.categoriaSelect | raw}}
        <span class="quitar-info"><a class="quitar" rel="categoria" href="">Quitar</a></span>
        <div class='subcategorias'>
            <ul>
                {% for subCategoria in subCategorias %}
                    <li>
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria" value="{{subCategoria.nombre}}" />
                            <span>{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li class="no-default">
        <label>Categorias</label>
        {{ data.categoriaSelect | raw}}
        <span class="quitar-info"><a class="quitar" rel="categoria" href="">Quitar</a></span>
        <div class='subcategorias'>
            <ul>
                {% for subCategoria in subCategorias %}
                    <li>
                        <label class="checkbox-label subcategoria">
                            <input type="checkbox" name="subcategoria[]" class="subcategoria" value="{{subCategoria.nombre}}" />
                            <span>{{subCategoria.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li>        
        <span class="display-more"><a class="display-more-info" rel="categoria" href="">Otra categoria (Max 
        <span>2</span>)</a></span>
    </li>
    <li>
        <label>Ciudad</label>
        {{ data.ciudadSelect | raw}}
    </li>
    <li>
        <label>Comuna</label>
        {{ data.comunaSelect | raw}}
    </li>
    <li>
        <label>Direccion</label>
        <input type="text" value="{{lugar.calle}}" name="form[calle]" title="Ingresa la Calle del Lugar" class="calle required" id="form_calle" placeholder="Ej. Tarapallá"/>
        <input type="text" value="{{lugar.numero}}" name="form[numero]" class="numero required" title="Ingresa el Numero del Lugar" id="form_numero" placeholder="1949 o s/n"/>
    </li>
        <li>
         
                <span class="display-more"><a class="display-next-li" href="">Es parte de una galeria o centro comercial?</a></span>
         
            <span class="display-more"><a href="" class="cargar-mapa">Cargar Mapa</a></span>
    </li>
    <li class="no-default">
        <label>Detalle</label>
        <input type="text" value="{{lugar.detalle}}" name="form[detalle]" id="form_detalle" placeholder="Ej. Local 21, Mall Parque Arauco"/>
        
            <span class="quitar-info"><a class="quitar" href="">Quitar</a></span>
    </li>
    <li>
        <label>Sector</label>
        {{ data.sectorSelect | raw }}
    </li>
    <li>
        <label>Telefono</label>
        <span class="area-code"></span><input type="text" value="{{lugar.telefono1}}" name="form[telefono1]" id="form_telefono1" class="telefono" placeholder="Ej. +56 2 2130894"/>
    </li>
    <li class="no-default">
        <label>Telefono</label>
        <span class="area-code"></span><input type="text" value="{{lugar.telefono2}}" name="form[telefono2]" id="form_telefono2" class    ="telefono" placeholder="Ej. +56 2 2130894"/>
        
            <span class="quitar-info"><a class="quitar" rel="telefono" href="">Quitar</a></span>
    </li>
    <li class="no-default">
        <label>Telefono</label>
        <span class="area-code"></span><input type="text" value="{{lugar.telefono3}}" name="form[telefono3]" id="form_telefono3" class    ="telefono" placeholder="Ej. +56 2 2130894"/>
        
            <span class="quitar-info"><a class="quitar" rel="telefono" href="">Quitar</a></span>
    </li>
    <li>
            <span class="display-more"><a class="display-more-info" rel="telefono" href="">Mas telefonos (Max 
            <span>2</span>)</a></span>
    </li>
    <li>
        <label>Sitio Web</label>
        <input type="text" value="{{lugar.sitioWeb}}" name="form[sitio_web]" id="form_sitio_web" placeholder="Ej. http://www.bareltufo.cl"/>
    </li>
    <li>
        <label>Facebook</label>
        <input type="text" value="{{lugar.facebook}}" name="form[facebook]" id="form_facebook" placeholder="Ej. http://www.facebook.com/pages/bareltufo"/>
    </li>
    <li>
        <label>Twitter</label>
        <input type="text" value="{{lugar.twitter}}" name="form[twitter]" id="form_twitter" placeholder="Ej. http://www.twitter.com/barelfuto"/>
    </li>
    <li>
        <label>Mail</label>
        <input type="text" value="{{lugar.mail}}" name="form[mail]" id="form_mail" placeholder="Ej. usuario@logoares.com"/>
    </li>
    <li>
        <label>Horario</label>
        <small>Sabes los horarios de atencion?</small><input type="checkbox" name="habilitar-horario" class="habilitar-horario"/>
    </li>
   <li class="no-default">
        <table class="agregar-horarios">
            <thead>
                <th></th>
                <th>AM Abre</th>
                <th>AM Cierre</th>
                <th class="horario-pm">PM Abre</th>
                <th class="horario-pm">PM Cierre</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td>Lunes</td>
                    <td>
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-lunes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td> 
                </tr>
                <tr>
                    <td>Martes</td>
                    <td>
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-martes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
                    <td>Miercoles</td>
                    <td>
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-miercoles[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
                    <td>Jueves</td>
                    <td>
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-jueves[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
                    <td>Viernes</td>
                    <td>
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-viernes[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
                    <td>Sabado</td>
                    <td>
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-sabado[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
                    <td>Domingo</td>
                    <td>
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td>
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td class="horario-pm">
                        <select name="horario-domingo[]">
                            {{ data.horarios | raw}}
                        </select>
                    </td>
                    <td><label><input type="checkbox" class="jornada-doble"> Jornada doble?</label></td>
                </tr>
                <tr>
            </tbody>
        </table>
        <small>Si no se indica ningún horario para un determinado día, se entenderá que ese día está cerrado.
Si un día se indican los datos de Jornada 1, pero no los de Jornada 2, se entenderá que ese día opera en jornada única.</small>
    </li>
    <li class="no-default">
        <label>Profesional</label>
        <input type="text" value="{{lugar.profesional}}" name="form[profesional]" id="form_profesional" placeholder="Ej. Nombre del Arquitecto, Paisajista, etc"/>
    </li>
    <li class="no-default">
        <label>Año de Construccion</label>
        <input type="text" value="{{lugar.agnoConstruccion}}" name="form[agno_construccion]" id="form_agno_construccion" placeholder="Ej. 1985, Siglo XX"/>
    </li>
    <li class="no-default">
        <label>Descripcion</label>
        <textarea name="form[descripcion]" id="form_descripcion" placeholder="Breve Descripcion Blah Blah"> {{lugar.descripcion}}</textarea>
    </li>
    <li class="no-default">
        <label>Materiales</label>
        <input type="text" value="{{lugar.materiales}}" name="form[materiales]" id="form_materiales" placeholder="Ej. Cobre, Granito, etc"/>
    </li>
    <li class="no-default">
        <label>Caracteristicas</label>
        <div class="caracteristicas">
            <ul>
                {% for caracteristica in caracteristicas %}
                    <li>
                        <label class="checkbox-label caracteristica">
                            <input type="checkbox" name="caracteristica[]" class="caracteristica" value="{{caracteristica.nombre}}" />
                            <span>{{caracteristica.nombre}}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    <li>
        <input type="hidden" class="mapx" value="{{lugar.mapx}}" name="form[mapx]" id="form_mapx"/>
        <input type="hidden" class="mapy" value="{{lugar.mapy}}" name="form[mapy]" id="form_mapy"/>
    </li>
    <li><input type="submit" value="Guardar Datos" formnovalidate/></li>
</ul>
<div class="mapa_agregar">
    <div id="mapa" class="gmaps">

    </div>
    <div class="mapa_info">
        <span>Ubicación en el mapa</span>
        Una vez cargado el mapa, puedes arrastrar el ícono para corregir su posición.
    </div>
</div>
{{ form_widget(form._token) }}



</form>
{% endblock %}