<div class="foto-galeria">
	<img src="{{ asset('assets/images/lugares/'~imagen.imagenFull)}}" height="{{dimensiones.alto}}" width="{{dimensiones.ancho}}"/>
</div>

<div class="foto-info">
	<span class="fecha">
		{{-imagen.fechaCreacion | date('d/m/Y')-}}
		{% if imagen.tituloEnlace is not empty %}
			{{-' | '-}}
			{% if imagen.esEnlace %}
				<a href="{{imagen.tituloEnlace}}" target="blank">{{imagen.tituloEnlace}}</a>

			{% else %}
				{{imagen.tituloEnlace}}
			{% endif %}
		{% endif %}
	</span>
	<ul>
		<li class="autor">{{'lugar.fotos.galeria.autor'|trans}} <a href="{{ path('showUsuario', {'param' : imagen.usuario.slug })}}">{{imagen.usuario.nombre}} {{imagen.usuario.apellido}}</a></li>

		<li class="opciones">
			{{-'|'-}}
			{% if imagen.loggeadoCorrecto %}
				<span><a href="{{path('_editarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id })}}">{{'lugar.fotos.galeria.editar'|trans}}</a></span>
				<span><a href="{{path('_eliminarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}" class="borrar-foto-lugar">{{'lugar.fotos.galeria.borrar'|trans}}</a></span>
			{% else %}
				<span><a href="#">{{'lugar.fotos.galeria.reportar'|trans}}</a></span>
			{% endif %}
		</li>

		
	</ul>
	<ul>
		<li class="anterior">
			{% if vecinas.prev is not empty %}
				<a href="{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.prev } )}}">{{'lugar.fotos.galeria.anterior'|trans}}</a>
			{% endif %}
		</li>
		<li class="siguiente">
				<a href="{{ (vecinas.next is not empty) ? path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.next }) : path( '_galeria', { 'slug' : imagen.lugar.slug }) }}">{{'lugar.fotos.galeria.siguiente'|trans}}</a>
		</li>
	</ul>
</div>	