<h1>Galería de fotos de <a href="{{path('_lugar', {'slug' : lugar.slug })}}">{{lugar.nombre}}</a></h1>
<div class="foto-galeria">
	<img src="{{ ('assets/images/lugares/'~imagen.imagenFull) | apply_filter('large_lugar')}}" class="foto-galeria"/>
</div>

<div class="foto-info">
	<span class="fecha">
		{{-imagen.fechaCreacion | date('d/m/Y')-}}
		{% if imagen.tituloEnlace is not empty %}
			{{-' | '-}}
			{% if imagen.esEnlace %}
				<a href="{{imagen.tituloEnlace}}" target="blank">{{imagen.tituloEnlace}}</a>

			{% else %}
				{{imagen.tituloEnlace}}
			{% endif %}
		{% endif %}
	</span>
	<ul>
		<li class="autor">Agregada por <a href="{{ path('showUsuario', {'param' : imagen.usuario.slug })}}">{{imagen.usuario.nombre}} {{imagen.usuario.apellido}}</a></li>

		<li class="opciones">
			{{-'|'-}}
			{% if imagen.loggeadoCorrecto %}
				<span><a href="{{path('_editarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id })}}">Edita tu foto</a></span>
				<span><a href="{{path('_eliminarFotoLugar', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}" class="borrar-foto-lugar">Borra tu foto</a></span>
			{% else %}
				<span><a href="#">Reporta esta foto</a></span>
			{% endif %}
		</li>

		
	</ul>
	<ul>
		

		<li class="anterior">
			{% if vecinas.prev is not empty %}
				<a href="{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.prev } )}}">Anterior</a>
			{% endif %}
		</li>
		<li class="siguiente">
			{% if vecinas.next is not empty %}
				<a href="{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.next } )}}">Siguiente</a>
			{% endif %}
		</li>
	</ul>
</div>

{% block javascripts %}
	<script type="text/javascript">

		$('.borrar-foto-lugar').click(function(){
			if(!confirm('¿Estás seguro de querer borrar tu foto?'))
				return false;
		});

		$('.siguiente').click(function(e){
			e.preventDefault();	
			cambiarFoto("{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.next } )}}");
			return false;		
			
		});

		$('.anterior').click(function(e){
			e.preventDefault();	
			cambiarFoto("{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.prev } )}}");
			return false;		
			
		});

		$('.foto-galeria img').click(function(e){
			e.preventDefault();	
			cambiarFoto("{{ path( '_fotoGaleria', { 'slug' : imagen.lugar.slug, 'id' : vecinas.next } )}}");
			return false;		
			
		});		

		$(document).keyup(function(e){
			e.preventDefault();
			// Tecla izquierda
		    if (e.which == 37) {
		    	$('.anterior').click();
		    }
		    // Tecla derecha
		    else if(e.which == 39) {
		    	$('.siguiente').click();
		    }
		    return false;
		});

		function cambiarFoto(fotoUrl) {
			$.ajax({
			  type: "GET",
			  url: fotoUrl,
			}).done(function( data ) {
			  $('#contenido-galeria').html(data);
			}).fail(function( data ) {
			  console.log(data);
			});
			return false;
			
		}
	</script>
{% endblock %}			