<form action="{{ path('_editarFotoLugar', { 'slug' : imagen.lugar.slug, 'id' : imagen.id }) }}" method="post" {{ form_enctype(form) }}>
	<ul>
		<li>
			{{ form_label(form.titulo_enlace, 'fotos.agregar.descripcion') }}
			{{ form_widget(form.titulo_enlace) }}
		</li>
		{{form_rest(form)}}

		<li>
			<label></label>
			<input type="submit" value="{{'fotos.agregar.submit'|trans}}" formnovalidate />
		</li>
		<a href='#' class='cancelar_edicion'>Cancelar</a>
	</ul>
</form>