{% if tipo == 'form' %}
<form action="{{ path('_editarFotoLugar', { 'slug' : imagen.lugar.slug, 'id' : imagen.id }) }}" method="post" {{ form_enctype(form) }}>
	<ul>
		<li>
			{{ form_widget(form.titulo_enlace, { 'attr' : {'style' : 'width:300px', 'class' : 'descripcion_texto'}}) }}
			<input type="submit" value="{{'fotos.agregar.submit'|trans}}" formnovalidate  class="editar_submit"/>
			<a href='#' class='cancelar_edicion'>{{'fotos.editar.cancelar'|trans}}</a>
		</li>
		{{form_rest(form)}}
	</ul>
</form>
{% elseif tipo == 'descripcion' %}
	{% if imagen.tituloEnlace is not empty %}
		{% if imagen.esEnlace %}
			<a href="{{imagen.tituloEnlace}}" target="blank">{{imagen.tituloEnlace}}</a>
		{% else %}
			{{imagen.tituloEnlace}}
		{% endif %}
	{% endif %}
{% endif %}