{% extends "::base.html.twig" %}

{% block title %}{{'lugar.fotos.galeria.titulo_pag'|trans}} {{lugar.nombre}} | {{lugar.comuna.ciudad.nombre}} | {{parent()}}{% endblock %}

{% block content %}
	<div id="galeria">
		<h1>{{'lugar.fotos.galeria.titulo'|trans}} <a href="{{path('_lugar', {'slug' : lugar.slug })}}">{{lugar.nombre}}</a></h1>		
		<div id="contenido-galeria">
			{% include 'LoogaresLugarBundle:Lugares:contenido_galeria.html.twig' %}
		</div>

		<div id="sidebar-galeria">
			<div class="fotos-pagina">
				{% render "LoogaresLugarBundle:Ajax:paginaGaleria" with {'id': imagen.lugar.id} %}
			</div>

			<div class="banner">
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/galeria.js')}}"></script>
{% endblock %}