{% extends "::base.html.twig" %}

{% block title %}{{'fotos.galeria.title'|trans}} {{lugar.nombre}} | {{lugar.comuna.ciudad.nombre}} | {{parent()}}{% endblock %}

{% block content %}

    <!-- Mensajes de éxito -->
	{% if app.session.hasFlash('imagen_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('imagen_flash') | trans }}</p>
            </div>
    {% endif %}

	<div class="galeria_de_fotos">

		<h1 class="titulo">{{'fotos.galeria.titulo'|trans}} <a href="{{path('_lugar', {'slug' : lugar.slug })}}">{{lugar.nombre}}</a></h1>
				
		<div class="contenido_galeria">
			{% include 'LoogaresLugarBundle:Lugares:contenido_galeria.html.twig' %}
		</div>

	</div>

	<div class="sidebar_galeria">
	
		<div class="thumbs_galeria">
			{% render "LoogaresLugarBundle:Ajax:paginaGaleria" with {'id': imagen.lugar.id} %}
		</div>

		<div class="banner_300x250">
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/galeria.js')}}"></script>
	{% if edicion == true %}
		<script>
			$(function(){
				$('.editar_foto').click();
			});			
		</script>
	{% endif %}
{% endblock %}