{% extends "::base.html.twig" %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','galeria','top','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block title %}{{'fotos.galeria.title'|trans}} {{lugar.nombre}} | {{lugar.comuna.ciudad.nombre}} | {{parent()}}{% endblock %}

{% block content %}
    <!-- Mensajes de éxito -->
	{% if app.session.hasFlash('imagen_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('imagen_flash') | trans }}</p>
            </div>
    {% endif %}

	<div class="galeria_de_fotos">

		<h1 class="titulo">{{'fotos.galeria.titulo'|trans}} <a href="{{path('_lugar', {'slug' : lugar.slug })}}">{{lugar.nombre}}</a></h1>
				
		<div class="contenido_galeria">
			{% include 'LoogaresLugarBundle:Lugares:contenido_galeria.html.twig' %}
		</div>

	</div>

	<div class="sidebar_galeria">
	
		<div class="thumbs_galeria">
			{% render "LoogaresLugarBundle:Ajax:paginaGaleria" with {'id': imagen.lugar.id} %}
		</div>

		<div class="banner_300x250">
            <script type='text/javascript'>
                GA_googleFillSlot("{{ad('static','galeria','top','medium')}}_{{app.session.get('ciudad').slug}}");
            </script>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/galeria.js')}}"></script>
	{% if editar == true %}
		<script>
			$(function(){
				$('.editar_foto').click();
			});			
		</script>
	{% endif %}
{% endblock %}