{% extends "::base.html.twig" %}

{% block title %}{{ lugar.nombre }} | {{ lugar.comuna.ciudad.nombre }} | {{parent()}}{% endblock %}

{% block meta %}
    {% if lugar.recomendacionPedida is not defined %}   
        <meta property="og:description" content="{{ lugar.calle }} {{ lugar.numero }}, {% if lugar.detalle %}{{lugar.detalle}},{% endif %} {{ lugar.comuna.ciudad.nombre }}" />
        <meta property="og:image" content="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" />
    {% else %}
        <meta property="og:title" content="{{'lugar.recomendacion.meta.title'|trans({'%usuario%' : lugar.recomendacionPedida.nombre~' '~lugar.recomendacionPedida.apellido, '%lugar%' : lugar.nombre~', '~lugar.comuna.ciudad.nombre})}} | Loogares.com" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" />
    {% endif %}
{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','ficha','top','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block javascripts %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyATOJuTIR8SfADJZrSGHtbEt-EPRrqZDjc" type="text/javascript"></script>      
    <script src='{{asset('assets/js/googleMapFicha.js')}}'></script>
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>   
    <script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>  
    <script src="{{asset('assets/js/jquery.qtip.js')}}"></script>   
    <script src="{{asset('assets/js/lugar.js')}}"></script>
    
    <script>
        $(document).ready(function(){
            editarRecomendacion("{{lugar.slug}}")
            {% if lugar.recomendacionPedida is defined %}
                $('body').animate({'scrollTop': $('.editar_lugar').offset().top}, 200);a
                recomendacionPedida("{{lugar.recomendacionPedida.slug}}");
            {% endif %}
        })
    </script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}    
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.css') }}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div id="lugar-ficha" data-id="{{lugar.id}}">
    <!-- Mensajes de éxito -->
    {% if app.session.hasFlash('lugar_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('lugar_flash') | trans }}</p>
            </div>
    {% endif %}

    {% if app.session.hasFlash('error_flash') %}
            <div class="mensaje_error">
                <div class="imagen_error"></div><p class="txt_error">{{ app.session.flash('error_flash') | raw }}</p>
            </div>
    {% endif %}

    {% if app.session.hasFlash('cerrado_flash') %}
            <div class="mensaje_cerrado">
                <div class="imagen_cerrado"></div><p class="txt_exito">{{ app.session.flash('cerrado_flash') | trans }}</p>
            </div>
    {% endif %}

    <div class="contenido_central" id="lugar-info">
        <div class="lugar_info">
            {% if app.session.hasFlash('cerrado_flash') %}
                <div class="overlay"></div>
            {% endif %}
            <h1 class="titulo_lugar">{{ lugar.nombre }}</h1>
            <div class="favoritos_lugar{{(is_granted('ROLE_USER') == false) ? '' : ''}}">
                {% if lugar.accionesUsuario.3.puede == 1 %}
                    <a class="favoritos_lugar_icono tooltip boton_accion {{(lugar.accionesUsuario.3.hecho == 1) ? 'boton_clickeado' : 'boton_activado'}}" data-hecho="{{lugar.accionesUsuario.3.hecho}}"></a>

                    <!-- Qtip Recomendación del Día -->
                    <div class="qtip_favoritos">
                        {{'lugar.ficha.qtip.favoritos'|trans}}
                    </div>
                {% else %}
                    <p class="favoritos_lugar_icono tooltip boton_desactivado" data-hecho="{{lugar.accionesUsuario.3.hecho}}"></p>
               
                    <!-- Qtip Recomendación del Día -->
                    <div class="qtip_favoritos">
                        {{'lugar.ficha.qtip.favoritos_logeado'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('login')}}">{{'lugar.ficha.qtip.logeado'|trans}}</a>.
                        <br /><br />
                        {{'lugar.ficha.qtip.registro'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('registroUsuario')}}">{{'lugar.ficha.qtip.aqui'|trans}}</a>.
                    </div>
                {% endif %}
                <!-- <p class="conteo">{{lugar.totalAcciones.3.total}}</p> -->
            </div>           
            <div class="estrellas">
                <div data-stars="{{lugar.estrellas}}" class="star-raty estrellas_lugar"></div>
                <noscript>
                    {{lugar.estrellas}} Estrellas
                </noscript>
                <span class="n_recomendaciones">{{ lugar.totalRecomendaciones }} {{'lugar.ficha.total_recomendaciones'|transchoice(lugar.totalRecomendaciones)}}</span>
            </div>
            <div class="multimedia_lugar">
                <div class="foto_lugar" id="lugar-foto">
                    <a href="{{ path( '_galeria', { 'slug' : lugar.slug } )}}"><img src="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" width="130" height="130" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/></a>
                </div>
                {% if lugar.totalFotos > 0 %}
                <a href="{{ path( '_galeria', { 'slug' : lugar.slug } )}}">{{'lugar.ficha.multimedia.galeria'|transchoice(lugar.totalFotos,{'%total%': lugar.totalFotos}) }}</a><br />
                {% endif %}
                <a href="{{ path( '_agregarFotoLugar', { 'slug' : lugar.slug } )}}">{{'lugar.ficha.multimedia.agregar_foto'|trans}}</a>
                {% if lugar.videosLugar[0].url is defined %}
                    <div class="video_lugar">
                        <a class="fancybox.iframe ver_video_lugar" href="{{lugar.videosLugar[0].url}}">{{'lugar.ficha.multimedia.video'|trans}}</a>
                    </div>
                {% endif %}
            </div>

            <div class="datos_principales_lugar">
                <div class="direccion_lugar" id="lugar-direccion">{{ lugar.calle }} {{ lugar.numero }}, {% if lugar.detalle %}{{lugar.detalle}},{% endif %}
                    <a href="{{ path('_categoria_comuna', {'slug': lugar.comuna.ciudad.slug, 'comuna': lugar.comuna.slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{lugar.comuna.nombre}}</a>, <a href="{{ path('_categoria', {'slug': lugar.comuna.ciudad.slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{ lugar.comuna.ciudad.nombre }}</a>
                </div>
                {% if lugar.tel1 != '' %}
                    <div class="telefono_lugar" id="lugar-telefono">
                        {{lugar.comuna.ciudad.pais.codigoArea}} {{lugar.tel1}}
                        {% if lugar.tel2 != '' %}
                        , {{lugar.comuna.ciudad.pais.codigoArea}} {{lugar.tel2}}
                        {% endif %}
                        {% if lugar.tel3 != '' %}
                        , {{lugar.comuna.ciudad.pais.codigoArea}} {{lugar.tel3}}
                        {% endif %}
                    </div>
                {% endif %}
                {% if lugar.sitioWeb %}
                    <div class="url_lugar" id="lugar-url">
                        <a href="http://{{ lugar.sitioWeb }}" target="_blank">http://{{ lugar.sitioWeb }}</a>
                    </div>
                {% endif %}
                {% if lugar.facebook != '' or lugar.twitter != '' %}
                <div class="redes_sociales_lugar">
                    {% if lugar.facebook %}
                        <a class="facebook_lugar" href="http://{{ lugar.facebook }}" target="_blank"></a>
                    {% endif %}
                    {% if lugar.twitter %}
                        <a class="twitter_lugar" href="http://{{ lugar.twitter }}" target="_blank"></a>
                    {% endif %}
                </div>
                {% endif %}
                
                {% if lugar.mostrarPrecio != null %}
                    <div class="precio_lugar" id="precio">                      
                        <p style="float: left;">{{'lugar.ficha.datos.precio'|trans}}</p><div data-precio="{{lugar.precio}}" data-tipo="{{lugar.mostrarPrecio}}" class="precio-raty precio_global"></div>
                        <div class="precio-detalle"></div>
                    </div>
                {% endif %}

                {% if lugar.reservas|length > 0 or lugar.pedidos|length > 0 %}
                    {% if lugar.pedidos|length > 0  and lugar.pedidos.0.promocion != null %}
                        <div class="pedido_promocion">
                            <span class="icono_pedido_promocion"></span>
                            <span class="titulo_pedido_promocion">{{lugar.pedidos.0.promocion.titulo}}</span>
                            <span class="dias_pedido_promocion">{{lugar.pedidos.0.promocion.dias}}</span>
                            <p class="descripcion_pedido_promocion">{{lugar.pedidos.0.promocion.descripcion}}</p>
                        </div>
                    {% endif %}

                    <div class="pedido_reserva_lugar">
                        {% if lugar.pedidos|length > 0 %}
                            {% if lugar.pedidos|length == 1 %}
                                <a class="pedido_online_lugar" href="{{lugar.pedidos.0.servicioPedido.linkBase}}{{lugar.pedidos.0.referral}}" alt="Pedido Online" target="blank"></a>
                            {% else %}
                                <a class="pedido_online_lugar pedido_fancybox" href="{{path('_pedidosLugar', {'slug' : lugar.slug, 'tipo' : 'pedidos'})}}" alt="Pedido Online"></a>
                            {% endif %}
                        {% endif %}

                        {% if lugar.reservas|length > 0 %}
                            {% if lugar.reservas|length == 1 %}
                                <a class="reserva_online_lugar" href="{{lugar.reservas.0.servicioPedido.linkBase}}{{lugar.reservas.0.referral}}" alt="Reserva Online" target="blank"></a>
                            {% else %}
                                <a class="reserva_online_lugar pedido_fancybox" href="{{path('_pedidosLugar', {'slug' : lugar.slug, 'tipo' : 'reservas'})}}" alt="Reserva Online"></a>
                            {% endif %}
                        {% endif %}
                    </div>                    
                {% endif %}
            </div>

            <div class="datos_secundarios_lugar">
                <div class="tags_primero_lugar">
                    <div class="primero_en_recomendar_lugar">
                        {% if lugar.recomendaciones %}
                            <div class="primero_titulo">
                                {{'lugar.ficha.datos.primero'|trans}}
                            </div>
                            <div class="primero_usuario">
                                <div class="primero_usuario_img">
                                    <a href="">
                                        <img src="{{ asset('assets/images/usuarios/'~lugar.recomendacion[0].usuario.imagenFull) }}" height="20" width="20" />
                                    </a>
                                </div>
                                <div class="primero_usuario_nombre">
                                    <a href="{{ path('showUsuario', {'param': lugar.recomendacion[0].usuario.slug})}}">
                                        {% if lugar.recomendacion[0].usuario.nombre != '' and lugar.recomendacion[0].usuario.apellido != '' %}
                                            {{ lugar.recomendacion[0].usuario.nombre }} {{ lugar.recomendacion[0].usuario.apellido }}
                                        {% else %}
                                            {{ lugar.recomendacion[0].usuario.slug }}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    {% if lugar.tagsPopulares[0] is defined %}
                    <div class="tags_populares_lugar">
                        <p>{{'lugar.ficha.tags'|trans}}</p>
                        {% for tagsPopulares in lugar.tagsPopulares %}
                            {{tagsPopulares.nombre}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}    
                </div>

                <div class="categoria_lugar">
                    {% if lugar.categoriaLugar %}
                        <div class="categoria_lugar_box" id="lugar-categorias">
                            <span class="subtitulos_lugar">{{'general.terminos.categorias'|transchoice(lugar.categoriaLugar|length)}}</span>
                            {% for categoriaLugar in lugar.categoriaLugar %}
                                <a href="{{ path('_categoria', {'slug': lugar.comuna.ciudad.slug, 'categoria': categoriaLugar.categoria.slug}) }}">{{categoriaLugar.categoria.nombre}}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if lugar.horarios != null %}
                        <div class="horario_lugar_box" id="lugar-horarios">
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.horario'|trans}}</span>
                            {% for horario in lugar.horarios %}
                                {{ horario }}<br/>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="sector_lugar">
                    {% if lugar.sector %}
                        <div class="sector_lugar_box" id="lugar-sector">
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.sector'|trans}}</span>
                            <a href="{{ path('_categoria_sector', {'slug': lugar.comuna.ciudad.slug, 'sector': lugar.sector.slug, 'categoria': lugar.categoriaLugar[0].categoria.slug}) }}">{{ lugar.sector.nombre }}</a>
                        </div>
                    {% endif %}
                    {% if lugar.subcategoriaLugar %}
                        <div class="subcategoria_lugar_box" id="lugar-subcategoria">
                            {% set isSet = ':D'%}
                            {% for subcategoriaLugar in lugar.subcategoriaLugar %}{% if isSet != subcategoriaLugar.subcategoria.categoria.id %}{%for categoriaLugar in lugar.categoriaLugar%}
                                {% if categoriaLugar.categoria.id == subcategoriaLugar.subcategoria.categoria.id %}
                                    <span class="subtitulos_lugar">{{'lugar.ficha.datos.subcategorias'|trans}} <span class="minusculas">{{categoriaLugar.categoria.nombre}}</span>:</span>{% set isSet = categoriaLugar.categoria.id %}{% endif %}{%endfor%}
                                {% else %},
                                {% endif %}
                                <a href="{{ path('_categoria_subcategoria', {'slug': lugar.comuna.ciudad.slug, 'categoria': subcategoriaLugar.subcategoria.categoria.slug, 'subcategoria': subcategoriaLugar.subcategoria.slug}) }}">{{subcategoriaLugar.subCategoria.nombre}}</a>{% endfor %}
                        </div>
                    {% endif %}
                    <div class="profesional_ano_material_box">
                        {% if lugar.profesional != null %}
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.profesional'|trans}}: {{lugar.profesional}}</span>
                        {% endif %}
                        {% if lugar.agnoConstruccion != null %}
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.agnoConstruccion'|trans}}: {{lugar.agnoConstruccion}}</span>
                        {% endif %}
                        {% if lugar.materiales != null %}
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.materiales'|trans}}: {{lugar.materiales}}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="caracteristicas_lugar">
                {% if lugar.caracteristicaLugar %}
                    <div id="lugar-caracteristicas">
                        <ul class="caracteristicas_lugar_listado">
                            {% for caracteristicaLugar in lugar.caracteristicaLugar %}
                                {% if caracteristicaLugar.caracteristica.slug != 'pedido-online' and caracteristicaLugar.caracteristica.slug != 'reserva-online' and caracteristicaLugar.caracteristica.slug != 'descuentos-en-pedido-online' %}
                                    <li data-texto="{{caracteristicaLugar.caracteristica.texto}}" class="{{caracteristicaLugar.caracteristica.slug}} tooltip_caracteristica">{{caracteristicaLugar.caracteristica.nombre}}{% if loop.last == false %}</li>{% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="actividad_lugar">
        
        {% if app.session.hasFlash('cerrado_flash') %}
            <div class="overlay">
                <img class="lock" src="{{ asset('assets/images/extras/lock.png') }}" height="31" width="23" />
            </div>
        {% endif %}

            {% if lugar.yaRecomendo is defined and lugar.yaRecomendo == null %}
                <a class="recomienda_lugar_{{app.session.get('ciudad').slug}}"></a>
            {% else %}
                <a class="edita_recomendacion_lugar" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': app.security.token.user.slug }) }}"></a>
            {% endif %}

            {% if lugar.accionesUsuario.2.puede == 1 %}
            <div class="qtip_estuve_alla"> 
                    <a href="#" class="recomendar_ahora_{{app.session.get('ciudad').slug}}"></a>
                    <a href="#" class="recomendar_despues"></a>
            </div>
            {% endif %}

            <div class="tooltip_estuve_alla estuve_alla_btn flota_derecha{{(is_granted('ROLE_USER') == false) ? ' not_logged' : ''}}">
                {% if lugar.accionesUsuario.2.puede == 1 %}
                    <a class="estuve_alla_lugar tooltip_ya_estuve boton_accion {{(lugar.accionesUsuario.2.hecho == 1) ? 'boton_clickeado' : 'boton_activado'}}" data-hecho="{{lugar.accionesUsuario.2.hecho}}"></a>
                {% else %}
                    <p class="estuve_alla_lugar tooltip_ya_estuve boton_desactivado" data-hecho="{{lugar.accionesUsuario.2.hecho}}"></p>
                    <!-- Qtip Ya Estuve -->
                    {% if app.security.token.user.id is not defined %}
                    <div class="qtip_ya_estuve">
                        {{'lugar.ficha.qtip.ya_estuve_logeado'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('login')}}">{{'lugar.ficha.qtip.logeado'|trans}}</a>.
                        <br /><br />
                        {{'lugar.ficha.qtip.registro'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('registroUsuario')}}">{{'lugar.ficha.qtip.aqui'|trans}}</a>.
                    </div>
                    {% endif %}
                {% endif %}
                <p class="estuve_alla_valor conteo">{{lugar.totalAcciones.2.total}}</p>
            </div> 
            <div class="tooltip_quiero_volver quiero_volver_btn flota_derecha{{(is_granted('ROLE_USER') == false) ? ' not_logged' : ''}}">
                {% if lugar.accionesUsuario.1.puede == 1 %}
                    <a class="quiero_volver_lugar tooltip_quiero_volver boton_accion {{(lugar.accionesUsuario.1.hecho == 1) ? 'boton_clickeado' : 'boton_activado'}} " data-hecho="{{lugar.accionesUsuario.1.hecho}}"></a>
                {% else %}
                    <p class="quiero_volver_lugar tooltip_quiero_volver boton_desactivado" data-hecho="{{lugar.accionesUsuario.1.hecho}}"></p>
                    <!-- Qtip Quiero Volver -->
                    <div class="qtip_quiero_volver">
                        {{'lugar.ficha.qtip.volver_logeado'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('login')}}">{{'lugar.ficha.qtip.logeado'|trans}}</a>.
                        <br /><br />
                        {{'lugar.ficha.qtip.registro'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('registroUsuario')}}">{{'lugar.ficha.qtip.aqui'|trans}}</a>.
                    </div>
                {% endif %}
                <p class="quiero_volver_valor conteo">{{lugar.totalAcciones.1.total}}</p>
            </div>            
            <div class="quiero_ir_btn flota_derecha{{(is_granted('ROLE_USER') == false) ? ' not_logged' : ''}}">
                {% if lugar.accionesUsuario.0.puede == 1 %}
                    <a class="quiero_ir_lugar tooltip_quiero_ir boton_accion {{(lugar.accionesUsuario.0.hecho == 1) ? 'boton_clickeado' : 'boton_activado'}}" data-hecho="{{lugar.accionesUsuario.0.hecho}}"></a>
                {% else %}
                    <p class="quiero_ir_lugar tooltip_quiero_ir boton_desactivado" data-hecho="{{lugar.accionesUsuario.0.hecho}}"></p>
                    <!-- Qtip Quiero Ir -->
                    {% if app.security.token.user.id is not defined %}
                    <div class="qtip_quiero_ir">
                        {{'lugar.ficha.qtip.quiero_ir_logeado'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('login')}}">{{'lugar.ficha.qtip.logeado'|trans}}</a>.
                        <br /><br />
                        {{'lugar.ficha.qtip.registro'|trans}} <a style="color: #FFF; font-weight: bold; text-decoration: none;" href="{{path('registroUsuario')}}">{{'lugar.ficha.qtip.aqui'|trans}}</a>.
                    </div>
                    {% endif %}
                {% endif %}                
                <p class="quiero_ir_valor conteo">{{lugar.totalAcciones.0.total}}</p>
            </div>
            <div>
                {% if lugar.accionesUsuario.4.puede == 1 %}
                    <a class="recomendar_despues_lugar boton_accion" data-hecho="{{lugar.accionesUsuario.4.hecho}}"></a>
                {% else %}
                    <p class="recomendar_despues_lugar" data-hecho="{{lugar.accionesUsuario.0.hecho}}"></p>
                {% endif %}
            </div>
        </div>

        <div class="caja_inferior_ficha">
            {% if app.session.hasFlash('cerrado_flash') %}
                <div class="overlay">
                </div>
            {% endif %}
        </div>

        <div class="opciones_lugar">
            
            {% if app.session.hasFlash('cerrado_flash') %}
                <div class="overlay"></div>
            {% endif %}

            <ul class="opciones_lugar_f6f">
                {% if lugar.duenoId == 0 %}
                    <li>
                        <a class="dueno_lugar" href="{{path('_reclamarLugar', {'slug' : lugar.slug})}}">{{'lugar.ficha.opciones.owner'|trans}}</a>
                    </li>
                     <span class="tips_icon"></span>
                     <div class="qtip_dueno">Si lo eres, entonces te proponemos una interesante alianza comercial entre tu negocio y nosotros. Haz click sobre el link y envíanos el formulario con tus datos. En menos de 48 horas te contactaremos para contarte de qué se trata.</div>
                {% else %}
                    <li>
                        <span class="dueno_lugar_si"><strong>{{'lugar.ficha.opciones.owner_reclamado'|trans}}</strong></span>
                    </li>
                    <span class="tips_icon"></span>
                    <div class="qtip_dueno">Este lugar ya fue reclamado por su dueño, por lo que ahora es miembro activo de Loogares.com, con todos los beneficios que trae ser parte de esta gran comunidad de personas y lugares.</div>
                {% endif %}
                <li><a class="editar_lugar" href="{{ path('_editar', {'slug': lugar.slug}) }}">{{'lugar.ficha.opciones.editar'|trans}}</a></li>
                <li><a class="cerro_lugar" href="{{path('_reportarLugar', {'slug' : lugar.slug})}}">{{'lugar.ficha.opciones.cerro'|trans}}</a></li>
                <li><a class="compartir tooltip_compartir" rel="compartir_lugar" href="#compartir">{{'lugar.ficha.opciones.enviar'|trans}}</a></li>
                <li><a class="imprimir_lugar" href="javascript:window.print()">{{'lugar.ficha.opciones.imprimir'|trans}}</a></li>
                
            </ul>
            <div class="compartir_lugar">
                <ul style="text-align: left;">
                    <li class="mail_share" style="margin: 0 0 5px;">
                        <a style="color: white; text-decoration: none;" href="{{path('_enviarLugar', {'slug' : lugar.slug})}}">
                            <span style="background: url('{{ asset('assets/images/extras/iconos_ficha_lugar.png') }}') no-repeat 0 -567px; height: 10px; float: left; padding: 0 0 0 13px; margin: 2px 4px 0 3px;"></span>
                            {{'lugar.ficha.opciones.e_mail'|trans}}
                        </a>
                    </li>
                    <li class="fb_share" style="margin: 0 0 5px;">
                        <a style="color: white; text-decoration: none;" name="fb_share" type="icon_link">{{'lugar.ficha.opciones.facebook'|trans}}</a>
                    </li>
                    <li class="twitter_share" style="margin: 0 0 5px;">                       
                        {% set data_url = url('_lugar', {'slug' : lugar.slug}) %}
                        {% set data_text = lugar.nombre~", "~lugar.comuna.ciudad.nombre~" | Loogares.com" %}
                        {% set data_via = "Loogarescom" %}
                        <a style="color: white; text-decoration: none;" href="https://twitter.com/share?url={{data_url|url_encode()}}&via={{data_via|url_encode()}}&text={{data_text|url_encode()}}" target="_blank">
                            <span style="background: url('{{ asset('assets/images/extras/iconos_ficha_lugar.png') }}') no-repeat 0 -684px; height: 14px; float: left; padding: 0 0 0 13px; margin: 1px 6px 0 0; width: 1px"></span>
                            {{'lugar.ficha.opciones.twittear'|trans}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% if lugar.totalRecomendaciones != 0 %}

        <div class="recomendacion_pedida_container">
        </div>

        <h2 class="titulo_recomendaciones">
            {{ lugar.totalRecomendaciones }}
            {{'lugar.ficha.recomendaciones.titulo'|transchoice(lugar.totalRecomendaciones,{'%lugar%' : lugar.nombre})}}
        </h2>

        <ul class="ordenar_por_recomendaciones">
            <li>
                <strong>{{'general.terminos.ordenar_por'|trans}}:</strong>
            </li>
            <li>
                {% if query.orden == 'mejor-evaluadas' %}
                    <strong>{{'general.terminos.mejores_evaluaciones'|trans}}</strong>
                {% else %}
                    <a href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mejor-evaluadas' })) }}">{{'general.terminos.mejores_evaluaciones'|trans}}</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'ultimas' %}
                    <strong>{{'general.terminos.ultima_recomendacion'|transchoice(2)}}</strong>
                {% else %}
                    <a href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'ultimas' })) }}">{{'general.terminos.ultima_recomendacion'|transchoice(2)}}</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'mas-utiles' %}
                    <strong>{{'general.terminos.mas_utiles'|transchoice(2)}}</strong>
                {% else %}
                    <a href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mas-utiles' })) }}">{{'general.terminos.mas_utiles'|transchoice(2)}}</a>
                {% endif %}
            </li>
        </ul>

        <div class="resultados_por_pagina">
            <select class="seleccionar_resultados_por_pagina">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="50">50</option>
            </select>
            <p class="resultados_por_pagina_txt">{{'general.terminos.resultados_pagina'|trans}}</p>
        </div>


        {% for recomendacion in lugar.recomendaciones %}
            <div class="recomendacion" data-id="{{recomendacion.id}}" data-slug="{{recomendacion.slug}}">
                <div class="foto_recomendacion">
                    <a href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                        <img src="{{ ('assets/images/usuarios/'~recomendacion.imagen_full) | apply_filter('small_usuario')}}" height="60" width="60" />
                    </a>
                </div>
                <div class="texto_recomendacion">
                    <p class="nombre_recomendacion">
                        <strong>
                            <a href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                                {% if recomendacion.nombre != '' and recomendacion.apellido != '' %}
                                    {{ recomendacion.nombre }} {{ recomendacion.apellido }}
                                {% else %}
                                    {{ recomendacion.slug }}
                                {% endif %}
                            </a>
                        </strong>
                    </p>
                    <div class="util_recomendacion">
                        <p class="conteo conteo_util">{{ recomendacion.utiles }}</p>
                        {% if is_granted('ROLE_USER') and app.security.token.user.id != recomendacion.userId %}
                            {% if recomendacion.apretoUtil == 0 %}
                                <a data-util="{{recomendacion.id}}-{{app.security.token.user.id}}" class="boton_activado boton_util boton_accion"></a>
                            {% else %}
                                <a data-util="{{recomendacion.id}}-{{app.security.token.user.id}}" class="boton_desactivado boton_util boton_accion"></a>
                            {% endif %}
                        {% else %}
                            <p class="boton_desactivado boton_util"></p>
                        {% endif %}
                    </div>
                    <p class="fecha_recomendacion">{{ recomendacion.fecha_creacion | date("d/m/Y") }}</p>
                    <div class="recomendacion-bloque">
                        <noscript>
                            {{recomendacion.estrellas}} Estrellas
                        </noscript>
                        <div data-stars="{{recomendacion.estrellas}}" class="recomendacion-{{loop.index}}-raty estrellas_recomendacion"></div>
                        <p class="texto_recomendacion_usuario">{{ recomendacion.texto | raw}}</p>
                        {% if recomendacion.tags[0] %}
                            <p class="tags_recomendacion">
                                {{'lugar.ficha.tags'|trans}} 
                                {% for tag in recomendacion.tags %}
                                    {{ tag }}{% if loop.last == false %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                     </div>
                    <div class="caja_opciones_recomendacion">
                        <ul class="opciones_recomendacion">
                            {% if recomendacion.slug != false %}
                                <li><a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': recomendacion.slug }) }}">{{'lugar.ficha.recomendaciones.permalink'|trans}}</a></li>
                            {% else %}
                                <li><a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': recomendacion.userId }) }}">{{'lugar.ficha.recomendaciones.permalink'|trans}}</a></li>
                            {% endif %}   
                            <li>
                                <a class="compartir tooltip_compartir_recomendacion" rel="compartir_recomendacion" href="#">{{'lugar.ficha.recomendaciones.enviar'|trans}}</a>
                            </li>
                            {% if is_granted('ROLE_USER') and app.security.token.user.id == recomendacion.userId %}
                                <li><a class="edita_recomendacion" href="#">{{'lugar.ficha.recomendaciones.editar'|trans}}</a></li>
                                <li><a class="borra_recomendacion" href="{{ path('_borrarRecomendacion',{"slug": lugar.slug}) }}">{{'lugar.ficha.recomendaciones.borrar'|trans}}</a></li>
                            {% else %}
                                <li><a class="reporta_recomendacion" href="{{path('_reportarRecomendacion', {'slug' : lugar.slug, 'usuarioSlug' : (recomendacion.slug != false) ? recomendacion.slug : recomendacion.userId})}}">{{'lugar.ficha.recomendaciones.reportar'|trans}}</a></li>
                            {% endif %}
                        </ul>

                        <div class="compartir_recomendacion">
                            <ul style="text-align: left;">
                                <li style="color: white; text-decoration: none;" class="mail_share" style="margin: 0 0 5px;">
                                    <a style="color: white; text-decoration: none;" href="{{path('_enviarRecomendacion', {'slug' : lugar.slug, 'usuarioSlug' : (recomendacion.slug != false) ? recomendacion.slug : recomendacion.userId})}}">
                                        <span style="background: url('{{ asset('assets/images/extras/iconos_ficha_lugar.png') }}') no-repeat 0 -567px; height: 10px; float: left; padding: 0 0 0 13px; margin: 2px 4px 0 3px;"></span>
                                        {{'lugar.ficha.opciones.e_mail'|trans}}
                                    </a>
                                </li>
                                <li class="fb_share_recomendacion" style="margin: 0 0 5px;">
                                    <a style="color: white; text-decoration: none;" name="fb_share" type="icon_link" style="color:#444" share_url="{{url('_recomendacion', {'slug' : lugar.slug, 'usuarioSlug' : (recomendacion.slug != false) ? recomendacion.slug : recomendacion.userId})}}">
                                        {{'lugar.ficha.opciones.facebook'|trans}}
                                    </a>
                                </li>
                                <li class="twitter_share_recomendacion" style="margin: 0 0 5px;">                                    
                                    {% set data_url = url('_recomendacion', {'slug' : lugar.slug, 'usuarioSlug' : (recomendacion.slug != false) ? recomendacion.slug : recomendacion.userId}) %}
                                    {% set data_text = "Recomendación de "~recomendacion.nombre~" "~recomendacion.apellido~" en "~lugar.nombre~", "~lugar.comuna.ciudad.nombre %}
                                    {% set data_via = "Loogarescom" %}
                                    <a style="color: white; text-decoration: none;" href="https://twitter.com/share?url={{data_url|url_encode()}}&via={{data_via|url_encode()}}&text={{data_text|url_encode()}}" target="_blank">
                                        <span style="background: url('{{ asset('assets/images/extras/iconos_ficha_lugar.png') }}') no-repeat 0 -684px; height: 14px; float: left; padding: 0 0 0 13px; margin: 1px 6px 0 0; width: 1px"></span>
                                        {{'lugar.ficha.opciones.twittear'|trans}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        <div class="paginacion_recomendacion">
            <p><strong>{{ paginacion.mostrandoDe }}</strong> {{'paginacion.al'|trans}} <strong>{{ paginacion.mostrandoHasta }}</strong> {{'paginacion.de'|trans}} <strong>{{ lugar.totalRecomendaciones }}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | {{'paginacion.ir_a'|trans}}
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>

        
        {% else %}
            {% if app.session.hasFlash('cerrado_flash') == null  %}
                <div>
                    <h2 class="titulo_recomendaciones">{{'lugar.ficha.recomendaciones.titulo_0'|trans}} {{ lugar.nombre }}</h2>
                </div>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_USER') == true and lugar.yaRecomendo is defined and lugar.yaRecomendo == null %}
            {% if app.session.hasFlash('cerrado_flash') == null  %}
                {% include 'LoogaresLugarBundle:Lugares:recomendacion.html.twig' %}
            {% endif %}
            

            <a class="fancybox" href="#recomendacon_popup"></a>
            <div style="display:none">{% include 'LoogaresLugarBundle:Ajax:recomendacion_popup.html.twig' %}</div>
            
        {% endif %}
        {% if is_granted('ROLE_USER') == false %}
            <div class="caja_registro_recomendacion">
                <div class="texto">
                    <p><strong>{{'lugar.ficha.aun_no_eres_parte'|trans}}</strong></p><br />
                    <p>{{'lugar.ficha.registrate'|trans}}</p>
                </div>
                <div class="botones_registro">
                    <a class="registro_loogares" href="{{path('registroUsuario')}}"></a>
                    <a class="registro_facebook" href="#"></a>
                </div>
            </div>
        {% endif %}

    </div>

    <div class="sidebar">
        <div class="mapa_sidebar" id="mapa-sidebar">
            
            <div id="mapaOtros" style="height: 300px; width: 300px;">
            </div>

            <div id="otros-lugaresMapa">
                <input type="hidden" id="idLugar" value="{{lugar.id}}" />
                <input id="coordenadas0" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}">
                <input id="coordenadasX" type="hidden" value="{{lugar.mapx}}">
                <input id="coordenadasY" type="hidden" value="{{lugar.mapy}}">
                <input id="puntodestacado" type="hidden" value="">
                <input id="nombre0" type="hidden" value="{{ lugar.nombre }}">
                <input id="direccion0" type="hidden" value="{{ lugar.calle }} {{lugar.numero}}">
                <input id="baseurl" type="hidden" value="localhost" />
                <input id="cantidadLugares" type="hidden" value="20" />
            </div>

            <div id="mapaAjax">
            </div>

        </div>

        <div class="banner_300x250">
            <script type='text/javascript'>
                GA_googleFillSlot("{{ad('static','ficha','top','medium')}}_{{app.session.get('ciudad').slug}}");
            </script>
        </div>

        {% render "LoogaresLugarBundle:Lugar:moduloDescuentos" with {'ciudad' : lugar.comuna.ciudad.id, 'pagina' : 'lugar'}%}

        <div class="otros_lugares" id="otros-lugares">
        </div>

    </div>
    
</div>

{% endblock %}
