{% extends "::base.html.twig" %}

{% block title %}
    Buscar loogares en {{app.session.get('ciudad').nombre}} | {{parent()}}
{% endblock %}

{% block meta %}
{% endblock %}

{% block ads %}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
    {% include 'LoogaresLugarBundle:Lugares:lugar_mapa_script.html.twig' %}
{% endblock %}

{% block stylesheets %}
<style type="text/css">
#mapa-botones {
    display: none;
}

#mapa.grande {
    width: 650px;
    float: left;
}

.otros_lugares {
    float: right !important;
    width: 270px;
}

#mapa.grande, .otros_lugares {
    height: 500px;
}

#otros-lugares {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

#cargando-otros-lugares {
    display: none;
}

.boton_mapa_ubicarlugar {
    background-color: #fff;
    border: 1px solid #f00;
    height: 18px;
    width: 90px;
    text-align: center;
    top: 15px;
    right: 20px;
    position: absolute;
    z-index: 1007;
}
</style>
{% endblock %}

{% block content %}
<div class="titulo">{{ 'lugar.mapa.titulo' | trans }} <a href="{{path('_lugar',{'slug':lugar.slug})}}">{{ lugar.nombre }}</a></div>
<div id="mapa-botones">
    <div class="boton_mapa_ubicarlugar">Ubicar Lugar</div>
</div>
<div id="mapa" class="grande"></div>
<div class="otros_lugares" id="otros-lugares">
    <div class="titulo">{{ 'lugar.mapa.otros' | trans}}</div>
    <div id="lista-otros-lugares"></div>
    <div id="cargando-otros-lugares">Cargando...</div>
<div>
{% endblock %}
