{% extends "::base.html.twig" %}

{% block title %}
    Buscar loogares en {{app.session.get('ciudad').nombre}} | {{parent()}}
{% endblock %}

{% block meta %}
{% endblock %}

{% block ads %}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
    {% include 'LoogaresLugarBundle:Lugares:lugar_mapa_script.html.twig' %}
    <script>

    </script>
{% endblock %}

{% block content %}

<div class="caja_mapa_lugar">

    <h1 class="titulo">{{ 'lugar.mapa.titulo' | trans }} <a href="{{path('_lugar',{'slug':lugar.slug})}}">{{ lugar.nombre }}</a></h1>
    <div id="mapa-botones">
        <div class="boton_mapa_ubicarlugar">
        </div>
    </div>
    <div id="mapa" class="mapa_grande"></div>
    <h2 class="otros_lugares_titulo">{{ 'lugar.mapa.otros' | trans}}</h2>
    <div class="otros_lugares otros_lugares_mapa_grande">
        <div id="lista-otros-lugares"></div>
        <div id="cargando-otros-lugares">
            Cargando lugares...
        </div>
    <div>

</div>
</div>

{% endblock %}
