{% extends "::base.html.twig" %}

{% block title %}
    Mapa y lugares cercanos a {{ lugar.nombre }} - {{lugar.calle}} | {{lugar.comuna.ciudad.nombre}} | {{parent()}}
{% endblock %}

{% block meta %}
    <meta name="description" content="{% if lugar.totalRecomendaciones == 0 %}{{ lugar.nombre }}, {{lugar.comuna.nombre}}, {{lugar.comuna.ciudad.nombre}}. En Loogares.com puedes ver recomendaciones de gente que ha visitado {{ lugar.nombre }}, {{lugar.comuna.nombre}}.{% else %}{{lugar.totalRecomendaciones}} {{'general.terminos.recomendacion'|transchoice(lugar.totalRecomendaciones)}} de {{ lugar.nombre }}, {{lugar.comuna.nombre}}, {{lugar.comuna.ciudad.nombre}}. “{{lugar.recomendacion[0].texto|slice(0,160)}}...”{% endif %}" />

    <meta name="keywords" content="Loogares, recomendaciones, {{lugar.comuna.ciudad.nombre}}, lugares, {% if lugar.categoriaLugar %}{% for categoriaLugar in lugar.categoriaLugar %}{{categoriaLugar.categoria.nombre}}, {% endfor %}{% endif %}{{lugar.comuna.nombre}}, {% if lugar.sector %}{{lugar.sector.nombre}}, {% endif %}{{ lugar.nombre }}" />

    <!-- Metadata Geo Tags -->
    {# Santiago de Chile #}
    {% if app.session.get('ciudad').slug == 'santiago-de-chile' %}
        <meta name="geo.region" content="CL" />
        <meta name="geo.position" content="{{lugar.mapx}};{{lugar.mapy}}" />
        <meta name="ICBM" content="{{lugar.mapx}}, {{lugar.mapy}}" />
    {# Valparaíso / Viña del Mar #}
    {% elseif app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
        <meta name="geo.region" content="CL-VS" />
        <meta name="geo.placename" content="Valparaíso" />
        <meta name="geo.position" content="{{lugar.mapx}};{{lugar.mapy}}" />
        <meta name="ICBM" content="{{lugar.mapx}}, {{lugar.mapy}}" />
    {# Buenos Aires #}
    {% elseif app.session.get('ciudad').slug == 'buenos-aires' %}
        <meta name="geo.region" content="AR" />
        <meta name="geo.placename" content="Buenos Aires" />
        <meta name="geo.position" content="{{lugar.mapx}};{{lugar.mapy}}" />
        <meta name="ICBM" content="{{lugar.mapx}}, {{lugar.mapy}}" />
    {% endif %}

    <!-- Metadata Facebook -->
    <meta property="og:title" content="{{ lugar.nombre }} - {{lugar.calle}} | {{lugar.comuna.ciudad.nombre}} | Loogares.com" />
    <meta property="og:description" content="{{ lugar.calle }} {{ lugar.numero }}, {% if lugar.detalle %}{{lugar.detalle}},{% endif %} {{ lugar.comuna.ciudad.nombre }}" />
    <meta property="og:image" content="{{ app.request.scheme ~  '://' ~  app.request.host ~ ('/assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" />

{% endblock %}

{% block ads %}
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
    {% include 'LoogaresLugarBundle:Lugares:lugar_mapa_script.html.twig' %}
    <script>

    </script>
{% endblock %}

{% block content %}

<div class="caja_mapa_lugar">

    <h1 class="titulo">{{ 'lugar.mapa.titulo' | trans }} <a href="{{path('_lugar',{'slug':lugar.slug})}}">{{ lugar.nombre }}</a></h1>
    <div id="mapa-botones">
        <div class="boton_mapa_ubicarlugar">
        </div>
    </div>
    <div id="mapa" class="mapa_grande"></div>
    <h2 class="otros_lugares_titulo">{{ 'lugar.mapa.otros' | trans}}</h2>
    <div class="otros_lugares otros_lugares_mapa_grande">
        <div id="lista-otros-lugares"></div>
        <div id="cargando-otros-lugares">
            Cargando lugares...
        </div>
    <div>

</div>
</div>

{% endblock %}
