{% extends "::base.html.twig" %}


{% block title %}{{ lugar.nombre }} | {{ lugar.comuna.ciudad.nombre }} | {{parent()}}{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAPoxFphWUxvaTpvs1yb1jqBRX_WqUqrejFKb9vXi20jSGe-5jpRSMwbi_H9382JcFVerJmLKxcJLs0w" type="text/javascript"></script>
    <script src='../../assets/js/googleMapFicha.js'></script>
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
    <script src="{{asset('assets/js/lugar.js')}}"></script>
    <script>editarRecomendacion("{{lugar.slug}}")</script>
    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div id="lugar-ficha">
    {% if app.session.hasFlash('lugar_flash') %}
            {{ app.session.flash('lugar_flash') }}
    {% endif %}
    {% if app.session.hasFlash('agregar-foto-lugar') %}
            <div class="flash-notice">
                {{ app.session.flash('agregar-foto-lugar') }}
            </div>
    {% endif %}
    <div class="contenido_central" id="lugar-info">
        <div class="lugar_info">
            <h1 class="titulo_lugar">{{ lugar.nombre }}</h1>
            <div class="estrellas">
                <script>
                    $(document).ready(function(){
                        estrellasDelLugar({{lugar.estrellas}});
                    });
                </script>
                <div class="star-raty estrellas_lugar"></div>
                <span class="n_recomendaciones">{{ lugar.totalRecomendaciones }} {{'lugar.ficha.total_recomendaciones'|transchoice(lugar.totalRecomendaciones)}}</span>
            </div>
            <div class="multimedia_lugar">
                <div class="foto_lugar" id="lugar-foto">
                    <a href="{{ path( '_galeria', { 'slug' : lugar.slug } )}}"><img src="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" width="130" height="130" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/></a>
                </div>
                <a class="link_gris_686" href="{{ path( '_galeria', { 'slug' : lugar.slug } )}}">{{'lugar.ficha.multimedia.galeria'|transchoice(lugar.totalFotos,{'%total%': lugar.totalFotos}) }}</a><br />
                <a class="link_gris_686" href="{{ path( '_agregarFotoLugar', { 'slug' : lugar.slug } )}}">{{'lugar.ficha.multimedia.agregar_foto'|trans}}</a>
                <div class="video_lugar">
                    <a class="link_gris_686 ver_video_lugar" href="#">{{'lugar.ficha.multimedia.video'|trans}}</a>
                </div>
            </div>

            <div class="datos_principales_lugar">
                <div class="direccion_lugar" id="lugar-direccion">{{ lugar.calle }} {{ lugar.numero }}, {% if lugar.detalle %}{{lugar.detalle}},{% endif %} <a href="#">{{ lugar.comuna.ciudad.nombre }}</a></div>
                {% if lugar.telefonos %}
                    <div class="telefono_lugar" id="lugar-telefono">
                        {% for telefono in lugar.telefonos %}
                            {{lugar.comuna.ciudad.pais.codigoArea}} {{telefono}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if lugar.sitioWeb %}
                    <div class="url_lugar" id="lugar-url">
                        <a class="link_azul" href="http://{{ lugar.sitioWeb }}" target="_blank">{{ lugar.sitioWeb }}</a>
                    </div>
                {% endif %}
                <div class="redes_sociales_lugar">
                    {% if lugar.facebook %}
                        <a class="facebook_lugar" href="http://{{ lugar.facebook }}" target="_blank"></a>
                    {% endif %}
                    {% if lugar.twitter %}
                        <a class="twitter_lugar" href="http://{{ lugar.twitter }}" target="_blank"></a>
                    {% endif %}
                </div>
                
                {% if lugar.mostrarPrecio != null %}
                    <div class="precio_lugar" id="precio">
                        <script>
                            $(document).ready(function(){
                                precioLugar({{lugar.precio|default(0)}}, '{{lugar.mostrarPrecio}}');    
                            }); 
                        </script>                          
                        <p style="float: left;">{{'lugar.ficha.datos.precio'|trans}}</p><div class="precio-raty precio_global"></div>
                        <div class="precio-detalle"></div>
                    </div>
                {% endif %}
                <div class="pedido_reserva_lugar">
                    <a class="pedido_online_lugar" href="#" alt="Pedido Online"></a>
                    <a class="reserva_online_lugar" href="#" alt="Reserva Online"></a>
                </div>
            </div>

            <div class="datos_secundarios_lugar">
                <div class="tags_primero_lugar">
                    <div class="primero_en_recomendar_lugar">
                        {% if lugar.recomendaciones %}
                            <div class="primero_titulo">
                                {{'lugar.ficha.datos.primero'|trans}}
                            </div>
                            <div class="primero_usuario">
                                <div class="primero_usuario_img">
                                    <a href=""><img src="{{ asset('assets/images/usuarios/'~lugar.primero.usuario.imagenFull) }}" height="20" width="20" /></a>
                                </div>
                                <div class="primero_usuario_nombre">
                                    <a href="{{ path('showUsuario', {'param': lugar.primero.usuario.slug})}}">
                                        {% if lugar.primero.usuario.nombre != '' and lugar.primero.usuario.apellido != '' %}
                                            {{ lugar.primero.usuario.nombre }} {{ lugar.primero.usuario.apellido }}
                                        {% else %}
                                            {{ lugar.primero.usuario.slug }}
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="tags_populares_lugar">
                        <p>{{'lugar.ficha.tags'|trans}}</p>
                        {% for tagsPopulares in lugar.tagsPopulares %}
                            <a href="#">{{tagsPopulares.nombre}}</a>{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="categoria_lugar">
                    {% if lugar.categoriaLugar %}
                        <div class="categoria_lugar_box" id="lugar-categorias">
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.categorias'|trans}}</span>
                            {% for categoriaLugar in lugar.categoriaLugar %} 
                                <a href="">{{categoriaLugar.categoria.nombre}}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if lugar.horarios != null %}
                        <div class="horario_lugar_box" id="lugar-horarios">
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.horario'|trans}}</span>
                            {% for horario in lugar.horarios %}
                                {{ horario }}<br/>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <div class="sector_lugar">
                    {% if lugar.sector %}
                        <div class="sector_lugar_box" id="lugar-sector">
                            <span class="subtitulos_lugar">{{'lugar.ficha.datos.sector'|trans}}</span>
                            <a href="">{{ lugar.sector.nombre }}</a>
                        </div>
                    {% endif %}
                    {% if lugar.subcategoriaLugar %}
                        <div class="subcategoria_lugar_box" id="lugar-subcategoria">
                            {% set isSet = ':D'%}
                            {% for subcategoriaLugar in lugar.subcategoriaLugar %}{% if isSet != subcategoriaLugar.subcategoria.categoria.id %}{%for categoriaLugar in lugar.categoriaLugar%}
                                {% if categoriaLugar.categoria.id == subcategoriaLugar.subcategoria.categoria.id %}
                                    <span class="subtitulos_lugar">{{'lugar.ficha.datos.subcategorias'|trans}} <span class="minusculas">{{categoriaLugar.categoria.nombre}}</span>:</span>{% set isSet = categoriaLugar.categoria.id %}{% endif %}{%endfor%}
                                {% else %},
                                {% endif %}
                                <a href="">{{subcategoriaLugar.subCategoria.nombre}}</a>{% endfor %}
                        </div>
                    {% endif %}
                    {% if lugar.profesional != null %}
                        <span class="subtitulos_lugar">{{'lugar.ficha.datos.profesional'|trans}}: {{lugar.profesional}}</span>
                    {% endif %}
                    {% if lugar.agnoConstruccion != null %}
                        <span class="subtitulos_lugar">{{'lugar.ficha.datos.agnoConstruccion'|trans}}: {{lugar.agnoConstruccion}}</span>
                    {% endif %}
                    {% if lugar.materiales != null %}
                        <span class="subtitulos_lugar">{{'lugar.ficha.datos.materiales'|trans}}: {{lugar.materiales}}</span>
                    {% endif %}
                </div>
            </div>

            <div class="caracteristicas_lugar">
                {% if lugar.caracteristicaLugar %}
                    <div id="lugar-caracteristicas">
                        <ul class="caracteristicas_lugar_listado">
                            {% for caracteristicaLugar in lugar.caracteristicaLugar %}
                                <li class="{{caracteristicaLugar.caracteristica.slug}}">{{caracteristicaLugar.caracteristica.nombre}}{% if loop.last == false %}</li> {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="actividad_lugar">
            <a class="recomienda_lugar"></a>
            <a class="recomienda_despues_lugar"></a>
            <div class="flota_derecha">
                <a class="favoritos_lugar"></a><p class="favoritos_valor">100</p>
            </div>           
            <div class="flota_derecha">
                <a class="estuve_alla_lugar"></a><p class="estuve_alla_valor">20</p>
            </div>           
            <div class="flota_derecha">
                <a class="quiero_ir_lugar"></a><p class="quiero_ir_valor">10</p>
            </div>           
        </div>

        <div class="caja_inferior_ficha"></div>

        <div class="opciones_lugar">
            <ul class="opciones_lugar_f6f">
                <li><a class="dueno_lugar" href="">{{'lugar.ficha.opciones.owner'|trans}}</a></li>
                <li><a class="editar_lugar" href="{{ path('_editar', {'slug': lugar.slug}) }}">{{'lugar.ficha.opciones.editar'|trans}}</a></li>
                <li><a class="cerro_lugar" href="{{path('_reportarLugar', {'slug' : lugar.slug})}}">{{'lugar.ficha.opciones.cerro'|trans}}</a></li>
                <li><a class="compartir_lugar" href="#compartir">{{'lugar.ficha.opciones.enviar'|trans}}</a></li>
                <li><a class="imprimir_lugar" href="">{{'lugar.ficha.opciones.imprimir'|trans}}</a></li>
                
            </ul>
            <div class="caja_compartir">
                <ul>
                    <li class="twitter_share">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="Loogarescom" data-lang="es" data-count="none">Twitter</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                    </li>
                    <li class="fb_share">
                        <a name="fb_share" type="icon_link" style="color:#444">Facebook</a>
                    </li>
                    <li class="mail_share">
                        <a href="{{path('_enviarLugar', {'slug' : lugar.slug})}}">Correo</a>
                    </li>
                </ul>
            </div>
        </div>

        {% if lugar.recomendacion|length != 0 %}

        <div class="recomendacion_pedida_container">
        {% if lugar.recomendacionPedida is defined %}
            <div class="recomendacion recomendacion_pedida">
                <div class="foto_recomendacion">
                    <a href="{{ path('showUsuario', {'param': lugar.recomendacionPedida.slug})}}">
                        <img src="{{ ('assets/images/usuarios/'~lugar.recomendacionPedida.imagen_full) | apply_filter('small_usuario')}}" height="60" width="60" />
                    </a>
                </div>
                <div class="texto_recomendacion">
                    <p class="nombre_recomendacion">
                        <strong>
                            <a class="link_gris_444" href="{{ path('showUsuario', {'param': lugar.recomendacionPedida.slug})}}">
                                {% if lugar.recomendacionPedida.nombre != '' and lugar.recomendacionPedida.apellido != '' %}
                                    {{ lugar.recomendacionPedida.nombre }} {{ lugar.recomendacionPedida.apellido }}
                                {% else %}
                                    {{ lugar.recomendacionPedida.slug }}
                                {% endif %}
                            </a>
                        </strong>
                    </p>
                    <div class="util_recomendacion">
                    {% if app.security.token.user.id != lugar.recomendacionPedida.userId %}
                        {% if lugar.recomendacionPedida.apretoUtil == 0 %}
                            <a data-util="{{lugar.recomendacionPedida.id}}-{{app.security.token.user.id}}" class="boton_activado"></a>
                        {% else %}
                            <a data-util="{{lugar.recomendacionPedida.id}}-{{app.security.token.user.id}}" class="boton_desactivado"></a>
                        {% endif %}
                    {% else %}
                        <p class="boton_desactivado"></p>
                    {% endif %}
                        <p class="conteo_util">{{ lugar.recomendacionPedida.utiles }}</p>
                    </div>
                    <p class="fecha_recomendacion">{{ lugar.recomendacionPedida.fecha_creacion | date("d/m/Y") }}</p>
                    <div class="recomendacion-bloque">
                    <div data-stars="{{lugar.recomendacionPedida.estrellas}}" class="recomendacion-pedida-raty estrellas_recomendacion"></div>
                    <p class="texto_recomendacion_usuario">{{ lugar.recomendacionPedida.texto }}</p>
                    {% if lugar.recomendacionPedida.tags[0] %}
                        <p class="tags_recomendacion">
                            {{'lugar.ficha.tags'|trans}} 
                            {% for tag in lugar.recomendacionPedida.tags %}
                                <a href='BUSCAR EL TAG: {{tag}}'>{{ tag }}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                     </div>
                    
                    <p class="opciones_recomendacion">
                        {% if lugar.recomendacionPedida.slug != false %}
                            <a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': lugar.recomendacionPedida.slug }) }}">Permalink</a>
                        {% else %}
                            <a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': lugar.recomendacionPedida.userId }) }}">Permalink</a>
                        {% endif %}
                        {% if app.security.token.user.id == lugar.recomendacionPedida.userId %}
                        <a class="edita_recomendacion" href="#">{{'lugar.ficha.recomendaciones.editar'|trans}}</a>
                        <a class="borra_recomendacion" href="{{ path('_borrarRecomendacion',{"slug": lugar.slug}) }}">{{'lugar.ficha.recomendaciones.borrar'|trans}}</a>
                        {% else %}
                        <a class="reporta_recomendacion" href="#">{{'lugar.ficha.recomendaciones.reportar'|trans}}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
        </div>
        <h2 class="titulo_recomendaciones">
            {{ lugar.totalRecomendaciones }}
            {{'lugar.ficha.recomendaciones.titulo'|transchoice(lugar.totalRecomendaciones,{'%lugar%' : lugar.nombre})}}
        </h2>

        <ul class="ordenar_por_recomendaciones">
            <li>
                <strong>{{'lugar.ficha.recomendaciones.orden.titulo'|trans}}</strong>
            </li>
            <li>
                {% if query.orden == 'mejor-evaluadas' %}
                    <strong>{{'lugar.ficha.recomendaciones.orden.mejores'|trans}}</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mejor-evaluadas' })) }}">{{'lugar.ficha.recomendaciones.orden.mejores'|trans}}</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'ultimas' %}
                    <strong>{{'lugar.ficha.recomendaciones.orden.ultimas'|trans}}</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'ultimas' })) }}">{{'lugar.ficha.recomendaciones.orden.ultimas'|trans}}</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'mas-utiles' %}
                    <strong>{{'lugar.ficha.recomendaciones.orden.utiles'|trans}}</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mas-utiles' })) }}">{{'lugar.ficha.recomendaciones.orden.utiles'|trans}}</a>
                {% endif %}
            </li>
        </ul>

        <div class="resultados_por_pagina">
            <select class="seleccionar_resultados_por_pagina">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <p class="resultados_por_pagina_txt">{{'lugar.ficha.recomendaciones.resultados'|trans}}</p>
        </div>


        {% for recomendacion in lugar.recomendaciones %}
            <div class="recomendacion">
                <div class="foto_recomendacion">
                    <a href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                        <img src="{{ ('assets/images/usuarios/'~recomendacion.imagen_full) | apply_filter('small_usuario')}}" height="60" width="60" />
                    </a>
                </div>
                <div class="texto_recomendacion">
                    <p class="nombre_recomendacion">
                        <strong>
                            <a class="link_gris_444" href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                                {% if recomendacion.nombre != '' and recomendacion.apellido != '' %}
                                    {{ recomendacion.nombre }} {{ recomendacion.apellido }}
                                {% else %}
                                    {{ recomendacion.slug }}
                                {% endif %}
                            </a>
                        </strong>
                    </p>
                    <div class="util_recomendacion">
                    {% if app.security.token.user.id != recomendacion.userId %}
                        {% if recomendacion.apretoUtil == 0 %}
                            <a data-util="{{recomendacion.id}}-{{app.security.token.user.id}}" class="boton_activado boton_util"></a>
                        {% else %}
                            <a data-util="{{recomendacion.id}}-{{app.security.token.user.id}}" class="boton_desactivado boton_util"></a>
                        {% endif %}
                    {% else %}
                        <p class="boton_desactivado boton_util"></p>
                    {% endif %}
                        <p class="conteo_util">{{ recomendacion.utiles }}</p>
                    </div>
                    <p class="fecha_recomendacion">{{ recomendacion.fecha_creacion | date("d/m/Y") }}</p>
                    <div class="recomendacion-bloque">
                    <div data-stars="{{recomendacion.estrellas}}" class="recomendacion-{{loop.index}}-raty estrellas_recomendacion"></div>
                    <p class="texto_recomendacion_usuario">{{ recomendacion.texto }}</p>
                    {% if recomendacion.tags[0] %}
                        <p class="tags_recomendacion">
                            {{'lugar.ficha.tags'|trans}} 
                            {% for tag in recomendacion.tags %}
                                <a href='BUSCAR EL TAG: {{tag}}'>{{ tag }}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                     </div>
                    
                    <div class="caja_opciones_recomendacion">
                        <p class="opciones_recomendacion">
                            {% if recomendacion.slug != false %}
                                <a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': recomendacion.slug }) }}">Permalink</a>
                            {% else %}
                                <a class="permalink_recomendacion" href="{{ path('_recomendacion', {'slug': lugar.slug, 'usuarioSlug': recomendacion.userId }) }}">Permalink</a>
                            {% endif %}                        {% if app.security.token.user.id == recomendacion.userId %}
                            <a class="edita_recomendacion" href="#">{{'lugar.ficha.recomendaciones.editar'|trans}}</a>
                            <a class="borra_recomendacion" href="{{ path('_borrarRecomendacion',{"slug": lugar.slug}) }}">{{'lugar.ficha.recomendaciones.borrar'|trans}}</a>
                            {% else %}
                            <a class="reporta_recomendacion" href="#">{{'lugar.ficha.recomendaciones.reportar'|trans}}</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
            
        <div class="paginacion_recomendacion">
            <p><strong>{{ paginacion.mostrandoDe }}</strong> al <strong>{{ paginacion.mostrandoHasta }}</strong> de <strong>{{ lugar.recomendacion|length }}</strong>
            {% if paginacion.totalPaginas != 1 %}
                 | Ir a la página
                <ul>
                    {{ paginacion.paginacion | raw }}
                </ul>
            {% endif %}
        </div>

        
        {% else %}
            <div>
                <h2 class="titulo_recomendaciones">0 Recomendaciones en {{ lugar.nombre }}</h2>
            </div>
        {% endif %}
        {% if lugar.yaRecomendo is defined and lugar.yaRecomendo == null %}
            {% include 'LoogaresLugarBundle:Lugares:recomendacion.html.twig' %}
        {% endif %}
    </div>

    <div class="sidebar">
        <div class="mapa_sidebar" id="mapa-sidebar">
            
            <div id="mapaOtros" style="height: 300px; width: 300px;">
            </div>

            <div id="otros-lugaresMapa">
                <input type="hidden" id="idLugar" value="2375" />
                <input id="coordenadas0" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}">
                <input id="coordenadasX" type="hidden" value="{{lugar.mapx}}">
                <input id="coordenadasY" type="hidden" value="{{lugar.mapy}}">
                <input id="puntodestacado" type="hidden" value="">
                <input id="nombre0" type="hidden" value="{{ lugar.nombre }}">
                <input id="direccion0" type="hidden" value="{{ lugar.calle }} {{lugar.numero}}">
                <input id="baseurl" type="hidden" value="localhost" />
                <input id="cantidadLugares" type="hidden" value="20" />
            </div>

            <div id="mapaAjax">
            </div>

        </div>

        <div class="banner_300x250">
        </div>

        <div class="otros_lugares" id="otros-lugares">
        </div>

    </div>
    
</div>

{% endblock %}