{% extends "::base.html.twig" %}


{% block title %}{{lugar.nombre}} | {{parent()}}{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzlORVreqGpkqQqQvjPC0pBTqGAcz-UBEJ7apA_tMhekG0smvBRSy_IPIzC_OjDTx3IC5QK-ZXxFlmg&amp;sensor=false&amp;hl=es'></script>
    <script src='../../assets/js/googleMapFicha.js'></script>
    <script src="{{asset('assets/js/jquery.raty.min.js')}}"></script>
    <script src="{{asset('assets/js/lugar.js')}}"></script>
    <script>

    </script>
{% endblock %}

{% block content %}

<div id="lugar-ficha">
    <div class="contenido_central" id="lugar-info">
        <div class="lugar_info">
            <h1 class="titulo_lugar">{{ lugar.nombre }}</h1>
            <div class="estrellas">
                <script>
                    $(document).ready(function(){
                        estrellasDelLugar({{lugar.estrellas}});
                    });
                </script>
                <div class="star-raty"></div>
                <span class="n_recomendaciones">{{ lugar.totalRecomendaciones }} recomendaciones</span>
            </div>
            <div class="foto_lugar_box">
                <div class="foto_lugar" id="lugar-foto">
                    <a href="{{ path('_lugar', {'slug': lugar.slug}) }}"><img src="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('medium_lugar')}}" width="130" height="130" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/></a>
                </div>
                <a class="link_gris_444" href="{{ path( '_galeria', { 'slug' : lugar.slug } )}}">Ver galería ({{lugar.totalFotos}} fotos)</a><br />
                <a class="link_gris_444" href="{{ path( '_agregarFotoLugar', { 'slug' : lugar.slug } )}}">» Agrega una foto</a>
            </div>

            <div class="datos_principales_lugar">
                <div class="direccion_lugar" id="lugar-direccion">{{ lugar.calle }} {{ lugar.numero }}, {% if lugar.detalle %}{{lugar.detalle}},{% endif %} {{ lugar.comuna.ciudad.nombre }}</div>
                {% if lugar.telefonos %}
                    <div class="telefono_lugar" id="lugar-telefono">
                        {% for telefono in lugar.telefonos %}
                            {{lugar.comuna.ciudad.pais.codigoArea}} - {{telefono}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if lugar.sitioWeb %}
                    <div class="url_lugar" id="lugar-url">
                        <a class="link_azul" href="http://{{ lugar.sitioWeb }}" target="_blank">{{ lugar.sitioWeb }}</a>
                    </div>
                {% endif %}
                <div class="redes_sociales_lugar">
                    {% if lugar.facebook %}
                        <a class="facebook_lugar" href="http://{{ lugar.facebook }}" target="_blank"></a>
                    {% endif %}
                    {% if lugar.twitter %}
                        <a class="twitter_lugar" href="http://{{ lugar.twitter }}" target="_blank"></a>
                    {% endif %}
                </div>
               {% if 
                    lugar.categoriaLugar[0].categoria.tipoCategoria.id != 3 or lugar.categoriaLugar[0].categoria.tipoCategoria.id != 6 or lugar.categoriaLugar.categoria.id != 31
                %}
                    <div class="precio_lugar" id="precio">
                        <script>
                            $(document).ready(function(){
                                {% if lugar.categoriaLugar[0].categoria.tipoCategoria.id == 3%}
                                    precioLugar({{lugar.precio}}, 'dondeComer');    
                                {% endif %}
                                {% if lugar.categoriaLugar[0].categoria.tipoCategoria.id == 6%}
                                    precioLugar({{lugar.precio}}, 'dondeDormir'); 
                                {% endif %}
                                {% if lugar.categoriaLugar[0].categoria.id == 31%}
                                    //Nightclub
                                {% endif %}
                            }); 
                        </script>                          
                        <div class="precio-raty"></div>
                        <div class="precio-detalle"></div>
                    </div>
                {% endif %}
            </div>

            <div class="datos_secundarios_lugar">
                <div class="primero_en_recomendar_lugar">
                    {% if lugar.recomendaciones %}
                        <div id="primero-recomendar">
                            Primero en recomendar
                            <a href="{{ path('showUsuario', {'param': lugar.primero.usuario.slug})}}">
                                {% if lugar.primero.usuario.nombre != '' and lugar.primero.usuario.apellido != '' %}
                                    {{ lugar.primero.usuario.nombre }} {{ lugar.primero.usuario.apellido }}
                                {% else %}
                                    {{ lugar.primero.usuario.slug }}
                                {% endif %}
                            </a>
                        </div>
                </div>

                <div class="tags_populares_lugar">
                    {% for tagsPopulares in lugar.tagsPopulares %}
                        {{tagsPopulares.nombre}}{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </div>

                <div class="categoria_lugar">
                    {% if lugar.categoriaLugar %}
                        <div class="categoria_lugar_box" id="lugar-categorias">
                            <span class="subtitulos_lugar">Categorías:</span>
                            {% for categoriaLugar in lugar.categoriaLugar %} 
                                <a href="">{{categoriaLugar.categoria.nombre}}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if lugar.horarios != null %}
                        <div class="horario_lugar_box" id="lugar-horarios">
                            <span class="subtitulos_lugar">Horario:</span>
                            {% for horario in lugar.horarios %}
                                {{ horario }}<br/>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>

                <div class="sector_lugar">
                    {% if lugar.sector %}
                        <div class="sector_lugar_box" id="lugar-sector">
                            <span class="subtitulos_lugar">Sector:</span>
                            <a href="">{{ lugar.sector.nombre }}</a>
                        </div>
                    {% endif %}
                    {% if lugar.subcategoriaLugar %}
                        <div class="subcategoria_lugar_box" id="lugar-subcategoria">
                            {%set isSet = ':D'%}
                            {% for subcategoriaLugar in lugar.subcategoriaLugar %}{% if isSet != subcategoriaLugar.subcategoria.categoria.id %}{%for categoriaLugar in lugar.categoriaLugar%}
                                {% if categoriaLugar.categoria.id == subcategoriaLugar.subcategoria.categoria.id %}
                                    <span class="subtitulos_lugar">Subcategorías <span class="minusculas">{{categoriaLugar.categoria.nombre}}</span>:</span>{% set isSet = categoriaLugar.categoria.id %}{% endif %}{%endfor%}
                                {% else %},
                                {% endif %}
                                <a href="">{{subcategoriaLugar.subCategoria.nombre}}</a>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="caracteristicas_lugar">
                {% if lugar.caracteristicaLugar %}
                    <div id="lugar-caracteristicas">
                        <ul class="caracteristicas_lugar_listado">
                            {% for caracteristicaLugar in lugar.caracteristicaLugar %}
                                <li class="{{caracteristicaLugar.caracteristica.slug}}">{{caracteristicaLugar.caracteristica.nombre}}{% if loop.last == false %}</li> {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="actividad_lugar">
            <a class="recomienda_lugar"></a>
            <div class="flota_derecha">
                <a class="favoritos_lugar"></a><p class="favoritos_valor">100</p>
            </div>           
            <div class="flota_derecha">
                <a class="estuve_alla_lugar"></a><p class="estuve_alla_valor">20</p>
            </div>           
            <div class="flota_derecha">
                <a class="quiero_ir_lugar"></a><p class="quiero_ir_valor">10</p>
            </div>           
        </div>

        <div class="opciones_lugar">
            <ul class="opciones_lugar_f6f">
                <li><a class="dueno_lugar" href="">¿Eres dueño de este Lugar?</a></li>
                <li><a class="editar_lugar" href="{{ path('_editar', {'slug': lugar.slug}) }}">Edita los datos</a></li>
                <li><a class="cerro_lugar" href="">¿Este lugar cerró? Avísanos</a></li>
                <li><a class="compartir_lugar" href="">Compartir</a></li>
                <li><a class="imprimir_lugar" href="">Imprimir</a></li>
            </ul>
        </div>

        <h2 class="titulo_recomendaciones">
            {{ lugar.recomendacion|length }}
            Recomendaciones en {{ lugar.nombre }}
        </h2>

        <ul class="ordenar_por_recomendaciones">
            <li>
                <strong>Ordenar por:</strong>
            </li>
            <li>
                {% if query.orden == 'mejor-evaluadas' %}
                    <strong>Mejores evaluaciones</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mejor-evaluadas' })) }}">Mejores evaluaciones</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'ultimas' %}
                    <strong>Últimas recomendaciones</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'ultimas' })) }}">Últimas recomendaciones</a>
                {% endif %}
            </li>
            <li>|</li>
            <li>
                {% if query.orden == 'mas-utiles' %}
                    <strong>Más útiles</strong>
                {% else %}
                    <a class="link_azul" href="{{ path("_lugar", query|merge({'slug': lugar.slug, 'orden': 'mas-utiles' })) }}">Más útiles</a>
                {% endif %}
            </li>
        </ul>

        <div class="resultados_por_pagina">
            <select class="seleccionar_resultados_por_pagina">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <p class="resultados_por_pagina_txt">Resultados por página</p>
        </div>

        {% for recomendacion in lugar.recomendaciones %}
            <div class="recomendacion">
                <div class="foto_recomendacion">
                    <a href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                        <img src="{{ ('assets/images/usuarios/'~recomendacion.imagen_full) | apply_filter('small_usuario')}}" height="60" width="60" />
                    </a>
                </div>
                <div class="texto_recomendacion">
                    <p class="nombre_recomendacion">
                        <strong>
                            <a class="link_azul" href="{{ path('showUsuario', {'param': recomendacion.slug})}}">
                                {% if recomendacion.nombre != '' and recomendacion.apellido != '' %}
                                    {{ recomendacion.nombre }} {{ recomendacion.apellido }}
                                {% else %}
                                    {{ recomendacion.slug }}
                                {% endif %}
                            </a>
                        </strong>
                    </p>
                    <p class="util_recomendacion">{{ recomendacion.utiles }}</p>
                    <p class="fecha_recomendacion">{{ recomendacion.fecha_creacion | date("d/m/Y") }}</p>
                    <p class="estrellas_recomendacion">
                        <script>
                            $(document).ready(function(){
                                estrellasPorRecomendacion({{recomendacion.id}}, {{recomendacion.estrellas}});
                            });
                        </script>
                        <div class="recomendacion-{{recomendacion.id}}-raty"></div>
                    </p>
                    <p class="texto_recomendacion_usuario">{{ recomendacion.texto }}</p>
                    {% if recomendacion.tags[0] %}
                        <p class="tags_recomendacion">
                            Tags: 
                            {% for tag in recomendacion.tags %}
                                <a href='BUSCAR EL TAG: {{tag}}'>{{ tag }}</a>{% if loop.last == false %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                    <p class="opciones_recomendacion">
                        <a href="#">Edita tu recomendación</a>
                        <a href="#">Borra tu recomendación</a>
                        <a href="#">Reporta esta recomendación</a>
                    </p>
                </div>
            </div>
        {% endfor %}
            
        <div class="paginacion_recomendacion">
            <p><strong>{{ lugar.mostrandoComentariosDe }}</strong> al <strong>{{ lugar.mostrandoComentariosDe + 9 }}</strong> de <strong>{{ lugar.recomendacion|length }}</strong>
            {% if lugar.totalPaginas != 1 %}
                 | Ir a la página
                <ul>
                    {{ paginacion | raw }}
                </ul>
            {% endif %}

        </div>

    </div>

    <div class="sidebar">
        <div class="mapa_sidebar" id="mapa-sidebar">
            
            <div id="mapaOtros" style="height: 300px; width: 300px;">
            </div>

            <div id="otros-lugaresMapa">
                <input type="hidden" id="idLugar" value="2375" />
                <input id="coordenadas0" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}">
                <input id="coordenadasX" type="hidden" value="{{lugar.mapx}}">
                <input id="coordenadasY" type="hidden" value="{{lugar.mapy}}">
                <input id="puntodestacado" type="hidden" value="">
                <input id="nombre0" type="hidden" value="{{ lugar.nombre }}">
                <input id="direccion0" type="hidden" value="{{ lugar.calle }} {{lugar.numero}}">
                <input id="baseurl" type="hidden" value="localhost" />
                <input id="cantidadLugares" type="hidden" value="20" />
            </div>

            <div id="mapaAjax">
            </div>

        </div>

        <div class="banner_300x250">
        </div>

        <div class="otros_lugares" id="otros-lugares">
        </div>

    </div>


    <div id="recomendaciones">
    </div>
    {% else %}
        <h1>No hay recomendaciones, queris recomendar? :D</h1>
    {% endif %}

</div>

{% endblock %}