<div id="pagina">

	{% set cinco = 0 %}

	{% for imagen in imagenes %}					

		{% if loop.index == 1 or (loop.index > 5 and (loop.index - 1) % 5 == 0)  %}

			{% set cinco = 0 %}

			<ul class="fila-thumbs">

		{% endif %}

				<li class="{{(cinco < 4) ? 'thumb_fotos_galeria' : 'thumb_fotos_galeria_last'}} imagen" data-id="{{imagen.id}}" data-slug="{{imagen.lugar.slug}}" >
					<a href="{{path('_fotoGaleria', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}">
						<img src="{{ ('assets/images/lugares/'~imagen.imagenFull) | apply_filter('small_lugar') }}" height="50" width="50" />
					</a>
				</li>

		{% set cinco = cinco + 1 %}
		{% if cinco == 5 %}

			</ul>				

		{% endif %}
		
	{% endfor %}

	{% if cinco < 5 %}
		</ul>				
	{% endif %}

	<div class="paginacion_galeria">
		{% if paginacion.totalPaginas > 1 %}
			<p><strong>{{paginacion.mostrandoDe}}</strong> {{'paginacion.al'|trans}} <strong>{{paginacion.mostrandoHasta}}</strong> {{'paginacion.de'|trans}} <strong>{{paginacion.total}}</strong></p>
			<ul class="orden">
				{{paginacion.paginacion|raw}}
			</ul>
		{% endif %}
	</div>

</div>