<div id="pagina">
	{% set cinco = 0 %}
	{% for imagen in imagenes %}					
		{% if loop.index == 1 or (loop.index > 5 and (loop.index - 1) % 5 == 0)  %}
			{% set cinco = 0 %}
			<ul class="fila-pagina">
		{% endif %}

				<li class="imagen" data-id="{{imagen.id}}" data-slug="{{imagen.lugar.slug}}" >
					<a href="{{path('_fotoGaleria', {'slug' : imagen.lugar.slug, 'id' : imagen.id})}}">
						<img src="{{ ('assets/images/lugares/'~imagen.imagenFull) | apply_filter('tiny_lugar') }}" height="36" width="36" />
					</a>
				</li>

		{% set cinco = cinco + 1 %}
		{% if cinco == 5 %}
			</ul>				
		{% endif %}
		
	{% endfor %}

	{% if cinco < 5 %}
		</ul>				
	{% endif %}

	{% if paginacion.totalPaginas > 1 %}
		<div class="paginacion">
			<span>{{paginacion.mostrandoDe}} al {{paginacion.mostrandoHasta}} de {{paginacion.total}}| Ir a la página:</span>
			<ul class="orden">
				{{paginacion.paginacion|raw}}
			</ul>
		</div>
	{% endif %}
</div>