<div class="caja_promociones">
    <h2>{{'lugar.ficha.promociones.titulo'|trans}}</h2>

	<ul id="promocion-delivery-sidebar">
		{% for promocion in promociones %}
	        <li {{(loop.last) ? "class='ultimo_pedido'" : ''}}>
	            <a href="{{path('_lugar', {'slug' : promocion.pedidoLugar.lugar.slug})}}">
					<div class="promocion_delivery_box_sidebar">
	                    <div class="promocion_delivery_img">
	                    	{% for img in promocion.pedidoLugar.lugar.imagenesLugar %}		
								{% if loop.last %}						
									<img src="{{ ('assets/images/lugares/'~img.imagenFull) | apply_filter('small_lugar') }}"  width="46" height="46" />
								{% endif %}
							{% endfor %}
						</div>
						<div class="promocion_delivery_info_sidebar">
							<p class="promocion_lugar">{{promocion.pedidoLugar.lugar.nombre}}</p>
							<strong class="promocion_titulo">{{promocion.titulo}}</strong>
							<p class="promocion_dias"><strong>{{'lugar.ficha.promociones.dias'|trans}}:</strong> {{promocion.dias}}</p>
						</div>
	            	</div>
	            </a>
	        </li>
	    {% endfor %}
    </ul>
    <a href="">{{'lugar.ficha.promociones.ver_dctos'|trans}} &raquo;</a>
</div>