{% extends "::base.html.twig" %}

{% block title %}{{'dueno.reclamar.titulo'|trans({'%lugar%' : lugar.nombre})}} | {{parent()}}{% endblock %}

{% block content %}
	<div id="reclamar_lugar">
		<h1>{% trans with {'%lugar%' : "<a href="~path('_lugar', {'slug' : lugar.slug})~">"~lugar.nombre~"</a>"}%}dueno.reclamar.titulo{% endtrans %}</h1>

		{% if errors %}
			<div class="reclamar_error">
				{% for error in errors %}
			        <p>{{ error | trans}}</p>
			    {% endfor %}
			</div>
		{% endif %}

		<p>{{'dueno.reclamar.subtitulo'|trans}}</p>

		<form action="{{ path('_reclamarLugar', {'slug' : lugar.slug}) }}" method="post" {{ form_enctype(form) }}>
			<ul>
				<li>
					{{ form_label(form.nombre, 'dueno.reclamar.form.nombre') }}
					{{ form_widget(form.nombre, { 'attr': {'class': (errors.nombre is defined) ? 'input-error' : ' '}} )}}
					{% if errors.nombre is defined %}
						<small class="errors">{{errors.nombre|trans}}</small>
					{% endif %}
				</li>

				<li>
					{{ form_label(form.apellido, 'dueno.reclamar.form.apellido') }}
					{{ form_widget(form.apellido, { 'attr': {'class': (errors.apellido is defined) ? 'input-error' : ' '}} )}}
					{% if errors.apellido is defined %}
						<small class="errors">{{errors.apellido|trans}}</small>
					{% endif %}
				</li>

				<li>
					{{ form_label(form.mail, 'dueno.reclamar.form.mail') }}
					{{ form_widget(form.mail, { 'attr': {'class': (errors.mail is defined) ? 'input-error' : ' '}} )}}
					{% if errors.mail is defined %}
						<small class="errors">{{errors.mail|trans}}</small>
					{% endif %}
				</li>

				<li>
					{{ form_label(form.telefono, 'dueno.reclamar.form.telefono') }}
					{{ form_widget(form.telefono, { 'attr': {'class': (errors.telefono is defined) ? 'input-error' : ' '}} )}}
					{% if errors.telefono is defined %}
						<small class="errors">{{errors.telefono|trans}}</small>
					{% endif %}
				</li>

				<li>
					{{ form_label(form.texto, 'dueno.reclamar.form.texto') }}
					{{ form_widget(form.texto, { 'attr': {'rows': '8','class': (errors.texto is defined) ? 'input-error' : ' '}} ) }}
					{% if errors.texto is defined %}
						<small class="errors">{{errors.texto|trans}}</small>
					{% endif %}
				</li>
				
				<li>
					<label></label>
					<span class="tip">{{'reportes.tip.gracias'|trans}}</span>
				</li>

				<li>
					<label></label>
					<span class="tip">{{'reportes.tip.obligatorio'|trans}}</span>
				</li>
				<li>
					<label></label>
					<input type="submit" value="{{'lugar.fotos.agregar.submit'|trans}}" formnovalidate />
				</li>

				{{form_rest(form)}}
			</ul>
		</form>
	</div>
{% endblock %}