{% block javascripts %}

	<script src="{{asset('assets/js/recomiendaLugar.js')}}"></script>

	<script>
		$(document).ready(function(){
			//Placeholder obligatorio con salto de linea, duhhh
		    if($('.texto').val() == ''){
		      $('.texto').val("{{'lugar.recomendacion.placeholders.textarea'|trans}}");
		    }

			$('.texto').focus(function(){
				if( $('.texto').val() == "{{'lugar.recomendacion.placeholders.textarea'|trans}}" ){
				  $('.texto').val('');
				}
			});

			$('.texto').blur(function(){
				if( $('.texto').val() == "" ){
				  $('.texto').val("{{'lugar.recomendacion.placeholders.textarea'|trans}}");
				}
			});
		});

		function validarRecomendacion(){
	    	var error = false;
	    	$('.errors').remove();
	    	$('.input-error').removeClass('input-error');
	    	if($('.texto').val().length < 250){
	    		error = true;
	    		$('.texto').addClass('input-error');
	    		$('.texto').parent().append("<small class='errors'>{{'lugar.recomendacion.error_recomendacion'|trans}}</small>");
	    	}

	    	if($('[name="recomienda-precio"]').val() == 0){
	    		error = true;
	    		$('.recomendacion-precio-raty').parent().append("<small class='errors'>{{'lugar.recomendacion.error_precio'|trans}}</small>")
	    	}
	    	
	    	if($('[name="recomienda-estrellas"]').val() == 0){
	    		error = true;
	    		$('.recomendacion-star-raty').parent().append("<small class='errors'>{{'lugar.recomendacion.error_estrellas'|trans}}</small>")
	    	}

	    	if(error){
	    		return false;
	    	}else{
	    		return true;
	    	}
	    }
	</script>
{% endblock %}
<div class="recomienda_lugar_caja">
	{% if lugar.nombre is defined and lugar.nombre != '' %}
		<h3 class="titulo_recomendaciones">{{'lugar.ficha.recomienda.titulo'|trans}} {{ lugar.nombre }}</h3>
	{% endif %}

	<form name="recomienda" action="{{ path('_recomienda', {'slug': lugar.slug}) }}" method="post">
		<ul>
			<li>
				<label>{{'lugar.recomendacion.evaluacion'|trans}}</label>
				<div class="recomendacion-star-raty recomienda_estrellas" data-stars="{{recomendacion.estrellas | default(0)}}"></div>
				<div id="estrellas-recomienda"></div>
			</li>

			{% if lugar.mostrarPrecio is defined and lugar.mostrarPrecio !=  null or lugar.nombre == '' %}
				<li {% if lugar.slug == '' %}class="recomienda-precio-li"{% endif %}>
					<label>{{'lugar.recomendacion.precio'|trans}}</label> 
					<div class="recomendacion-precio-raty recomienda_precio" data-precio="{{recomendacion.precio | default(0)}}" data-tipo="{{lugar.mostrarPrecio}}"></div>
					<div id="precio-recomienda"></div>
				</li>
			{% endif %}
			<li>
				<label>
					{{'lugar.recomendacion.titulo'|trans}}
					<span class="detalle_maximo_caracteres_recomendacion">({{'lugar.recomendacion.maximo'|trans}} <span class="max">3000</span> / <span class="detalle_llevas_caracteres_recomendacion">{{'lugar.recomendacion.llevas'|trans}} <span class="llevas">0</span></span>)</span>
				</label> 
				<textarea name="texto" class="texto" cols="30" rows="10">{% if recomendacion is defined %}{{recomendacion.texto}}{% endif %}</textarea>
			</li>
			<li>
				<label>{{'lugar.recomendacion.tags'|trans}}</label> 
				<input placeholder="{{'lugar.recomendacion.placeholders.tags'|trans}}" name="tags" type="text" class="tags" value="{% if recomendacion is defined %}{% for tagRecomendacion in recomendacion.tagRecomendacion %}{{tagRecomendacion.tag.tag}}{% if loop.last != true %}, {% endif %}{% endfor %}{% endif %}"/>
			</li>
			{% if lugar is defined and lugar.tagsPopulares is defined and lugar.tagsPopulares|length > 0 %}
			<li>
			    <label>{{'lugar.recomendacion.tagsPopulares'|trans}}</label>
	            <div class="tags_recomienda_lugar">
	            {% for tagsPopulares in lugar.tagsPopulares %}
	                <a href="#">{{tagsPopulares.nombre}}</a>{% if loop.last == false %}, {% endif %}
	            {% endfor %}
	            </div>
			</li>
			{% endif %}
		</ul>
		{% if lugar.slug  %}
			<input class="enviar_recomendacion" type="submit" value=""/>
		{% endif %}
	</form>
</div>
