{% extends "::base_reporte.html.twig" %}

{% block title %}{{'reporte_local.title'|trans}} NOMBRE LOCAL | {{parent()}}{% endblock %}

{% block content %}

	<img class="logo_reporte" src="{{ asset('assets/images/reporte/logo_reporte.png') }}" height="86" width="120" />

	<div class="reporte_local">
		<div class="datos_reporte">
			<h1 class="titulo_reporte">{{'reporte_local.titulo'|trans}} NOMBRE LOCAL</h1> <span class="titulo_reporte">- <a href="">{{'reporte_local.link_nota'|trans}}</a></span><br />

			<div class="datos">
				<p><strong>{{'reporte_local.titulo_fecha'|trans}}</strong></p>
				<p>dd/mm/aaaa - dd/mm/aaaa</p><br />

				<p><strong>{{'reporte_local.titulo_be'|trans}}</strong></p>
				<p>Descripción</p><br />

				<p><strong>{{'reporte_local.titulo_condiciones'|trans}}</strong></p>
				<p>Condiciones........</p>
			</div>
		</div>

		<div class="participantes_reporte">
			<ul class="listado_participantes">
				<li>
					<a href="">
						<img src="" width="20" height="20" />
					</a>
				</li>
			</ul>				

			<div class="participantes">
				<div class="cantidad_participantes_izq">
				</div>							
				<div class="cantidad_participantes">
					<span class="numero_participantes">10</span>
					{{'extra.modulo_concursos.participantes'|trans}}
				</div>
				<div class="cantidad_participantes_der">
				</div>	
			</div>
		</div>

		<div class="metricas_reporte">
			<p><span class="azul">#</span> - {{'reporte_local.visitas_home'|trans}}</p>
			<p><span class="azul">#</span> - {{'reporte_local.visitas_totales'|trans}} <a href="">{{'reporte_local.nota'|trans}}</a></p>
			<p><span class="azul">#</span> - {{'reporte_local.visitas_totales'|trans}} <a href="">{{'reporte_local.ficha'|trans}}</a></p><br />
			<p><span class="azul">#</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/recomendaciones.png') }}" height="15px" width="17px" /> {{'reporte_local.recomendaciones'|trans}}</p>
			<p><span class="azul">#</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/facebook.png') }}" height="16px" width="16px" /> {{'reporte_local.facebook'|trans}}</p>
			<p><span class="azul">#</span> - <img class="icono_metricas" src="{{ asset('assets/images/reporte/twitter.png') }}" height="16px" width="16px" /> {{'reporte_local.twitter'|trans}}</p>
		</div>

		<div class="ganadores_reporte">
			<p><strong>{{'reporte_local.ganadores'|trans}}</strong></p><br />
			<p>{{'reporte_local.ganadores_detalle'|trans}}<br />
			{{'reporte_local.ganadores_tip'|trans}} <strong>{{'reporte_local.ganadores_canjeada'|trans}}</strong>.</p><br />

			<ul>
				<li>
					<input type="checkbox" />
					<a href="">
						<img class="imagen_ganador" src="" width="20" height="20" />
						<span>NOMBRE USUARIO</span>
					</a>
					<span> - {{'usuario.gift_card.codigo'|trans}} <strong>código</strong></span>
				</li>
			</ul>
			
			<input class="boton_canjeada" type="submit" value="" />

		</div>
	</div>

{% endblock %}