{% extends "::base.html.twig" %}

{# Según el tipo de reporte, se generan distintos títulos y subtítulos #}
{% if lugar is defined %}
	{% set usuario = lugar.usuario%}
	{% set titulo_pag = 'reportes.lugar.title' %}	
	{% set tipo_titulo = 0 %}
	{% set subtitulo = 'reportes.lugar.subtitulo' %}
	{% set ruta = path('_reportarLugar',{ 'slug': lugar.slug })%}
{% elseif recomendacion is defined %}
	{% set lugar = recomendacion.lugar %}
	{% set usuario = recomendacion.usuario %}
	{% set titulo_pag = 'reportes.recomendacion.title' %}
	{% set tipo_titulo = 1 %}
	{% set subtitulo = 'reportes.recomendacion.subtitulo' %}
	{% set ruta = path('_reportarRecomendacion',{ 'slug': lugar.slug, 'usuarioSlug' : (usuario.slug is empty) ? usuario.id : usuario.slug })%}
{% elseif imagen is defined %}
	{% set lugar = imagen.lugar %}
	{% set usuario = imagen.usuario %}
	{% set titulo_pag = 'reportes.imagen.title' %}
	{% set tipo_titulo = 2 %}
	{% set subtitulo = 'reportes.imagen.subtitulo' %}
	{% set ruta = path('_reportarFoto',{ 'slug': lugar.slug, 'id': imagen.id })%}	
{% endif %}

{% set linkLugar = path('_lugar', {'slug': lugar.slug}) %}	
{% set linkUsuario = path('showUsuario', {'param': (usuario.slug is not empty) ? usuario.slug : usuario.id}) %}	

{% block title %}{{titulo_pag|trans({'%lugar%' : lugar.nombre})}} | {{parent()}}{% endblock %}

{% block content %}
	<!-- Mensajes de error --> 
	{% if errors %}
		<div class="mensaje_error">
			<div class="imagen_error"></div>
			<div class="txt_error">
				{% for error in errors %}
			        <p>{{ error | trans}}</p>
			    {% endfor %}
		    </div>
		</div>
	{% endif %}	

	<div class="reporte">
		<h1 class="titulo">
			{% transchoice tipo_titulo with {'%usuario%' : "<a href="~linkUsuario~">"~usuario.nombre~' '~usuario.apellido~"</a>",'%lugar%': "<a href="~linkLugar~">"~lugar.nombre~"</a>"}%}reportes.titulo{% endtranschoice %}
		</h1>

		<p class="texto_reporte">{{subtitulo|trans}}</p>

		<form action="{{ ruta }}" method="post" {{ form_enctype(form) }}>
			<ul>
				<li>
					{% set inputClass = (errors.reporte is defined) ? 'input-error' : ' '%}					
					{{ form_label(form.reporte, 'reportes.label') }}
					{{ form_widget(form.reporte, { 'attr': {'rows': '8','class': inputClass}} ) }}
					{% if errors.reporte is defined %}
						<small class="errors">{{errors.reporte | trans}}</small>
					{% endif %}
				</li>
				
				<li>
					<label></label>
					<span class="tips">
						{{'reportes.tip.obligatorio'|trans}}
					</span>
				</li>

				<li class="submit">
					<label></label>
					<input class="enviar_reporte" type="submit" value="" formnovalidate />
				</li>

				{{form_rest(form)}}
			</ul>
		</form>

	</div>
{% endblock %}