{% if popup == 'registro' %}
	<div class="popup_registro">
		<p class="titulo_popup">¡Estás a un segundo de participar, regístrate ahora!</p>
		<div class="registro_facebook_btn_popup"></div>
		<span>o <a href="{{path('registroUsuario')}}">regístrate con tu E-mail</a></span>
        <a href="" class="volver">Volver</a>
	</div>
{% elseif popup == 'compartir' %}
	<div class="popup_compartir">
		<p class="titulo_popup">¡Ya estás participando!</p>
		<p class="compartir_por_redes_texto">Ahora solamente tienes que esperar al día que cierre el concurso para ver si ganaste...</p>
		<p class="compartir_por_redes">Cuéntale a tus amigos sobre este concurso para que ellos también participen:</p>
		<ul>
	 		<li class="fb_share" style="margin: 0 0 5px;">
                <a class="compartir_por_facebook" name="fb_share" type="icon_link">{{'lugar.ficha.opciones.facebook'|trans}}</a>
            </li>
            <li class="twitter_share" style="margin: 0 0 5px;">                    
                {% set data_url = url('_lugar', {'slug' : post.lugar.slug}) %}
                {% set data_text = post.lugar.nombre~", "~post.lugar.comuna.ciudad.nombre~" | Loogares.com" %}
                {% set data_via = "Loogarescom" %}
                <a class="compartir_por_twitter" href="https://twitter.com/share?url={{data_url|url_encode()}}&via={{data_via|url_encode()}}&text={{data_text|url_encode()}}" target="_blank"></a>
            </li>
		</ul>
        <a href="" class="volver">No, gracias</a>
	</div>
{% endif %}

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
	    $('.volver').click(function(){
	        $.fancybox.close()
	    });

	    $('.fb_button').click(function(){
	    	$('.fb_share a').click();
	    });

	    $('.registro_facebook_btn').click(function(){
	    	$('.fb_hidden_button').find('.fb_button').click();
	    });
	})
</script>