{% if popup == 'registro' %}
	<div class="popup_registro">
		<div class="lado_izq">
			<p class="titulo_registro">{{'blog.popup.registro.titulo'|trans}}</p>
			<div class="registro_facebook_btn_popup"></div>
			<span>{{'blog.popup.registro.o'|trans}} <a href="{{path('registroUsuario')}}">{{'blog.popup.registro.registro'|trans}}</a></span>
		</div>
		<div class="lado_der">
			<p class="titulo_registro">{{'blog.popup.registro.registrado'|trans}}<br />
			{{'blog.popup.registro.apertura'|trans}}<a href="{{path('login')}}">{{'blog.popup.registro.entra'|trans}}</a> {{'blog.popup.registro.y_estaras'|trans}}</p>
		</div>
        <a href="" class="volver">{{'blog.popup.registro.volver'|trans}}</a>
	</div>
{% elseif popup == 'compartir' and tipo == 'click' %}
	<div class="popup_compartir">
		<p class="titulo_popup">{{'blog.popup.participando.titulo'|trans}}</p>
		<p class="compartir_por_redes_texto">{{'blog.popup.participando.texto_1'|trans}}</p>
		<p class="compartir_por_redes">{{'blog.popup.participando.texto_2'|trans}}</p>
		<ul>
	 		<li class="fb_share" style="margin: 0 0 5px;">
                <a class="compartir_por_facebook" name="fb_share" type="icon_link">{{'lugar.ficha.opciones.facebook'|trans}}</a>
            </li>
            <li class="twitter_share" style="margin: 0 0 5px;">
            	{% if app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
                    {% set twitter = '@LgrsValpoVina' %}
                {% elseif app.session.get('ciudad').slug == 'buenos-aires' %}
                    {% set twitter = '@LoogaresBA' %}
                {% else %}
                    {% set twitter = '@Loogarescom' %}
                {% endif %}

                {% set data_url = url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) %}
                {% set data_text = 'Estoy participando por '~post.titulo~' en '~twitter~post.twitterLocal %}
                <a class="compartir_por_twitter" href="https://twitter.com/share?url={{data_url|url_encode()}}&text={{data_text|url_encode()}}" target="_blank"></a>
            </li>
		</ul>
        <a href="" class="volver">{{'blog.popup.participando.cerrar'|trans}}</a>
	</div>
{% elseif popup == 'compartir' and tipo == 'recomendacion' %}
	<div class="popup_compartir_recomendacion">
		<p class="titulo_popup">{{'blog.popup.participando_alianza.titulo'|trans}}</p>
		<p class="bajada_popup">{{'blog.popup.participando_alianza.bajada'|trans}}</p>
		<img class="participacion_click_recomendacion" src="{{ asset('assets/images/concursos/participacion_click_recomendacion.gif') }}" height="91px" width="123px" />
		<p class="texto_recomendacion">{{'blog.popup.participando_alianza.texto_1'|trans}} <a href="{{url('locale', {'slug' : post.ciudad.slug})}}">{{'blog.popup.participando_alianza.texto_link'|trans}}</a> {{'blog.popup.participando_alianza.texto_2'|trans}}</p>
		{#
		<p class="comparte_con_amigos">{{'blog.popup.participando_alianza.cuentale'|trans}}</p>
		
		<ul>
	 		<li class="fb_share" style="margin: 0 0 5px;">
                <a class="compartir_por_facebook" name="fb_share" type="icon_link">{{'lugar.ficha.opciones.facebook'|trans}}</a>
            </li>
            <li class="twitter_share" style="margin: 0 0 5px;">                    
                {% set data_url = url('_lugar', {'slug' : post.lugar.slug}) %}
                {% set data_text = post.titulo~' '~data_url~' #Loogares.com' %}
                {% set data_via = "Loogarescom" %}
                <a class="compartir_por_twitter" href="https://twitter.com/share?url={{data_url|url_encode()}}&via={{data_via|url_encode()}}&text={{data_text|url_encode()}}" target="_blank"></a>
            </li>
		</ul>#}
        <a href="" class="volver">{{'blog.popup.participando.cerrar'|trans}}</a>
	</div>
{% endif %}

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
	    $('.volver').click(function(e){
	    	e.preventDefault();
	        $.fancybox.close( true );
	    });

	    $('.fb_button').click(function(){
	    	$('.fb_share a').click();
	    });

	    $('.registro_facebook_btn_popup').click(function(){
	    	$('.fb_hidden_button').find('.fb_button').click();
	    });

	    $('.compartir_por_twitter, .compartir_por_facebook').click(function(){
	    	$.fancybox.close( true );
	    })
	})
</script>