{% extends '::base.html.twig' %}

{% block title %}{{parent()}} | {{post.titulo}}{% endblock %}

{% block content %}
<div class="post" style="border-top-color: #{{post.tipoPost.hex}}}">
	<div class="post_contenido">
		<h1 class="titulo">{{post.titulo}}</h1>
		<p class="metadata_post">Escrito por {{post.usuario.nombre}} el {{post.fecha | date('d-m-y')}}</p>
		<p class="contenido_post">{{post.contenido | raw }}</p>
	</div>

	<div class="detalles">
		<div class="borde_cajas">
			<div class="imagen_detalles">
				<img src="{{ ('assets/images/blog/'~post.imagenDetalle) | apply_filter('blog_detalle')}}" height="145" width="145" />
				{% if post.tipoPost.slug == 'beneficio-exclusivo' %}
					{% if post.lugar.facebook != '' %}
						<a class="facebook_lugar" href="http://{{ post.lugar.facebook }}" target="_blank"></a>
					{% endif %}
					{% if post.lugar.twitter != '' %}
						<a class="twitter_lugar" href="http://{{ post.lugar.twitter }}" target="_blank"></a>
					{% endif %}
					{% if post.lugar.sitioWeb != '' %}
						<a href="http://{{post.lugar.sitioWeb}}" target="_blank">{{post.lugar.sitioWeb}}</a>
					{% endif %}
				{% endif %}
			</div>

			<div class="texto_detalles">
				<p>{{post.detalles | raw }}</p>
			</div>
		</div>
	</div>

	<div class="condiciones">
		<div class="borde_cajas">
			<p class="texto_condiciones">{{post.condiciones | raw}}</p>
		</div>
	</div>
</div>

<div class="sidebar">
	<div class="imagen_post">
		<img src="{{ ('assets/images/blog/'~post.imagen) | apply_filter('blog')}}" height="" width="300" />
	</div>

    <div class="banner_300x250">
    </div>

    <div class="social_post"></div>

	<div class="posts_anteriores">
		<h2 class="subtitulo_posts">Anteriores {{post.tipoPost.nombre}}:</h2>
		<ul>
		{% for anterior in anteriores %}
			<li><a href="{{ path('post', {'slug': anterior.slug}) }}">- {{anterior.titulo}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}