{% extends '::base.html.twig' %}

{% block title %}{{post.titulo}} | {{parent()}}{% endblock %}

{% block ads %}
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("{{adsense_service}}");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("{{adsense_service}}", "{{ad('static','blog','top','medium')}}_{{app.session.get('ciudad').slug}}");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
{% endblock %}

{% block meta %}
	<meta name="description" content="“{{post.contenido | striptags | slice(0,160) }}...”" />
	<meta name="keywords" content="{{post.titulo}}, {{post.blogCategoria.nombre}}, Concursos, Eventos, Notas, Actividades, Premios, Entradas, Invitaciones, Loogares, {{ciudad.nombre}}" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="{{post.titulo}} | Loogares.com" />

	<meta property="og:description" content="“{{post.contenido | striptags | slice(0,160) }}...”" />
{% endblock %}

{% block javascripts %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
{% endblock %}

{% block content %}
    {% if app.session.hasFlash('post_flash') %}
            <div class="mensaje_exito">
                <div class="imagen_exito"></div><p class="txt_exito">{{ app.session.flash('post_flash') | trans }}</p>
            </div>
    {% endif %}

{% if post.ganadores == '' %}
<div class="post" style="border-top-color: #{{post.blogCategoria.hex}}">
{% else %}
<div class="post" style="border-top-color: #FF8A8A">
{% endif %}
	<div class="post_contenido">
		<h1 class="titulo">{{post.titulo}}</h1>
		<p class="metadata_post">Escrito por {{post.usuario.nombre}} el {% if post.fechaPublicacion != null %}{{post.fechaPublicacion | date('d-m-y')}}{%else%}{{post.fecha | date('d-m-y')}}{%endif%}</p>
		<p class="contenido_post">{{post.contenido | raw }}</p>
	</div>


	{% if post.detalles == '' %}

	{% else %}
		<div class="detalles">
			<div class="borde_cajas">
				<div class="imagen_detalles">
					<img class="blog_detalle" src="{{ ('assets/images/blog/'~post.imagenDetalle) | apply_filter('blog_detalle')}}" height="145" width="145" />
					{% if post.lugar != null %}
						{% if post.lugar.facebook != '' %}
							<a class="facebook_lugar" href="http://{{ post.lugar.facebook }}" target="_blank"></a>
						{% endif %}
						{% if post.lugar.twitter != '' %}
							<a class="twitter_lugar" href="http://{{ post.lugar.twitter }}" target="_blank"></a>
						{% endif %}
						{% if post.lugar.sitioWeb != '' %}
							<a href="http://{{post.lugar.sitioWeb}}" target="_blank">{{post.lugar.sitioWeb}}</a>
						{% endif %}
					{% endif %}
				</div>

				<div class="texto_detalles">
					{% if post.ganadores == '' %}
						<p>{{post.detalles | raw }}</p>
					{% else %}
						<p>{{post.ganadores | raw }}</p>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}

	{% if post.condiciones == '' %}

	{% else %}
		<div class="condiciones">
			<div class="borde_cajas">
				<p class="texto_condiciones">{{post.condiciones | raw}}</p>
			</div>
		</div>
	{% endif %}
</div>

<div class="sidebar">
	<div class="imagen_post">
		<img src="{{ asset('assets/images/blog/'~post.imagen) }}" height="" width="300" />
	</div>

    <div class="banner_300x250">
        <script type='text/javascript'>
            GA_googleFillSlot("{{ad('static','blog','top','medium')}}_{{app.session.get('ciudad').slug}}");
        </script>
    </div>

    <div class="social_post">
		<h3 class="subtitulo_posts">Comparte esta nota:</h3>
    	<a class="fb_social" name="fb_share">Compartir en Facebook</a> 
    	<a class="tw_social twitter-share-button" href="https://twitter.com/share" data-lang="es" data-hashtags="loogares">Twittear</a>
    </div>


	<div class="posts_anteriores">
		<h2 class="subtitulo_posts">Anteriores {{post.blogCategoria.nombre}}:</h2>
		<ul>
		{% for anterior in anteriores %}
			<li><a href="{{ path('post', {'ciudad':ciudad.slug, 'slug': anterior.slug}) }}">- {{anterior.titulo}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}