{% extends '::base.html.twig' %}

{% block title %}{{post.titulo}} | {{parent()}}{% endblock %}


{% block meta %}
	<meta name="description" content="{{post.preview | striptags}}" />
	<meta name="keywords" content="{{post.titulo}}, Concursos, Eventos, Notas, Actividades, Premios, Entradas, Invitaciones, Loogares, {{post.lugar.comuna.ciudad.nombre}}" />

	<!-- Metadata para FB -->
	<meta property="og:title" content="En #Loogarescom {{concurso.descripcion}} en {{post.lugar.nombre}}. Yo ya estoy participando »" />
	<meta property="og:description" content="{{post.preview | striptags}}" />
	<meta property="og:image" content="{{ asset('assets/images/blog/'~post.imagen) }}" />
{% endblock %}

{% block content %}
	<div class="post_concurso">
		<div class="columna_izq">
			<div class="titulo_caja">
				<h1 class="titulo_concurso">{{post.titulo}}</h1>
				<div class="concurso_boton" data-id="{{concurso.id}}">
					{% if "now"|date('U') > concurso.fechaTermino|date('U') %}
						<div class="boton_cerrado"></div>
						<a href="{{ path('static', {'static': 'nuevo_sistema_concursos_y_be'}) }}" class="como_funciona">{{'blog.como_funciona'|trans}}</a>
					{% else %}
						{% if concurso.tipoConcurso.slug == 'click'%}
							{% if concurso.participa ==  true %}
								<div class="boton_participando boton_participando_click"></div>

								<a href="{{path('concurso_compartir', {'ciudad' : post.ciudad.slug, 'slug' : post.slug, 'tipo' : 'click'})}}" class="popup_compartir" style="display:none"/>

								<a href="{{ path('static', {'static': 'nuevo_sistema_concursos_y_be'}) }}" class="como_funciona">{{'blog.como_funciona'|trans}}</a>
							{% else %}	
							
								{# Si está loggeado, puede participar, sino, se muestra popup de registro #}	
								<a onclick="_gaq.push(['_trackPageview', '/participacion_campana'])" {% if is_granted('ROLE_USER')%}class="boton_participar boton_participar_click_{{app.session.get('ciudad').slug}}" href="{{path('concurso_compartir', {'ciudad' : post.ciudad.slug, 'slug' : post.slug, 'tipo' : 'click'})}}"{% else %}class="boton_registro boton_participar_click_{{app.session.get('ciudad').slug}}" href="{{path('concurso_registro', {'ciudad' : post.ciudad.slug, 'slug' : post.slug})}}"{% endif %}></a>
								<a href="{{ path('static', {'static': 'nuevo_sistema_concursos_y_be'}) }}" class="como_funciona">{{'blog.como_funciona'|trans}}</a>
							{% endif %}
						{% elseif concurso.tipoConcurso.slug == 'recomendacion' %}
							{% if concurso.participa ==  true %}
								<div class="boton_participando boton_participando_recomendar"></div>
								<a href="{{path('concurso_compartir', {'ciudad' : post.ciudad.slug, 'slug' : post.slug, 'tipo' : 'click'})}}" class="popup_compartir" style="display:none"/>
								<a href="{{ path('static', {'static': 'nuevo_sistema_concursos_y_be'}) }}" class="como_funciona">{{'blog.como_funciona'|trans}}</a>
							{% else %}	
								{# Si está loggeado, puede participar, sino, se muestra popup de registro #}				
								<a {% if is_granted('ROLE_USER')%}class="boton_participar boton_participar_recomendar_{{app.session.get('ciudad').slug}}" href="{{path('concurso_compartir', {'ciudad' : post.ciudad.slug, 'slug' : post.slug, 'tipo' : 'recomendacion'})}}"{% else %}class="boton_registro boton_participar_recomendar_{{app.session.get('ciudad').slug}}" href="{{path('concurso_registro', {'ciudad' : post.ciudad.slug, 'slug' : post.slug})}}"{% endif %}></a>
								<a href="{{ path('static', {'static': 'nuevo_sistema_concursos_y_be'}) }}" class="como_funciona">{{'blog.como_funciona'|trans}}</a>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
			</div>

			<div class="tiempo_restante">
				{{'blog.quedan'|trans}} <span class="tiempo_azul"></span> {{'blog.para_participar'|trans}}
			</div>
			{% include "LoogaresBlogBundle:Default:participantes.html.twig"%}
			<a href="{{path('participantes_concurso', {'ciudad' : post.ciudad.slug, 'slug' : post.slug})}}" class="ver_todos">Ver todos los participantes</a>
			{% if concurso.ganadores | length > 0 %}
				<div class="ganadores">
					<h6 class="titulo_ganadores">{{'blog.ganadores.titulo'|trans}}</h6>
					<p class="texto_ganadores">{{'blog.ganadores.primer_texto'|trans}}</p>
					<ul>
						{% for ganador in concurso.ganadores %}
							<li>
								<a href="{{path('showUsuario', {'param' : ganador.participante.usuario.slug})}}">
									<img src="{{ ('assets/images/usuarios/'~ganador.participante.usuario.imagenFull) | apply_filter('small_usuario') }}" width="20" height="20" />
									<span class="nombre_ganador">{{ganador.participante.usuario.nombre}} {{ganador.participante.usuario.apellido}}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
					<p class="texto_ganadores">{{'blog.ganadores.segundo_texto'|trans}}</p>
				</div>
			{% endif %}	

			<div class="redes_sociales_concurso">
				<h6>{{'blog.comparte'|trans}}</h6>
				<ul class="redes_listado">
					<li>
						{% if app.session.get('ciudad').slug == 'valparaiso-vina-del-mar' %}
	                        {% set twitter = '@LgrsValpoVina' %}
	                    {% elseif app.session.get('ciudad').slug == 'buenos-aires' %}
	                        {% set twitter = '@LoogaresBA' %}
	                    {% else %}
	                        {% set twitter = '@Loogarescom' %}
	                    {% endif %}
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) }}" data-text="Estoy participando por {{post.titulo}} en {{twitter}}{{post.twitterLocal}}" data-lang="es">{{'general.footer.redes.tweet'|trans}}</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</li>
					<li>
						<div class="fb-like" data-href="{{ url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) }}" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
					</li>
				</ul>
			</div>

			<div class="datos_lugar_concurso">
				<h3 class="sobre_lugar">{{'blog.sobre'|trans}} {{post.lugar.nombre}}</h3>
				<p>{{post.lugar.calle}} {{post.lugar.numero}}, {{post.lugar.comuna.nombre}}, {{post.lugar.comuna.ciudad.nombre}}</p>
				<p>{{post.lugar.telefonos|join(', ')}}</p>
				{% if post.lugar.sitioWeb != ''%}
					<a class="sitio_web_lugar" href="http://{{post.lugar.sitioWeb}}" target="blank">{{post.lugar.sitioWeb}}</a>
				{% endif %}
				{% if post.lugar.facebook != ''%}
					<a class="facebook_lugar" href="http://{{post.lugar.facebook}}" target="blank"></a>
				{% endif %}
				{% if post.lugar.twitter != ''%}
					<a class="twitter_lugar" href="http://{{post.lugar.twitter}}" target="blank"></a>
				{% endif %}
				{% if post.lugar.tipoLugar.id != 5 %}
					<p class="link_ficha_lugar">{{'blog.visita_ficha'|trans}} <a href="{{path('_lugar', {'slug' : post.lugar.slug})}}" target="_blank">{{'blog.visita_ficha_aca'|trans}}</a></p>
				{% endif %}
			</div>

			{% if concurso.tipoConcurso.slug == 'recomendacion' %}
				<div class="como_participar">
					<span class="como_participar_icono"><strong>{{'blog.como_concursar.titulo'|trans}}</strong></span><br /><br />
					{{'blog.como_concursar.p1'|trans}}<br /><br />
					<strong>{{'blog.como_concursar.p2'|trans}}</strong><br /><br />
					{{'blog.como_concursar.p3'|trans}}<br /><br />
					{{'blog.como_concursar.p4'|trans}}
				</div>
			{% endif %}
		</div>

		<div class="columna_der">

			<img class="imagen_concurso" src="{{asset('assets/images/blog/'~post.imagen)}}" width="530" height="300"/>
		
			<div class="contenido_concurso">
				{{post.contenido | raw}}
			</div>

			<div class="detalle_condiciones_concurso">
				<h4><strong>{{'blog.detalle'|trans}}</strong></h4>
				{{post.detalles | raw}}
				<br />
				<h5><strong>{{'blog.condiciones'|trans}}</strong></h5>
				{{post.condiciones | raw}}
			</div>
		</div>
	</div>

	<!-- Concursos del sitio -->
	{% if concursos | length > 0 %}
		{% include "LoogaresExtraBundle:Default:concursos_activos.html.twig" %}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/jquery.qtip.css') }}" type="text/css" media="screen">
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.bxSlider.min.js')}}"></script>
	<script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>  
	<script src='{{asset('assets/js/jquery.countdown.min.js')}}'></script>
	<script src="{{asset('assets/js/jquery.qtip.js')}}"></script>
	<script type="text/javascript">
		{% if concursos|length > 0 and concursos|length <= 4%}
			var moveConcursos = false;
		{% else %}
			var moveConcursos = true;
		{% endif %}
	</script>
	<script src='{{asset('assets/js/concurso.js')}}'></script>
	<script>
		$(function(){
			$('.tiempo_azul').countdown({until: new Date({{concurso.fechaTermino|date('U')}}*1000), layout: '{d<}{dn} días, {d>}{h<}{hn} horas, {h>}{m<}{mn} minutos y {m>}{s<}{sn} segundos{s>}'});

			var interval = setInterval("checkEstadoConcurso(Math.round((new Date()).getTime() / 1000), {{concurso.fechaTermino|date('U')}});",1000);

			{% if app.session.get('popup_compartir') %}
				$('.boton_participar').click();
			{% endif %}			
		});		
	</script>
{% endblock %}