{% extends '::base.html.twig' %}

{% block title %}{{post.titulo}} | {{parent()}}{% endblock %}

{% block content %}
	<div class="post_concurso">
		<div class="columna_izq">
			<div class="titulo_caja">
				<h1 class="titulo_concurso">{{post.titulo}}</h1>
				<div class="concurso_boton" data-id="{{concurso.id}}">
					{% if "now"|date('Y-m-d') > concurso.fechaTermino|date('Y-m-d') %}
						<div class="boton_participar"></div>
					{% else %}
						{% if concurso.participa ==  true %}
							<div class="boton_participando"></div>
						{% else %}		
								{# Si está loggeado, puede participar, sino, se muestra popup de registro #}				
								<a {% if is_granted('ROLE_USER')%}class="boton_participar" href="{{path('concurso_compartir', {'ciudad' : post.ciudad.slug, 'slug' : post.slug})}}"{% else %}class="boton_registro" href="{{path('concurso_registro', {'ciudad' : post.ciudad.slug, 'slug' : post.slug})}}"{% endif %}></a>
						{% endif %}    
					{% endif %}
				</div>
			</div>

			<div class="tiempo_restante">
				Quedan <span class="tiempo_azul">tiempo restante</span> para participar
			</div>
			{% include "LoogaresBlogBundle:Default:participantes.html.twig"%}				

			<div class="redes_sociales_concurso">
				<p>Comparte este concurso con tus amigos</p>
				<ul class="redes_listado">
				<li>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) }}" data-text="{{post.titulo}} {{ url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) }}" data-lang="es" data-hashtags="Loogarescom">{{'general.footer.redes.tweet'|trans}}</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</li>
				<li>
					<div class="fb-like" data-href="{{ url('post', {'ciudad': post.ciudad.slug, 'slug': post.slug}) }}" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-font="arial"></div>
				</li>
			</ul>
			</div>

			<div class="datos_lugar_concurso">
				<h4 class="sobre_lugar">Sobre {{post.lugar.nombre}}</h4>
				<p>{{post.lugar.calle}} {{post.lugar.numero}}, {{post.lugar.comuna.nombre}}, {{post.lugar.comuna.ciudad.nombre}}</p>
				<p>{{post.lugar.telefonos|join(' ,')}}</p>
				{% if post.lugar.facebook != ''%}
					<a class="facebook_lugar" href="http://{{post.lugar.facebook}}" target="blank"></a>
				{% endif %}
				{% if post.lugar.twitter != ''%}
					<a class="twitter_lugar" href="http://{{post.lugar.twitter}}" target="blank"></a>
				{% endif %}
				<p class="link_ficha_lugar">Visita su ficha en Loogares.com <a href="" target="_blank">acá</a></p>
			</div>
		</div>

		<div class="columna_der">

			<img class="imagen_concurso" src="{{asset('assets/images/blog/'~post.imagen)}}" width="530" height="300"/>
		
			<div class="contenido_concurso">
				{{post.contenido | raw}}
			</div>

			<div class="detalle_condiciones_concurso">
				Detalles del premio:<br />
				{{post.detalles | raw}}
				<br />
				<br />
				Condiciones: <br />
				{{post.condiciones | raw}}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{asset('assets/js/jquery.fancybox.pack.js')}}"></script>  
	<script src='{{asset('assets/js/concurso.js')}}'></script>
{% endblock %}