<div id="otros-lugares">
    <h3 class="titulo_otros_lugares">{{'lugar.ficha.otros.titulo'|trans}}</h3>
    {% for lugar in lugares %}
        {% set i = loop.index %}
        <input id="coordenadas{{i}}" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}"/>
        <input id="num{{i}}" type="hidden" value="{{lugar.tipo}}"/>
        <input id="linkLugar{{i}}" type="hidden" value="{{lugar.slug}}"/>
        {% if i < 6 %}
            <div class="otro_lugar">
                <a class="otro_lugar_img" href="{{ path('_lugar', {'slug': lugar.slug}) }}"><img src="{{('assets/images/lugares/'~lugar.imagen_full) | apply_filter('small_lugar')}}" width="50" height="50" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/></a>
                <ul class="otro_lugar_info">
                    <li><a class="otro_lugar_nombre" href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></li>
                    <li>
                        <div id="puntuacion" class="estrellas_lugar">
                            <div data-stars="{{lugar.estrellas}}" class="star-raty-otrosLugares{{loop.index}}"></div>
                        </div>
                        <p>{{lugar.recomendaciones}} {{'lugar.ficha.total_recomendaciones'|transchoice(lugar.recomendaciones)}}</p>
                    </li>
                    <li class="direccion">{{ lugar.calle }} {{ lugar.numero }}, <a href="#">{{lugar.comuna}}</a></li>
                    <li class="categoria">
                        <strong>{{'lugar.ficha.otros.categoria'|transchoice(1)}} </strong>
                        <a href='BUSCAR LA CATEGORIA: {{lugar.categorias[0]}}'>{{ lugar.categorias[0] }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
            <div style="display: none;" id="info{{i}}">
                <span class="top"></span>
                <img src="{{('assets/images/lugares/'~lugar.imagen_full) | apply_filter('small_lugar')}}" width="46" height="46" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/>
                <span>{{lugar.nombre}}</span>
                <div>
                        <div id="puntuacion-{{i}}"></div>
                        <span>{{lugar.recomendaciones}} {{'lugar.ficha.total_recomendaciones'|transchoice(lugar.recomendaciones)}}</span>
                </div>
                <p>{{lugar.calle}} {{lugar.numero}}, {{lugar.ciudad}}</p>
                <p>
                    <strong>{{'lugar.ficha.otros.categoria'|transchoice(0)}} </strong>
                    {% for categoria in lugar.categorias %}
                        <a href='BUSCAR LA CATEGORIA: {{categoria}}'>{{ categoria }}</a>{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        
    {% endfor %}
