<div id="otros-lugares">
    <h4 class="titulo_otros_lugares">{{'lugar.ficha.otros.titulo'|trans}}</h4>
    {% for lugar in lugares %}
        {% set i = loop.index %}
        <div class="mapa_info">
            <input class="coordenadas" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}"/>
            <input class="num" type="hidden" value="{{lugar.tipo}}"/>
            <input class="linkLugar" type="hidden" value="{{lugar.slug}}"/>
        </div>

        <div class="lugar_data" data-categoria="{{lugar.tipo}}" data-slug="{{lugar.slug}}" data-url="{{ path('_lugar', {'slug': lugar.slug}) }}" data-coords="{{lugar.mapx}},{{lugar.mapy}}" data-cat="2">
            <div class="imagen_gmaps">
                {% if lugar.imagen_full == '' %}
                    <img src="{{ ('assets/images/lugares/default.gif') | apply_filter('small_lugar') }}"  width="50" height="50" />
                {% else %}
                    <img src="{{ ('assets/images/lugares/'~lugar.imagen_full) | apply_filter('small_lugar')}}" />
                {% endif %}
            </div>
            <ul>
                <li class="nombre_lugar_gmaps">
                    <a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre }}</a>
                </li>
                <li class="estrellas_gmaps">
                    <div data-stars="{{lugar.estrellas}}" class="resultado-busqueda-stars-raty"></div>
                </li>
                <li class="recomendacion_gmaps">
                    {{lugar.total_recomendaciones | default(0)}} {{'lugar.buscar.total_recomendaciones'|transchoice(lugar.total_recomendaciones)}}
                </li>

            {% if lugar.categorias_nombre != '' %}
                <li class="data_categoria">
                    <span><strong>{{'general.terminos.categorias'|transchoice(lugar.categorias_nombre)}}:</strong></span>
                    {% for categoria in lugar.categorias_nombre %}
                        {{categoria|raw}} {% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </li>
            {% endif %}
        </div>

        {% if i < 6 %}
            <div class="otro_lugar">
                <a class="otro_lugar_img" href="{{ path('_lugar', {'slug': lugar.slug}) }}">
                    
                    <img src="{{('assets/images/lugares/'~lugar.imagen_full) | apply_filter('small_lugar')}}" width="50" height="50" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/>
                </a>
                <ul class="otro_lugar_info">
                    <li>
                        <a class="otro_lugar_nombre" href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a>
                    </li>
                    <li>
                        <div id="puntuacion" class="estrellas_lugar">
                            <div data-stars="{{lugar.estrellas}}" class="star-raty-otrosLugares{{loop.index}} otro_lugar_estrellas"></div>
                        </div>
                        <p>{{lugar.recomendaciones}} {{'lugar.ficha.total_recomendaciones'|transchoice(lugar.recomendaciones)}}</p>
                    </li>
                    <li class="direccion">{{ lugar.calle }} {{ lugar.numero }}, <a href="#">{{lugar.comuna}}</a></li>
                    <li class="categoria">
                        <strong>{{'general.terminos.categorias'|transchoice(1)}}: </strong>
                        {% for categoria in lugar.categorias_nombre %}
                            {{categoria|raw}}{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
