<div id="otros-lugares">
    <h3 class="titulo_otros_lugares">Otros Lugares en el área</h3>
    {% for lugar in lugares %}
        {% set i = loop.index %}
        <input id="coordenadas{{i}}" type="hidden" value="{{lugar.mapx}}, {{lugar.mapy}}"/>
        <input id="num{{i}}" type="hidden" value="{{lugar.tipo}}"/>
        <input id="linkLugar{{i}}" type="hidden" value="{{lugar.slug}}"/>
        {% if i < 6 %}
            <div class="otro_lugar">
                <a class="otro_lugar_img" href="{{ path('_lugar', {'slug': lugar.slug}) }}"><img src="../../assets/images/lugares/{{lugar.imagen_full}}" width="50" height="50" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/></a>
                <ul class="otro_lugar_info">
                    <li><a href="{{ path('_lugar', {'slug': lugar.slug}) }}">{{lugar.nombre}}</a></li>
                    <li>
                        <div id="puntuacion-{{lugar.estrellas}}" class="estrellas-sprite"></div>
                        <p>{{lugar.recomendaciones}} recomendaciones</p>
                    </li>
                    <li>{{lugar.calle}} {{lugar.numero}}, Ciudad</li>
                    <li>
                        <strong>Categorias: </strong>
                        {% for categoria in lugar.categorias %}
                            <a href='BUSCAR LA CATEGORIA: {{categoria}}'>{{ categoria }}</a>{% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        {% endif %}
            <div style="display: none;" id="info{{i}}">
                <span class="top"></span>
                <img src="../../assets/images/lugares/{{lugar.imagen_full}}" width="46" height="46" alt="{{lugar.nombre}} | Ciudad" title="{{lugar.nombre}}"/>
                <span>{{lugar.nombre}}</span>
                <div>
                        <div id="puntuacion-{{i}}"></div>
                        <span>{{lugar.recomendaciones}} recomendaciones</span>
                </div>
                <p>{{lugar.calle}} {{lugar.numero}}, Ciudad</p>
                <p>
                    <strong>Categorias: </strong>
                    {% for categoria in lugar.categorias %}
                        <a href='BUSCAR LA CATEGORIA: {{categoria}}'>{{ categoria }}</a>{% if loop.last == false %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        
    {% endfor %}
