<div class="popup" id="pedidos_popup">	
	
	<div class="bloque_cerrar">
		<h1>{{'lugar.ficha.pedidos.elige'|trans}}</h1>
		<a href="#" class="cerrar_popup"><img src="{{asset('assets/images/pedidos_online/close.png')}}" height="12" width="12" /></a>
	</div>

	{% if pedidos|length == 0 %}
		<div class="bloque_pedidos">
		</div>
	{% else %}
		<div class="bloque_pedidos">
			<div>
				{% for pedido in pedidos %}
					<a class="link_pedido" href="{{pedido.servicioPedido.linkBase}}{{pedido.referral}}" target="blank">
						<img class="servicio" src="{{asset('assets/images/pedidos_online/'~pedido.servicioPedido.imagenGrande)}}" />
						<!-- Debe aparecer la imagen de descuento solo si es que en la base de datos así lo dice -->
						{% if pedido.tienePromocion == 1 %}
							<img class="descuento" src="{{asset('assets/images/pedidos_online/descuento.gif')}}" height="35" width="104" />
						{% elseif pedido.tienePromocion == 0 %}
							<div class="descuento_no">
							</div>
						{% endif %}
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}

</div>

<script>
	$(function(){
		$('.cerrar_popup').click(function(e){
	        e.preventDefault();
	        $.fancybox.close()
	    });
	});
</script>
